[2019-10-07 13:40] gavinking opened #9 "improve README"
Currently the README is the only documentation for the project, so it needs to have a bunch more info. It should

- fully state the purpose of the project
- describe the status of the project and what functionality is already implemented
- have a code example showing usage of the API
- include full instructions for building and testing the project using Gradle.

I tried to follow the instructions

[2019-10-07 13:42] gavinking opened #10 "javadoc"
There should be class-level javadoc on all of the classes and interfaces describing their purpose (why they're necessary) and how they relate to/plug in to the internal bits of Hibernate and if they're a reactive version of some class that already exists in Hibernate, it would be great to have a link to that class.

[2020-01-14 18:45] gavinking opened #11 "new tests"
I've checked that the following basic types are working, but we need tests:

- [x] `BigInteger` and `BigDecimal`
- [x] `Date`, `Time`, `Timestamp`,
- [x] `LocalDate`, `LocalTime`, `LocalDateTime`,
- [x] `TimeZone`
- [x] `Serializable` and `byte[]`
- [x] `@Convert`

[2020-01-14 18:47] gavinking opened #12 "support @OneToMany"
We should make sure you can eagerly fetch `@OneToMany` associations by explicit request.

[2020-01-14 18:48] gavinking opened #13 "RxSession.merge()"
The `merge()` operation is still missing.

[2020-01-14 18:50] gavinking opened #14 "Fetch profile support"
Since (for now) we don't support lazy fetching, we should try to allow you to enable fetch profiles, so you can easily use eager fetching instead. (See #12.)

[2020-01-14 19:00] gavinking opened #15 "HQL queries"
The #1 priority right now is query support. This might be easier than it sounds if it turns out that we can tie in at the same level as the `ScrollableResults` stuff, i.e. using `Loader.loadSequentialRowsReverse()`/`Loader.loadSingleRow()`.

[2020-01-14 19:01] gavinking commented on #10
Even `RxSession` is missing basic usage doc.

[2020-01-14 19:06] gavinking opened #16 "joined subclass inheritance"
It would be nice to have support for joined inheritance mappings.

This means subclassing `JoinedSubclassEntityPersister`, so it might be best if we first propose some changes to `AbstractEntityPersister` in Hibernate core to minimize the amount of copy/paste code in `SingleTableEntityPersister` *first*. Then, perhaps, it will be easy to support both join and union strategies.

[2020-01-14 19:10] gavinking opened #17 "improve test harness"
We need a way to be able to open/close multiple sessions in a test.

[2020-01-14 19:56] gavinking opened #18 "RxSession.fetch()"
Instead of doing what we had previously talked about to allow async lazy loading, I propose a much simpler solution:

    rxSession.fetch( book.getAuthors() ).thenAccept( authors -> { ... } )

That's not much more code than the previous proposal, and is *much* less intrusive on the domain model classes, allowing people to use keep existing domain models.

This also looks *waaaay* easier to impleme

[2020-01-14 20:00] gavinking commented on #14
Actually if we do #18, then this is a much lower priority. (Unless it's really easy, which it might be.)

[2020-01-14 20:02] gavinking opened #19 "SQL logging"
We need to be able to log the executed SQL.

[2020-01-14 20:21] gavinking commented on #18
@DavideD @Sanne @FroMage @emmanuelbernard WDYT?

[2020-01-15 08:37] FroMage commented on #18
As a workaround until we get support for real async types, sure. But it's pretty intrusive on use-site compared to `book.getAuthors().thenAccept( authors -> { ... } )`.

We can definitely keep this even when we support real async relations, for the people who don't want to update their model classes, but for those starting with new entities (and in Quarkus if they use Panache they will likely star

[2020-01-15 10:34] gavinking commented on #18
Well, I dunno, it's not much worse, IMO, and it has the *huge* advantage that people can use the same `Book` class in both regular Hibernate code and in Hibernate RX.

[2020-01-15 10:38] FroMage commented on #18
As I said, we can certainly start with this and see if we have to improve it later.

[2020-01-15 10:41] gavinking commented on #18
Actually it has a second massive advantage: in the case where I fetch the association *eagerly* using a join, I don't have to wade through `.thenAccept()` or whatever to get at the elements of the association. I can just access them directly using regular collection iteration.

[2020-01-15 10:43] gavinking opened #20 "IllegalStateException: Session/EntityManager is closed"
I'm getting a lot of

    IllegalStateException: Session/EntityManager is closed

When running the tests. These get swallowed somewhere, and I can't tell what's really causing them. But we need to figure it out.

[2020-01-15 10:44] FroMage commented on #18
Well, that also means you can access `book.getAuthors()` and block by accident.

[2020-01-15 10:58] gavinking commented on #18
Nope, it will throw.

[2020-01-15 11:06] gavinking opened #21 "uppercase column aliases"
There’s a bug somewhere in some lower layer (the driver probably) that means column aliases must be lower cased before looking them up in a result set row. We need to make sure we never generate column aliases with upper case characters in them.

[2020-01-15 11:09] gavinking commented on #21
I already fixed this for discriminator columns, since they always get uppercase aliases by default, but we need a more general fix, I suppose.

[2020-01-15 11:15] gavinking opened #22 "RxSession.refresh()"
This isn't needed in the first release, but it's useful.

[2020-01-15 11:21] gavinking opened #23 "detach() and clear()"
`RxSession` needs `detach()` and `clear()` methods, which are occasionally useful for controlling memory usage.

Now, AFAIR, `detach()` doesn't imply any sort of cache invalidation, it's a purely in-memory operation, and so do we even need to do anything special at all with these operations? Can't they just delegate straight through to the blocking implementation? @Sanne @FroMage?

[2020-01-15 11:22] gavinking opened #24 "FlushModes"
Setting the `FlushMode` for an `RxSession` is a purely in-memory operation and I don't see why it can't be declared as a blocking method.

[2020-01-15 11:24] gavinking opened #25 "transactions"
We don't have a clear idea of what we're going to do about transactions. But we decided we're going to simply ignore the problem for the first release, and tell people to use optimistic locking. This is crap but ¯\_(ツ)_/¯.

[2020-01-15 11:29] gavinking commented on #24
Small issue: currently the `RxSession` interface doesn't depend on anything in `org.hibernate` or `javax.persistence`. So what `FlushMode` type should we use here:

- `org.hibernate.FlushMode`
- `javax.persistence.FlushModeType`
- a new `org.hibernate.rx.Flush` enum?

WDYT, @FroMage @DavideD?

[2020-01-15 11:31] gavinking opened #26 "filters"
I suppose that filters will "just work" if we add a blocking method to `RxSession` to enable/disable them.

[2020-01-15 11:33] gavinking commented on #25
Note that until we know what we're doing with transactions, any discussion of locking/`LockOptions`s is completely premature and so I'm not even going to open an issue for it. I'm not even sure if you ever even *want* pessimistic locking in this kind of program.

[2020-01-15 11:42] FroMage commented on #18
So it also impacts all the entity code that uses those relations, in which case the entities still have to be updated.

[2020-01-15 11:43] FroMage commented on #23
Never used those methods, so this can definitely be done last.

[2020-01-15 11:45] FroMage commented on #24
@Sanne will probably have something to say here about stateless sessions?

[2020-01-15 11:45] gavinking commented on #24
I have pushed a mockup for this. Please send your feedback.

[2020-01-15 11:46] FroMage commented on #25
Note that the reactive sql-client supports transactions: they have the same API as the client but with extra begin/commit/rollback methods.

[2020-01-15 11:48] gavinking commented on #18
@FroMage Nope. I don't know why you would say that.

[2020-01-15 11:48] FroMage commented on #24
My feedback is that if we can avoid having a fourth enum (especially if the first existing three are _already_ in the user's classpath) we should.

[2020-01-15 11:50] FroMage commented on #18
[code]

Then `foo.addBar(bar)` starts throwing and we need to rewrite it, no?

[2020-01-15 11:50] gavinking commented on #25
I think the main question is who is going to manage this transactions. JTS? Some API we write? (Please god no. I have already been responsible for introducing *two* additional `Transaction` interfaces into the Java ecosystem, I really don't want to be responsible for a third!)

[2020-01-15 11:51] gavinking commented on #24
OK then that would mean depending on `org.hibernate` I guess.

[2020-01-15 11:52] FroMage commented on #25
In Panache RX I piggy-back on the existing JTA TM by scoping a sql-client Transaction to a JTA transaction and it works.

[2020-01-15 11:52] FroMage commented on #25
This is how ORM does it too in Quarkus.

[2020-01-15 11:53] gavinking commented on #18
No. You need to enable a fetch profile so that `bars` are fetched eagerly using an efficient SQL join instead of writing shitty Hibernate code that does lots of trips to and from the database. Just like you should have done already, in any nonshitty regular Hibernate code.

[2020-01-15 11:53] FroMage commented on #25
See https://github.com/FroMage/quarkus/blob/panache-rx/extensions/panache/rx-panache/runtime/src/main/java/io/quarkus/panache/rx/runtime/client/TransactionScopedPgClient.java#L45

[2020-01-15 11:54] gavinking commented on #25
That shoulds fine. I thought there was some question mark hanging over this approach when we discussed it last week.

[2020-01-15 11:54] FroMage commented on #18
So you're shifting requirements. It started with "reuse existing entities" and now it's "reuse existing nonshitty entities" ;) I fear every new such requirement reduces the set size.

[2020-01-15 11:55] gavinking commented on #25
Where precisely do you keep your transaction-bound connections?

[2020-01-15 11:56] gavinking commented on #18
But it's nothing to do with the entities themselves. This is an aspect of the code that *uses* the entities!

[2020-01-15 11:56] FroMage commented on #25
In the TSR.

[2020-01-15 11:56] gavinking commented on #23
Sure, but my point is I think it's totally trivial. Unless @Sanne corrects me.

[2020-01-15 11:57] FroMage commented on #18
I'm saying I've seen that code _in_ the entities super often.

[2020-01-15 11:57] gavinking commented on #25
In the what?

[2020-01-15 11:59] FroMage commented on #25
`TransactionSynchronizationRegistry`, which is probably a thread-local?

[2020-01-15 11:59] gavinking commented on #18
And that code in and of itself is perfectly fine and nonbroken.

[2020-01-15 12:00] gavinking commented on #25
Hrm. What I'm really asking is where could HibernateRx go to obtain one of your transaction-bound connections?

[2020-01-15 12:02] FroMage commented on #25
To create a new one you mean? Because if it's already created it should be stored there.

To create a new one you call `begin()` on the `PgPool`, which gives you a new transaction which is also a `PgClient` so that `PgClient` is really the interface you want to use to talk to the DB because it lets you do the same operations regardless of the transaction existence.

[2020-01-15 12:06] gavinking commented on #25
I mean how would I implement a Hibernate `ConnectionProvider` that obtains a tx-bound connection and uses it.

[2020-01-15 12:38] gavinking commented on #19
I've hacked in a crappy implementation of this, but I guess all the code in `RxConnectionPoolProviderImp` that handles configuration should really be using stuff from the `ServiceRegistry`. I'll open a separate issue for that.

[2020-01-15 12:38] #19 closed

[2020-01-15 12:40] gavinking opened #27 "configuration should use service registry"
I suppose the code in `RxConnectionPoolProviderImpl` should be doing something more sophisticated.

@sebersole what is the right way to do this?

See #19.

[2020-01-15 13:22] Sanne commented on #23
Having clear is clearly important, but please see the StateControl
interface.

Regarding detach I'm not super interested, could we defer adding such
additional methods?

I'd like to have a conversation with you all about detach/merge .. should
we really have them?

On Wed, 15 Jan 2020, 12:57 Gavin King, <notifications@github.com> wrote:

[2020-01-15 13:26] FroMage commented on #25
I've no idea what a `ConnectionProvider` is, sorry.

[2020-01-15 13:46] gavinking commented on #25
It's an interface that Hibernate calls to obtain a (not-)JDBC connection.

Remember, that user doesn't give Hibernate a connection. Hibernate needs to know how to get hold of it.

[2020-01-15 13:51] gavinking commented on #23
Well I have seen it but:

1. I don't see why we need to separate interface for these operations. Neither Hibernate nor JPA segregates them onto a different interface, and I can't guess what the motivation for this might be.
2. `StateControl` is currently unimplemented, leaving me to guess at the intended implementation. Since `clear()` is declared `void`, I imagine that it is the implementation I

[2020-01-15 13:58] gavinking opened #28 "clean up exception when lazy loading attempted"
Currently, an attempt to lazy load an association produces this error:

[code]

We need to produce something more meaningful, telling you to use `fetch()`.

[2020-01-15 15:19] Sanne commented on #23
I'm fine to remove `StateControl`. The idea was to experiment with separating the more advanced API for managing the state of managed entities / Session state from the more common API, but it's just an  idea.

Regarding detach / merge : in my experience people either:
- don't use these
- don't understand these, and get in trouble

TBH even myself I never use these, working with a mix of attached a

[2020-01-15 15:22] Sanne commented on #23
to clarify:

People can still work with detached objects even without such APIs: they can still close the source Session (or clear it) - either way it's slightly simpler as the graph won't contain a mix of managed and unmanaged elements.

For re-attaching, I have a similar sentiment: the semantics regarding update/refresh are subtle, while it's straight forward for a user to load a fresh copy and

[2020-01-15 15:32] gavinking commented on #18
I have added a partial, and probably crappy implementation of this. It doesn't support many-valued associations, and it might not support all the correct semantics of Hibernate, so we need to review it tomorrow.

[2020-01-15 15:34] gavinking commented on #23
@Sanne I think it's more work to explain to people why the API arbitrarily doesn't support things that the regular Hibernate `Session` and `EntityManager` APIs *do* support.

[2020-01-15 15:38] gavinking commented on #23
@Sanne P.S. I understand why you don't like these operations, because I resisted adding them for *years*. But let me promise you that if you don't have them, people will complain and whine.

[2020-01-15 15:38] Sanne commented on #23
ok you have a point there. Let's remove Merge from ORM core too :-P

[2020-01-15 15:40] Sanne commented on #23
ah glad to hear.

ok so what about you don't add them yet either?

We know they are trival to expose later (as it seems you checked already?), but let's wait for some persuasive demand for them?

@emmanuelbernard and @sebersole ?

[2020-01-15 15:47] gavinking commented on #23
@Sanne The purpose of this project is to make Hibernate work in a reactive programming environment. It is absolutely a non-goal to subset the Hibernate APIs, which almost all exist for good reasons.

If we want to argue about how to make Hibernate usage more idiot proof, then that is the purpose of the Panache project, *not* of *this* project.

[2020-01-15 15:50] gavinking commented on #23
There, they're added.

[2020-01-15 15:55] gavinking commented on #20
Alright, so I tracked this down to an incorrect usage of `thenAccept()` instead of `theCompose()` in my client code. *However*, the fact that I only noticed these errors while debugging suggests that something in the system, or in the test harness, is swallowing exceptions when it should not be.

[2020-01-15 16:04] Sanne commented on #23
hum, ok

Not meaning to argue about Hibernate APIs but I had the impression we needed to scope feature aggressively.

Thanks for adding them - just keep in mind we won't add all things we inherit from ORM core, at least not at the first iteration.

[2020-01-15 16:57] gavinking commented on #28
So fixing this one, which I figured would be easy, turns out to be quite hard without making changes to Hibernate core. I thought I would be able to do it by replacing the `BytecodeProvider` but it turns out that only three hardcoded `BytecodeProvider`s are supported, so that ain't gunna work.

If we could override `SessionImpl.immediateLoad()` we would be good, but we can't. So it looks like we p

[2020-01-15 17:23] #14 closed

[2020-01-15 17:23] gavinking commented on #14
Done. Trivially working.

[2020-01-15 17:49] gavinking commented on #21
I've confirmed that this bug occurs anytime you specify an uppercase column name using `@Column(name=...)`.

[2020-01-15 18:14] #21 closed

[2020-01-15 18:14] gavinking commented on #21
This is fixed, but I think it would be better if Hibernate core just always generated lowercase aliases.

[2020-01-15 18:43] gavinking commented on #23
Well we do need to do that for features which are hard to implement. But any operations which don't require interaction with the database or cache can be just trivially propagated straight through to the `RxSession` API.

Anyway, I've done most of them now, the only remaining ones are the stuff for filter enablement #26, but I think that's trivial too.

[2020-01-15 22:23] gavinking opened #29 "database generated identifiers"
How are we going to handle sequence and table generators?

[2020-01-15 23:04] gavinking commented on #16
I've got this working, at least for the things I've tested. But as I feared, my implementation is just basically 900 lines of complete copy/paste from `RxSingleTableEntityPersister`. So we need to figure out what we can change in Hibernate core to reduce the quantity of copy/paste here.

[2020-01-15 23:08] gavinking commented on #16
Ooops, and it seems I now have union subclass mappings working too. Via even more copy/paste!

[2020-01-16 01:23] gavinking commented on #16
I've removed all the code duplication, though I had to do something else so terrible that I'm too ashamed to own up to it here. Anyway, it's good enough until we can get some changes to Hibernate core.

Closing, because all three inheritance mapping styles seem to be working.

[2020-01-16 01:23] #16 closed

[2020-01-16 01:46] gavinking commented on #12
Yeah, you can't, because there is no support for collections *at all*, i.e. no `RxCollectionPersister`s.

[2020-01-16 02:14] gavinking commented on #12
I've got this to sorta-work, except for this error:

    org.hibernate.HibernateException: Illegal attempt to associate a collection with two open sessions. Collection : [org.hibernate.rx.EagerUniManyToOneAssociationTest$Book.authors#6]

[2020-01-16 09:12] gavinking commented on #28
So this problem and the problem in #12 would both be fixable if `RxHibernateSessionImpl` extended `SessionImpl` instead of wrapping it. Unfortunately `SessionImpl` is declared `final` in core. :-/

[2020-01-16 09:32] gavinking commented on #27
Sorry, I'm stupid.

[2020-01-16 09:32] #27 closed

[2020-01-16 11:35] DavideD opened #30 "Upgrade smallrye-axle-pg-client to version 0.0.12"

[2020-01-16 11:42] #30 closed

[2020-01-16 15:34] gavinking opened #31 "RxSession lifecycle and configuration"
I guess we need a way to close the `RxSession`. What does this look like?

[2020-01-16 15:35] gavinking opened #32 "CacheMode"
I suppose we should let you set the `CacheMode`.

[2020-01-16 16:04] gavinking commented on #32
Done.

[2020-01-16 16:04] #32 closed

[2020-01-16 16:05] gavinking commented on #24
Done.

[2020-01-16 16:05] #24 closed

[2020-01-16 16:07] gavinking commented on #23
I'm going to call this done.

[2020-01-16 16:07] #23 closed

[2020-01-16 16:19] #9 closed

[2020-01-16 21:10] gavinking commented on #29
I've added support for `@Id @GeneratedValue`  for `@SequenceGenerator`s.

Because of the design of ORM core it's pretty impossible to reuse any `IdentifierGenerator`-related code, and so this is going to involve a lot of copy-paste and is going to lose some fancy functionality that ORM core has.

[2020-01-17 00:30] gavinking commented on #29
OK, I now support `@SequenceGenerator` and `@TableGenerator`. That's all we can reasonably do for now, since there's no good way to reuse existing Hibernate id generators. If people ask for something extra, we can add it then.

I will open a separate issue for autoincrement column support, but that might be a bit harder to do anyway.

Closing this one.

[2020-01-17 00:30] #29 closed

[2020-01-17 00:32] gavinking opened #33 "autoincrement columns"
Follow-up to #29: we need to support id generation via auto-increment columns.

[2020-01-17 08:46] gavinking commented on #11
We also need tests for:

- inheritance mappings
- `@Version` columns
- `@SequenceGenerator` and `@TableGenerator`
- `session.fetch()`
- `@OneToMany`
- fetch profiles

[2020-01-17 13:13] gavinking opened #34 "cascade persistence operations to associations"
Cascading doesn't work. This is a bit of a painful limitation and so we should investigate how hard it would be to fix it.

[2020-01-17 13:25] gavinking commented on #18
Actually I would prefer that this worked like `Hibernate.initialize()`, and didn't require a reference to the `RxSession`. But that's hard to implement right now, just because of the way our code is structured.

[2020-01-17 15:58] gavinking commented on #34
So actually this doesn't look very scary. We need to do a copy/paste job on `org.hibernate.engine.internal.Cascade` and `org.hibernate.engine.spi.CascadingActions`. And that's < 1000 LOC.

[2020-01-17 20:22] gavinking commented on #17
Done!

[2020-01-17 20:22] #17 closed

[2020-01-17 20:35] DavideD commented on #17
Awesome!

On Fri, 17 Jan 2020, 20:22 Gavin King, <notifications@github.com> wrote:

[2020-01-17 21:13] gavinking opened #35 "RxSession.fetch() for lazy @OneToMany associations"
Following on from #18 and #12, we need to let you call `fetch()` on a lazy @OneToMany association.

@DavideD this is a follow-up to your latest work.

[2020-01-17 21:13] gavinking commented on #18
Closing this one because I opened #35.

[2020-01-17 21:13] #18 closed

[2020-01-17 21:14] gavinking commented on #12
Closing this one because I opened #35.

[2020-01-17 21:14] #12 closed

[2020-01-17 21:16] gavinking commented on #31
Really there is a bigger issue here of what exactly is the whole programming model for configuring Hibernate RX and obtaining and releasing an `RxSession`.

[2020-01-17 22:11] gavinking commented on #11
Done!!!

[2020-01-17 22:11] #11 closed

[2020-01-17 23:51] gavinking commented on #34
I made this sorta-work for cascade delete along a `@ManyToOne`. But my implementation is rubbish, so I'm not going to push it for now. Still, it's not impossible, I believe.

[2020-01-18 07:21] gavinking commented on #31
I think I've got this pretty much sorted out.

[2020-01-18 12:44] gavinking commented on #34
Cascade persist and remove now work to some extent. I need to do some more testing, and I imagine it's likely we'll find bugs. But implementing this feature really helped me clarify the design of the whole system and what things are non-blocking and how it all has to work.

[2020-01-18 13:55] gavinking opened #36 "patch hibernate-core to make it easier to implement hibernate-rx"
I'm going to do this work on a branch.

[2020-01-18 17:28] gavinking commented on #36
I've submitted https://github.com/hibernate/hibernate-orm/pull/3176.

[2020-01-18 17:32] gavinking commented on #36
The changes to Hibernate RX itself are on the #31 branch of this repo.

[2020-01-18 17:33] gavinking commented on #36
I was able to delete almost 500 lines of code, and move all the code under `org.hibernate.rx`.

[2020-01-18 18:36] gavinking commented on #28
Done, though the fix depends on #36.

[2020-01-18 18:36] #28 closed

[2020-01-18 18:59] gavinking commented on #31
This is done.

[2020-01-18 18:59] #31 closed

[2020-01-18 19:04] gavinking commented on #20
So I'm not sure that this is really a bug as such. I think it might be just something that sucks about the reactive environment. I think it's terrible that the errors get swallowed in the tests, but I don't see anywhere where we can "fix" this.

[2020-01-18 19:04] #20 closed

[2020-01-18 21:50] gavinking commented on #34
So on the #34 branch I have this working for `@OneToMany`s. They don't work on `master` because of the issue with session identity.

So now that the most basic functionality seems to be working, I'm going to close this issue, and we can open additional issues if/when we run into bugs.

[2020-01-18 21:50] #34 closed

[2020-01-18 21:52] gavinking commented on #12
FTR, this problem was fixed by the refactorings on the #36 branch.

[2020-01-18 21:56] gavinking commented on #36
At least two bugs were fixed purely as a side-effect of this refactoring.

[2020-01-18 21:58] gavinking opened #37 "fix the MySQL driver"
We need to try this stuff out on MySQL.

[2020-01-19 11:18] gavinking commented on #37
Alright, I tried it out and the results were .... *disappointing*. The driver from MySQL has more or at least different bugs compared to the Postgres driver:

- First, unlike in JDBC, the drivers don't abstract over the database's native prepared statement parameter format. The `$1`, `$2`, etc we had to use for Postgres are *because that's what's native on PostgresSQL*! And so this syntax doesn't

[2020-01-19 11:46] gavinking commented on #37
Given the status of the driver, I would say that MySQL support is *not* a priority for the first release.

[2020-01-19 12:31] BillyYccc commented on #37
Hi Gavin, I’m the author of Vert.x MySQL and MSSQL client and I assume you’re using this :-)

I would like to clarify a bit for the questions you mentioned above.

* First Vert.x SQL Client aims not to be an abstraction, which means it won’t parse the SQL text and unify the placeholders. This does not behave like what JDBC does and it would be good for users from backgrounds of different database(

[2020-01-19 15:03] gavinking commented on #37
I'm using the `.axle` one, to be clear.

OK, but it's *extremely* surprising to Java or .Net developers who've only ever used JDBC/ODBC, and probably don't even *know* the syntax of their database's `prepare` statement. It's also a hurdle for anyone who's trying to make an existing Java lib work on this stuff, or is trying to write cross-platform code. There are really good reasons why ODBC and JD

[2020-01-19 15:05] gavinking commented on #37
By the way, there's another issue we ran into which is that when doing a result set lookup by column alias, the column aliases were always in lowercase, even if they were upper or mixed case in the SQL statement. We worked around this one already.

Thanks for your quick response, @BillyYccc, I'm not even sure how you found this.

[2020-01-19 17:53] gavinking commented on #37
I've pushed the work I've already done on integrating MySQL, though some of it depends on #36.

[2020-01-19 19:40] gavinking opened #38 "composite keys"
The naive implementation of `RxQueryExecutor.asTuple()` is broken for composite keys.

[2020-01-19 21:35] #38 closed

[2020-01-19 21:35] gavinking commented on #38
Fixed now.

[2020-01-19 22:44] gavinking commented on #37
Well, I've got MySQL working well-enough that I can add a test. Note that properties of type `boolean`, `BigDecimal`, `BigInteger`, and `LocalTime` don't work in the current release of the driver.

My fixes depend on #36.

I've opened issues against SmallRye, so I can close this one now.

[2020-01-19 22:44] #37 closed

[2020-01-20 01:01] gavinking commented on #22
I've added this, but it needs some further testing.

[2020-01-20 11:51] gavinking commented on #22
I've added tests and it's looking good!

Closing, I guess...

[2020-01-20 11:51] #22 closed

[2020-01-20 11:57] gavinking opened #39 "eager select fetching"
As we (with @Sanne and @DavideD) discussed last week, it is actually useful to be able to do `@ManyToOne(fetch=EAGER) @Fetch(SELECT)`, since it lets you handle "reference data", i.e. entities that you always expect to find in the second-level cache.

Unfortunately this is probably going to be a bit tricky for hibernate-rx due to how the code of `Loader`s is structured in Hibernate. A couple of opt

[2020-01-20 12:30] gavinking opened #40 "Hibernate RX alongside regular Hibernate"
While I admit I have not actually *tried*, from my understanding of how the code works, I conclude that it's currently impossible to have reactive sessions alongside regular sessions for the same `SessionFactory`. It might even be impossible to have them coexist in the same *program*.

Right, @DavideD?

I think that's something we eventually need to fix.

[2020-01-20 12:47] DavideD commented on #40
I think you are correct, but I will check.

[2020-01-20 18:07] gavinking commented on #33
Alright, this is done so that it works on both MySQL and PostgreSQL.

[2020-01-20 18:14] #33 closed

[2020-01-20 18:26] gavinking opened #41 "PoolConnection and RxQueryExecutor are almost the same thing"
@DavideD what is the reason behind having two things here, that have almost the same methods?

Do you object if I merge them into one class?

[2020-01-20 19:00] DavideD commented on #41
The initial idea was to use the connection to returns the raw results while the RxQueryExecutor is a layer that can convert the result into entities or prepare the parameters. I suppose in practice there is not much difference. Can you wait a bit longer before doing it? Those classes might become more complicated once we have added queries support. If it doesn't happen or if you have strong opinio

[2020-01-20 19:28] gavinking commented on #13
I've implemented this by the usual massive-copy-paste technique. Still needs more testing.

[2020-01-20 19:29] gavinking commented on #41
It can wait.

[2020-01-20 21:44] gavinking commented on #13
OK, this is mostly working now. Closing.

[2020-01-20 21:44] #13 closed

[2020-01-20 22:45] gavinking opened #42 "examples"
For the first release we need at least one small example program.

[2020-01-20 23:20] gavinking opened #43 "pessimistic locking"
We've been ignoring `LockMode`s and `LockOption`s, which is reasonable because we don't have transactions yet. However, most of the code to support them is already there, I think it just means adding some of the plumbing to let the user pass them in.

[2020-01-20 23:23] gavinking opened #44 "@ElementCollection"
I think "element" collections are a rubbish feature, and even worse here since we don't have lazy fetching, but people are going to bitch and moan if we don't provide this particular special way for them to shoot themselves in the foot.

Low priority.

[2020-01-20 23:24] gavinking opened #45 "@ManyToMany"
Like @ElementCollection #44, @ManyToMany is something I don't like much. But we'll have to add it eventually.

Also low priority.

[2020-01-20 23:26] gavinking commented on #43
Note that this includes adding `RxSession.lock()`, along with supporting `LockModes` in `find()` and `Query`.

[2020-01-20 23:30] gavinking opened #46 "native SQL queries"
We need these.

[2020-01-21 01:10] gavinking opened #47 "hi/lo id generation"
Our table and sequence id generators don't support the hi/lo optimization.

[2020-01-21 09:38] gavinking commented on #10
I'm making good progress on this one.

[2020-01-21 10:42] gavinking commented on #10
Alright, there's now enough Javadoc (on the #36 branch) that I can go ahead and close this issue.

[2020-01-21 10:42] #10 closed

[2020-01-21 13:17] gavinking opened #48 "long ids"
Currently, because my code is shit, id properties must be of type `Integer`. `Long` is actually what we always recommend so we need to fix this.

[2020-01-21 14:28] gavinking commented on #42
I've added a really simple example which is probably enough for now.

[2020-01-21 14:28] #42 closed

[2020-01-21 19:57] gavinking commented on #40
Alright, so a major roadblock to resolving this problem is going to be the fact that we're hijacking Hibernate's regular `PERSIST`, `FLUSH`, etc, event types to do implement our own differently-semantic'd operations.

So today I tried to fix this by breaking us away from Hibernate's `EventType`s and event processing and, surprisingly, I failed! It looked, naively, like there would be about two or

[2020-01-21 19:58] gavinking commented on #40
Take note ☝️@Sanne  :-)

[2020-01-21 20:32] Sanne commented on #40
I don't think there's any desire to use one single SessionFactory both in reactive and in non-reactive way?  IMO either you're the kind of developer liking reactive APIs, or not ...

If there's some 10% of people that are say migrating an application and need both APIs available "for some time" I think it would be perfectly fine for them to start two differently configured instances.

Also, assumi

[2020-01-21 20:52] gavinking commented on #48
I've fixed this in just about the worst way possible, and now I'm going to close this issue and hope nobody looks at this code before we get a chance to come back and do something much more sophisticated with id generators. (Not going to do that now!)

[2020-01-21 20:52] #48 closed

[2020-01-21 20:56] gavinking commented on #40
*Perhaps* not, (it's not clear to me) but I'm pretty sure our current implementation won't even let you have one factory for reactive and one for normal.

[2020-01-21 20:56] gavinking commented on #40
I don't think that's right. We already use regular JDBC for schema export right alongside Vert.x for DML.

[2020-01-21 20:59] DavideD commented on #40
differently configured datasources anyway

 Right now we are using the orm properties to create the connection with
the reactive drivers. So, I'm not sure this is going to be an issues.

On Tue, 21 Jan 2020, 20:32 Sanne Grinovero, <notifications@github.com>
wrote:

[2020-01-21 21:00] gavinking commented on #36
Alright, so now @Sanne has applied my PR, we have to decide whether to merge the #36 branch into master. I think we should, since it has all sorts of useful new stuff, and also I don't want us to struggle with maintaining two branches when we don't even have users yet.

*However* it does mean that you will need a snapshot build of Hibernate to try out Hibernate RX. I *think* that's acceptable but

[2020-01-21 21:03] gavinking commented on #40
Exactly. @Sanne if you look at the new example app I added, I actually use one line in `persistence.xml` to completely configure Hibernate RX.

[2020-01-21 21:06] Sanne commented on #36
sure, I hope the RX team can keep the momentum going: use a snapshot for some days, but also an ORM tag isn't going to take long.

[2020-01-21 21:08] Sanne commented on #36
P.S. to deploy a snapshot from ORM's master into your local Maven cache use:

    ./gradlew publishToMavenLocal

Next, the build of RX should be patched; this section is missing "mavenLocal()":

    repositories {
        jcenter()
        mavenCentral()
    }

[2020-01-21 21:10] gavinking commented on #36
@Sanne yep that's what I'm doing. I already patched the build on the #36 branch.

[2020-01-21 21:11] Sanne commented on #40
ok so configuring two datasources won't be hard apparently, but I still don't think this should be a goal - not for the first version at least :)

Why not? Global statics being used to hack something? Bear with me, I've not been able to follow all changes.

[2020-01-21 21:21] gavinking commented on #40
Because of code like this:

<https://github.com/hibernate/hibernate-rx/blob/%2336/hibernate-rx-core/src/main/java/org/hibernate/rx/service/RxIntegrator.java>

It completely replaces Hibernate's event listeners.

[2020-01-22 00:40] gavinking commented on #36
I merged. We need to develop against a single branch.

[2020-01-22 00:40] #36 closed

[2020-01-22 12:51] gavinking commented on #35
To be clear, @DavideD, this issue just involves adding a `DefaultRxInitializeCollectionEventListener` and an `RxOneToManyLoader` that we can hang off the `OneToManyPersister`. We don't want to do more than that for now. Writing a whole `RxCollectionPersister` is off the cards until we come to #44 and #45.

[2020-01-22 13:00] DavideD commented on #35
Working on it

On Wed, Jan 22, 2020 at 12:51 PM Gavin King <notifications@github.com>
wrote:

[2020-01-22 13:46] gavinking opened #49 "Uni and Multi for associations"
So we would like to let folks represent `@ManyToOne` and `@OneToMany` associations as `Uni`s and `Multi`s respectively.

(Or perhaps even as `CompletionStage<Optional<Object>>` and `CompletionStage<Iterable<Object>>`!)

I had been assuming that this would require having `CollectionPersisters` that knew how to deal with `Multi`s, but now that I look at the problem more carefully, it seems to me tha

[2020-01-22 13:52] gavinking opened #50 "uuids"
These days Hibernate has some very fancy UUID generation code that we should be able to pretty easily wire in.

[2020-01-22 14:46] Sanne commented on #49
honestly I don't know :) but even custom `CollectionPersister` shouldn't be that hard:  @DavideD might know better as he implemented many of these for the various NoSQL integrations we did. (remember Hibernate OGM ? https://hibernate.org/ogm/ )

Besides how a custom proxy gets initialized, I think we'll also need ORM to interpret the user model correctly: user types would be using Mutiny types (an

[2020-01-22 14:57] #50 closed

[2020-01-22 14:59] gavinking commented on #49
Yes, that, I think, is the main challenge with this. The `Binder` won't know what sort of collection type a `Multi` is, nor what is the target entity of a `Uni<Optional<Book>>`.

[2020-01-22 15:04] gavinking opened #51 "batch fetching for entities and one to many associations"
We have some code for batch fetching but we have no idea if it works (probably not completely) because there are no tests for it. We need to try this out.

[2020-01-22 15:39] FroMage commented on #49
So in RESTEasy we made an SPI for users to be able to declare reactive types which allow libs to stay agnostic and convert them to a standard `CompletionStage` or `Publisher` (from reactive-streams) but we stayed short of providing proper extraction of the type parameter and just require the first one to be it.

SmallRye ReactiveStreams has an equivalent SPI that is more generic at https://github.

[2020-01-22 15:59] gavinking commented on #49
That's a good idea, but it might not be quite flexible enough to handle shit like `Uni<Optional<Entity>>` -> `Entity>, or `Multi<Map.Entry<Key,Value>>` -> `Map<Key,Value>`.

[2020-01-22 16:02] gavinking opened #52 "Optional decision"
So I want to know are we really going to force `Optional<Entity>` down everyone's throat? I've been using it the last few day, and yew, it really is just as crappy as I figured it was, *nothing* like a proper option or nullable type.

But if that's where the whole Java world is going ... well, I dunno, I guess we should be consistent.

Thoughts?

[2020-01-22 16:03] gavinking commented on #52
@FroMage?

[2020-01-22 16:04] FroMage commented on #52
Don't ask me I hate it. But a lot of people like it. IMO it should be opt-in with both options.

[2020-01-22 16:05] gavinking commented on #52
Pfff. Well currently it's on methods like `find()` and `fetch()`, so pretty hard to opt out...

[2020-01-22 16:08] gavinking commented on #52
The thing about it is that it not only doesn't protect you from bugs, since almost all of the time all you're going to do is just call `get()` on it (calling `isPresent()` first is just a worse way to write `!=null`), but it actually can be a *source* of bugs since `Optional<Object>` is assignable to `Object`!

[2020-01-22 16:09] gavinking commented on #52
You can even write shit like this:

[code]

[2020-01-23 18:50] gavinking commented on #51
I added a variadic overload of `RxSession.find()` in order to by able to test out `RxDynamicBatchingEntityLoaderBuilder` and after a bit of work now that one is working at least.

We need HQL queries #15 before we can test this stuff any further.

[2020-01-23 21:58] gavinking commented on #52
I think I would lean towards removing it `Optional` from our APIs, unless someone speaks up in its favor.

[2020-01-25 05:13] hantsy opened #53 "ReactiveStreams and Java 9 Flow API support"
Please add ReactiveStreams(rxjava2, reactor, MP ReactiveStreams etc)and Java 9 Flow API support.

it could be designed like the `.rx()` method of JAXRS client, provide variants to  `openRxSession(<accept a impl type>)`.

[2020-01-25 20:43] gavinking commented on #53
@hantsy we definitely want to supporting other options than just `CompletionStage` but I'm going to delegate thinking about precisely which ones we support to people like @cescoffier and @FroMage and @emmanuelbernard.

My only suggestion is that I guess we could have multiple `RxSession` interfaces in different packages, and you could choose which one to `unwrap()`.

(A tangential issue is that we

[2020-01-30 13:46] emmanuelbernard commented on #53
That is something we need to discuss. if we go for Mutiny CC @cescoffier instead of CompletionStage, then Mutiny has bridges tot he other types and is an implementation of ReactiveStreams (for Publisher at least).

[2020-02-06 14:51] DavideD opened #54 "Databases should be created during the build"
We should figure out a way to download and start all databases during the build using something like podman (or docker) for tests.

[2020-02-06 17:11] DavideD opened #55 "Create a job on CI"
We need to make sure that the project builds

[2020-02-07 12:26] emmanuelbernard commented on #18
Just for info on my perspective, I understand the `thenAccept` model feels more intrusive in case you eargerly leaded but it's 100% predictable for both lazy and eagerly fetched associations and no exception will be thrown because somewhere else I did or did not forget to apply a correct profile. We can start with that model and test it but I am skeptical of these "runtime errors".

[2020-02-13 01:00] JMdoubleU opened #56 "Publish to Maven Central"
[Publish build artifacts](http://maven.apache.org/repository/guide-central-repository-upload.html) to Maven Central.

[2020-02-25 10:46] DavideD opened #59 "Remove intellij configuration from the repository"
I don't like to have it there.
As far as I know we don't do it with other projects and I find annoying to have it change every time somebody push something or I decide to tweak a bit my IDE.

[2020-02-25 10:47] DavideD opened #60 "Add licenses"
We need to add a license to all classes similar to the one we have for the other hibernate projects

[2020-02-25 10:51] DavideD opened #61 "We need to be able to run a test on multiple databases"
Maybe it's early for this but we need to figure out a way to run the same tests on multiple dbs.
SImilar to what we have in OGM.

As a note, I wouldn't like to use the same approach we used for OGM. I find it too magical. I would be happy to have a separate module to use as TCK and keep the tests separated from the core (when necessary).

[2020-02-25 18:38] gavinking commented on #59
Alright so I tried this out and indeed on this project the import seemed to work smoothly (first time that's worked for me) without the `.idea` directory. Perhaps because this project was initially created as a simple, clean gradle build.

The only thing I dislike is that of course it uses the global settings for code style, which is a pain because Hibernate uses tabs whereas the other projects I

[2020-02-26 15:03] DavideD opened #62 "Replace credentials and db name for tests to hibernaterx"
I don't want to have different credentials as defaults for the datastores.
MySQL is not super happy with `hibernate-rx` as db name, so we are going to replace everything with something that doesn't have special chars

[2020-02-26 15:14] DavideD opened #63 "Add the podman scripts in the project root"
With a link to the README. We don't want to put it in the README.md because it is not the easiest to install unless you are using Fedora or similar.

[2020-02-26 16:27] DavideD opened #64 "Test the DB2 reactive client"
https://github.com/eclipse-vertx/vertx-sql-client/tree/master/vertx-db2-client

[2020-02-26 16:40] DavideD opened #65 "Fix build on master"
After one of the updates to ORM the build stoped working and all tests give a NullPointerException on many-to-one associations

[2020-02-27 12:39] gavinking commented on #40
Related discussion here: <https://github.com/hibernate/hibernate-rx/pull/66#issuecomment-591949557>

[2020-02-27 15:57] #63 closed

[2020-02-27 16:01] DavideD commented on #62
We are going to keep it as hibernate-rx`: https://github.com/hibernate/hibernate-rx/commit/9122e4dba8d7915e8512ba0770a5d576b7e0e233

[2020-02-27 16:01] #62 closed

[2020-02-28 11:18] #59 closed

[2020-02-28 11:24] DavideD commented on #59
You only need to set the code style only once, or am I missing something? Checkstyle also make sure that there are no errors and while this is annoying in the beginning I think people tend to get use to it quickly.

I'm going to add a CONTRIBUTING.md to the project with some specific information.

[2020-02-28 11:25] DavideD opened #70 "Add CONTRIBUTING.md to the project"

[2020-03-03 16:37] DavideD opened #72 "Errors are not propagated correctly when loading an entity"

[2020-03-03 16:43] DavideD commented on #72
My bad, there was a mistake in my local  branch

[2020-03-03 16:43] #72 closed

[2020-03-04 14:54] DavideD opened #73 "Test error propagation"
Error propagation is delicate in this project. Everytime we use .handle( (r, e) -> {...}) we need to remember to propagate the error if it's not null or we loose it along the way.

I don't know how to test this, but one idea is to create a fake connector to a db that always throws exception for every operation and check in the unit test if the right exception is thrown.

[2020-03-04 18:53] gavinking commented on #73
Yup, this is a PITA.

[2020-03-06 13:08] DavideD commented on #65
Because of a bugfix in ORM now SessionImpl#internalLoad calls the reactive listener (before it was still using the ORM default load listener).

[2020-03-10 11:20] #65 closed

[2020-03-10 11:25] DavideD opened #75 "Test IdClass"
We need to add tests for when @IdClass is used. In particular, there is a line of code that we converted from ORM that I'm not sure it's correct: https://github.com/hibernate/hibernate-rx/blob/master/hibernate-rx-core/src/main/java/org/hibernate/rx/event/impl/DefaultRxLoadEventListener.java#L141

The mapping to test this should be (but I haven't tried it yet) something like:
[code]
and/or
[code]

[2020-03-16 11:34] OrangeDog opened #76 "Support R2DBC"
There's a project building a reactive alternative to JDBC: https://github.com/r2dbc

Supporting this could be valuable, as they currently have drivers for more than just postgres, and a standard API for reactive database stuff could be better cross-inspired.

[2020-03-17 11:24] DavideD commented on #76
Sounds interesting. Would you like to give it a try?

[2020-03-19 10:56] OrangeDog commented on #76
I'm afraid not. I just wanted to make sure you were aware of each other, as a (hopefully) future user.

[2020-03-20 10:45] DavideD commented on #76
That's ok. Thanks for the heads up, we will get to it as soon as we can.

[2020-03-31 19:55] murphye opened #77 "Reconsider the "Rx" Name"
Rx implies Reactive Extensions (i.e. RxJava) as a dependency. I would recommend changing the name of this project to "hibernate-reactive" or similar to eliminate any upfront confusion.

[2020-03-31 20:27] gavinking commented on #77
@emmanuelbernard WDYT?

[2020-04-01 12:17] FroMage commented on #77
Yeah, it was always a code name.

[2020-04-01 14:03] gavinking commented on #77
Well then we had better change it quick, because it's well along the way to solidifying into a real name!

[2020-04-01 14:08] DavideD commented on #77
I've assigned that to me. I'm going to do it at the end of the week, unless somebody has objections.

[2020-04-01 14:38] gavinking commented on #77
But what are you going to change it to?

[2020-04-01 17:07] gbadner commented on #77
+1 to hibernate-reactive

On Wed, Apr 1, 2020 at 7:45 AM DavideD <notifications@github.com> wrote:

[2020-04-01 20:14] gavinking commented on #77
That's fine but I don't want to type `ReactiveSession` a thousand times....

[2020-04-02 11:05] Sanne commented on #77
I like `HibernateRX` : being "reactive" is a concept, it's not a trademark of RxJava.

[2020-04-03 10:23] DavideD commented on #77
Type? Your keyboard doesn't have a space button?

[2020-04-03 10:44] DavideD commented on #77
To be fair I don't like that much to use a prefix in a class name. Would it be enough to have in the package? Or is it too confusing when working with ORM?
Maybe we could use `R` as prefix?

Here's a summary of the options I could think of (feel free to suggest something different):
1. `org.hibernate.rx.RxSession` (current)
2. `org.hibernate.rx.Session`
3. `org.hibernate.reactive.ReactiveSession`

[2020-04-03 10:46] DavideD commented on #77
I think I will use option 3: `org.hibernate.reactive.ReactiveSession`
But I will wait to hear if there are better suggestions or strong opinions against it.

[2020-04-03 12:59] FroMage commented on #77
I would vote for `3` as well, but perhaps @vietj has an opinion too?

[2020-04-03 14:19] gavinking commented on #77
Yeah, I was trying to come up with a better option, but frankly I drew a blank and I agree with you guys: there doesn't seem to be anything really better than `ReactiveSession`.

I *hate* the lack of type aliases in Java. The only way to hack I can think of would be to have `Reactive.Session`, `Reactive.Query`, etc, and inner interfaces of some `Reactive` type, letting you use static imports if yo

[2020-04-08 14:56] DavideD commented on #54
By the way, I would prefer not to force anybody on a specific container technology. But I would like to be able to write something similar to `gradle -Ddocker` so that people that have that particular technology installed can pick it without having to try to  install something else.

[2020-04-09 17:21] DavideD opened #83 "Keep track of methods that are copies of the ORM ones with an annotation"
Sometimes we have to duplicate some methods from ORM because their scope makes them invisible to us. It would be nice to have an annotation to keep track of these methods so that we can update ORM when possible and won't forget about it.
Does it make sense? Not sure about the name.

[2020-04-09 20:04] gavinking commented on #83
I would say in cases like this we should make the patch for core right away, even if it's not immediately integrated.

[2020-04-09 21:28] aguibert commented on #77
I like options 2 and 4:

Let the package name convey that the classes are "reactive". If we have to add Rx/Reactive as a prefix to all classes then it makes the classes seem like second-class citizens.

The main downside I see of using the same class name as the non-reactive counterparts would be if we expect users to use both classes in the same class (thus requiring fully-qualified class names e

[2020-04-09 21:29] aguibert commented on #76
I could possibly look into this one in a few weeks. I'll be doing some deeper investigation into R2DBC shortly and might have the cycles to connect the two projects together.

[2020-04-09 21:30] aguibert commented on #64
I will look into this once either the DB2 client gets backported to Vertx 3.9 or HibernateRX upgrades to Vertx 4.0 (but probably will be the former)

[2020-04-09 21:32] aguibert opened #84 "Convert from Axle to Mutiny"
According to @Sanne the strategy going forward should be to use Mutiny instead of Axle, so we should convert dependencies over and also upgrade to the newest version of Mutiny (0.0.14 as of writing this).

[2020-04-09 21:46] aguibert commented on #61
Perhaps we could follow the pattern that vertx-sql-client uses which is to have a TCK package that have abstract classes containing the test logic like so: https://github.com/eclipse-vertx/vertx-sql-client/tree/master/vertx-sql-client/src/test/java/io/vertx/sqlclient/tck
and then each DB has to extend the abstract class and override the basic boostrapping bit.

So the overall project layout might

[2020-04-10 15:17] gavinking commented on #84
Well wait up

[2020-04-10 15:22] gavinking commented on #84
Look, the actual thing that is being proposed, _that has not been fully discussed and agreed upon yet_, is to migrate the _API_ of Hibernate RX to use `Uni`/`Multi` instead of `CompletionStage`, or possibly offer both options.

Now, if we're planning on *only* supporting `Uni`/`Multi`, then what we would be doing here is going through all the code of Hibernate RX and migrating all of it away from

[2020-04-10 15:40] gavinking commented on #77
FTR I'm also OK with that, however, I would note that it increases the risk of error when autoimporting.

[2020-04-11 07:59] #54 closed

[2020-04-11 09:08] DavideD opened #86 "Reduce amount of logging on the console during the build"
I want to set `showStandardStreams = false`
Any objection about it?

Right now it takes me longer to figure out which test failed because it's hidden by all the info log.
I assume that on CI we can set the property when we launch the build if we want to keep that amount of info.

[2020-04-11 09:28] DavideD commented on #86
[code]

Will produce the same amount of output

[2020-04-11 09:55] DavideD commented on #83
Fair enough.
I was trying to be lazy :)

[2020-04-11 09:55] #83 closed

[2020-04-11 11:11] DavideD commented on #61
Thanks, seems helpful.
I haven't checked the links yet but
I agree that at some point we will have to organize the project in a similar way.

I'm not sure, but it might not be enough. For example, in core we might have several tests running HQL queries and I would like to make sure that they work on all the datastores. I don't want  to extend several classes in each module. The only thing that wou

[2020-04-11 11:18] DavideD commented on #84
That's what I was expecting and I think it would be nice to see what it involves with an initial PR.

As far as I can see converting a Uni/Multi to CompletionStage is quite trivial, so mantaining both API could be done by adding a facade on top of Mutiny that converts the results to CompletionStage (I think).

Wouldn't that make sense?

[2020-04-11 11:21] DavideD commented on #76
Sounds great. Please, assign this to yourself when you start to work on it so that people can see that somebody is taking care of it. Unless somebody else wants to send a PR before you start to work on it :)

[2020-04-11 14:46] aguibert commented on #61
That does sound like a nice mechanism, please leave a pointer to it here once you find it @DavideD. The tradeoff I think we should be mindful of is doing something "too magical" as you described in the OP. In general for tests I try to optimize for ease of maintainability (thinking about others needing to understand it too) over ease of writing the tests.

[2020-04-11 14:54] aguibert commented on #84
+1 on using Uni/Multi by default. I think it's very similar to Reactor's Mono/Flux concept which I like a lot and it is easy for users to grasp.

Since it's so easy to convert to completion stage (just tack on `.convert().toCompletionStage()`) we may not even need to provide a facade since users could easily convert on their own. We could always provide a facade later if we find that users prefer

[2020-04-11 15:03] gavinking commented on #84
Right, but here's my issue: Mutiny and `CompletionStage` aren't AFAIK the only things in the whole wide reactive universe, and at some stage we might want to support something else as well. If that's likely, then it seems to me that it would make more sense to retain `CompletionStage` as the "lowest common denominator" thing, merely because it's right there in the JDK, and doesn't require that peo

[2020-04-11 15:04] gavinking commented on #84
(If `MutinySession` is just a façade, then I suppose that mutiny could be an optional dependency. But if we reimplement this project to use mutiny APIs internally, then it's going to be a hard requirement at runtime.)

[2020-04-11 15:08] gavinking commented on #61
The question is whether we truly have a hard requirement to test all our functionality across multiple platforms. I would have thought that we're happy to trust Hibernate ORM to shield us from differences between databases, and as long as we have some basic smoke tests for the other DBs, we don't really need to aggressively test *everything* on all of them.

But whatever, I'm certainly not *agains

[2020-04-11 15:14] gavinking commented on #76
@aguibert That would be great. It might actually be quite easy to support these drivers, since our dependency to Axle is really pretty localized.

[2020-04-11 15:21] aguibert commented on #84
That's a very valid point @gavinking. I think the thing that would make Mutiny a good base-requirement option is the fact that it has explicit bridge methods for all of the big reactive APIs out there today: CompletionStage, Reactor, and RxJava (see the "[How do I interact with X](https://smallrye.io/smallrye-mutiny/#_how_do_i_interact_with_completionstages)" sections)

To me this makes Mutiny loo

[2020-04-11 15:30] aguibert commented on #61
I think it would be good to test on all DBs because, while Hibernate itself is battle-tested, the Vertx drivers we are building on top of are not necessarily. Especially in the case of the DB2 and MSSQL drivers -- both are very new and Hibernate-rx is the first "real world" usage they are getting. We are writing as many tests as we can in the driver layer, but we'll never be able to match the stab

[2020-04-11 15:51] gavinking commented on #61
That's a good point.

[2020-04-11 16:02] Sanne commented on #84
I would prefer having Mutiny only on the exposed API initially: it's a very
young project and we don't know yet how cast in stone it is, how it
performs, etc..

Of course I don't mean it should be strictly exclusively referenced in the
API but take the boundaries in the most pragmatic manner, and keeping in
mind that indeed we'd prefer to keep our options open to other models.

We could eventually

[2020-04-11 20:35] gavinking commented on #77
Given that we're ultimately almost certain to have multiple flavors of reactive session, I would like to propose the following:

- `MutinySession` for Mutiny
- `CompletableSession` or something like that for `CompletionStage`
- etc

WDYT?

[2020-04-14 08:23] FroMage commented on #77
Is this the only user-facing API that exposes reactive type flavours?

[2020-04-14 08:26] Sanne commented on #77
Among the "main" APIs consider the `Query` equivalents as well.

For the record, I believe "Rx" has a nice ring to it, and it's not _owned_ by RxJava project at all - as I mentioned above - so I'd like to keep the name as the others just don't sound right.

[2020-04-14 09:56] #86 closed

[2020-04-14 10:05] DavideD commented on #75
Merged https://github.com/hibernate/hibernate-rx/pull/89

Thanks a lot!

[2020-04-14 10:05] #75 closed

[2020-04-14 15:12] aguibert commented on #76
@gavinking  @DavideD Would you prefer to have this worked in sooner or later? On one hand it would be nice to get it integrated sooner so we can be mindful of the requirements of abstracting over both APIs from the start, but on the other hand it will slow us down a bit to need to create extra abstractions over both APIs as we iterate on the HibernateRX design itself

[2020-04-14 15:31] DavideD commented on #76
I don't know, do we really need that much more abstraction to support it? Maybe you can have a quick look and let us know more about how hard it is going to be? (Unless you have already looked into it)

[2020-04-14 15:37] gavinking commented on #76
I don't see it as something we need to have in the first release, but if it's straightforward, it would certainly be nice to have.

I doubt it. Interaction with the database is already pretty well encapsulated within just a couple of classes.

I don't imagine the impact will be enough to slow us down.

[2020-04-14 16:35] aguibert commented on #55
Closing this issue since we now have a TravisCI pipeline in place.

CC @DavideD

[2020-04-14 16:35] #55 closed

[2020-04-14 16:50] gbadner commented on #40
FYI, a PR for adding custom `EventType` and listeners is getting close:
https://github.com/hibernate/hibernate-orm/pull/3332

[2020-04-14 16:51] DavideD commented on #55
Thanks @aguibert, Can you link on the right the correct PR under `Linked Pull Requests`, please?

[2020-04-14 19:12] gavinking commented on #40
@gbadner Excellent! I was going to ask you about that.

[2020-04-14 23:42] aguibert commented on #64
After temporarily rebasing on Vertx 4 locally (in order to be able to use the DB2 module) I was able to get the basic insert+find scenario working, found/fixed a few bugs along the way too, so this gives me good confidence that once I backport the DB2 client to Vertx 3 it will work with Hibernate RX initially

[2020-04-15 10:25] emmanuelbernard commented on #77
On the contract structure

I don't like the overloading of the `Session` interface, as Gavin pointed out, it leads to auto completion errors and a cognitive overload for people.

So +1 for either of the following patterns:
- `MutinySession`, `RxJava2Session`, `JDKReactiveSession` (for CompletionStage and Flow)
- `SessionMutiny`, `SessionRxJava2` etc

An alternative pattern is `reactiveSession.forM

[2020-04-15 10:26] emmanuelbernard commented on #77
On the name, I guess Hibernate ORM Reactive is fine `hibernate-orm-reactive` but @FroMage what about "Panache Rx" does it go over a similar transformation?

[2020-04-15 10:34] gavinking commented on #77
@emmanuelbernard note that the current way to obtain a `Session` and `SessionFactory` is:

    RxSessionFactory sessionFactory = emf.unwrap(RxSessionFactory.class);
    RxSession session = sessionFactory.openRxSession();

I'm fairly happy with this pattern.

Ugh. That looks horrible for something we're likely to see so often in code.

Yes, it's already there and it's currently called `RxQuery`. Bu

[2020-04-15 10:39] gavinking commented on #77
Honestly, I'm increasingly liking the following option:

[code]

or:

[code]

And then, once I know for sure I'm using `Mutiny`, I can just write:

[code]

I *think* the outer class substantially alleviates the problem of accidenting the auto-import. (Though it does have other disadvantages.)

[2020-04-15 10:59] #35 closed

[2020-04-15 11:03] Sanne commented on #77
that looks brilliant @gavinking

[2020-04-15 11:07] DavideD commented on #77
@gavinking I really like your last proposal.

For example?

[2020-04-15 11:25] gavinking commented on #77
@DavideD well one disadvantage is that IDE's don't usually automatically add static imports. (Though you can configure them to do it.)

[2020-04-15 11:39] emmanuelbernard commented on #77
From most of the feedback I've gathered, people hate `CompletionStage` and go for RxJava or friends. So that version would be the poor man's choice.

[2020-04-15 11:43] Sanne commented on #77
Are you trying to make sure it has not a chance of being used ? :-D

[2020-04-15 11:43] gavinking commented on #77
Sure, I hate it too.

[2020-04-15 12:37] DavideD opened #92 "DefaultRxDeleteEventListener#cascadeAfterDelete() needs to be chained correctly"
See https://github.com/hibernate/hibernate-rx/pull/91

In short, right now the related CompletionStage for beforeDelete and afterDelete might not be executed in the right order

[2020-04-15 13:17] gavinking commented on #64
@aguibert Any chance we could get this into the first release? I would *love* to have DB2 support!

[2020-04-15 13:47] FroMage commented on #77
That's a pretty strong point against it, that you can't write `Session` and get an IDE proposal to import `static Mutiny.Session`, so you always have to type it out prefixed `Mutiny.Session`. And all docs will have to include imports too, which makes it hard to copy/paste.

Yes. It's always been a codename.

[2020-04-15 13:53] Sanne commented on #77
I don't feel it's that strong: they can still write `Mutiny.SessionFactory`, like we probably should stick to in documentation (so we won't have to include imports, even though maybe we always should as a general rule).

[2020-04-15 14:14] gavinking commented on #77
@FroMage it's not that bad. In intelliJ go to **Settings > Code Style > Java > Imports**. In Eclipse there's something similar.

[2020-04-15 14:16] aguibert commented on #64
Me too! Do you have an ETA on first release @gavinking?

I will have to backport the DB2 driver to Vertx 3.X (which is non-trivial I've been told). It will also require me to keep 3.X and 4.X in sync after I backport, so I am trying to stabilize it as much as possible before I do that split.

[2020-04-15 15:17] gavinking commented on #64
Ask @emmanuelbernard.

[2020-04-15 17:07] emmanuelbernard commented on #64
@aguibert ideally Quarkus 1.5 which would be a month or so after 1.4 is out. So you have a month in front of you.

[2020-04-16 13:33] Sanne commented on #40
FYI Gail's patch was merged in Hibernate ORM, but keep in mind that next ORM's release having it is `5.5.0.Beta1`  (we bumped the minor version).

So ORM 5.4.x is now "stable" for sake of Quarkus, while 5.5x is more suited for fast evolving work like this.

[2020-04-16 14:46] gavinking opened #94 "Mutiny Session API"
Alright, so I've been playing with Mutiny, very superficially, just to get a feel for how the reactive `Session` API would look with this.

So first, it seems that there are sorta two reasonable modes of usage. The first looks like this, and is the the way I think they want me to do it:

[code]

The second way looks like this:

[code]

My initial, superficial, impression is that I prefer the look

[2020-04-16 14:50] gavinking commented on #94
P.S. I could push some code onto a branch if anyone else wants to try this out.

[2020-04-16 14:56] DavideD commented on #94
Thanks, That would be nice

[2020-04-16 14:58] gavinking commented on #94
Here's another pair of examples:

[code]

vs:

[code]

[2020-04-16 15:01] FroMage commented on #94
Well, isn't `map` a shortcut for `onItem().produceUni`? I mean both options are equivalent, no?

[2020-04-16 15:02] gavinking commented on #94
Isn't that `flatMap()`

[2020-04-16 15:03] cescoffier commented on #94
@gavinking

That actually can still be changed. To be honest, I don't like `produceX` either.

`map` is `onItem().apply`
`flatMap` is `onItem().produceUni()`

[2020-04-16 15:11] cescoffier commented on #94
About `applyX`, I want to rethink this part very soon. As I said, I'm not satisfied either. `applyX` is a good idea. I need to see the results.

About having shortcut for `onItem().invoke()`, it's mostly a name issue... I don't like the traditional `doOnNext`. Maybe `invokeOnItem() / invokeOnFailure()`, or the opposite `onItemInvoke(...);`, or just `onItem(...)`.

[2020-04-16 15:17] gavinking commented on #94
I don't completely *hate* `accept()` but I don't love it either. I will try to think of something better.

[2020-04-16 15:43] gavinking commented on #94
Oh, of course, actually the traditional name for this operation is `forEach()` or `each()`. Perhaps that makes sense, given that `Multi` also needs it...

[2020-04-16 17:08] gavinking commented on #94
See: <https://github.com/gavinking/hibernate-rx/tree/mutiny>

[2020-04-16 17:15] gbadner commented on #40
@gavinking, @Sanne, I see that @sebersole suggested a change in how listeners get contributed:
https://github.com/hibernate/hibernate-orm/pull/3332#discussion_r409576346

I'll create a new PR to do that.

[2020-04-16 17:18] gavinking commented on #40
Ok, but @emmanuelbernard wants this "fast evolving work" in the next release of Quarkus :-)

[2020-04-16 17:19] gavinking commented on #40
Anyway, thanks for this @gbadner!

[2020-04-16 18:43] sebersole commented on #40
FWIW I am working on a PR for my suggestion

On Thu, Apr 16, 2020 at 12:19 PM Gavin King <notifications@github.com>
wrote:

[2020-04-16 19:12] gbadner commented on #40
OK, thanks @sebersole!

[2020-04-16 20:27] Sanne commented on #40
Sure. He also wants JPA 3... Either way, we'll have the option to either upgrade Quarkus to ORM 5.5 or backport a selection of patches we need for RX to 5.4.

I believe the decision can be deferred, but I'm betting on our need to deliver both Rx and JPA 3 at about the same time.

[2020-04-16 21:47] gbadner commented on #92
@gavinking, would it help if I came up with some failing test cases, and fixed this?

[2020-04-16 22:09] gavinking commented on #92
@gbadner a failing test case would be great because I don't have one right now ... but I sorta wanted to look at it myself 'cos I need to think a little bit carefully about the whole model for how cascade works now that we know for sure that we can't just do it all synchronously (I think we already realized that in 985e6376367ed290c60727df0c555b468a71c174, if you recall).

[2020-04-17 12:18] sebersole commented on #40
I need a clarification.  The PR Gail originally worked on provided the ability for RX to register completely new event-types, not just register listeners against the standard set of event-type.

I guess the first question... is that really a requirement here?  Limited to just this discussion thread, I have not seen any mention of wanting to register custom event types.  If that is really the inten

[2020-04-17 12:42] gavinking commented on #40
Yep, that's the functionality I wanted. The basic issue is that, for example, our `persist()` operation is really just a bit too different to the semantics of the similarly-named operation in core, and we just can't really reuse much of the same orchestrating code. We're not really using our listeners to slightly adjust the behavior of `Session.persist()`, they're actually implementing a completel

[2020-04-17 12:48] gavinking commented on #40
@sebersole by the way, just FYI, I already tried a different solution which was to simply not use core's event listener registry at all and maintain our own registry of event listeners. The problem with that was that then it was essentially impossible to get hold of certain other things I needed (the thing that invokes JPA lifecycle callbacks) which are only available via some sort of injection in

[2020-04-17 12:52] sebersole commented on #40
Ok, thanks.  That's what I was after.

Regarding the last comment, yep, that's part of the restructuring I was contemplating anyway.

[2020-04-17 13:53] sebersole commented on #40
Stating this another way.. please correct me if I am wrong.

You really don't even care if RX uses Hibernate's "event system" at all for handling the various RX calls.  You really just need to be able to access the JPA callbacks (CallbackRegistry).

Assuming I am correct, do you have a preference?  Register custom event-types or provide a way to access JPA callbacks?

[2020-04-17 14:33] gavinking commented on #40
It's not necessary, but I think it would probably be nicer.

Yes, that's correct.

I would prefer it if we could register new event types with Hibernate's existing infrastructure.

[2020-04-17 18:00] murphye commented on #77
For what it's worth, Mutiny should be considered the default API in my opinion. The rest could fall under some `compat` package. Even the CompletionStage version :-)

[2020-04-21 17:29] DavideD opened #95 "RxPersistenceContextAdapter should extend StatefulPersistenceContext"
Right now it implements `PersistenceContext` but it forces use to delegate a lot of code. It requires some changes in ORM

[2020-04-21 17:45] gavinking commented on #95
Yep!

[2020-04-23 14:51] gavinking commented on #52
OK, given the votes in favor from @vietj, @FroMage, @aguibert, and the lack of strong objection from anybody else, I think I'll go ahead and merge #93.

[2020-04-23 14:52] DavideD commented on #52
OK, sounds good to me

[2020-04-23 14:55] DavideD commented on #52
Plus, if we realize that it makes sense to have Optional somewhere we can always add the method later

[2020-04-23 16:06] gavinking commented on #52
Done.

[2020-04-23 16:06] #52 closed

[2020-04-24 17:48] murphye commented on #77
Per the email thread on imperative->reactive loop conversions and Clement adding trampolines to Mutiny, might be another supporting argument for make Mutiny default for Reactive Hibernate. Gavin had some concerns about the current implementation here.

[2020-04-24 18:52] aguibert commented on #84
Closing this issue as a duplicate of #94

[2020-04-24 18:52] #84 closed

[2020-04-24 20:22] aguibert commented on #94
I tried out the Mutiny Session API proposal locally and it looks good @gavinking

+1 on a shortcut for `onItem().invoke()`, since that is an extremely common operation (but that's more of a comment for @cescoffier for Mutiny API itself)

The only other comment I had was to make the entry point a bit cleaner (the `openMutinySession()` helper method is pretty verbose), but I assume we will refine AP

[2020-04-24 20:59] gavinking commented on #94
Yes yes, of course, please ignore the code which constructs a `Mutiny.Session` using `new`. That's of course going to look like `.unwrap(Mutiny.SessionFactory).createMutinySession()` or whatever.

[2020-04-25 11:12] gavinking opened #96 "Blobs/Clobs"
We need to discuss Blobs and Clobs. Apparently the vert.x driver has some level of support for them (mapping them to `Buffer`), though I don't know any details, and it's not discussed at all in the documentation.

Now, Blob/Clob support has always been a bit uncomfortable in regular Hibernate, but it occurs to me that perhaps it might be a little more natural in this model.

I wonder who knows mor

[2020-04-27 09:26] emmanuelbernard commented on #96
@vietj is the right person.

[2020-04-27 18:12] andreas-eberle opened #99 "Feature Request: Add kotlin coroutines support"
Hi guys,

I'm really looking forward to beeing able to use non blocking hibernate!

Would you also consider adding kotlin coroutines support? Probably as a second library, something like hibernate-ktx or so. I think this would be an awesome addition.

[2020-04-29 11:31] DavideD opened #102 "Release process"
We need to be able to release the artifacts via gradle.
Hibernate ORM already has a solution for this and we should aim to use the same approach.
Here's some of the files in ORM responsible for the release:

- https://github.com/hibernate/hibernate-orm/blob/master/release/release.gradle
- https://github.com/hibernate/hibernate-orm/blob/master/gradle/published-java-module.gradle
- https://github.co

[2020-05-01 13:48] aguibert opened #104 "schema export via Vert.x driver instead of JDBC"
Currently the `RxPersistenceProvider` does not have schema support, which means things like automatic table creation need to be done by JDBC.

It seems a bit awkward to require users to add/configure a JDBC driver if their app is only using RX. In theory we should be able to do all of the same schema generation using RxConnection instead of JDBC Connection.

[2020-05-01 14:39] aguibert commented on #94
@gavinking are we waiting on anyone else to weigh in on this? If no, want to go ahead and make a PR with your proposed changes in your mutiny branch?

[2020-05-01 14:46] DavideD commented on #104
It is a bit weird. At the same time I would prefer not to have too many ways to configure the same connection string. In the future a user will probably be able to use ORM with Rx and it might want to use the Rx API only in some cases. It is also nice that we use properties that are already familiar to an ORM user.

[2020-05-01 15:31] DavideD commented on #104
Ah sorry. I've just realized that you weren't talking about the property names.

[2020-05-01 16:53] aguibert commented on #104
By the same token I don't think we should over-reach with making things convenient/familiar. For example, right now we support configuring RX with a `jdbc` protocol URL, which is convenient/familiar but not technically correct since we're not using JDBC.

[2020-05-01 16:58] aguibert opened #105 "Allow configuration via Vertx Pool"
Currently it is only possible to configure RX via URL. However, it would also be good to configure RX by passing in an `io.vertx.sqlclient.Pool` instance.

This would have 2 benefits:
 - It will allow the same Vertx Pool to be used by other components. For example, in Quarkus you can configure a Pool via a set of properties and inject the `Pool` into your application. This would allow the same und

[2020-05-01 17:05] DavideD commented on #104
Mostly, I'm wondering if there is a use case where  one would want to use
different configuration parameters.
I guess it could happen if the native reactive driver has some specific
properties.

Anyway, I guess we will have to have similar properties to the ORM ones but
with the`jdbc` part removed from the name.
And decide what happens if only one type of properties is set.

On Fri, May 1, 2020 at

[2020-05-01 18:33] gavinking commented on #104
I think we should stick with the standard JDBC URL format because:

- it's standard
- it's well-documented by the database vendors
- everyone already knows it
- it makes it easier to configure Hibernate RX *and* plain Hibernate or plain JDBC at the same time

[2020-05-01 18:34] gavinking commented on #94
@aguibert It's not ready yet, there's still some stuff to figure out.

[2020-05-02 14:33] aguibert commented on #104
@DavideD I may have not properly described the issue in the OP, but how does config parameters come into play for schema gen?

To re-state the intent I had with this issue, I'm suggesting that the automatic drop/create table procedures can be done without needing to involve any JDBC drivers or jdbc-only config (if RX happens to re-use the same properties, that's fine though)

[2020-05-03 09:38] DavideD commented on #104
Yeah, got it. My bad. I read it too quickly the first time.

This sentence here made me think you were talking about the fact that we use the properties for the JDBC configuration that already existis in ORM. It's still nice that we talked about it and I'm not planning to change them for now.

[2020-05-07 18:49] Sanne commented on #77
This discussion evolved on the hibernate-dev mailing list.  We all seem inclined to go with `Hibernate Reactive`... ok?

Would be best to reply on the mailing list.

Reminder, to register see:
 - https://lists.jboss.org/mailman/listinfo/hibernate-dev

Specifically this is the big thread relating to this issue (among other things):
 - https://lists.jboss.org/pipermail/hibernate-dev/2020-May/018774.

[2020-05-07 20:12] FroMage commented on #77
:champagne:

What big thread, there's a single email ;)

[2020-05-07 21:15] aguibert commented on #77
Personally I still like HibernateRX better -- I agree w/ Sanne that RxJava doesn't own "Rx" and IMO HibernateRX is a catchy name. Hibernate Reactive seems more like a description than a name. Just my $0.02 and I didn't want to clutter the mailing list thread w/ this.

[2020-05-07 21:32] emmanuelbernard commented on #77
The problem @aguibert is that what does the x stand for in your Hibernate Rx name ?
Reactive Extension is something specific https://en.m.wikipedia.org/wiki/Reactive_extensions

[2020-05-08 00:52] aguibert commented on #77
right, I would think Hibernate Rx would just stand for "Hibernate Reactive Extensions". Reactive Extensions is something specific, but it refers to a concept, not a particular product or project. IMO what we are doing here still fits that concept.

Since it looks like we are as close to consensus as we will ever get with the name "Hibernate Reactive", I'm totally fine with that name too though.

[2020-05-08 10:23] gavinking opened #109 "Add unproxy() method to session"
As noticed by @gbadner the `fetch()` method currently features the semantics of `Hibernate.unproxy()` rather than the semantics of `Hibernate.initialize()` (i.e. it passes your callback a "naked" reference to the entity).

That's probably wrong, and we should change it. But if we do so, we should add an additional method with the semantics of `unproxy()`.

[2020-05-08 22:10] gbadner commented on #109
I pushed a fix to `CascadeComplicatedTest`. Now `#testMergeTransient` passes.

[2020-05-12 13:49] Sanne opened #111 "Rename the project to 'Hibernate Reactive'"
as discussed on #77 and the mailing list.

- [x] Rename all packages
- [x] Review interface names
- [x] Review build scritps: artifact names & co
- [x] Review `readme` & other docs
- [x] Review examples
- [ ] Update the Quarkus extension draft to match
- [x] Find & replace as needed: code comments, javadoc, etc

[2020-05-12 13:49] Sanne commented on #77
I'll close this as there was no revolt as consequence from Emmanuel's email on the mailing list :)

`Hibernate Reactive` it is! Thanks again @murphye and all

Followed up by #111

[2020-05-12 13:49] #77 closed

[2020-05-13 10:59] gavinking commented on #105
@aguibert am I right in assuming that this is something you require in order to simplify Quarkus integration?

[2020-05-13 11:02] gavinking commented on #104
So previously I was arguing that doing the schema export over JDBC was perfectly fine. (What's a reactive schema export?)

However, phone conversation with @emmanuelbernard and @Sanne, it's come to my attention that this is indeed actually a potential pain point for Quarkus users.

I should have paid more attention to @aguibert when he tried to warn me about this.

So, anyway, this is indeed an is

[2020-05-13 11:05] gavinking commented on #111
Note that this issue includes a rename of all packages and interfaces with `rx` or `Rx` in their names.

[2020-05-13 11:11] Sanne commented on #104
weird idea - forgive me if it's silly as I don't really know - but wondering if we could wrap the reactive driver into a JDBC compatible adapter, then feed that into the schema gen code?

I guess such work would be overkill if it would just facilitate the schemagen tools, but perhaps there's more uses?

[2020-05-13 11:26] gavinking commented on #104
@Sanne

Well there is an abstraction here, called `GenerationTarget`. We might be able to implement that, though I'm not 100% sure exactly how one goes about plugging one in.

Failing that, one thing we might be able to do is ask the schema export tool to export a `SCRIPT`, and then just send the commands one-by-one to the DB.

[2020-05-13 11:28] gavinking commented on #104
The problem is that the list of these targets seems to be hardcoded, without any obvious way to add a new one. But a small fix to core might be enough to solve that.

[2020-05-13 12:00] emmanuelbernard commented on #105
That’s right.

[2020-05-13 12:23] Sanne commented on #104
Ok. While this is still not the top priority, I'll defer releasing the next ORM as much as feasible, so in case someone finds the time we can include some more last minute patches.

For reference, remember that performing the release really doesn' take us long: about 20 minutes. But then we need to wait for Maven central synchronization and all that before it can actually be used :(
Which implies

[2020-05-13 12:35] Sanne commented on #111
good point Gavin. I've added a checklist

[2020-05-13 14:51] gavinking commented on #105
So do we need it in the *initial* release?

[2020-05-13 14:53] gavinking commented on #104
I'll set aside some time to attempt this. Perhaps it's super-simple. We'll find out.

[2020-05-13 17:06] emmanuelbernard commented on #105
It would be much much better otherwise it’s more work on the extension, need some extra mapping of properties and of course double the pool usage for nothing

[2020-05-13 17:12] gavinking commented on #105
Then we need a volunteer to work on it.

[2020-05-13 19:26] gavinking commented on #104
So, indeed, it was *relatively* straightforward, but it raised an issue I hadn't considered: Hibernate Reactive no longer has access to JDBC metadata, which does have *some* consequences, but I don't think they're *too* terrible. Fortunately Hibernate was written when JDBC metadata was very unreliable, and doesn't really depend on it.

I guess that's OK.

Also it exposed a bug in `ForeignKeys` whe

[2020-05-13 19:35] gavinking opened #113 "fetching snapshot from database uses JDBC"
In the following stack trace, we see that Hibernate Reactive calls JDBC. Oops.

[code]

[2020-05-13 20:29] Sanne commented on #104
Awesome, thanks!

[2020-05-13 21:47] Sanne commented on #104
Gavin's fix was merged in ORM; schema creation should be doable now.

I suspect automated schema update is a fair bit more complicated though - can we agree that's less important for the first cut?

[2020-05-13 22:55] gavinking commented on #104
Thanks.

Oh, *much* more difficult, since the current implementation is entirely based on JDBC metadata, IIRC.

Yeah, I have no intention at all of working on that at this stage. Nor do I think it's needed.

[2020-05-13 23:06] gavinking commented on #104
@Sanne how long before we get a release of ORM core with that change in it?

[2020-05-14 06:08] emmanuelbernard commented on #105
@aguibert do you think you would have the bandwidth for this?

[2020-05-14 09:16] gavinking commented on #113
So my partial fix is good, but unfortunately there's more to this. The following stack trace shows that we're going to need to rewrite an even bigger chunk of `ForeignKeys` in reactive form.

[code]

[2020-05-14 09:32] gavinking commented on #113
So fixing this is going to be significantly more involved, but it's necessary since this bug pretty much stops you using Hibernate Reactive with manually-assigned ids.

[2020-05-14 09:47] #92 closed

[2020-05-14 10:04] DavideD commented on #92
I've created this PR to fix the fact that we don't rethrow the exceptions in a couple of places: https://github.com/hibernate/hibernate-reactive/pull/114

[2020-05-14 11:08] #105 closed

[2020-05-14 12:37] Sanne commented on #104
@gavinking we can plan a release on Monday. I wonder though - if there's more changes possibly needed maybe it's best to defer?
We're also working on some other fixes that Quarkus needs - so while we can releas one whenever we like, the later the more fixes.

[2020-05-14 12:56] gavinking commented on #104
@Sanne No hold tight, that comment was made before I discovered #113.

[2020-05-14 13:58] aguibert commented on #104
@gavinking at some point could you write up an issue on Vertx-sql-client outlining what sorts of DB metadata is needed by Hibernate? The Vertx client should have a better metadata API than it currently does someday.

[2020-05-14 14:16] aguibert commented on #105
Sorry, was on vacation yesterday. I had already done the work for this but forgot to link the PR to the issue: https://github.com/hibernate/hibernate-reactive/pull/110

It is merged now

[2020-05-14 14:24] BillyYccc commented on #104
+1 for Andrew!

We have an initiative to build a metadata fetching API for Postgres in
https://github.com/eclipse-vertx/vertx-sql-client/pull/513. Feedbacks will
certainly help us build a better generic API around this.

On Thu, May 14, 2020 at 9:58 PM Andrew Guibert <notifications@github.com>
wrote:

[2020-05-14 14:44] gavinking commented on #104
What the schema management tools needs is access to the information in `information_schema.tables` and I guess also `information_schema.key_column_usage`.

[2020-05-14 14:45] gavinking commented on #104
Note that one option is for it to get that information directly by querying the `information_schema`. Historically it just the JDBC metadata API for that, in order to abstract away from platform differences.

[2020-05-15 17:14] aguibert commented on #61
Now that I'm looking into pulling in the DB2 module, I think it would be a good time to restructure our testing so we can easily re-run all tests with different DBs.

## Proposal

Have one set of test source, but the DB used is control by an envvar/system property (e.g. `-Ddb=MySQL`). When running things locally, you can easily swap between DBs by changing that flag.
When running in CI, we will wa

[2020-05-15 17:27] gavinking commented on #113
Uuuff, I thought I was most-of-the-way-done on this one (I've finished rewriting `ForeignKeys`) and now I've found that another path into `ForeignKeys.isTransient()` is via `EntityType.getIdentifier()`.

Now *that's* worrying.

It might be that we really need to go down the other path and only support assigned primitive ids with bytecode processing. WDYT, @Sanne?

[2020-05-15 18:13] gavinking commented on #113
I've also now run into @FroMage's problem of needing to trampoline everything. This is getting crazy.

[2020-05-15 19:17] gavinking commented on #113
Alright, so https://github.com/hibernate/hibernate-reactive/commit/f70e93cf4c0df4ae9c75d0e68269ea3c61ab4d3a "fixes" this issue, at least for the situations we currently have tests for.

I'm not at all happy with what I did here. Unless I can rewrite this code significantly, I think the performance cost (stack depth) is likely to be unacceptable.

[2020-05-15 19:41] Sanne commented on #113
"trampoline" ??

I suppose that could be fine for Quarkus - but would you require build time enhancement for all non-Quarkus users ?
I guess we could "strongly suggest it" - in which case your fallback could be the strategy that people get when they are too lazy to bother.

[2020-05-15 20:39] gavinking commented on #113
Because we don't gots no tail recursion.

There might be another solution, but I've got to try it out.

Well that's the question. Precisely what does that *look* like these days, from the user point of view.

[2020-05-15 20:45] Sanne commented on #113
We have Gradle and Maven plugins; but it seems only selected power users actually remember to add them to their build.

WildFly does its own magic, as it controls the classloader / deployments and has a specific subsystem for Hibernate.

[2020-05-15 20:47] Sanne commented on #113
Also to consider: enhancing entities using Hibernate version X means the packaged application gets strictly tied to version X - this is tricky for people.

So the strategies used by Quarkus and WildFly are generally preferrable, as the version coupling is enforced.

[2020-05-15 20:59] gavinking commented on #113
Ugh, OK.

[2020-05-18 10:21] gavinking opened #120 "Query parameter support and result limits and offset"
Support `Query.setParameter()` and `Query.setMaxResults()`.

Note that `Query.setMaxResults()` is mostly working, except for parameter binding, so these two things seem to be related.

[2020-05-18 15:53] gavinking commented on #113
This is fixed at least well enough for now.

[2020-05-18 15:53] #113 closed

[2020-05-18 16:57] DavideD opened #121 "Upgrade to ORM 5.4.16.Final"

[2020-05-18 17:18] gavinking commented on #104
This is done!

And it's done in a way that's pretty transparent to the user: if they have a JDBC driver or connection pool set up, then Hibernate ORM will do the schema export over JDBC but *iff* they don't have a JDCB driver, then schema export over the Vert.x driver will kick in.

[2020-05-18 17:18] #104 closed

[2020-05-18 17:24] DavideD commented on #104
That's awesome!
Thanks a lot

[2020-05-18 17:34] gavinking commented on #61
If it can be done without slowing me down when I'm running the tests quickly inside my IDE, I don't mind.

(But I'm super-anal about this shit. Slow test suites make development almost impossible.)

[2020-05-18 17:38] DavideD commented on #61
Sounds good to me.

I don't think it's going to be that slow in the beginning. But even so, I'm sure we can find ways to make it faster.

[2020-05-18 17:43] DavideD commented on #111
Should we also rename packages called `impl` to `internal` like in ORM?

[2020-05-18 18:02] #121 closed

[2020-05-18 18:11] DavideD commented on #120
@gavinking are you working on this or is it something I can look into?

[2020-05-18 18:12] DavideD opened #123 "native query support"

[2020-05-18 18:13] gavinking commented on #120
@DavideD I have a couple of other tasks I'm still working on right now, so if you want to make a start go for it

[2020-05-18 18:14] #109 closed

[2020-05-18 18:14] gavinking commented on #109
Done.

[2020-05-18 18:24] DavideD commented on #120
Cool, thanks

[2020-05-18 18:28] gavinking commented on #123
@DavideD this is a dupe of #46.

[2020-05-18 18:31] gavinking commented on #15
Closing. Remaining work is in #120.

Thanks @DavideD!

[2020-05-18 18:31] #15 closed

[2020-05-18 18:37] DavideD commented on #123
Sorry, didn't realise there was one already

On Mon, 18 May 2020, 19:28 Gavin King, <notifications@github.com> wrote:

[2020-05-18 18:46] gavinking commented on #25
Alright, so it's finally time we discussed this one.

I've been holding back on doing anything about this because I already feel a deep sense of shame at having been present at the creation of *two* major dupes of `UserTransaction` within the Java ecosystem, and I really dread compounding this shame by being the guy to make a *third* one.

We've identified the following important environments for

[2020-05-18 18:55] Sanne commented on #111
Sounds good to me, it's a bit clearer.. no strong opinion though

[2020-05-18 18:57] gavinking commented on #111
Don't care.

[2020-05-18 19:03] Sanne commented on #104
just curious, why should it try to use the JDBC approach first?  If we have the capability to run it over vertx, why not do it always?

It might get confusing to users if there's different behaviours being triggered just because some unrelated connection is being setup. Also - how do you know if that other connection really points to the same DB?

[2020-05-18 19:14] gavinking commented on #104
Well if you have regular Hibernate right there set up with a regular JDBC driver why not use it? Reactive schema export isn't a meaningful thing. To make this even work we have to do a totally nasty `join()` at the end, which Vert.x find quite upsetting.

[2020-05-18 19:14] gavinking commented on #104
Cos it's the same JDBC URL?

[2020-05-18 19:25] aguibert commented on #25
Vertx has a notion of resource-local transactions via `io.vertx.sqlclient.Transaction` `commit()` and `rollback()`. However, there is currently no support for XA transactions in Vertx Sql client.

@gavinking for this topic, is resource-local transactions enough or do we need XA too? I will admit that I'm not quite sure what the relationship between XA and JTA transactions are, but I know that XA t

[2020-05-18 19:45] gavinking commented on #25
Resource-local transactions are good enough for many programs.

Right, so if the driver doesn't support them then HR can't either.

Eventually we might want to push Vert.x to support XA, but it's certainly not something we need to be worrying about right now.

If you want two-phase commit (distributed txns) then you'll need to support the XA protocol. JTA is a much higher-level API.

[2020-05-18 20:23] aguibert commented on #61
I'll try to do it in the most transparent way possible. There may be some extra bumps (from CI builds failing more often) but we need the extra coverage since we are getting close to first release.

[2020-05-18 21:12] gavinking commented on #26
Done, though I still need to add a test for filters with parameters, once we have parameter binding.

[2020-05-18 21:15] gavinking commented on #123
OK, no problem, then I'll close this one.

[2020-05-18 21:15] #123 closed

[2020-05-18 22:03] aguibert commented on #25
Since we already have the Vertx `Pool` in our `RxConnectionPoolProviderImpl` it should be pretty easy. In the vertx sql client the `Transaction` type extends `SqlConnection`. To obtain a "transactional connection" you just call `.begin()` on the Vertx `Pool`.

So it looks something like this:
[code]

[2020-05-18 22:12] gavinking commented on #25
@aguibert OK thanks, but here's the problem: if we do txn demarcation in HR code then that means we need to invent YATMAPI (Yet Another Transaction Management API) which I would very much like to avoid doing.

So what I would prefer is if Vert.X has some other infrastructure that lets the program demarcate transactions, so that we can just participate in that txn. If no such thing exists, well, th

[2020-05-19 04:00] gbadner commented on #95
Fixed.

[2020-05-19 04:00] #95 closed

[2020-05-19 06:41] aguibert opened #125 "AutoincrementTest failing"
The `Autoincrement` test is failing, which means it has something to do with `@GeneratedValue(strategy = GenerationType.IDENTITY)` specifically for PostgreSQL (the other PG tests are working fine, and the MySQLAutoincrementTest is also working).

@gavinking do you have time to look into this one?

Here is the full stack trace (although it's not too helpful)
[code]

[2020-05-19 07:58] gavinking commented on #125
Well the MySQL tests are failing only when running in Docker. When I run them against my local MySQL database they all run successfully.

[2020-05-19 08:02] gavinking commented on #95
Great, thanks!

[2020-05-19 08:09] gavinking commented on #125
It seems to be that the testcontainers thing wants to have the JDBC driver, and I removed that dependency. No idea what it needs the driver for.

[code]

[2020-05-19 08:10] gavinking commented on #111
Hold tight, working on this now!

[2020-05-19 08:25] DavideD commented on #125
Should we just add back the dependencies?

[2020-05-19 08:26] DavideD commented on #125
@aguibert You mentioned that you can write a custom check. I don't like too much the idea of having  custom stuff for this but how much work would that be?

[2020-05-19 09:04] FroMage commented on #25
In Quarkus Hibernate ORM, this is how we tie new `EntityManager` instances to existing transactions:

[code]

As I showed in a previous comment, I did something similar for the Panache RX PoC (without Hibernate): https://github.com/FroMage/quarkus/blob/panache-rx/extensions/panache/rx-panache/runtime/src/main/java/io/quarkus/panache/rx/runtime/client/TransactionScopedPgClient.java#L45

Now, given

[2020-05-19 09:40] FroMage commented on #25
To clarify, it seems you've isolated all operations on the sql-client to `PoolConnection`, which takes a `Pool` as parameter and forwards all operations to it. So `RxSessionInternalImpl` would need to override `joinTransaction()` in order to switch from the current `PoolConnection` to one which points to the result of calling `pool.begin()`. I've checked and you can just switch the type of `PoolCo

[2020-05-19 09:45] FroMage commented on #25
Now, I don't quite know if Hibernate will call `begin` on `joinTransaction` or on the next operation, or if it's not working like this for JDBC, but at least `commit/rollback` happens outside of Hibernate, because they're called on the JTA transaction by the `@Transactional` interceptor, which in turn calls `Synchronization.before/afterCompletion` and then `EntityManager.flush/close` I guess.

Not

[2020-05-19 09:53] FroMage commented on #25
OK I checked and indeed when rolling back the TM never calls `beforeCompletion` so this is really what sends stuff to the DB (and probably does a DB `commit` too?).

Rolling back only calls `afterCompletion` so here we close the EM without flushing and never call `commit` on the DB. But it appears we also never call `rollback` on the DB? Unless there's another hook that I didn't see.

[2020-05-19 09:54] FroMage commented on #25
Note that I do see a lot of `async` names in the TM, so it must support some form of async programming, but apparently not in `Synchronization`.

[2020-05-19 09:55] FroMage commented on #25
No, not there, and making it support async flushes looks like some involved work.

[2020-05-19 11:23] gavinking commented on #111
OK, this is done, except for the Quarkus extension.

@aguibert can you take care of that?

[2020-05-19 11:30] gavinking opened #126 "dependencies"
So in the Gradle build we have:

[code]

I would like to know what is the reason for all the exclusions here. I would naïvely have expected us to just declare a dependency to `hibernate-core`, and then programs that use HR would not need to explicitly declare their own dependency to Hibernate. But with all these exclusions, they need to redeclare the dependency in order to pick up stuff like `net.

[2020-05-19 12:28] DavideD commented on #126
I think the idea was to remove all dependencies that we didn't need for a first prototype. @Sanne ^

[2020-05-19 12:46] Sanne commented on #126
I can review these.

[2020-05-19 12:48] Sanne commented on #126
On that point: it's only to exclude the JTA API when our own new code is compiled; this helps ensure that we don't expose the blocking JTA API, or use it otherwise unintentionally.

It's then re-introduced as a runtime dependency as I believe ORM can't boot without having it - we might be able to improve on that and make it 100% unnecessary but it doesn't feel like a priority

[2020-05-19 13:00] gavinking commented on #126
Well the issue is that right now, by excluding all those things, at least some of which are hard dependencies of Hibernate ORM, we force users to explicitly depend on Hibernate ORM as well as HR.

[2020-05-19 13:00] gavinking commented on #126
*We* might not need them, but the user's program can't run without them.

[2020-05-19 13:58] aguibert commented on #111
Yep, I can get that updated later today

[2020-05-19 14:01] aguibert commented on #125
@gavinking @DavideD yes, the MySQLContainer tries to establish a JDBC connection to determine container readiness. I fixed this in one of the commits on my DB2 PR, which I need to rebase on all of the Rx->Reactive rename changes

[2020-05-19 14:06] Sanne commented on #126
Sure I understand. We'll add the ones that the user application needs - the intention is only to exclude dead weight that they won't need.

N.B. the  configuration name in Gradle named "compile" is not meaning what the name suggests :) Hint: there's also a "compileOnly". https://docs.gradle.org/4.10.2/userguide/building_java_projects.html

It's also a very old and deprecated name, I'll change it t

[2020-05-19 14:18] aguibert commented on #125
@DavideD the custom check is pretty simple, you can see it here: https://github.com/hibernate/hibernate-reactive/pull/117/commits/c39950d60f467a8a9de9c0c7cd99314d7e511f5d#diff-4006a0aa525560f05c2d5491e9cbd07c
Basically just trying to get a Vertx connection in a loop and then attempting the same test query SQL string that is used for the JDBC check

[2020-05-19 14:22] gavinking commented on #25
OK, so I just chatted with @FroMage on the phone, and this is what he told me:

1. Vert.x doesn't have anything like a container transactions. In Vert.x, you're working with resource-local transactions, so we would need to add a `Transaction` API for that.
2. Quarkus of course *does* have container transactions, and we could integrate with them by registering ourselves with the `TransactionSynchro

[2020-05-19 14:24] gavinking commented on #126
OK, great, thanks guys.

[2020-05-19 14:25] gavinking commented on #111
Great, thanks.

[2020-05-19 14:37] DavideD commented on #125
`pretty simple` :)

So, this is only a problem for the MySQL db?

[2020-05-19 14:37] aguibert commented on #125
yes, the other containers (DB2 and Postgresql) use container log message checks to determine container readiness

[2020-05-19 14:38] DavideD commented on #125
ok

[2020-05-19 14:57] DavideD opened #127 "Create JOB on Jenkins (ci.hibernate.org)"
At the moment we only have the workflow on GitHub but we need to test on our CI as well.
The build needs to test all the profiles we have: docker and default.

[2020-05-19 15:25] #64 closed

[2020-05-19 15:32] aguibert commented on #125
@gavinking I've merged in the DB2 support PR now, which also contains the fix for the issue you are seeing. So now you can reproduce this issue on `master` by doing:
`./gradlew :hibernate-reactive-core:test -Pdocker --tests AutoincrementTest`

[2020-05-19 15:52] aguibert opened #128 "Eliminate dependencies on specific Vertx drivers"
Currently core depends on all of the individual Vertx drivers:

[code]

With a few minor exceptions, this is needed to create the DB-specific ConnectOptions object (e.g. `DB2ConnectOptions`).

Recently a new API was added to Vertx that will allow generic creation of the SqlConnectOptions like this:
[code]

The only limitation with this generic approach is that there must be exactly 1 Vertx driver

[2020-05-19 16:16] emmanuelbernard commented on #25
I don't think Stef is right that Quarkus does not have XA. But we can investigate and that's not important today.

What I was hoping is that in a non blocking method call, `@Transactional` would become a `Multi` / `Uni` extra stage. How to enlist a "virtual" interceptor to `rxFlush` before the commit, I'm not sure. But we can launch with the `inTransaction` top level method.

[2020-05-19 16:34] gavinking commented on #25
@emmanuelbernard so you would have `@Transactional` implicitly wrap the returned `CompletionStage` and convert it into a transactional task?

My first naïve reaction to that is it's probably not going to work ... at least not with how the Vert.x client API is structured today. But I might be wrong. Perhaps there's a way to do it that has not immediately occurred to me.

[2020-05-19 16:35] emmanuelbernard commented on #128
How much would that affect Quarkus which passes the connection pool? I am thinking it wont. And we would be able to have multiple Vert.X pools of different DB types, correct?

[2020-05-19 16:36] gavinking commented on #128
I would love to not have this stuff work by reflection.

I propose option (4) which is change the Vert.x API so that it can handle having multiple drivers in the classpath and let you select the one you want explicitly.

[2020-05-19 16:37] gavinking commented on #125
Excellent, thanks!

[2020-05-19 16:44] gavinking commented on #25
Well, perhaps that's wrong. In principle not very different to calling my method of `Session` explicitly. It's just I'm still trying to figure out if I can even do it that way.

[2020-05-19 16:45] emmanuelbernard commented on #25
yes

[2020-05-19 16:46] gavinking commented on #25
So I've been looking into this, and:

- I was a little bit surprised with what the Vert.x client API looks like here. I had sort of hoped to encounter `begin()` and `commit()` methods accepting handlers, but no, it's a single `begin()` function that accepts one big handler within which you are supposed to call `begin()` and `commit()` synchronously. I'm still trying to process how this affects me.

[2020-05-19 17:11] aguibert commented on #128
@emmanuelbernard Right, Quarkus already passes the Vertx pool in directly, so from a Quarkus perspective all this does is eliminate unnecessary dependencies. Quarkus can already have multiple different pools and will still be able to do that regardless of what option we go with here. This issue only effects standalone Hibernate Reactive usage.

@gavinking Yes, I think it would be good if we added

[2020-05-19 17:15] gavinking commented on #128
I suppose it's our only reasonable option.

[2020-05-19 17:20] gavinking commented on #25
I think what I'm going to do with respect to the Vert.x transaction API is just ignore it for now and send `begin`/`commit`/`rollback` SQL directly over the connection. It's might be me just not understanding the thing, but the current API doesn't seem to fit our needs at all.

[2020-05-19 17:24] DavideD commented on #128
What's going to be the time frame between Vertex 3.9.1 and 3.9.2? couldn't we keep the dependencies for the time being and only implement option 4?

[2020-05-19 17:30] Sanne opened #129 "The ReactiveConnectionPoolProvider implementation is leaking threads"
When I forget to start the database and then run all integration tests, I see errors like these being logged repeatedly:

    Exception: java.lang.OutOfMemoryError thrown from the UncaughtExceptionHandler in thread "vertx-blocked-thread-checker"

I haven't verified my theory but in my experience this makes me suspect that the testsuite is leaking threads. If it's "just" the testsuite in these cond

[2020-05-19 17:34] gavinking commented on #129
Probably related to the new schema export stuff. In which case it won't affect the runtime.

[2020-05-19 17:47] DavideD opened #130 "Update podman section in README with db2"

[2020-05-19 17:49] DavideD opened #131 "Fix packages for test with db2"
https://github.com/hibernate/hibernate-reactive/tree/master/hibernate-rx-core/src/test

They are still in `hibernate-rx-core` instead of `hibernate-reactive-core`

[2020-05-19 17:49] Sanne commented on #129
Turns out I have the same problem even with databases turned on - it just takes longer to appear.

I'll try to get a profiler connected

[2020-05-19 17:52] aguibert commented on #128
If the gap between 3.9.0 and 3.9.1 is any indication, it's roughly 2 months out

[2020-05-19 17:57] Sanne commented on #129
you guessed right, threads are stuck on:

    at java.util.concurrent.locks.LockSupport.park(LockSupport.java:175)
	at java.util.concurrent.CompletableFuture$Signaller.block(CompletableFuture.java:1707)
	at java.util.concurrent.ForkJoinPool.managedBlock(ForkJoinPool.java:3323)
	at java.util.concurrent.CompletableFuture.waitingGet(CompletableFuture.java:1742)
	at java.util.concurrent.CompletableFut

[2020-05-19 18:03] gavinking commented on #129
You don't run hundreds of schema exports at runtime.

[2020-05-19 18:13] Sanne commented on #129
Even if it's just one, we can't have a thread stuck forever?

Anyway, my OOM seems caused by running it with JDK8: with JDK11 it works.

[2020-05-19 18:31] DavideD opened #132 "NullPointerException on the console when running test on DB2"
It seems something related to Vertx and the build doesn't fail but
when I run  `DB2BasicTest` from the IDE I have the following exception:
[code]

I've started the container using:
[code]

[2020-05-19 18:32] DavideD commented on #132
@aguibert ^

[2020-05-19 18:51] DavideD opened #134 "It would be nice for all testing db to use the same credentials"
This way I don't have to remember which credentials to use for each db.
Note that it needs to be short because some db have limitations.

[2020-05-19 19:20] DavideD opened #136 "AutoincrementTest fails on GitHub"
https://github.com/hibernate/hibernate-reactive/runs/689901903

[code]
On github we use the `docker` profile. This works for me locally with podman.

[2020-05-19 19:21] DavideD commented on #136
@gavinking, @aguibert Can you see if you have the same exception using docker, please? Thanks

[2020-05-19 19:32] DavideD opened #137 "Fix tests checking PrePersist and PostPersist"
Several tests check:
[code]
instead of
[code]

[2020-05-19 19:41] gavinking commented on #136
With Docker, yes. Without Docker, no.

[2020-05-19 21:05] gavinking commented on #43
Now that we have a prototype for transactions, we can work on adding support for pessimistic locking.

[2020-05-19 21:08] aguibert commented on #132
I tried this a few different ways and wasn't able to reproduce the issue. What values were you using for the env variables?

Here is what I used:
[code]

If that's the same as what you have, can you enable logging (`showStandardStreams=true` in build.gradle) and upload logs?

[2020-05-19 21:13] gavinking commented on #129
It's actually only the schema dropper that has a problem, and that's probably because of how the session factory gets closed within the test suite.

If I set:

    configuration.setProperty( AvailableSettings.HBM2DDL_AUTO, "create" );

in `BaseReactiveTest`, the problem seems to disappear.

[2020-05-19 21:25] gavinking commented on #136
So here's the log:

[code]

The problem seems to be the `generated by default as identity` clause.

Since that syntax is perfectly legal on current versions of Postgres, I wonder if the Docker image has an old version of Postgres.

WDYT, @aguibert?

[2020-05-19 21:32] gavinking commented on #136
The issue is really that without JDBC metadata we have no good way to determine the version of the database. Feature request for Vert.x?

[2020-05-19 21:32] aguibert commented on #136
Ah, that could be it. The PostgresContianer uses `postgres:9.6.12` by default. I specified a newer container label and now it works. I'll raise a PR shortly.

[2020-05-19 21:33] gavinking commented on #136
Great, thanks!

[2020-05-19 21:34] aguibert commented on #136
Yea, definitely. What are the most important pieces of database metadata that are needed? Will DB major/minor version be sufficient for most cases?

[2020-05-19 21:36] aguibert commented on #136
Closing this item as a duplicate of #125

[2020-05-19 21:36] #136 closed

[2020-05-19 21:37] gavinking commented on #136
Yup.

[2020-05-19 21:52] aguibert commented on #136
Raised an issue here: https://github.com/eclipse-vertx/vertx-sql-client/issues/645

@gavinking as you come across any other pieces of metadata that are needed, please add them to that issue

[2020-05-19 21:53] aguibert commented on #125
Fixed by #141

[2020-05-19 21:53] #125 closed

[2020-05-19 21:55] gavinking commented on #136
Thanks.

[2020-05-19 21:56] aguibert commented on #131
Fixed by #140

[2020-05-19 21:56] #131 closed

[2020-05-19 22:08] gavinking commented on #129
Pretty sure this is fixed now.

[2020-05-19 23:18] gavinking commented on #43
This is now done, except for the `Session.lock()` method.

[2020-05-19 23:21] gavinking commented on #43
Shit, I didn't actually mean to push that to master. I meant to push it to the `txns` branch. Uff.

Well, OK, it's fine, no harm done, I guess.

[2020-05-19 23:25] gavinking opened #142 "add lock() method"
Following on from #43, we should add the `Session.lock()` method.

This is not a high priority at all.

[2020-05-19 23:27] gavinking commented on #43
I've opened #142 to cover the missing `lock()` method, which is much more work, and much less useful.

Since I accidently pushed this work already, I might as well close the issue.

Not my *most* competent moment.

[2020-05-19 23:27] #43 closed

[2020-05-20 05:28] emmanuelbernard commented on #25
Let's loop @vietj for awareness of API improvements in Vert.x 4

Google Spanner for a while has the same style of API where all Tx operations were essentially required to be captured within a lambda. Looks like Vert.x went for the same style. I agree thta's limiting.

[2020-05-20 07:03] gavinking commented on #25
Yeah, look, it might just be me not understanding the API.

Probably the main thing that's missing in this API is Javadoc, but perhaps @vietj or @aguibert can clear up a couple of things:

## Transactional connections

There seems to be two ways to obtain a transactional connection to the database.

1. One is to call `Pool.begin()`, and then do all your work in a handler, against the `Transaction`

[2020-05-20 08:14] gavinking commented on #25
OK, I've got this sorted now. I can achieve the same effect in my code.

[2020-05-20 08:26] FroMage commented on #25
I don't think you need to be in the handler, it's just that it's an async method, but you can hang on to the transaction it gives you and use it outside of the handler.

Note that `Transaction` is a subtype of `SqlClient`, just like `Pool`. So if you do all your operations on `SqlClient` you can run them against a pool or a transaction transparently. Minus the fact that you have to close/commit/ro

[2020-05-20 08:35] FroMage commented on #25
Belay that. It appears that the latest `SqlClient` I see in `master` doesn't have `Transaction` be a subtype of `SqlClient` anymore. But I also don't see the `begin`/`commit`/`rollback` methods that return `void` and take no handler: they're all async properly, via `Handler` or `Future`.

It appears that in the latest `sql-client` you need to call this method on `Pool` to get a transaction:

[code

[2020-05-20 08:35] FroMage commented on #25
So, probably first you guys need to upgrade to the latest `sql-client` to get these changes, because they're important to this issue.

[2020-05-20 08:38] gavinking commented on #25
We're on 3.9.1. We can't upgrade to Vert.x 4 because Quarkus is stuck on 3.

[2020-05-20 08:41] FroMage commented on #25
The idea, unless you use the syntax sugar `Pool.withTransaction` simplification, seems to be that if you want a transaction you work on a single `Connection` and keep it for the duration of the transaction once you've called `begin()` on it. But `Connection` is an `SqlClient` just like `Pool` so it's fairly similar to what I was describing earlier, except that you don't work on `Transaction` but o

[2020-05-20 08:42] vietj commented on #25
I confirm the transaction API is different from master and master.

The pool transaction is a facility to make transactions easier. I believe hibernate should actually always use the connection API.

We can think of having the 3.9 API on `SqlConnection` to be async instead of asynchronous and have a `begin` method that takes an `Handler<AsyncResult<Transaction>>`. The main difference between the t

[2020-05-20 08:42] FroMage commented on #25
In that case, use the strategy I described before, of forwarding all your operations to the `SqlClient`, where `Transaction` and `Pool` are both subtypes of it.

[2020-05-20 08:45] vietj commented on #25
sorry for late catching this conversation :-)

[2020-05-20 08:45] FroMage commented on #25
@vietj I just checked and indeed `SqlConnectionImpl` keeps the `tx` field around once it's called `begin()` so why not add an accessor that can give us the currently associated transaction from a `Connection` or `null` if there's none? Therefore it doesn't have to be async.

[2020-05-20 08:45] FroMage commented on #25
Should I create an issue?

[2020-05-20 08:45] gavinking commented on #25
@FroMage yes, that was the approach I just push to #139 about 1 hour ago.

[2020-05-20 08:46] vietj commented on #25
@FroMage sure, you can create and even contribute as this seems trivial

[2020-05-20 08:46] vietj commented on #25
we haven't had it yet because there wasn't the need I think

[2020-05-20 08:47] gavinking commented on #25
i.e. our `SqlClientConnection` now transparently swaps between calling `Pool` or `Transaction` depending upon whether you've started a tx.

[2020-05-20 08:47] gavinking commented on #25
It would be helpful, one less reference to keep track of.

[2020-05-20 08:48] vietj commented on #25
@gavinking keep in mind that `Pool` operations are one-shot and don't have ordering guarantees of SQL execution like an `SqlConnection` has

[2020-05-20 08:48] gavinking commented on #25
@vietj what I still don't understand is the semantics of the non-arg `commit()` and `rollback()` methods. Are they fire-and-forget, perhaps?

[2020-05-20 08:49] gavinking commented on #25
Oh I don't think we knew that! We've been using `Pool` all along, and have not had a problem with ordering yet.

Um. That changes things...

[2020-05-20 08:51] FroMage commented on #25
That looks right.

[2020-05-20 08:51] vietj commented on #25
@gavinking they are yes fire and forget , but there is an overload with `void commit(Handler<AsyncResult<Void>> handler)` that provides a callback of the result.

In master they return a `Future<Void>`.

[2020-05-20 08:52] gavinking commented on #25
OK. The Javadoc should make that clear and it doesn't :-)

Yep, that's what I'm using now, in my most recent commit.

[2020-05-20 08:54] vietj commented on #25
@gavinking yes, this is lacking currently

[2020-05-20 08:55] gavinking commented on #25
So then with respect to the ordering issue:

- Does that mean we should essentially *never* be using `Pool` to execute statements within a session or schema export?
- If I change to always use `SqlConnection`, how important is it to `close()` the thing when I'm finished with it?

[2020-05-20 08:58] vietj commented on #25
- `Pool` operation will pickup a connection execute the operation and return the connection to the pool in an efficient way (i.e it is more efficient than acquiring a connection, executing the operation and returning the operation to the pool)
- `SqlConnection` close returns the connection to the pool when `close` is called when it is a pooled connection otherwise it will close the TCP connection,

[2020-05-20 09:00] gavinking commented on #25
Right but if I have multiple `INSERT` statements, for example, it looks like I'll get foreign key violations if I use `Pool.prepare()` for each one.

OK, that's what I figured. Just checking.

[2020-05-20 09:01] vietj commented on #25
@gavinking indeed, we will try making this more clear in the documentation

[2020-05-20 09:04] DavideD commented on #137
Merged

[2020-05-20 09:04] #137 closed

[2020-05-20 10:10] DavideD commented on #43
No worries, it happens. I'm closing the issue.

[2020-05-20 10:45] Sanne commented on #129
Thanks. I still have OOMs when building with JDK8 though - I can't investigate now, I'll see if I can diagnose it an evening.

[2020-05-20 11:15] DavideD opened #143 "Check the version of the containers we use for testing"
At the moment with podman we are using the latest version every time but the defaults for `TestContainers` are a bit behind that.

We need to update the tests so that they run with the exact version we expect to run and update the README accordingly and  the podman examples accordingly

[2020-05-20 11:27] DavideD opened #144 "Add link to the docs of the Vert.x DB2 client"
In the [README](https://github.com/hibernate/hibernate-reactive/blob/master/README.md#compatibility) we have a link for the other clients but it's missing for DB2.

That's because the section has not been added to the [Vert.x website](https://vertx.io/docs/) yet.
I've created this issue so that we don't forget about it

[2020-05-20 12:45] emmanuelbernard commented on #43
ahaha, you should see Gavin's SVN history. It's full of ops, fixed now, damn now fix, shit I can't code today etc :D

[2020-05-20 12:59] gavinking commented on #43
@emmanuelbernard I'm trying to be a better person.

[2020-05-20 13:00] gavinking commented on #25
Done and merged!

[2020-05-20 13:00] #25 closed

[2020-05-20 13:01] gavinking commented on #25
P.S. Thanks everyone for the feedback and advice. I ended up having to rewrite a significant amount of code, including pre-existing code.

[2020-05-20 13:33] DavideD commented on #134
Merged

[2020-05-20 13:33] #134 closed

[2020-05-20 13:36] DavideD opened #145 "Add DB2 SQL for the creation of user and db for test"

[2020-05-20 13:36] DavideD commented on #130
Done

We still need to update the README paragraph with the SQL to create users and DB: https://github.com/hibernate/hibernate-reactive/issues/145

[2020-05-20 13:36] #130 closed

[2020-05-20 13:39] DavideD commented on #56
Closing this because it's going to be part of the release process

[2020-05-20 13:39] #56 closed

[2020-05-20 13:39] DavideD commented on #56
Release process issue: https://github.com/hibernate/hibernate-reactive/issues/102

[2020-05-20 13:49] DavideD commented on #41
These classes have a different name after https://github.com/hibernate/hibernate-reactive/issues/25 and https://github.com/hibernate/hibernate-reactive/issues/111:
- [SqlClientConnection](https://github.com/hibernate/hibernate-reactive/blob/master/hibernate-reactive-core/src/main/java/org/hibernate/reactive/impl/SqlClientConnection.java)
- [ReactiveQueryExecutor](https://github.com/hibernate/hiber

[2020-05-20 14:47] gavinking commented on #41
I have cleaned up the `ReactiveConnection` API and removed ReactiveQueryExecutor.

This is now *much* cleaner.

And dependencies to Vert.x are much better-isolated.

[2020-05-20 14:47] #41 closed

[2020-05-20 14:54] gavinking commented on #111
I think we can close this issue now, since the Quarkus Extension isn't actually strictly-speaking part of this project.

[2020-05-20 14:54] #111 closed

[2020-05-20 15:01] aguibert commented on #111
Agreed, but FWIW I did update the Quarkus extension yesterday (just didn't report it back here)

[2020-05-20 15:05] gavinking commented on #111
Perfect 👍

[2020-05-20 15:22] DavideD commented on #41
That't great @gavinking but could you please send PR like everybody else and not push directly on master, please? Mainly to make it easier for us to keep track of what's going on in the project and have a chance to have a quick look and ask questions. Thanks

[2020-05-20 15:42] aguibert commented on #132
@DavideD never mind, I was able to reproduce this issue now and will work on a fix

[2020-05-20 15:44] DavideD commented on #132
Thanks @aguibert

[2020-05-20 15:47] DavideD commented on #143
Done

[2020-05-20 15:48] #143 closed

[2020-05-20 15:48] #128 closed

[2020-05-20 17:32] aguibert commented on #132
Will be fixed by: https://github.com/eclipse-vertx/vertx-sql-client/pull/649

[2020-05-20 18:45] #132 closed

[2020-05-21 02:28] aguibert commented on #61
@gavinking @DavideD I've put out a proposed PR #150 which is pretty minimally invasive. Basically everything will continue to run with PG by default, but you can specify an extra option (`-Pdb=DB2`) to set a different DB type. I don't expect we will ever run the full matrix of all tests with all DBs locally, but instead we'll let CI do that and then have an easy way to replicate that in case thing

[2020-05-21 06:47] DavideD commented on #61
I actually run them on all the dbs at the moment, quite regularly. CI is usually slower than my machine and if I make a change that will affect potentially all the dbs I don't want to wait for it.
And I don't want to have to remember to set all the profiles.

Would it be possible to set up a job that will test on all the available databases?  Otherwise we have to update the build on CI every time

[2020-05-21 08:32] DavideD commented on #132
Thanks a lot!

[2020-05-21 08:55] gavinking commented on #94
@cescoffier under what sort of conditions does a subscription cancellation happen? Does that amount to something that should cause a transaction rollback?

[2020-05-21 09:44] gavinking opened #151 "package layout"
Before the first release, we need to improve the package layout.

- In general, I still find our package structure quite confusing.
- Worse, it's not very clear which packages are public APIs and which aren't.
- I still hate all the useless little `impl` qualifiers.

(Note that `impl` packages are fine when you have a package containing APIs, and then a package containing implementations of those

[2020-05-21 09:56] gavinking commented on #61
So it looks like with this change there's a tradeoff: I get to be able to run *everything* on MySQL and DB2 if I want, but by default I don't run *anything* on them.

Mmm. I mean, it makes sense even though I did kinda like how currently I just had one test that tested the only MySQL-specific feature, and it ran all the time.

OTOH it was a pain that the DB2 test also ran all the time, since I don

[2020-05-21 10:07] gavinking opened #153 "stream query results over Multi"
Now that we have a Mutiny-based API, we would like to have a method like `Query.getResultStream()` or something that returns query results via a `Multi`. This would be sorta a bit conceptually-similar to Hibernate's `ScrollableResults` (though not scrollable, obviously).

[2020-05-21 10:15] Sanne commented on #129
Ok, I was able to figure it out - I'll send a PR later.

[2020-05-21 12:09] gavinking commented on #94
Done, with followup issue #153.

[2020-05-21 12:09] #94 closed

[2020-05-21 12:40] gavinking opened #154 "allow replacement of the ReactiveConnectionPool"
If we let users replace the `ReactiveConnectionPool`, they could in principle integrate different database drivers.

[2020-05-21 13:33] Sanne commented on #154
This is already possible, if the users aren't too scared to inject a custom implementation into the bootstrap registry: provided services take precedence over the ServiceInitiator.

So while this will be easy for us, for example in Quarkus, did you mean we should make it "easier" for end users?

[2020-05-21 13:48] Sanne commented on #154
I just see the PR now.

Are you aware you can inject custom service implementations at boot by doing:

    StandardServiceRegistry registry = new StandardServiceRegistryBuilder()
				.applySettings( properties )
				.addService( ReactiveConnectionPoolProvider.class, someCustomImplementationInstance );
				.build();

[2020-05-21 13:49] Sanne commented on #129
Changed the title as the problem was in the actual runtime code

[2020-05-21 14:05] gavinking commented on #154
No it's not possible because there was no *well-defined*, *well-specified* API for doing it.

Exactly. They need a well-defined published API for that.

I am indeed aware of that. That's the functionality my PR takes advantage of.

[2020-05-21 14:09] gavinking commented on #154
Also, up until yesterday it wasn't possible at all because `ReactiveConnection` leaked Vert.x-specific types in its APIs. But I already fixed that as a preliminary to this.

[2020-05-21 14:12] Sanne commented on #154
ah, so the gist of your change is that you shift the focus to a new `Service` which abstracts from `ReactiveConnection` ?

[2020-05-21 14:17] gavinking commented on #154
My change makes it clear that `ReactiveConnectionPool` and `ReactiveConnection` are user-implementable APIs, and that our Vert.x-based default implementation (`SqlClientPool` and `SqlClientConnection`) is "hidden" from the rest of Hibernate Reactive.

Previously this code was scattered almost at random across three different packages and it wasn't clear what was API and what was implementation.

[2020-05-21 14:20] gavinking commented on #154
Also if I'm not mistaken, there used to be a warning from Hibernate because the `StandardServiceInitiator` for the `ReactiveConnectionPool` claimed to be a service implementation for the implementation class instead of for the service API interface. (Even though the client code was correctly requesting the service API interface.)

[2020-05-21 14:30] #154 closed

[2020-05-21 14:33] DavideD opened #157 "Document how to replace the SqlClientPool using services"
Now that we have https://github.com/hibernate/hibernate-reactive/pull/155 we need to remember to add an explanation with example on how to do that in the documentation (When we start to work on one)

[2020-05-21 14:34] DavideD commented on #154
Merged

[2020-05-21 14:36] gavinking commented on #154
Thanks, done.

[2020-05-21 14:41] Sanne commented on #154
Ok, sounds great. I'll start my second wave of conflict resolutions :)

[2020-05-21 14:41] gavinking commented on #157
Yes, I agree, but perhaps we need to be a little bit careful about that because I'm not sure that the `ReactiveConnection` interface is 100% cooked. In principle, future changes to it could break user code.

So I was thinking of leaving it undocumented for now, and just having it there so that people who ask for it explicitly can be pointed to it with a big caveat that they should not rely on it n

[2020-05-21 14:42] gavinking commented on #76
Note that with #155 it is now in principle possible to integrate other reactive database drivers.

[2020-05-21 14:43] gavinking commented on #154
Yeah, sorry about that. :-(

[2020-05-21 14:44] DavideD opened #158 "Document differences in supported features among dbs"
Mainly the one that could be surprising for a user when switching dbs.

For example, at the moment:
- Some types are not supported by DB2
~~Db2 does not support column names with underscore~~
- I'm sure there is something that doesn't work for MySQL

[2020-05-21 14:54] gavinking commented on #158
Would it be better if this were documented by the SQL Client team, and we gave a link?

Or is that expecting too much?

[2020-05-21 14:59] DavideD commented on #157
Sounds good. It's not something we need immediately.

ORM uses some annotation to highlight features that are quite experimental and might change in the future. We can introduce something similar.

I will just keep the issue as a reminder for when we release the first final.
I would like to have at least a test for this at some point.

[2020-05-21 15:00] gavinking commented on #157
That sounds like a good idea.

But why can't we just use the same annotations? We already have a hard dependency on Hibernate ORM.

[2020-05-21 15:17] DavideD commented on #157
Yes, of course :)
The annotation is [@Incubating](https://github.com/hibernate/hibernate-orm/blob/master/hibernate-core/src/main/java/org/hibernate/Incubating.java)

[2020-05-21 15:20] #129 closed

[2020-05-21 15:24] DavideD commented on #158
I think that would work. And it would be useful for them as well to have a page as well.
We might do a better job in highlighting which mapping may cause problems though.
Like, a limitation in the username length is not going to affect the mapping of the entity (I think)

[2020-05-21 16:49] DavideD commented on #145
@aguibert Can you have a look at this, please? I'm not sure how to connect to db2

[2020-05-21 17:15] gavinking opened #160 "subselect fetching"
Using `@Fetch(FetchMode.SUBSELECT)` produces:

[code]

We must need a `ReactiveSubselectOneToManyLoader`.

[2020-05-21 17:24] aguibert opened #161 "Get all tests passing with MySQL"

[2020-05-21 17:26] aguibert opened #162 "Get all tests passing with DB2"

[2020-05-21 18:13] aguibert commented on #145
@DavideD I assume you mean from a manual (non-container) install of DB2? TBH I'm not sure either, I've only ever used DB2 from the container. Non-container DB2 installs aren't very easy to get, so I assume that the set of users who A) have a manual DB2 install and B) don't already know how to create a DB/user on it is going to be very small or non-existant.

[2020-05-21 18:27] aguibert commented on #158
I agree with @gavinking that driver limitations (e.g. DB2 client not supporting some data types) should be documented by the Vertx SQL client, and we should just reference that.

More generally, the documentation of limitations should be where the source of the limitation is. In the case of Java types, that's the driver, but in the case of column names not being able to start with an underscore, t

[2020-05-21 18:38] DavideD commented on #158
Can you use '$' instead of underscore?

[2020-05-21 18:42] DavideD opened #163 "Create gradle task to test all db profiles"

[2020-05-21 18:44] aguibert commented on #158
Not sure off the top of my head, I'd have to check

[2020-05-21 18:52] DavideD commented on #158
Sorry, I got distracted.

There  are some situations where it's not obvious how the mapping will translate. For example, if you declare an inner class as an entity the name of the table will contain a $ that might not be supported by the db. It would be nice to add them because the user might not know where is the problem.

[2020-05-21 18:52] DavideD commented on #158
I mean ... if one is not familiar with the library.

[2020-05-21 18:58] aguibert commented on #158
This shouldn't be any different than the limitations we already have with ORM+DB2 though. Could we just refer to that existing documentation if it exists?

Also, dollar signs in table names (i.e. inner class entities) works fine. It's just the first char being an underscore in a column name was the particular issue I ran into.

[2020-05-21 19:03] DavideD commented on #158
Probably the column one was a bad example. I will remove it

[2020-05-21 19:09] DavideD commented on #158
Sure, but if we know that a particular mapping is not supported, why not to add it?

Anyway, this is something that we don't have to do now. if at the time of a semi-stable release we don't have any meaningful limitations that we want to add, we can close it.

[2020-05-21 19:10] DavideD commented on #158
But let's wait until we have the test suite fixed.

[2020-05-21 21:16] gavinking commented on #51
Well, this was rather a lot more work than I had hoped, but it's done now.

[2020-05-21 21:58] Sanne commented on #60
I'd suggest to enable checkstyle for this, with a single rule: just check the headers?

[2020-05-21 22:04] Sanne commented on #40
I think we need to really solve at least the ability to not affect a regular SessionFactory just because one happens to have this project on the classpath.

Can I take this issue?

[2020-05-21 22:06] gavinking commented on #60
Oh gawd no, please no checkstyle. It's evil incarnate.

I really don't want to have to deal with failing CI builds because someone accidently removed a newline at the end of the file.

[2020-05-21 22:07] Sanne commented on #60
Well you can customize it :)

We can set it up to only check that the expected copyright header is in place

[2020-05-21 22:08] Sanne commented on #60
P.S. we can also set it to just warn rather than fail the build - not sure if people will pay attention in that case though..

[2020-05-21 22:09] gavinking commented on #60
By the way, I just checked, and none of the code in the Quarkus repo has headers, so I don't think we need them either.

[2020-05-21 22:10] Sanne commented on #60
@gavinking you'd not have needed them if you'd have opted for ASL2 :P

[2020-05-21 22:12] gavinking commented on #40
Sure, but be aware that I suspect it's quite a lot of work. Getting the event handler registration sorted out so that our listeners don't override the built-in listeners is just a *start*.

I'm pretty sure that our `EntityLoader`s are also going to break regular Hibernate because they return `CompletionStage` from methods of type `Object`.

[2020-05-21 22:13] #126 closed

[2020-05-21 22:13] gavinking commented on #60
AFAIK we don't need them at all. A license file in the repo and in the dist is plenty.

[2020-05-21 22:14] Sanne commented on #40
ok, I'm very time constrained but I'd like to try.

[2020-05-22 01:34] gavinking commented on #49
So, I wrote an `EntityTuplizer` that lets you define an association like this:

[code]

So you have a regular mapped field of type `List<T>`, but then you declare an additional field of type `Uni<List<T>>` according to a naming convention, and that gets injected when the entity is loaded.

I dunno if this makes @FroMage and @Sanne happy or not.

I suppose if you want to protect yourself from NPEs,

[2020-05-22 01:44] gavinking commented on #49
Actually, y'know, it might be best if Panache did something like this, but at the bytecode level. Could it transform:

[code]

To

[code]

Or something like that?

WDYT, @FroMage?

[2020-05-22 09:57] gavinking opened #166 "vertx errors logged in test suite"
I have started seeing a couple of these in the log:

[code]

Any idea, @Sanne?

[2020-05-22 10:40] gavinking commented on #49
So, after playing with this, and thinking it through a bunch last night and this morning, I'm inclined to think we should just not do this after all. I think it was a good idea, that ultimately doesn't really work, because:

- The correct way to fetch associations in Hibernate is using `left join fetch` or a fetch profile. And if you do use this, you don't want to have to then access your already-

[2020-05-22 12:03] #51 closed

[2020-05-22 12:03] #160 closed

[2020-05-22 12:39] gavinking opened #167 "custom id generators"
We need to turn `ReactiveIdentifierGenerator` into an extension point so that users can write their own id generators.

[2020-05-22 13:28] gavinking opened #170 "remove ReactiveSettings.VERTX_POOL"
We now have a defined way to integrate custom `ReactiveConnectionPool`s, so just as soon as I get the OK from @aguibert, I want to remove the `VERTX_POOL` setting and the code that uses it.

[2020-05-22 13:29] Sanne commented on #49
I like were that was going... but +1 to close so to not rush this.

The concerns you raise about the model being affecfted by the use... that's a great point, I wonder if we should (eventually) have a single way of representing the model which can be used in different ways.

If you recall, ~1 year ago when we first discussed this the idea we had been floating was to come with custom collection API

[2020-05-22 13:33] Sanne commented on #49
BTW - the user experience gets way more complicated when we look beyond the use case of "reading stuff from the DB" there's also writes - and the need to update both sides of relations. So that's why I keep thinking of a custom contract: it could also help address such other impedances.

[2020-05-22 13:41] gavinking opened #171 "static Reactive.fetch()"
I think we should add a static version of `session.fetch()`.

[2020-05-22 13:41] gavinking commented on #171
Actually two: one on `Stage`, and one on `Mutiny`.

[2020-05-22 13:43] Sanne commented on #166
I don't see this. Are you running any specific test? or inspecting the logs from the full build?

FWIW, I was never able to run the DB2 test successfully - so I'm ignoring that one ATM

[2020-05-22 13:49] DavideD commented on #166
I remember seeing a lot of them in the past but they disappeared at some point. Where do you see them?

[2020-05-22 14:24] DavideD opened #172 "Remove all the System.out.println and use proper logging"

[2020-05-22 14:29] DavideD commented on #60
I don't like this, too easy to miss. If we need to add the license on the class it has to fail when the license is missing. In eclipse it's a template that add it automatically. I'm sure we can do something similar in Intellij

[2020-05-22 15:01] gavinking commented on #60
Again, AFAIK we don't.

You put the license in the project root directory. That is the standard approach.

Adding headers to source files is just yet another thing that makes it harder to do work and creates problem for contributors.

[2020-05-22 15:02] aguibert commented on #170
hmm, this was the approach I was planning to use in Quarkus. So the replacement is to implement and register a custom `StandardServiceInitiator<ReactiveConnectionPool>`?  Do we expect that end-users will ever want do this? From a user-perspective I think it's easier to just put your Vertx `Pool` in the config map using the predefined key, rather than creating/registering a whole new class.

[2020-05-22 15:06] gavinking commented on #172
There's only two `System.out.println()`s in the whole codebase.

1. Our support for `hibernate.show_sql`, which has always used `System.out.println()`. We don't need to change that.
2. And the error logger for when a `drop` fails during schema export. (A completely ignorable error.)

I agree we should change the second one, because I never want to see those errors. Log it at debug level, preferabl

[2020-05-22 15:11] gavinking commented on #170
[code]

I believe.

Yes, potentially.

But this doesn't let you use a different sort of database driver, or implement any sort of custom strategy for managing connections. So it's *much* less powerful.

[2020-05-22 15:12] gavinking commented on #170
@aguibert note that you can totally just take that code I want to delete and copy/paste it into the `//your code goes here` bit

[2020-05-22 15:14] gavinking commented on #170
It's documented [here](https://github.com/hibernate/hibernate-reactive/blob/1fcb8d370ad075b36900898528bfdaf86b97fb71/hibernate-reactive-core/src/main/java/org/hibernate/reactive/pool/ReactiveConnectionPool.java#L21) FTR.

[2020-05-22 15:20] gavinking commented on #49
Right, this would make much more sense and I think it's the only way that this can possibly work.

But it's still not very clear to me that it's better than `fetch()`.

However, I'm not *against* it, if someone wants to go off and make all the changes to Hibernate ORM that would be needed to make it possible.

I just want to emphasize though that almost all of the work for that would be in Hiberna

[2020-05-22 15:21] gavinking commented on #166
When running tests in the IDE. But there's rather a lot of output so you have to kinda hunt for them.

[2020-05-22 15:34] aguibert commented on #170
When you pass in a Vertx Pool directly then Hibernate has no need to search for a Vertx driver on its own. Driver resolution is only used for constructing a pool instance.

This is potentially important, but I can't think of what sort of custom strategies might be needed? A custom connection pool impl perhaps?

[2020-05-22 16:09] DavideD commented on #60
I haven said you are wrong. Shouldn't we check, though?

That's fine but this seem to me a legal problem (as far as I can tell). Is it enough to say: "they don't do it, so we won't either"?

We've been doing it in all the other Hibernate projects for years and doesn't cause any issue of this kind (we have templates ready). It's not something new.

[2020-05-22 16:17] Sanne commented on #170
Remember you're not registering a _class_ , you can pass in the instance.

Grab a reference to the existing objects which are managed by Quarkus, inject them. No need to "start" them or otherwise initialize them later; of course you _might_ want to initialialize them later.

For exampl, I expect the passed in implementation to perform an `ArC` lookup, as we're building this registry during the bui

[2020-05-22 16:22] Sanne commented on #170
To clarify my previous comment:

conceptually it's very similar to "just put your Vertx Pool in the config map" - I belive it's simpler though, simpler code to boot it fast, and no need to use generic properties.

Also, I can see a problem with serialization of that reference.. remember the "config map" will need to prune such objects from the heap before we can safely take a snapshot to build the

[2020-05-22 16:36] Sanne commented on #60
I've sent an email to Richard, you're all in CC - so let's wait for that.

[2020-05-22 17:09] gavinking commented on #171
Done.

[2020-05-22 17:09] #171 closed

[2020-05-22 17:31] gavinking commented on #170
What I'm saying is that this is useful for integrating stuff that's *not* a Vert.x `Pool` at all.

Exactly, that's what I was trying to show with my code snippet above.

[2020-05-23 14:09] gavinking commented on #151
Alright, so I'm now *much* happier with the package structure, and I can finally start to see that codebase coalescing into a set of logical subsystems.

I don't think we need to introduce the `internal` package after all because we would wind up with `ReactiveIdentifierGenerator` in the (non-internal) `id` package exposing`ReactiveSession` from the internal `session` package. And I think we'll li

[2020-05-23 14:09] #151 closed

[2020-05-23 14:14] gavinking commented on #61
This is done, isn't it. Can I close it?

[2020-05-23 14:20] gavinking commented on #76
I'm going to close this one now because in #154 I introduced an extension point that allows users to experiment with integrating alternative reactive database drivers. If someone actually gets motivated to do this, would could consider accepting a contribution, but we don't have time to work on this right now (that's really quite a lot of work in terms of testing, etc), and @OrangeDog says he does

[2020-05-23 14:20] #76 closed

[2020-05-23 14:22] gavinking commented on #49
Closing, for the reasons stated above.

[2020-05-23 14:22] #49 closed

[2020-05-23 14:23] gavinking commented on #49
Note the related issue #153, however.

[2020-05-23 14:24] gavinking commented on #53
Note that this is now a *very* easy thing for a user to contribute.

[2020-05-23 14:32] gavinking commented on #61
Certainly seems to be working to me.

Thanks, @aguibert, this is great.

[2020-05-23 14:32] #61 closed

[2020-05-23 16:07] #170 closed

[2020-05-23 16:13] gavinking commented on #161
FYI I have fixed a bunch of the MySQL tests that were failing on my machine.

[2020-05-23 16:18] #167 closed

[2020-05-23 16:40] gavinking commented on #161
So there's a bit of a minor problem however: in order to get stuff working on MySQL I had to set schema export back to `"create-drop"`, but that means we're back to having Vert.x complain about blocked threads. :-/

[2020-05-23 20:35] gavinking commented on #46
Uff, sorry @DavideD, I did not see that you had assigned this issue to yourself .... I hope you weren't actively working on it!

[2020-05-23 22:13] gavinking opened #181 "entity loaders design issue"
The entity loaders currently override the `load()` method of `UniqueEntityLoader` and refine its return type to `CompletionStage`. This was an OK hack to get started, but we should migrate this code to use `reactiveLoad()` methods since this stands in the way of fixing #40.

[2020-05-24 08:57] DavideD commented on #46
It's OK, just keep in mind that Gail is working on the support for parameters.

[2020-05-24 10:23] gavinking commented on #46
Yes, I was deliberately not touching that.

[2020-05-24 10:28] gavinking opened #182 "criteria update and delete queries"
I've got criteria queries working, but I don't think I can be bothered working on update/delete criteria just yet. (Doesn't seem like the absolute *most* useful thing in JPA.)

[2020-05-24 13:31] gavinking commented on #161
I have finally solved this, after wasting *way* too much time on it.

[2020-05-24 13:48] gavinking commented on #162
It seems to me that this can be closed now.

[2020-05-24 13:48] gavinking commented on #161
It seems to me that this can be closed now.

[2020-05-24 13:51] gavinking commented on #166
Yay, these seem to be gone now. Surely to do with my work on schema drop.

[2020-05-24 13:51] #166 closed

[2020-05-24 14:32] gavinking commented on #172
I've added support for SQL statement logging via the traditional log category `org.hibernate.SQL`.

We can close this now, since there's actually no `println()` anywhere except for the support for `hibernate.show_sql`.

[2020-05-24 14:32] #172 closed

[2020-05-24 14:54] gavinking opened #183 "@NamedEntityGraph"
As mentioned in the readme, `@NamedEntityGraph` didn't work last time I tried it. This is a low priority, since `@FetchProfile` *does* work, and I find it more usable.

[2020-05-24 14:56] gavinking opened #184 "Document and test second-level cache options"
At some stage we'll have to spend some more time thinking about what our story is with respect to second-level cache.

**UPDATE**

By story I mean we need to be able to give users one or two options which are:

1. tested, and
2. documented.

Because right now we have not tested the second level cache *at all* with HR.

[2020-05-24 14:57] DavideD commented on #162
I think @aguibert is still working on this

[2020-05-24 15:00] gavinking commented on #162
Seems to work AFAICT.

[2020-05-25 05:48] cescoffier commented on #53
I agree with @emmanuelbernard :-)

[2020-05-25 06:03] cescoffier commented on #94
@gavinking To answer your question about cancellations. Cancellations are events flowing from downstream to upstream. They can be emitted if the consumer (subscriber) cancels the subscription (does not need any more events from upstream), or if something downstream fails and so resources must be cleaned up.

In your case, a cancellation event would mean a rollback I believe.

There is an `on().ter

[2020-05-25 06:39] gavinking commented on #53
@cescoffier I already implemented a Mutiny-based API. It's documented in the readme and in the example program.

[2020-05-25 06:53] gavinking commented on #94
OK, thanks, I will create an issue to make cancellation cause a rollback. Failures already cause rollbacks.

[2020-05-25 06:55] gavinking opened #185 "Mutiny cancellation should result in tx rollback"
According to @cescoffier.

[2020-05-25 07:09] cescoffier commented on #53
Cool! I will have a look!

[2020-05-25 08:16] #46 closed

[2020-05-25 08:52] gavinking commented on #183
So what JPA does with named `EntityGraph`s is really quite bizarre and not user friendly at all.

You have to first retrieve the `EntityGraph` object with a string-based lookup, and then put it in a map with a stringly typed key, and then pass that map to `find()`. Ugh.

There are also two kinds of `EntityGraph`s, "fetch plans", and "load plans", with subtly different semantics&mdash;but which are

[2020-05-25 08:54] gavinking commented on #183
Or for consistency with `Query`:

    s.createFinder(Author.class).setFetchPlan(s.getEntityGraph("withBook")).find(id)

And:

    s.createFinder(Author.class).setLoadPlan("withBook").setLockMode(lockMode).find(id)

[2020-05-25 09:07] gavinking commented on #183
Actually I have a way better idea.

Why on earth did JPA not design `EntityGraph`s so that they are explicitly associated with a root entity?

Anyway, I can hack it as follows:

    s.find( s.getEntityGraph(Author.class, "withBook"), author.getId() )

That's good, I think. Almost perfect, in fact.

[2020-05-25 10:06] gavinking commented on #183
I've implemented this and it works nicely. I have not added "load plans" at this stage since I don't consider them really useful, and I'm not even sure if Hibernate completely respects the semantics.

This is good enough for now and can be extended to more complex things.

[2020-05-25 11:35] #185 closed

[2020-05-25 13:18] FroMage commented on #49
Well, it depends on your use-case, really. In many cases you are fine with lazy-loading. What currently happens if you access a lazy-loaded collection without calling `fetch`? Will it throw or block? Both solutions are a non-typesafe potential trap.

The way I see it, it's up to the user to declare relations as `List<X>` (eager), `Uni<List<X>>` (lazy all in one call) or `Multi<X>` (lazy stream) an

[2020-05-25 13:37] gavinking opened #188 "batching loaders"
The code in `ReactivePaddedBatchingEntityLoaderBuilder`, `ReactiveDynamicBatchingEntityLoaderBuilder`, `ReactiveDynamicBatchingCollectionInitializerBuilder`, and `ReactivePaddedBatchingCollectionInitializerBuilder` is all just a mess and very difficult to understand/maintain.

This isn't completely our fault, since it's also a bit of a mess in Hibernate itself, and it would be well-worth refactori

[2020-05-25 13:53] gavinking commented on #49
There really are relatively few usecases where multiple trips to the DB are better than a big join. Sure, they exist, but they're not the most common thing.

In *some* cases, but they really are the exception. In practice, reliance on lazy loading is the #1 cause of performance bugs in Hibernate.

(Note: one case where lazy really does make sense is where you think the thing will be in the cache.)

[2020-05-25 13:57] gavinking commented on #49
It throws. And sure, `LazyInitializationException` is a major pain point in Hibernate, always has been. But `Uni` doesn't mean that `LazyInitializationException` vanishes forever.

[2020-05-25 16:13] gavinking commented on #60
See this is precisely what cheeses me off about this sort of stuff. So there's a sort of soft _recommendation_ from legal that if we add these notices it's nice because we can make life easier for some sort of automated source code scanning tools that people might hypothetically use.

Which is fine. I'm OK with that.

But then somehow we get from that to it's an absolute hard requirement that EVER

[2020-05-25 16:17] gavinking commented on #60
So in summary. I support adding checkstyle _iff_ it will prevent you from checking in code without Javadoc 🤭

[2020-05-25 19:17] Sanne commented on #60
I agree with your concerns @gavinking , we don't want to waste time on pesky tooling. ll propose a solution which doesn't use checkstyle and still lets us have the headers consistently and hopefully at minimal hassle.

[2020-05-25 20:08] #183 closed

[2020-05-25 20:08] gavinking commented on #183
Done!

[2020-05-25 20:21] #182 closed

[2020-05-25 20:45] gavinking commented on #120
When this is ready, we'll have to test it for:

- [ ] HQL queries
- [ ] native SQL queries
- [ ] filters (see #26)
- [ ] criteria queries

I'm hoping it will all Just Work by magic, but perhaps that's too optimistic.

[2020-05-25 20:46] gavinking commented on #26
I'm going to close this, and just consider the parameter support as a subtask of #120.

[2020-05-25 20:46] #26 closed

[2020-05-25 20:48] #188 closed

[2020-05-25 21:09] gavinking commented on #53
Alright, so from what I can see here:

<https://smallrye.io/smallrye-mutiny/>

The `Mutiny` API does already let people easily use Hibernate Reactive with other reactive streams implementations.

I don't know anything at all about this, but it also seems to be ReactiveStreams, so perhaps that's covered too. Anyway, we're targeting Java 8 for good reasons so we can't do anything specific with this

[2020-05-25 21:09] #53 closed

[2020-05-26 08:23] gavinking commented on #96
Apparently not, AFAICS.

[2020-05-26 10:07] DavideD commented on #102
I just learned that the release process on ORM is still in testing and might be something to fix in regards of the files I mentioned

[2020-05-26 10:09] #161 closed

[2020-05-26 10:09] emmanuelbernard commented on #49
I don't see it that way. To me `Uni<List<X>>` is equivalent to our recommended `@OneToMany(LAZY)`. It's lazy by default. But if you happen to have fetched that entity via a `from Foo f join fetch f.bar` then this Uni resolution is not a DB call, it is resolved entirely in the Persistence Context.

They have the same usages and semantic.

The usability on association updates is concerning. Especial

[2020-05-26 10:14] gavinking commented on #49
But they absolutely *don't*!

That's my whole point.

If I use `from Author a left join fetch a.books` I don't want to have to deal with a frickin' `uni.map()` to access the books!

[2020-05-26 10:25] DavideD commented on #161
Any reason for keeping [MySQLBasicTest](https://github.com/hibernate/hibernate-reactive/blob/master/hibernate-reactive-core/src/test/java/org/hibernate/reactive/MySQLBasicTest.java)?

[2020-05-26 10:30] gavinking commented on #161
Probably not.

[2020-05-26 10:31] gavinking commented on #162
@aguibert is there any reason we need to keep this open?

[2020-05-26 10:55] gavinking commented on #99
I imagine that support for coroutines is something that can be layered over this work as a façade. Anyway, it would *definitely* be a separate component.

And in the interest of keeping our issue tracker clean of issues that don't refer to actual code I'm actually going to push to this git repo, I'm going to close this issue.

(That doesn't imply anything at all about whether or not we'll have cor

[2020-05-26 10:55] #99 closed

[2020-05-26 14:01] Sanne commented on #60
This was fixed via #191

[2020-05-26 14:01] #60 closed

[2020-05-26 14:07] DavideD commented on #60
Thanks!

On Tue, May 26, 2020 at 3:02 PM Sanne Grinovero <notifications@github.com>
wrote:

[2020-05-26 14:31] #96 closed

[2020-05-26 14:40] DavideD commented on #161
Deleted: https://github.com/hibernate/hibernate-reactive/commit/1dabb5abd86283ec4e03b1c5a5c22bf7956e6332

[2020-05-26 14:43] gavinking commented on #161
You missed one: 05dda4b94c5866d3664694cb7897ba63aa7720be :-)

[2020-05-26 14:44] aguibert commented on #161
@DavideD Also remember to add MySQL to CI under `.github/workflows/build.yml`

[2020-05-26 14:45] aguibert commented on #161
If we do PRs on changes this will be a lot more obvious, and we get the validation of CI (as opposed to pushing directly to master)

[2020-05-26 14:46] DavideD commented on #161
Thanks :)

On Tue, May 26, 2020 at 3:43 PM Gavin King <notifications@github.com> wrote:

[2020-05-26 14:47] aguibert commented on #162
I'm still working on it -- I have some tests disabled on DB2 that were failing initially and require more investigation. (Comments that contain `TODO @AGG` if you're curious)

[2020-05-26 14:53] gavinking commented on #162
Well in `ReactiveSessionTest` it's `reactiveQueryWithLock()` that's the problem.

And in `BasicTypesAndCallbacksTest` it's because of the binary types and suchlike.

So AFAIK these just reflect limitations of the SB2 `SqlClient`, right?

[2020-05-26 15:01] gavinking commented on #162
Oh well, I'm wrong. I didn't realize that the test suite produces hundreds of these traces:

[code]

Gradle doesn't display them to me so I had not noticed before.

(But I just ran the test in the IDE.)

[2020-05-26 15:02] gavinking commented on #162
But that *must* be a bug in the DB2 `SqlClient`.

[2020-05-26 15:03] aguibert commented on #162
Yep, the NPE is a bug in the DB2 driver that Davide pointed out shortly after we introduced DB2. I've fixed it over in Vertx so we'll scoop that up on the next Vertx release

[2020-05-26 15:04] gavinking commented on #162
Ah, OK, 👍

[2020-05-26 15:05] aguibert commented on #162
I am planning to do the remaining investigation later today and hopefully close this one out by EOD. Yesterday was a US holiday so I'm just returning today

[2020-05-26 15:21] emmanuelbernard commented on #49
If you don't want to have to deal with `uni.map()`, then yes you would be among the folks that will not put `Uni` / `Multi` in their entity model.
And the price you pay is that you must be absolutely sure you receive an entity whose association has been fetched, or you get a `LIE`.

If you want the "load transparency", then you would go for the `Uni` usage. Or I guess always wrap with the static `

[2020-05-26 20:02] DavideD commented on #161
There is another test that has been disabled for MySQL: UUIDGeneratorTest @gavinking Did you look into it?

[2020-05-26 20:17] gavinking commented on #142
So it looks like we'll have *something* in the first release. But Hibernate has a plethora of lock modes and I'm not sure I want to implement all of them right now.

[2020-05-26 20:20] gavinking commented on #161
Yeah, I looked briefly at it and the UUID is not being stored correctly by MySQL.

TBH I don't recall if this functionality is even supposed to work on MySQL in Hibernate ORM.

Sometime we should look at it more carefully.

[2020-05-26 20:21] gavinking commented on #161
(I mean, *something* gets written to the MySQL table, just not a meaningful UUID.)

[2020-05-26 21:22] aguibert commented on #94
@gavinking I just played around with the new Mutiny.Session API in the Quarkus extension, and I really prefer the original version where `Mutiny.SessionFactory#openSession` returned a `Mutiny.Session` instead of the current `Uni<Mutiny.Session>` (same applies for the `Stage` variant too).

I have two main pain points for wrapping the reactive session in some sort of reactive pipeline object:
1. I

[2020-05-26 21:53] gavinking commented on #94
Yes, I agree it was more convenient.

The thing is that I also like the idea that the session lifecycle maps exactly to the lifecycle of the underlying Vert.x `SqlClient`. Opening a `Session` means obtaining a connection, closing the `Session` means closing it.

Now, it's certainly *possible* to go back to opening the connection lazily when it's first used, thus hiding this aspect of its lifecycle

[2020-05-26 22:19] aguibert commented on #94
I think the important thing is that we keep the same cardinality (1 session gets 1 connection). The important bits of the lifecycle still hold up (the connection lifecycle is bound by the session lifecycle), we're just decoupling the starting points of that lifecycle.

Agreed, and I've argued (unsuccessfully) against this in Vertx as well.

Regarding stage composition, to illustrate my point curre

[2020-05-26 22:32] gavinking commented on #94
@aguibert see https://github.com/hibernate/hibernate-reactive/pull/196

[2020-05-27 11:49] gavinking opened #201 "optimistic LockModes"
The `LockMode` types `OPTIMISTIC` and `OPTIMISTIC_FORCE_INCREMENT` passed to `lock()` are used to explicitly request a version check or version increment during the before completion phase of the transaction (*not* at flush time, if I understand correctly).

Since we don't really even have a well-defined transaction completion phase at this stage, I'm not going to add them now.

Also I doubt these

[2020-05-27 11:52] #142 closed

[2020-05-27 11:52] gavinking commented on #142
Done!

[2020-05-27 11:52] gavinking commented on #142
(Followup work in #201.)

[2020-05-27 12:40] gavinking commented on #145
If I understand correctly, you can't actually create users in DB2 SQL. DB2 users are OS users that you grant permissions on DB2 tables.

Honestly I think it's perfectly fine if we just assume that testing on DB2 means using `-Pdocker`. The Docker stuff that Andrew set up actually works *really* well and it's easier to install Docker locally than it is to install DB2 (if I recall correctly from yea

[2020-05-27 12:45] gavinking opened #203 "improve javadoc for Session operations"
In both `Mutiny.Session` and `Stage.Session`, the basic operations are "documented" by copy/pasting really ancient text from `org.hibernate.Session`. Text that *I* wrote much more than a decade ago, pre the existence of JPA.

We should improve it.

We should also take those improvements and apply them back to `org.hibernate.Session`!

[2020-05-27 13:44] #145 closed

[2020-05-27 14:23] gavinking commented on #157
@DavideD would you consider it sufficient documentation that this is described in the Javadoc for `ReactiveConnectionPool`, including a code example?

[2020-05-27 14:28] gavinking opened #204 "lazy property fetching"
I *believe*, but have not tested that lazy property fetching via bytecode enhancement is non-working.

The basis for this belief is that I seem to recall taking a couple of shortcuts when getting much more important features working.

So we should:

1. write some tests to be certain one way or another, and
2. investigate possibly fixing it, or else
3. document the limitation, if necessary.

[2020-05-27 14:44] DavideD commented on #157
ok

[2020-05-27 16:08] gavinking commented on #157
soooo .... does that mean we can close this? :-)

[2020-05-27 16:34] Sanne commented on #40
Just an update, I started working on this now. Sorry for the delay, quite swamped :(

I'll need another batch of fixes in ORM for this; essentially my plan is to have the bootstrap code of Hibernate Reactive slightly different than the vanilla Hibernate ORM: rather than have it use the `Integrators` API to register new and alternative implementations of `Service`s, I'll have them preloaded into a

[2020-05-27 16:44] #157 closed

[2020-05-27 17:01] gavinking commented on #204
So, I'm playing about with the bytecode enhancer with Hibernate Reactive, just to see if I can break it, and I noticed the following thing that I find quite confusing:

In `AbstractEntityPersister` we have:

[code]
But this naïvely seems wrong to me, and inconsistent with what `DefaultLoadEventListener` is expecting.

It looks correct when `hibernate.bytecode.allow_enhancement_as_proxy` is explici

[2020-05-27 17:29] gavinking opened #205 "merge and reactiveIsTransient()"
Because I wanted to get cascade merge up and working as quick as possible, I took a shortcut and introduced the `reactiveIsTransient()` method on `ReactiveEntityPersister`, which just does a simple check to see if the entity is there in the database.

In Hibernate ORM, it uses `getDatabaseSnapshot()` to actually retrieve a whole snapshot, thus minimizing unnecessary updates.

I need to go back and

[2020-05-27 17:48] gavinking commented on #204
Well, I've played with this a bit not, and the situation doesn't seem terrible at all: it would be rather straightforward to make it work if we just expose some things in `AbstractEntityPersister` to subclasses.

In particular:

- the `lazyPropertyXxxxxx` attributes need to be exposed via getters, and
-we'll need to write a version of `initializeLazyProperty()` that returns a `CompletionStage`, an

[2020-05-27 18:07] gavinking commented on #204
I have opened https://github.com/hibernate/hibernate-orm/pull/3421 with the required changes to `hibernate-core`.

[2020-05-27 18:08] gavinking commented on #204
(Note to self: WIP is on the branch `lazy-fetching-enhancement`.)

[2020-05-27 18:11] gavinking opened #207 "remove reflection hack from ReactiveCriteriaQueryImpl"
After next Hibernate release, we can take advantage of:

https://github.com/hibernate/hibernate-orm/pull/3419

[2020-05-27 18:46] gavinking commented on #40
So you'll need to explicitly specify a `<provider>` in `persistence.xml`?

That sounds reasonable.

`org.hibernate.reactive.provider`

I could also live with "boot".

[2020-05-27 19:18] Sanne commented on #40
Thanks, I'll move it to `org.hibernate.reactive.provider`.

Now that I've made some progress, I realize the non-JPA boot is going to look even more clumsy :(

I'll see if I can avoid making it too complex, but I suppose we might need to follow up on this with a new boot API.

[2020-05-27 20:21] gavinking commented on #40
You mean starting it with `StandardServiceRegistryBuilder()`?

[2020-05-27 22:11] Sanne commented on #40
yes. I've introduced a `ReactiveServiceRegistryBuilder` now.. still work in progress.

[2020-05-28 06:01] gavinking opened #210 "checkNaturalId()"
In `DefaultReactiveFlushEntityEventListener` there is a `checkNaturalId()` method which seems to exist only to throw an exception if the user changes an *immutable*, i.e. non-updatable natural id property of the entity.

Now there is actually a code path in which this method can wind up *hitting the database* to retrieve a snapshot in `getNaturalIdentifierSnapshot()`, which seems a bit excessive t

[2020-05-28 08:01] DavideD commented on #210
Option 3 sounds good to me

[2020-05-28 09:04] DavideD commented on #120
Should we keep this issue open until we added the additional test cases or close it and create a separate one?

[2020-05-28 09:29] gavinking commented on #120
What tests are missing?

[2020-05-28 09:34] DavideD commented on #120
Don't we need tests for native queries, filters, and criteria queries?

[2020-05-28 09:38] gavinking commented on #120
Ah, OK, sure, good point. Yes we do. OK, open a new issue then.

Are we laying bets on whether they work with no changes?

[2020-05-28 09:42] DavideD commented on #120
Absurd! Why would you bet knowing that our code is always perfect :)

[2020-05-28 09:45] DavideD opened #211 "Additional test cases for queries with parameters"
This follows https://github.com/hibernate/hibernate-reactive/issues/120

If this task becomes too big we can split it.
We have all the logic for queries and parameters in place but some tests are missing:

- [x] native SQL queries
- [x] filters (see #26)
- [x] criteria queries

We can create new issues if we find problems along the way.

[2020-05-28 09:46] DavideD commented on #120
Created https://github.com/hibernate/hibernate-reactive/issues/211

Thanks

[2020-05-28 09:46] #120 closed

[2020-05-28 09:54] #205 closed

[2020-05-28 09:55] gavinking commented on #211
Wrong milestone :-)

[2020-05-28 10:22] DavideD commented on #211
By the way, What exactly FIRST CUT means ? is it the first release or the first final?

[2020-05-28 10:23] gavinking commented on #73
Actually I'm really bothered by the exception handling in `ReactiveSessionImpl`.

But I suppose it's all necessary for JPA compliance.

Still, it might be nice if `hibernate-core` exposed a bunch of exception translation methods like `convertPersistException()`, etc, that we could just call.

I think we should do that, actually.

[2020-05-28 11:13] gavinking commented on #211
First release.

[2020-05-28 12:56] Sanne commented on #184
In Quarkus - currently - we only support local caching: no distributed stuff:
 - https://quarkus.io/guides/hibernate-orm#limitations-of-caching

There's an issue to improve on that - as there's also a need for caches which are able to maintain consistency across multiple nodes - but that's a problem to be solved later.

So for now I'd propose that Hibernate Reactive also supports local caching exc

[2020-05-28 12:58] Sanne commented on #184
FWIW, while extensively profiling applications using in-memory 2LC we'd never see contention so I'm not particularly concerned about it - just bringing it up for completeness.

[2020-05-28 13:26] gavinking commented on #184
Wellyes, that's pretty much what we already say in the README.

OK, well, in that case perhaps we *don't* need a better story for now...

IMO that's totally fine. It's IO we care about. A `synchronized` block around what is essentially a hashmap lookup shouldn't be any sort of problem at all.

[2020-05-28 13:28] gavinking commented on #184
Actually this issue description wasn't well-written at all. The things I was thinking of was really mainly just actually documenting and testing one or two cache options that we think *are* good choices for HR.

The thing is if a user asks me today what cache they should use with HR and will it actually work I will simply have no answer to them, knowhatimean?

[2020-05-28 13:29] Sanne commented on #184
Cool. In Quarkus we can then enable the same 2LC implementation which we have for the existing ORM.

[2020-05-28 13:31] Sanne commented on #184
Right, we need to document what's ok.  Many caches though (notably Infinispan and Ehcache) can be configured both in local and in clustered mode - we don't really know how they are setup.

So we need to warn that they shouldn't be configured to use blocking operations.

[2020-05-28 13:33] gavinking commented on #184
But we also need to test it for ourselves. There is HR code in the codepath to the cache.

[2020-05-28 13:56] DavideD opened #213 "Tests end before closedb is completed"
@gavinking After this commit https://github.com/hibernate/hibernate-reactive/commit/b35cb06d377b098216df47e9c2cec9fcc3f4c73a
if I launch `CompositeIdTest` from IntelliJ the `reactivePersist` test fails (`selectNameFromId` returns null).

Do you have the same issue?
@Sanne is this the failure you are having?

[2020-05-28 13:56] DavideD commented on #213
Note that it works if I build the project with gradle

[2020-05-28 13:58] gavinking commented on #213
Which db?

[2020-05-28 13:58] DavideD commented on #213
PostgreSQL

[2020-05-28 14:00] gavinking commented on #213
Can't reproduce. Stack trace?

[2020-05-28 14:01] DavideD commented on #213
There is not stacktrace, the test fails with:
[code]

[2020-05-28 14:02] gavinking commented on #213
Line number of the assertion?

[2020-05-28 14:05] gavinking commented on #213
Ah well wait.

If I check out that precise commit, I can reproduce the failure under certain circumstances: IntelliJ, no Docker.

But I could not reproduce it on current `master`.

[2020-05-28 14:11] gavinking commented on #213
I believe it's probably caused by one of the sessions in one of the other tests not being flushed.

[2020-05-28 14:11] DavideD commented on #213
I can  reproduce it consinstently, I will have a look

[2020-05-28 14:18] gavinking commented on #213
Closing the session seems to fix it. Which is weird, because I can't imagine *why*.

I mean, this is certainly more correct code:

[code]

But why would not closing the session result in changes not being visible in the DB?

[2020-05-28 14:25] DavideD commented on #213
It still fails for me

[2020-05-28 14:25] gavinking commented on #213
¯\\\_(ツ)\_/¯

[2020-05-28 14:50] aguibert commented on #162
At the moment I've enabled as many tests as possible on DB2 given Vertx 3.9.1. I have some fixes that will go into 3.9.2 which will allow us to enable a few more tests too.

@gavinking I haven't been able to properly track down the lock-related test issues in `ReactiveSessionTest`. Do you expect this is because of DB2s server-side locking behavior? It doesn't seem like the DB2 client is behind the

[2020-05-28 15:48] DavideD commented on #213
It should be fixed: https://github.com/DavideD/hibernate-reactive/commit/d5f6cd8a692c8d2f95931d515dc0914b8b2195e3

[2020-05-28 15:49] #213 closed

[2020-05-28 18:17] gavinking commented on #162
Honestly I have no clue. And I wasn't really very motivated to investigate it further while I'm still getting those logged error traces...

[2020-05-28 23:13] gbadner commented on #161
@gavinking, @DavideD , there is a similar ORM [test](https://github.com/hibernate/hibernate-orm/blob/master/hibernate-core/src/test/java/org/hibernate/id/uuid/GeneratedValueTest.java) using a generated UUID as ID.

That test maps the column as:
`		@Id
		@Column( length = 16 )
		@GeneratedValue
		public UUID id;
`
The ORM test passes using MySQL8.

When I removed `@Column( length = 16 )`  from the

[2020-05-28 23:17] gavinking commented on #161
@gbadner ah, perfect, thanks!

[2020-05-28 23:27] gavinking commented on #161
Right, because the column type is `binary`, not `varbinary`, it was getting padded with zeros.

[2020-05-29 08:20] FroMage opened #217 "Features for Panache Reactive"
Hi,

I've started to port Panache Reactive and found the following methods I used to call on `EntityManager` or the JPA `Query` to be missing:

- `Query.setLockMode` (the one taking no alias and a JPA lock enum). It appears not trivial to call the present version with aliases because the code paths differ, so not sure they're equivalent
- `Query.setHint`
- `Query.getQueryOptions` (required to get

[2020-05-29 08:48] andreas-eberle commented on #99
I still think this should be tracked somewhere to not be forgotten. And since there is no other repo yet, I think this project would be the best place to have this issue. However, If you know a better place, I'd be happy to open an issue there.

[2020-05-29 09:13] DavideD opened #220 "Support parameters for update/delete queries and criteria"
We already have an ignored test in the code base: [HQLUpdateQueryTest#testUpdateQueryWithParameters ](https://github.com/hibernate/hibernate-reactive/commit/4cc82e9bad11e15495bd5a396cc62db1b5fd36cd#diff-2c741543d9b4ba75d4aca7d803b2344cR72)

[2020-05-29 10:18] gavinking commented on #99
Look, this is just a personal preference, coming from past projects like Hibernate and Ceylon where we've been absolutely overwhelmed as a result of taking a very "welcoming" approach with issue reports, to the point that the issue tracker becomes a lot less useful as a way of seeing what are the important things we need to be working on.

The issue tracker shouldn't be a list of "nice-but-vague i

[2020-05-29 10:21] gavinking commented on #217
Damn, so the very first actual user of this stuff is the guy who's using all the features where I said to myself "oh, nobody every uses that".

[2020-05-29 10:30] gavinking commented on #217
What is it that you're passing to `setHint()`?

[2020-05-29 10:44] gavinking commented on #217
I have given you two of your wishlist items, completely without any sort of testing at all.

[2020-05-29 11:06] Sanne opened #223 "Upgrade to Hibernate ORM 5.4.17.Final"
it's available now, and we need it for various improvements.

The upgrade breaks something in `ReactiveQueryLoader` and `ReactiveCustomLoader`, I assume @DavideD knows what needs to be done?

[2020-05-29 11:21] gavinking commented on #223
Is it related to #207?

[2020-05-29 11:27] DavideD commented on #223
Working on it

[2020-05-29 12:02] FroMage commented on #217
Thanks :)

[2020-05-29 12:34] gavinking opened #225 "filter parameters and collection fetching"
Filter parameters don't get bound when we fetch a `@OneToMany`.

There is an `@Ignored` test in `FilterTest`.

[2020-05-29 12:34] gavinking commented on #211
I've tested filters, and added tests, but there is a remaining problem #223
Closing this issue.

[2020-05-29 12:34] #211 closed

[2020-05-29 13:01] gavinking commented on #39
Apparently, as demonstrated in #226, half of this has already been implemented for some time!

That is, it works for `@OneToMany`, but not yet for `@ManyToOne`.

[2020-05-29 13:03] gavinking commented on #161
@gbadner were you going to push that fix, or shall I?

[2020-05-29 13:14] DavideD commented on #223
The problem is that CachingReactiveLoader#bindPreparedStatement scope is in conflict with Loader#bindPreparedStatement

Adding the merhod in Loader was part of this PR: hibernate/hibernate-orm#3420
that was sent during the work to support parameters #197

Renaming the method in CachingReactiveLoader seems the simplest trick for now.

[2020-05-29 13:14] #223 closed

[2020-05-29 13:23] Sanne commented on #40
done in #214

[2020-05-29 13:23] #40 closed

[2020-05-29 14:34] DavideD opened #229 "Build fails with MySQL"

[2020-05-29 14:38] gavinking commented on #223
I understand, that's because we're going to delete `CachingReactiveLoader#bindPreparedStatement` :-)

[2020-05-29 14:59] yrodiere opened #230 "Create documentation subproject"
This should produce in particular:

* aggregated javadoc
* asciidoc-based reference documentation

[2020-05-29 15:02] gavinking commented on #223
(The relevant [discussion](https://github.com/hibernate/hibernate-reactive/pull/197#issuecomment-634522808))

[2020-05-29 15:16] gavinking commented on #204
This change is now in the latest release of Hibernate, so nothing is stopping us from doing this now.

[2020-05-29 15:30] #207 closed

[2020-05-29 16:17] gavinking commented on #229
I *suspect*, but do not know for sure yet, that this is a result of @Sanne's new config code breaking my MySQL-specific configuration in `BaseReactiveTest.before()`.

[2020-05-29 16:20] gavinking commented on #229
Right, yeah, it's that. `NoJdbcConnectionProviderInitiator` now gets started later and therefore "wins".

[2020-05-29 16:28] gavinking commented on #229
Should be fixed now.

[2020-05-29 16:28] #229 closed

[2020-05-29 16:54] gbadner commented on #161
@gavinking, I just pushed it.

[2020-05-29 17:53] gavinking commented on #161
👍thanks

[2020-05-29 18:41] gavinking commented on #204
So, I've implemented this. It looks like:

[code]

[2020-05-30 03:04] gbadner opened #237 "Multi-table update and delete queries are not supported"
Currently, updates and deletes that affect multiple entity tables are not supported

For example, suppose `Folder`, `Document`, and `SymbolicLink` all extend  ` abstract File`, which has a `name` property, and uses `InheritanceType.TABLE_PER_CLASS`.

That means that `Folder`, `Document`, and `SymbolicLink` each has it's own DB table, each having a `name` column.

In order to delete all `File` enti

[2020-05-30 12:43] gavinking commented on #220
This is done.

Thanks, @gbadner for #236.

I tested criteria queries and her fix also works there.

And I made it work for native SQL update/deletes in #238.

[2020-05-30 12:45] #220 closed

[2020-05-30 22:12] gavinking opened #239 "properties for configuring the Vert.x connection pool"
We need to add config properties to allow you to config the Vert.x connection pool, something like:

- `hibernate.vertx.prepared_statement_cache.max_size`
- `hibernate.vertx.prepared_statement_cache.sql_limit`
- `hibernate.vertx.pool.max_wait_queue_size`

Or perhaps:

- `hibernate.reactive.prepared_statement_cache.max_size`
- `hibernate.reactive.prepared_statement_cache.sql_limit`
- `hibernate.rea

[2020-05-31 20:54] gavinking commented on #153
So today I spent just a little bit of time playing with what the vert.x `SqlClient` offers here. If I'm not mistaken, the thing I'm supposed to be looking at is the support for cursors.

Aaand ... I guess I'm a little disappointed: I guess when people were talking about streaming results over a `Multi`, I figured that what we were thinking of was having the program be able to process the rows of a

[2020-05-31 21:05] gavinking commented on #217
So to summarize where we're at on this one:

1. `Query.setLockMode` is done.
2. `Query.setHint()` is implemented but not exposed, because I can't find any hints where are meaningful for use:
    - the vertx client doesn't have timeouts yet
    - there is no notion of a fetch size
    - we have a `setComment()` method, no need for a hint for that
    - likewise, we have methods for setting the flus

[2020-05-31 21:44] gavinking commented on #217
Now I've added getters in 6ad870b3512ebc35bcbe5be2588c493f1b678c2a.

@FroMage may I close this issue please?

[2020-06-01 10:01] DavideD commented on #163
Done https://github.com/hibernate/hibernate-reactive/pull/218

[2020-06-01 10:01] #163 closed

[2020-06-01 10:03] gavinking commented on #163
Excellent, finally -)

[2020-06-01 11:28] #239 closed

[2020-06-01 13:49] #204 closed

[2020-06-01 14:19] Sanne commented on #102
@DavideD @yrodiere only docs + javadocs are missing right?

Should we create a different issue and close this one ?

[2020-06-01 14:20] gavinking commented on #102
@Sanne that is already issue #230.

[2020-06-01 14:24] gavinking commented on #73
@DavideD I've actually done quite a lot of work on the error handling, over time, which is a lot simpler now, and the errors I see coming out of HR always look pretty reasonable to me.

So I'm not quite sure what specific tasks remain to be done on this issue. For now it looks a bit vague and aspirational.

Can we close it, or is there specific work you were planning to do?

[2020-06-01 14:28] gavinking commented on #158
Currently we don't have any disabled tests for MySQL. So I think that's fixed.

With respect to DB2 limitations, if @aguibert wants to document them somewhere, then great. (The README is perhaps not the best place, perhaps in a separate file.)

Otherwise, I would say we can close this issue.

[2020-06-01 14:29] gavinking commented on #203
This is almost completely done, but I need to go through and put in the `<p>` tags.

[2020-06-01 14:31] gavinking commented on #230
So my question is: where is this going to go on the Hibernate website. You see `https://hibernate.org/validator/` currently doesn't exist.

[2020-06-01 14:38] aguibert commented on #158
Perhaps we could add a link to the Vertx driver limitations in our limitations section? https://github.com/hibernate/hibernate-reactive#limitations

[2020-06-01 14:46] gavinking commented on #158
Yes, that's fine by me. But does the limitations list you want to link to exist yet?

[2020-06-01 14:50] gavinking commented on #39
@gbadner since I think it must have been you who got this working for collections, and since I guess you must understand the intricacies of `TwoPhaseLoad`, would you be interested in trying to make this work for `@ManyToOne`?

[2020-06-01 15:39] aguibert commented on #158
yes, we are building the list up here in source form on the DB2 driver:
https://github.com/eclipse-vertx/vertx-sql-client/blob/master/vertx-db2-client/src/main/asciidoc/index.adoc#reactive-db2-client
I'll raise an issue to ensure we document limitations for all drivers besides just DB2 within Vertx

This will be published on vertx.io documentation once the next release goes out

[2020-06-01 16:57] DavideD commented on #230
I'm working on the website

[2020-06-01 16:57] #102 closed

[2020-06-01 16:58] DavideD commented on #73
No, let's close this

[2020-06-01 16:58] #73 closed

[2020-06-01 17:02] DavideD commented on #158
That's fine by me

[2020-06-01 17:15] gavinking commented on #158
By the way, @aguibert I noticed that when I enabled the prepared statement cache on DB2, it resulted in a couple of failures in our test suite. Might be worth looking in to.

[2020-06-01 17:16] gavinking commented on #230
Excellent, thanks!

[2020-06-01 17:21] gavinking commented on #158
I added the link to the readme.

Closing this for now.

[2020-06-01 17:21] #158 closed

[2020-06-01 17:37] gbadner commented on #39
@gavinking, yes, I'll take a look.

[2020-06-01 18:27] gavinking commented on #39
Thanks mate.

[2020-06-01 18:29] gavinking commented on #203
Done.

[2020-06-01 18:29] #203 closed

[2020-06-02 07:51] yrodiere commented on #230
Documentation is hosted on jboss.org for other Hibernate projects anyway. We just link to jboss.org from the website.

We can change that later if necessary, but as a first step I'll just do it the same way as other Hibernate projects :)

[2020-06-02 07:59] gavinking commented on #230
OK, but it's not so much a question of where the docs will be *hosted* as where can we put HR so it will have visibility to Hibernate users. I have the same problem with [Query Validator](https://github.com/hibernate/hibernate-reactive) right now. We could do a release of it ... but it wouldn't have any visibility on hibernate.org. And so I'm not quite sure what to do about that.

[2020-06-02 09:23] emmanuelbernard commented on #153
Right I did not have in mind the idea of keeping a DB cursor open to implement `Multi`. There is a difference though between `ScrollableResults` as Hibernate implements it and a `Multi` solution.
The back pressure and push vs pull. The API is vastly simpler to use because the `Multi` and the backpressure is wired up to the top (or rather bottom) of the stack. This is different than having to keep

[2020-06-02 09:36] FroMage commented on #217
Actually I just noticed you didn't give me `setLockMode(LockModeType)` which takes the JPA lock mode enum (not the Hibernate enum). Is that on purpose?

[2020-06-02 09:40] gavinking commented on #217
Yes, it's on purpose because Hibernate actually has a couple of extra very specific `LockMode`s that JPA doesn't have (`UPGRADE_NOWAIT` and `UPGRADE_SKIPLOCKED`) and because the other enums (`CacheMode` and `FlushMode` are also from `org.hibernate`).

Now, I wouldn't object to overloading those methods to accept the JPA version if it would help.

[2020-06-02 09:41] gavinking commented on #217
(On the other hand, that might not help much, since the *getters* would still be returning the `org.hibernate` version.)

[2020-06-02 09:42] FroMage commented on #217
I mean, ATM I'm calling:

[code]

and downstream, you do the exact opposite :(

[2020-06-02 09:44] gavinking commented on #153
Oh so the idea was that this would just be some total sugar on top of `setMaxResults()`/`setFirstResult()`, totally implemented as a wrapper, not something that went all the way back to the database client?

Must admit I'm struggling to see how you would even use this in a real program.

[2020-06-02 09:45] FroMage commented on #217
Oh, damnit, I should have checked what we use the `getQueryOptions` method for, it turns out we use it to reset paging:

[code]

Sorry about this, I got confused about what this code did, that's my fault. The normal setters don't seem to allow for disabling paging.

[2020-06-02 09:45] gavinking commented on #217
I don't. Internally Hibernate converts all `LockModeType`s to `LockMode`s.

[2020-06-02 09:46] gavinking commented on #217
They do, I think: you set first to 0 and maz to `Integer.MAX_VALUE`. I believe that that is documented :-)

[2020-06-02 09:53] FroMage commented on #153
We could start with implementing it as pagination until someone wants cursors indeed.

As for its usefulness, it's just the difference in API usability between `Uni<List<T>>` and `Multi<T>`. The first of which is a mix of two paradigms while the second is not.

I do wonder if we'll be able to map the multi paging methods to underlying DB paging though, but I suspect not:

[code]

[2020-06-02 09:55] FroMage commented on #217
Huh. IIRC when this PR got merged, the reporter reported still seeing `LIMIT/OFFSET` clauses in the db query when using that method. But perhaps my memory is wrong.

[2020-06-02 09:58] FroMage commented on #217
`LimitHelper.hasFirstRow`  agrees with you, but `LimitHelper.hasMaxRows` doesn't.

[2020-06-02 10:03] gavinking commented on #217
In fairness, the JPA spec is a bit ambiguous. It *does* say that `getMaxRows()` *returns* `MAX_VALUE` when not set, but it doesn't say what setting `MAX_VALUE` does.

I would prefer to change Hibernate to interpret `MAX_VALUE` as no limit.

[2020-06-02 10:08] gavinking commented on #217
Oh wait. You're right, inside the `Query` they *do* get converted to the `LockModeType`. And then back to `LockMode` later on, I suppose. Pfff.

[2020-06-02 10:09] gavinking commented on #217
Oh but only for the one with no alias. Sheesh.

[2020-06-02 10:11] gavinking commented on #217
Hahaha OMG the `Query` converts the `LockMode` to a `LockModeType` and then back to a `LockMode`.

[2020-06-02 10:31] gavinking commented on #217
Fixed.

[2020-06-02 11:27] emmanuelbernard commented on #230
My take is Query validator could go https://hibernate.org/tools/ or https://hibernate.org/others/
And HR in https://hibernate.org/reactive
Indeed Davide's work on the website will be critical for visibility.

[2020-06-02 11:40] gavinking commented on #230
@emmanuelbernard SGTM

[2020-06-02 14:04] #230 closed

[2020-06-03 08:41] gavinking commented on #153
...

But @emmanuelbernard @FroMage my point is that _even if we did use cursors_, at least in the current API of Vert.x, what you're getting back from the database at each request is still a whole table of results, fully materialized.

Now, I honestly have no idea what's possible at the underlying database-native protocol level: perhaps there *is* some way to obtain results in a truly streaming fa

[2020-06-03 09:01] gavinking commented on #153
@cescofier I've actually looked for something like this a couple of times and didn't find it. I think I can see how to do it with an emitter but that looks a bit more verbose than it should be.

[2020-06-03 09:03] emmanuelbernard commented on #153
Good points Gavin.

Converting Uni<List<?>> to `Multi<?>` is a possible solution., I was about to say "but then you have to load the whole list in memory". It turns out that with `Multi` you do too.

If we are to limit the amount of data in memory at a given time, we need a forward only mode to make sure we can drop objects that have been pushed to the `Multi` stream. But that also mean that we ei

[2020-06-03 09:06] cescoffier commented on #153
To create a Multi from an Iterable, just use `Multi.createFrom().items(iterable)`.
If you have a cursor like API, use:

[code]

[2020-06-03 09:46] gavinking commented on #217
I tested this, and ORM itself has a rubbish implementation (n+1 selects) so I won't expose it for now. (If I'm not mistaken, this will be fixed in H6.)

[2020-06-03 09:47] gavinking opened #247 "query cache"
Closely related to #184, we should test the query cache, and if it's working, add the methods to the `Query` interfaces that are needed for managing it.

[2020-06-03 09:49] gavinking commented on #217
I've opened #247 to capture this.

[2020-06-03 09:51] gavinking commented on #217
Closing this one, since the remaining work is in #153 and #247.

@FroMage if something else is still missing please let me know.

[2020-06-03 09:51] #217 closed

[2020-06-03 10:02] gavinking commented on #153
Right, that's the semantics of `StatelessSession`.

[2020-06-03 10:08] gavinking commented on #153
Not from an `Iterable`, @cescoffier, for a `Uni<Iterable>`.

I expected to find something like this:

[code]

But I didn't find anything obvious.

I think it's a bit more involved that that: the Vert.x client API for cursors is rather a mess of callbacks. But I'm not even going to go *there* right now.

[2020-06-03 11:58] cescoffier commented on #153
So, it should be something like:

[code]

Le mer. 3 juin 2020 à 12:08, Gavin King <notifications@github.com> a écrit :

[2020-06-03 12:14] gavinking commented on #153
@cescoffier right, sure, OK, that would work.

I would still prefer a shortcut for it though.

[2020-06-03 13:00] gavinking commented on #153
Well, I've added an operation that just transforms the result list to a `Multi`.

I'm not going to do anything more work than that unless we have a really well-defined and well-thought-out need and problem we're trying to solve and strategy for solving it.

Which we clearly don't have right now.

So I'm going to close the issue now.

[2020-06-03 13:00] #153 closed

[2020-06-03 13:37] emmanuelbernard commented on #153
I think @FroMage , you and I should have a chat over... some fruit syrup to discuss that further.

[2020-06-03 13:42] FroMage commented on #153
@emmanuelbernard you know my address for shipping said fruit syrup. I'd prefer cereal syrup if it's possible ;)

[2020-06-03 17:52] gavinking opened #248 "use markdown-doclet"
I *loved* being able to write doc comments in Markdown in Ceylon, and it's such a bummer to go back to the awful quasi-HTML-ish format that's native to Java.

Fortunately, someone has [written a doclet for this](https://github.com/Abnaxos/markdown-doclet), so let's try it out.

[2020-06-03 18:25] aguibert opened #249 "Build fails on JDK 11"
Trying to build using JDK 11 now fails with the following error:

[code]

[2020-06-04 06:57] emmanuelbernard commented on #248
For info, we also experimented and used the asciidoc doclet in Quarkus. I forgot if that’s still in place or if we gave up @gsmet
I remember I liked it

[2020-06-04 07:33] DavideD commented on #249
Done https://github.com/hibernate/hibernate-reactive/issues/249

Done with 0d54ec09512b437bdbee0f019364c396636a1e92

[2020-06-04 07:33] #249 closed

[2020-06-04 16:32] gbadner commented on #39
FYI, I'm making progress on this. I hope to have something to show in the next day or two...

[2020-06-04 16:34] gavinking commented on #39
Excellent!

[2020-06-04 16:47] DavideD opened #253 "Smoke test the example"

[2020-06-08 16:05] DavideD opened #255 "MS SQL Server support"
Support for SQL Server is only available in Vert.x 4 at present ~~, and we're currently tied to Vert.x 3.9 by the need to support Quarkus~~.

Also, last time we checked, the SQL Server client was not very robust, and will need some bugfixes to work with HR.

[2020-06-12 05:04] gbadner commented on #39
OK, I have something at works, but it needs some tidying up. I'll do that on Monday.

[2020-06-12 08:53] gavinking commented on #39
Excellent!

On Fri, Jun 12, 2020 at 7:04 AM gbadner <notifications@github.com> wrote:

--
Gavin King
IBM

[2020-06-15 14:11] gavinking opened #257 "batch inserts (and updates)"
The Vert.x client does have an API for batching inserts (and updates?) but currently we have commented out the code which handles batching in Hibernate (which was very JDBC-specific).

We should add support for at least batch inserts, since that can make a big difference to performance.

[2020-06-15 14:16] gavinking opened #258 "StatelessSession"
We could add `Stage.StatelessSession` and `Mutiny.StatelessSession`.

[2020-06-16 10:25] #253 closed

[2020-06-19 09:43] DavideD opened #260 "Quarkus quickstart"
We need to create the quickstart for quarkus: https://github.com/quarkusio/quarkus-quickstarts

[2020-06-19 09:43] DavideD commented on #260
@aguibert Are you already working on this?

[2020-06-19 15:39] mgonzaga1990 commented on #260
Hi @DavideD , is the connection configuration simillar to this **hibernate-orm-quickstart** ?
I'm trying to integrate this on my project as we speak..

[2020-06-22 10:47] gavinking opened #261 "subselect fetching"
As I [commented here](https://github.com/hibernate/hibernate-reactive/pull/259#issuecomment-646998102), subselect fetching isn't working yet.

I'm hoping @gbadner has some insight on this one.

[2020-06-22 13:48] aguibert commented on #260
hey @DavideD, no I haven't started on it yet but it was on my TODO list

[2020-06-23 04:31] gbadner commented on #261
@gavinking , I've made some progress on troubleshooting this, but I keep running into timeout failures.

Is there some way to increase timeout?

[2020-06-23 08:02] DavideD commented on #261
@gbadner Do you mean this? https://github.com/hibernate/hibernate-reactive/blob/master/hibernate-reactive-core/src/test/java/org/hibernate/reactive/BaseReactiveTest.java#L37

[code]

[2020-06-23 08:35] FroMage opened #263 "CompletionStage exceptions leak into Mutiny API"
I just got a `CompletionException` via the `Mutiny` API, which wraps any exception thrown inside a `CompletionStage` pipeline. I believe this is very annoying because it means I must wrap all my `Uni` into an exception mapper that unwraps these silly exception wrappers into their original causes.

Can we make sure the Mutiny API unwraps those?

Otherwise you'll have to document that `NoResultExcep

[2020-06-23 08:46] FroMage opened #264 "Support auto-generated IDs without calling JDBC"
It looks like this should work, but I'm getting JDBC requirements for this sort of ID:

[code]

[code]

Even though probably `SequenceReactiveIdentifierGenerator` should have the right bits, no?