[2020-06-23 09:04] FroMage commented on #264
On Quarkus it doesn't look like `ReactiveIdentifierGeneratorFactoryInitiator.initiateService` is ever called, even though `ReactiveIdentifierGeneratorFactoryInitiator` is properly wired in.

[2020-06-23 10:30] FroMage commented on #264
Forget it, this is a Quarkus bug.

[2020-06-23 10:30] #264 closed

[2020-06-23 10:35] FroMage commented on #264
Moved to https://github.com/quarkusio/quarkus/issues/10187

[2020-06-23 11:23] DavideD commented on #260
@aguibert I will assign this to myself ten
@mgonzaga1990 I still have to finish it but I suppose it's similar. I will let you know when I've finished it.

[2020-06-23 11:33] gavinking commented on #263
Hrm. I almost feel like this is something that `Uni.createFrom().completionStage()` should do for me. I mean, we could do it in 27 different places (so far!) in Hibernate Reactive, or Mutiny could do it in one place.

WDYT @cescoffier?

[2020-06-23 11:33] mgonzaga1990 commented on #260
@DavideD - let me know if there is anything i could help you on this one.. since I'm gonna use it together with quarkus and mutiny.

[2020-06-23 11:44] dorinesinenco opened #265 "Trouble with gradle dependency solving"
Hi guys, first of all thanks for awesome work!

my setup is JDK14/11 (tested on both)
intellij
gradle quarkus project

adding, tried all the variation possible of dependency path

dependencies {
  ..
  implementation 'org.hibernate.reactive:hibernate-reactive-core:1.0.0-SNAPSHOT'
  //    implementation 'org.hibernate.reactive:hibernate-reactive-core'
  //    implementation 'com.github.hibernate:hi

[2020-06-23 11:48] cescoffier commented on #263
Yes, something we should do in Mutiny. Do you have the code you are doing somewhere?

[2020-06-23 11:50] dorinesinenco commented on #265
Nevermind :) Missspelled "Alpha", sorry!

[2020-06-23 11:50] #265 closed

[2020-06-23 11:51] DavideD commented on #265
This should be the latest one [available on Maven central](https://search.maven.org/artifact/org.hibernate.reactive/hibernate-reactive-core/1.0.0.Alpha5/jar):
[code]

We didn't release a version 1.0.0-SNAPSHOT and I don't think you need to use the one on github

[2020-06-23 11:51] DavideD commented on #265
Cool :)

[2020-06-23 11:52] dorinesinenco commented on #265
Well, the problem is - that in your docs - the text mentions this snapshot version, i am not using it for production

[2020-06-23 11:56] gavinking commented on #263
No, the reason @FroMage opened this issue is that we *don't* do it.

[2020-06-23 11:56] DavideD commented on #265
Ah, that's a bug. I'm going to fix it. Thanks

[2020-06-23 12:00] DavideD opened #266 "The README should point to the latest release available"
Currently it always says:
[code]

but before the release we should update it with the version released.
Example:
[code]

[2020-06-23 12:07] FroMage commented on #263
Ah, good point, shall I open an issue in Mutiny then?

[2020-06-23 12:08] cescoffier commented on #263
Yes please.

But no "attacks of stack trace" ;-) [while it could be a great movie title]

[2020-06-23 12:13] FroMage commented on #263
Moved to https://github.com/smallrye/smallrye-mutiny/issues/179

[2020-06-23 12:13] #263 closed

[2020-06-23 16:45] gbadner commented on #261
@DavideD, yes, I think so. Thanks!!!

[2020-06-25 13:07] gavinking commented on #39
Fixed.

[2020-06-25 13:07] #39 closed

[2020-06-25 13:07] gavinking commented on #261
Fixed.

[2020-06-25 13:07] #261 closed

[2020-06-30 05:15] semistone opened #269 "Question about hibernate reactive release schedule"
Hi,
Our team is trying to build hibernate in the reactive application.
We have checked hibernate-reactive and seem nice to use.
but we also notice that it still in alpha release.

Does anyone have a rough idea of when will have a 1.0.0 release?

Thanks

[2020-06-30 07:41] emmanuelbernard commented on #269
Not precisely at this stage. But I can explain our thinking.
Right now we are doing performance testing to validate that we can reach interesting scalability models (better than Hibernate blocking). That will validate our work.
Then we will have a relatively long period of feedback on the API (what’s missing, what should be improved etc). As this is new territory for a lot of people.
If you alread

[2020-06-30 07:41] emmanuelbernard commented on #269
Cc @gavinking

[2020-06-30 07:41] emmanuelbernard commented on #269
Cc @Sanne

[2020-06-30 07:42] emmanuelbernard commented on #269
Come to think of it, you can put your feedback here. Let me reopen it :)

[2020-06-30 08:09] avillev commented on #269
Hello @emmanuelbernard
I am with @semistone , we are testing the lib and it looks quite good.

I guess the main thing which disturbs us is the non-support of the @Version annotation for the optimistic lock management and ... the fact that is not released yet :)

[2020-06-30 08:31] Sanne commented on #269
Welcome @avillev and @semistone :)

I saw your forum questions as well, sorry for the delay.

I'll assume that's #201 ? I think we can handle the internal changes needed to support it, but it would be really helpful to get your input to define the API and semantics.

Regarding release timelines: we've been releasing many Alpha releases recently on an "as needed" base for our own testing and integr

[2020-06-30 09:27] gavinking commented on #269
Hi. I think you’ve misinterpreted #201. The @Version annotation and optimistic locking in general works perfectly well as far as I know. What’s described in #201 is something very specific: a feature of JPA that i’ve never used myself and I doubt many people use.

[2020-06-30 10:45] gavinking commented on #201
Folks, please not that this issue isn’t saying that we don’t support optimistic locking! It’s a very specific issue with passing certain lock modes explicitly to the `lock()` method, a feature which didn’t even exist in Hibernate and JPA prior to JPA 2.

[2020-06-30 13:30] gavinking opened #270 "user manual"
We need to fill out the stub asciidoc. At first this is going to be pretty much just a copy/paste of the README, which is why i’ve been holding off on starting work on it (didn’t want to have to maintain the same info in two places).

But I’ve now started work on it.

[2020-07-01 02:13] semistone commented on #269
Thanks for your reply.

let me share our testing result of comparing different SQL client libs

1000 QPS with spring webflux
simple select query return 3 records only
connection pool: 16

  | r2dbc | r2dbc+spring | vert.x | hibernate rx + vertx | hikari + jdbc | hibernate old + hikari + jdbc
-- | -- | -- | -- | -- | -- | --
mean | 6 | 10 | 4 | 2 |2 |5
99th pct |  59 | 75 |  8 | 5 | 21| 72
95th pct

[2020-07-01 02:28] avillev commented on #269
@gavinking
Good to know for the optimistic lock. That is great news.

Thanks to @semistone 's table up there you can see that the rx hibernate api is faster than the other alternatives.

At that point, I think the only limitation we have is ... that it is an alpha :).
At least the JPA part of the interfaces would not change (annotations and stuff). But I guess the main concern would be stability.

[2020-07-01 11:03] Sanne commented on #269
Nice data, thanks a lot for sharing. That looks indeed encouraging; now of course that might change as we stabilize, but I suspect it might improve as we've been analysing our results and identified some issues, such as the fact that we're using a sub-optimal connection pool.

We didn't share our benchmarks yet as it's usually a bit tricky to get people to not take those numbers too seriously, whe

[2020-07-01 16:22] DavideD commented on #260
PR sent: https://github.com/quarkusio/quarkus-quickstarts/pull/610

[2020-07-02 00:14] avillev commented on #269
Thx @Sanne
We decided to give it a go for the next months. We are using it in a Reactive Spring webflux application.

Worst case scenario we could roll back to a blocking hibernate if everything fails :).

But anyway, you can expect some news from us in the future.

I guess we could close that issue ?

[2020-07-02 08:56] Sanne commented on #269
Great, thanks @avillev

[2020-07-02 08:56] #269 closed

[2020-07-07 07:47] semistone opened #272 "[Question] How to controll transaction without using withTranscation"
Hi
  When I try the RX example,
it suggests using Mutiny.SessionFactory or Stage.SessionFactory and withTransaction method
but this method will commit or rollback after exit withTransaction method.
But usually, we need to proceed a transaction within different threads.
eg: begin tx -> query -> call rest API -> insert table 1 -> query cache  -> insert table2 -> commit
then how can I do it by withTr

[2020-07-07 09:25] gavinking commented on #272
Hi, I don't really understand what you're asking for here:

- what are the session boundaries in what you've written above?
- what precisely do you mean be a "thread" in the context of reactive?

Have you seen that there is also a `withTransaction()` on `Session`, as well as `SessionFactory`?

[2020-07-07 09:32] avillev commented on #272
I think he is confused by how to use the withTransaction method and execute several queries within the transaction that is all.

Which queries are using that transaction and when the transaction is commited is unclear.

The doc example is:

[code]

Maybe we could get a simple example of how to do it with several inserts/reads chained together ?

[2020-07-07 10:13] gavinking commented on #272
Ah, OK, well there are a couple of examples in the example program:

[code]

And:

[code]

But sure, I can add an example like that to the docs.

[2020-07-07 10:13] semistone commented on #272
Hi,

I check the source code  of Transaction
[code]
then I think I know the answer.
I will try to write simple example tomorrow.

thanks

[2020-07-08 22:59] paser4se opened #277 "Insecure coding pattern: Missing default case in switch statements"
Greetings,

We are security researchers and we are looking for insecure coding patterns and configurations in the microservice architecture repositories. In your repository, we have found that your code does not have a default case in the switch statement. According to the Common Weakness Enumeration organization, this is a security weakness. See the link https://cwe.mitre.org/data/definitions/478

[2020-07-08 23:44] gavinking commented on #277
Thanks but no thanks.

[2020-07-08 23:45] #277 closed

[2020-07-09 07:41] akoufa opened #279 "Support for custom UserTypes"
Hello to all. Does Hibernate Reactive support custom UserTypes? I want to use Postgres JSONB Type and for that I was using the following library https://github.com/vladmihalcea/hibernate-types which builds it's custom types based on Hibernate's[AbstractSingleColumnStandardBasicType](https://docs.jboss.org/hibernate/orm/5.4/javadocs/org/hibernate/type/AbstractSingleColumnStandardBasicType.html). Un

[2020-07-09 08:22] gavinking commented on #279
Hi, I didn’t test `UserType` since that interface is rather tied to JDBC. (Though in principle, perhaps it could be made to mostly work.)

Instead, my idea was that people could use JPA converters. I did test that and AFAIK it works. Have you tried that?

[2020-07-09 08:44] DavideD commented on #279
I tried with a quick test using UserType and it doesn't seem to work because the PgClient throw an exception when running the query.

[2020-07-09 09:04] gavinking commented on #279
But that might just be because our fake JDBC layer is incomplete. (Some unimplemented methods.)

[2020-07-09 09:06] DavideD commented on #279
To clarify, I tries the example using vlad library:
[code]
This is the error:
[code]

It seems that the reactive pg client uses a different type to convert to JSON.

@gavinking Should we support some kind of mapping for the [pg-client types](http://www.julienviet.com/reactive-pg-client/guide/java/)?
[code]

[2020-07-09 09:10] DavideD commented on #279
I think the client is expecting an object of type `io.reactiverse.pgclient.data.Json`. It seems we handle `UserType` correctly though

[2020-07-09 09:11] gavinking commented on #279
Right so that’s what I meant in my comment above. Our JDBC adaptors aren’t even close to a complete implementation of JDBC, and I see it as quite likely that they never will be. In particular, for more “exotic” JDBC types, it might be quite difficult to map them to/from the Vert.x API.

[2020-07-09 09:15] gavinking commented on #279
Well, sure, if it’s reasonably easy to do.

But if not, we should consider that perhaps `UserType` is just not the right abstraction here, and look for a different approach.

I mean, to the extent that existing `UserType`s can be made to work without doing anything horrible, then sure, let’s make ‘em work. It will make migration easier. But I think it’s possible that we’ll quickly run into limitat

[2020-07-09 09:20] DavideD commented on #279
I will have a look

[2020-07-09 09:23] gavinking commented on #279
As a first step we should add a test for a totally plain-vanilla `UserType` that doesn’t use any fancy database types, just to check that the basic concept works (I don’t see why it shouldn’t).

[2020-07-09 15:37] akoufa commented on #279
@gavinking No I did not test Converters yet because I am using Hibernate together with Hibernate Types library. But the suggestion to use converters would mean that I will in the end put a plain Postgres Text/Varchar to the DB and not a Postgres JSONB type.

[2020-07-10 15:35] FroMage opened #280 "PgException leaks to the user"
I attempted to persist an entity with a unicity constraint which should fail, and I got this:

[code]

While I expected to have a `PersistenceException` in the ORM version. I assume this is a bug, right?

[2020-07-10 16:06] FroMage opened #281 "Duplicate ID exception on delete statement"
This might be a user issue, but I don't get it.

I do a bunch of operations in my tests, then in the end I call "delete from Person" to delete all my entities, and I get this exception:

[code]

I don't understand how I can get this issue because the `id` field is generated:

[code]

And I'm not testing duplicate IDs anywhere. This is without a transaction.

I can see in the logs that at this poin

[2020-07-10 16:11] FroMage commented on #281
After having forced a `flush` just before I tried to persist the entity with the voluntary unicity constraint error, my `delete from Person` call now trips the same unicity constraint that I just tripped up.

So perhaps when I did `flush` it did not flag that entity for removal and it's trying to re-persist it? Or perhaps the `delete from Person` call does not remove it from the plan before it tri

[2020-07-10 18:00] gbadner commented on #281
@FroMage, do you have a test case that reproduces this? If so, I can try to look at this next week.

[2020-07-10 18:04] gbadner commented on #280
@FroMage, yes, this sounds like a bug.

[2020-07-11 08:41] cambierr commented on #44
Hi @gavinking

Could you ellaborate on

I'm not that experienced yet with JPA / Hibernate but I do not understand why you consider `@ElementCollection` that bad ? is there something I missed or don't know about that feature ?

Thank you :)

[2020-07-11 09:21] gavinking commented on #44
Well I just think it’s quite uncommon to have tables with two columns that don’t eventually wind up needing additional columns as the system evolves. (Even just a version or a time stamp.) At that point, you’ll need to refactor your Java code. So it’s simply a brittle and inflexible design.

(And the same goes for @ManyToMany, by the way.)

Furthermore, this two-column table doesn’t have a very we

[2020-07-11 09:24] gavinking commented on #280
Well, are we going to keep wrapping database exceptions? I mean, the motivation for doing that in Hibernate ORM was really that `SQLException` was a checked exception.

Here we don’t have that problem.

So it’s not quite so clear that it’s necessary.

[2020-07-11 10:14] DavideD commented on #280
I think in this case we have to, people might want to try a different db and based on the connection driver we are using it could throw a different exception each time

[2020-07-11 10:36] cambierr commented on #44
Interesting indeed, I agree with you on the blocked evolution path when using that ` @ElementCollection` feature.

Regarding the `@ManyToMany`, do you mean that you'd instead recommend a `@OneToMany` on the joining table instead of a direct `@ManyToMany` on the target table ?  for the same "evolution" reason I guess ?

Thank you for your reply, that's very interesting

[2020-07-11 10:52] gavinking commented on #44
Right, my advice is that you should usually have an entity for every table, and that most relationships should be bidirectional @ManyToOne/@OneToMany or @OneToOne.

[2020-07-11 10:55] gavinking commented on #280
That’s a good point.

[2020-07-11 10:56] gavinking commented on #280
Although, one could argue that this is the result of a (in principle fixable) lack of abstraction in the Vert.x API...

[2020-07-12 18:11] DavideD commented on #280
We could have other implementation for the ReactiveConnection API other than Vert.x and  we would end up with the same issue. Not sure how likely it is though.

Still, vert.x having a common class for this would be nice.

[2020-07-12 19:37] mgonzaga1990 opened #282 "Session/EntityManager is closed and Unexpected access to the database"
Hi,

Would like to seek your advice regarding on my issue.

So I have an angular front end which is calling my some backend api. One of which is my api that fetches list of person.
at first i dont get any issues.. but when i refresh my angular page in the browser by hitting F5. I'm getting this error.

[code]

This is my first time seeing this kind of error don't kind of lost on which part I misse

[2020-07-12 19:38] mgonzaga1990 commented on #282
I just basically follow the example here [quick-start](https://github.com/DavideD/quarkus-quickstarts/tree/hibernate-reactive-quickstart-development/hibernate-reactive-quickstart)

[2020-07-13 06:56] DavideD commented on #282
Can you try disabling the query-cache?
(Remove the @QueryHint and the @Cachable annotations if you have any).

On Sun, Jul 12, 2020 at 8:38 PM Mark Jayson Gonzaga <
notifications@github.com> wrote:

[2020-07-13 08:16] FroMage commented on #281
Entity:

[code]

Test:

[code]

[2020-07-13 08:21] FroMage commented on #281
Note that this test was run on ORM with a transaction originally, and if I make it run into a transaction, like this:

[code]

I get slightly different results, in that now the `delete all` will yield this exception:

[code]

Which may or may not be the same problem. Looks like the first insert that tripped up the unicity constraint invalidated the transaction? Perhaps it's a hint.

[2020-07-13 08:24] FroMage commented on #280
Well, so far the driver classes haven't leaks in my user API, so I'd rather keep on having to deal with Hibernate types if we can keep it that way. Unless we're talking about super-specific driver/db features, but unicity constraints being defined using a JPA annotation, I don't think this qualifies.

[2020-07-13 08:33] DavideD commented on #281
THanks, I will have a look

[2020-07-14 09:43] DavideD commented on #281
I've sent a PR for the case without the transaction: https://github.com/hibernate/hibernate-reactive/pull/283

[2020-07-14 11:12] #280 closed

[2020-07-14 11:15] DavideD commented on #281
Using
[code]
seems to work for me.

I think what's happening is that the constraint violation doesn't clear the queue and when you try to execute the query it tries to persist the entity again.

@gavinking , @gbadner: I'm still checking but I assume that if this is what's happening then it's a bug, isn't it?

[2020-07-14 11:33] DavideD commented on #281
Also, @FroMage the exception thrown is going to be a `CompletionException` and not a `PgException` (PgException is going to be the cause):
[code]

[2020-07-14 11:41] gavinking commented on #281
Well when I initially read the problem description I wondered if @FroMage was continuing to use a hosed session after an exception occurred.

The rule is that if a session operation throws an exception, you're supposed to obtain a new one.

[2020-07-14 11:52] DavideD commented on #281
Yes, it's using the same session

[2020-07-14 12:03] DavideD commented on #281
@FroMage Could you let me know if it works if you account for those things, please?

[2020-07-14 13:58] mgonzaga1990 commented on #282
I see.. thanks for your help i appreciate it

[2020-07-14 14:32] DavideD commented on #282
Did it solve the issue?

[2020-07-14 15:07] mgonzaga1990 commented on #282
Yes. I did, I'll just find another way to cache the data but it worked and
thanks so much.

On Tue, Jul 14, 2020 at 10:32 PM DavideD <notifications@github.com> wrote:

[2020-07-14 16:54] mgonzaga1990 commented on #282
However I'm getting this error *ReactiveSessionImpl#initializeCollection
not supported, use reactiveInitializeCollection instead*.
Been looking for that error in the internet but got nothing so far.

I do have a feeling that it has something related with my entity mappings

Person has many Address.

and Address has different parts like. addressLine1,addressLine2 and City,
Province.

In my case.. I

[2020-07-14 19:48] DavideD commented on #282
I suspect  it has to do with this: https://github.com/hibernate/hibernate-reactive#fetching-lazy-associations

If you don't add the entities and the query/command you are running (or a test), it's pretty hard for us to help you.

[2020-07-14 21:14] mgonzaga1990 commented on #282
Sorry I missed that part.

Here is my Person Entity

`@Data
@Entity
@Builder
@Table(name = "person")
@NoArgsConstructor
@AllArgsConstructor
@FieldDefaults(level = AccessLevel.PRIVATE)
public class Person {

    @Id
    @GeneratedValue(strategy = GenerationType.AUTO)
    Long id;

    @NotBlank(message = "Lastname is required")
    String lastname;
    @NotBlank(message = "Firstname is required")

[2020-07-14 21:42] mgonzaga1990 commented on #282
I Have seen the example but this is not using the **createNativeQuery** I also checks the tests but couldn't find any.

[2020-07-15 07:25] DavideD commented on #282
Are you using Lombok? Which version?
What's `@ValueOfEnum`?

[2020-07-15 07:35] DavideD commented on #282
Probably doesn't matter

[2020-07-15 09:11] mgonzaga1990 commented on #282
[code]

the `@ValueOfEnum` is just my annotation used for validation. My DTO for my rest api is as the same as my entity model.

[code]

[code]

[2020-07-15 09:48] DavideD commented on #282
Thanks, I can replicate the issue but the problem for me is solved when I apply one of these two approaches:
1. declare *both* side of the association as EAGER
2. use `session.fetch(...)`

[2020-07-15 09:53] DavideD commented on #282
Note that having null shouldn't matter and that error occurs when Hibernate Reactive has to initialize a collection at the wrong time.
This is a known limitation that we will fix at some point.

[2020-07-15 10:52] mgonzaga1990 commented on #282
`session.fetch(...)` if that's the case then I can no longer use the below method.

[code]

Also, as far as i can see. `fetch` only return a single data.

I may need to change my implementation and rules until we got the fix on that limitation.

[2020-07-15 11:05] gavinking commented on #282
Well we already removed the limitation (or more accurately @gbadner removed it) for at least the cases I knew about. I'm trying to understand what is different here to the things we've already tested. Is it because this is a native query? What happens with the equivalent HQL?

Perhaps Gail has some insight.

[2020-07-15 11:10] gavinking commented on #282
waaait ... there is a `LazyAttributeLoadingInterceptor` in the stack trace ... what's that doing there? Exactly what is triggering this collection fetch?

[2020-07-15 11:14] gavinking commented on #282
Is it something specific to field-level lazy fetching?

[2020-07-15 12:54] DavideD commented on #282
Ah, I just realized that I haven't enabled the  `bytecode enhancement`. I will check again

[2020-07-15 13:31] mgonzaga1990 commented on #282
thanks David please let us know then once ur good

On Wed, Jul 15, 2020, 8:54 PM DavideD <notifications@github.com> wrote:

[2020-07-15 17:43] DavideD commented on #282
I could replicate the exact stacktrace on Hibernate Reactive so I've created a test in the quarkus-quickstart project: https://github.com/DavideD/quarkus-quickstarts/tree/bytecode-error/hibernate-reactive-bytecode-enhancement

The entities are not exactly the same because I wanted to have a simpler test but if you remove the last commit you will have the same exception.

Adding the eager solved th

[2020-07-15 17:58] mgonzaga1990 commented on #282
let me pattern my implementation from yours. And will let you know after.

On Thu, Jul 16, 2020, 1:46 AM DavideD <notifications@github.com> wrote:

[2020-07-15 20:04] mgonzaga1990 commented on #282
anyway i just noticed you have

`<quarkus-plugin.version>999-SNAPSHOT</quarkus-plugin.version>`

[code]
I did not put that dependency in my pom so i added it in.
`<quarkus-plugin.version>1.6.0.Final</quarkus-plugin.version>`

[code]

now it's working but still the fetch type should be **EAGER**. Is this an ongoing issue or limitation? you mentioned before?

_test reponse_
[code]

[2020-07-16 05:53] DavideD opened #284 "[Question] Mutiny.Session#createNativeQuery(String) returns Query<Integer>"
https://github.com/hibernate/hibernate-reactive/blob/master/hibernate-reactive-core/src/main/java/org/hibernate/reactive/mutiny/Mutiny.java#L625

It seems on purpose (reading javadoc) but this surprised me:
* `Mutiny.Session#createQuery(String)` doesn't
* we return the integer when running `.executeUpdate()`

Shouldn't this return `<R> Query<R>` like all the other similar functions?
@gavinking (\c

[2020-07-16 05:54] DavideD commented on #282
@gavinking What do you mean? I don't expect bi-directional lazy association to work in this case unless you fetch the association eagerly somehow

[2020-07-16 07:50] DavideD commented on #272
I guess we can close this

[2020-07-16 07:50] #272 closed

[2020-07-16 07:52] DavideD commented on #260
Also: https://github.com/quarkusio/quarkus-quickstarts/pull/618

This last one hasn't been included yet but I'm considering these issues done/

[2020-07-16 07:52] #260 closed

[2020-07-16 07:53] DavideD commented on #127
It seems it's not necessary to have this on Jenkins at the  moment.

[2020-07-16 07:53] #127 closed

[2020-07-16 08:17] FroMage commented on #281
Mmm, but the same works for the ORM version, so are you saying the Quarkus ORM extension automatically renews the session if an exception occurs?

[2020-07-16 08:18] FroMage commented on #281
@DavideD I don't get a CompeltionException because those get unwrapped by Mutiny (or by HR I don't know).

[2020-07-16 08:19] FroMage commented on #280
Thanks.

[2020-07-16 09:44] Sanne opened #285 "Ability to map to the Postgresql type timestamptz"
Relaying this report from Quarkus:
https://github.com/quarkusio/quarkus/issues/10768

[2020-07-16 10:51] gavinking commented on #282
Well, no, if things are lazy and getting fetched because they're being explicitly accessed by the program, then I would expect an error.

But I don't see where the association is being accessed in the code posted above. That's why I was asking: exactly what triggers this association to be fetched. I don't see where it happens.

[2020-07-16 10:56] gavinking commented on #284
Definitely intentional. If you don't pass anything describing the type of the result set for a native query, there's no way for Hibernate to know what to do with it.

HQL is different because we can figure out the return type from the query string itself. We can't do that with SQL.

[2020-07-16 11:58] DavideD commented on #284
Doesn't ORM returns an Object[]? I was expecting to receive whatever object the driver returns.

[2020-07-16 12:04] DavideD commented on #284
I mean... for each column. Also, isn't `createNativeQuery` quite misleading as a name when everywhere else we return something different?

[2020-07-16 12:11] DavideD commented on #282
Ah, I see. Let me check. I think it was `.size()` call on the collection somewhere one the result is returned.

[2020-07-16 12:22] mgonzaga1990 commented on #34
https://github.com/hibernate/hibernate-reactive/issues/34#issuecomment-575895404
do you have an example for this? or is it in the quickstart already? I'm trying to implement cascade persist but not working if the parent id (which is my foreign key for my child table) is null.

[2020-07-16 12:28] gavinking commented on #284
I don't recall. But if it does, it would need to use JDBC metadata for that, which we don't have yet.

Hrm, I seem to recall I might have opened a feature request against the Vert.x client related to this, but I forget the details.

[2020-07-16 12:30] DavideD commented on #282
Yes, it's RestEasy checking the association to generate the response during marshalling. Even if it's empty null it still check the size and calls underneath PersistentBag#size().

[2020-07-16 12:31] gavinking commented on #284
See my comments [here](https://github.com/hibernate/hibernate-reactive/pull/180#discussion_r429576118).

[2020-07-16 12:35] gavinking commented on #282
OK then it should throw a `LazyInitializationException`. The exception type is wrong.

[2020-07-16 14:22] DavideD commented on #284
I'm missing how the column type is needed in this case.

I can actually write:
[code]
and it returns what I expected (List<Object[]>).

This also compile
[code]

This doesn't compile, though:
[code]

[2020-07-16 14:28] DavideD commented on #34
We have examples in our test cases: https://github.com/hibernate/hibernate-reactive/blob/master/hibernate-reactive-core/src/test/java/org/hibernate/reactive/CascadeTest.java#L192

What are you trying to do exactly? What didn't work? Some examples of the entities you are mapping would help.

[2020-07-16 16:26] gavinking commented on #284
TBH I really don't recall all the context. But anyway if that code works then I guess you're right and we should change the return type.

[2020-07-17 03:05] semistone commented on #272
thanks.
we could close this ticket.

but just share what we do recently.
because we plan to integrate with Spring Webflux.
and it's mainly using reactor (Mono and Flux)

because currently only supports Stage and Mutiny
so I just wrap Stage into Mono/Flux interface. (include Query, Factory, and Session)
then I don't need to convert Uni -> Mono, and Mono -> Uni everywhere even it's simple

because w

[2020-07-17 07:25] #282 closed

[2020-07-19 10:13] DavideD opened #287 "Upgrade to vert.x-sql-client 3.9.2"
https://github.com/eclipse-vertx/vertx-sql-client/releases/tag/3.9.2

Can we upgrade or is there any reason to wait?

[2020-07-19 10:17] DavideD opened #288 "Clean up tests for supported types"
While working on #285 I noticed our tests for supported types are all over the place making it hard to test for additional types and figure out which mapping is supported by which db. This was fine when we were still working on the prototype but we now need something more manageable.

I'm also going to fix some bugs I've found along the way.

I'm going to send a PR on Monday.

[2020-07-20 11:11] DavideD commented on #287
Upgrading might not be as straightforward as I thought. There is a test that fails for MySQL after the upgrade. I'm investigating.

[2020-07-21 07:46] DavideD commented on #288
I've updated a bug in `IndentityGenerationTest` and fixed the error message in `DatabaseSelectionRule`.

[2020-07-21 09:04] DavideD commented on #281
I guess it might work but I don't think you are supposed to rely on it

[2020-07-21 15:57] DavideD commented on #281
I'm closing this one because reusing the session after an exception is a no-no (even if it might work in some cases).

Thanks everybody.

[2020-07-21 15:57] #281 closed

[2020-07-22 07:30] DavideD opened #291 "Upgrade Mutiny to 0.7.0"
The same version used in quarkus: https://github.com/quarkusio/quarkus/blob/master/bom/application/pom.xml#L131

[2020-07-22 09:23] gavinking commented on #285
Well, I'm not sure quite how much of a bug this is. Hibernate 5 simply doesn't have support for `OffsetDateTime`. (This was one of the things I added recently to Hibernate 6.)

So AFAICT, the only real question here is whether the Vert.x client should transparently convert a `LocalDateTime` to a `timestamptz` column. Perhaps it should, since the JDBC driver does do that, I think.

But that wouldn'

[2020-07-22 09:29] Sanne commented on #285
@gavinking IMO you're free to consider this low priority and park it for the next seaon, but I still think we should "own" the limitation, to track it and make sure stuff gets improved.. even if it needs ORM/classic changes and/or vertx.

[2020-07-22 09:32] gavinking commented on #285
I disagree. If you think it's important, I think you should open an issue against the Vert.x client. If I'm not mistaken, there's no change we could reasonably make to HR that would solve this problem, since in general we don't know the database column types.

[2020-07-22 09:34] gavinking commented on #285
(And if we need support for timezones in H5, we need to backport my H6 work, which affects quite a few bits of Hibernate, IIRC, but to be clear I don't think we need it.)

[2020-07-22 09:36] Sanne commented on #285
Ok, let's close it then.

Just to clarify, the reason I suspect we'll eventually need some changes in HR is that if we were to patch ORM5 to support something like this, we'd need the capability to be opt-in: we don't want to break existing schema expectations in ORM5.

[2020-07-22 09:36] #285 closed

[2020-07-22 09:46] gavinking commented on #285
Well the reason I don't think we need to backport this is that apart from one database (forget which, but it's not postgres) the `time stamp with time zone` type is a lie. This `timestamptz` thing doesn't actually store any time zone at all, it actually stores the time in UTC.

So in practice, I think `LocalDateTime` is the arguably most correct mapping here.

[2020-07-22 10:02] gavinking commented on #279
To clarify: are you concerned about what type you have in Java or in the database? There’s two different things here.

- One is to use `JSONB` as the column type, but in principle I would have thought that the drivers can transparently convert strings to that type. (Not sure, I never tried.)
- The second is to use `io.reactiverse.pgclient.data.Json` as the Java type in your model. That’s a whole d

[2020-07-23 14:47] akoufa commented on #279
@gavinking
I want to use the Postgres `JSONB` type. I think it is not supported directly by Hibernate. Thus why I relied on this https://vladmihalcea.com/how-to-map-json-objects-using-generic-hibernate-types/ . Or for example this https://thorben-janssen.com/persist-postgresqls-jsonb-data-type-hibernate/ where the guide uses UserType .

[2020-07-23 14:51] gavinking commented on #279
Right I understand that but have you tried doing something really simple like just mapping a Java `String` to a column of type `JSONB`? Would that be good enough if it worked?

[2020-07-23 14:55] akoufa commented on #279
@gavinking No I did not try that yet. Yes it would be good enough. I would just need to convert the JSON objects to JSON string pro to trying to insert my Entities in the DB.

[2020-07-23 14:57] gavinking commented on #279
OK then it may be that the Vert.x client already supports that type conversion, we would need to try it, but even if it doesn't, I guess I think it probably should.

[2020-07-26 05:16] k0l0ssus opened #294 "Handling empty results"
Mutiny provides a couple of options to handle events when things don't go as expected. `ifNoResult` feels like a natural fit here. So, given the following query orchestration:

       mutinySession.map(session -> session.find(Fruit.class, Long.valueOf("1234")))
                .ifNoItem()
                .after(Duration.ofMillis(3000))
                .failWith(new IllegalArgumentException("No fru

[2020-07-26 09:23] gavinking commented on #294
Stack trace?

[2020-07-26 11:57] DavideD commented on #294
I think what you are looking for is this:
[code]

`.failWith` is not going to stop everything and throw an exception, it creates a failed Uni with the exception you selected.
It is up to you to manage  this uni. At the moment, you are always returning the result that, because of the exception, is always going to be null.

Here a subscribe that manages the result and/or the exception:
[code]

Also,

[2020-07-26 16:33] k0l0ssus commented on #294
Thanks @DavideD . Thanks for the completion stage -> await tip. A consumer like `with` won't cut it for me though. Thing is, I'm trying to avoid a manual nullcheck and going by [Mutiny's documentation](https://smallrye.io/smallrye-mutiny/#_how_do_i_handle_timeout), felt that `ifNoItem`  would be a good, idiomatic fit. `ifNull` doesn't behave the way it ought to either.

     AnagramResponse anagra

[2020-07-26 17:18] k0l0ssus commented on #294
Use `ifNull`  instead of `ifNoItem`

[2020-07-26 17:18] #294 closed

[2020-07-27 10:38] #288 closed

[2020-07-27 10:39] DavideD commented on #288
Done https://github.com/hibernate/hibernate-reactive/issues/288

[2020-07-27 10:54] #287 closed

[2020-07-27 10:56] DavideD commented on #287
Done for now, we might have to update something when they've fixed the bug on the vert.x sql client: https://github.com/eclipse-vertx/vertx-sql-client/issues/719

[2020-07-27 11:00] DavideD commented on #291
Done https://github.com/hibernate/hibernate-reactive/issues/291

[2020-07-27 11:05] DavideD opened #295 "Update tests after upgrade to vert.x sql client 3.9.2"
Now that the [client is updated](https://github.com/hibernate/hibernate-reactive/pull/293) some of the types that weren't working before will work now.

Basically, it is about moving the tests in [LongLobTest](https://github.com/hibernate/hibernate-reactive/blob/master/hibernate-reactive-core/src/test/java/org/hibernate/reactive/types/LongLobTest.java) and [BasicTypesForSelectedDBTest](https://git

[2020-07-27 11:22] #291 closed

[2020-07-28 08:48] DavideD opened #296 "Upgrade to ORM 5.4.19"

[2020-07-28 09:19] #296 closed

[2020-07-28 10:49] DavideD opened #298 "Unexpected access to the database when query cache is enabled"
When a query is cachable but the entities in the result aren't cached, the following  error occurs:

[code]

[2020-07-28 10:50] DavideD commented on #298
I've already created a test case for this and I'm checking if we can fix it without too much trouble

[2020-07-28 10:51] DavideD commented on #298
If anything, this should be at least a `LazyInitializationException`

[2020-07-28 12:35] DavideD opened #299 "Build fails when using the property `hibernateOrmVersion`"
The build of the documentation fails

[2020-07-29 17:40] gavinking commented on #279
@DavideD what's the status here? Do you want me to take a closer look at this one?

[2020-07-29 17:44] DavideD commented on #279
I got sidetracked. Feel free to tackle this if you have time.

[2020-07-30 09:56] gavinking commented on #279
In #301 I've added a test demonstrating that `UserType`s work in HR, at least to the extent to which our `PreparedStatement` and `ResultSet` adaptors are faithful implementation of JDBC (which is not a particularly great extent).

[2020-07-30 09:58] gavinking commented on #279
So the question now becomes: can we make `getObject()` and `setObject()` in our JDBC adaptors support these types without creating a hard dependency to the PostgreSQL client?

[2020-07-30 10:25] DavideD commented on #279
Would it be possible to have something like:
[code]
That doesn't do any conversion but just pass the value as is?

[2020-07-30 10:26] gavinking commented on #279
Well, I've tried this, and apparently we don't actually need to do anything special in order to handle `io.vertx.core.json.JsonObject` on Postgres or MySQL. You can just use `getObject()`/`setObject()` from your `UserType`.

This works:

[code]

[2020-07-30 10:26] gavinking commented on #279
Yes, that would work too.

[2020-07-30 10:33] gavinking commented on #279
See 54434c94b3ff57261fd905abaeb25961b2ed285c.

I would say we can close this issue.

[2020-07-30 10:36] DavideD commented on #279
What about the other types, like `io.reactiverse.pgclient.data.Circle` for example?

[2020-07-30 10:39] gavinking commented on #279
@akoufa now to give you concrete responses to your original questions:

The answer is yes!

However, you need to be aware that even though we expose something that looks a lot like JDBC to your `UserType`, under the covers there simply is no JDBC connection. So some things simply aren't going to work.

So I think you'll need to be pretty realistic about that. The above library is written to work w

[2020-07-30 10:42] gavinking commented on #279
Should be the same deal, though I did not test.

By the way, `io.reactiverse.pgclient.data` is dead. It's for a previous version of the client. That's not what you should be looking at.

Here is the current list of types:

<https://vertx.io/docs/vertx-pg-client/java/#_postgresql_type_mapping>

[2020-07-30 10:44] gavinking commented on #279
According to the docs I linked above, this *does* work. I even tested writing an integer directly to a `JSONB`-types column and it worked.

So in principle you don't even need to mess about with `JsonObject` if you don't want to. (It's probably cleaner though.)

[2020-07-30 10:45] #279 closed

[2020-07-30 10:46] DavideD commented on #279
Sure, could you add a test for some of the other specific types? Like line or circle. So that we can show what the mapping looks like

[2020-07-30 11:14] gavinking opened #302 "SelectGenerator"
I left a TODO saying:

[code]

So if it's easy to fix we should just do it.

[2020-07-31 11:15] #284 closed

[2020-07-31 11:16] DavideD commented on #284
Done https://github.com/hibernate/hibernate-reactive/issues/284

[2020-07-31 17:38] gavinking commented on #302
Actually, this isn't easy at all.

And I don't see it as anywhere near being a high priority, so I'm going to close this issue.

[2020-07-31 17:38] #302 closed

[2020-07-31 17:38] #270 closed

[2020-07-31 17:42] gavinking commented on #298
Probably this should have been done under #247.

[2020-08-03 09:13] gavinking opened #304 "SSL/TLS configuration"
The Vert.x clients have some options for configuring SSL/TLS. Do we need to expose that stuff as properties?

[2020-08-03 09:24] gavinking commented on #247
As reported by @DavideD in #298, the query cache doesn't work when the query result set contains entity instances that aren't themselves cached.

This is likely quite easy to fix.

[code]

[2020-08-03 09:25] gavinking commented on #298
@DavideD I'm closing this issue because it's essentially a dupe of #247.

(But I've copied the new information into that issue.)

[2020-08-03 09:25] #298 closed

[2020-08-03 09:29] DavideD commented on #298
ok, thanks

[2020-08-03 11:37] #295 closed

[2020-08-03 11:39] gavinking opened #306 "@Lob byte[] on DB2"
For `@Lob @Column(length = 100_000) protected byte[] pic` I get the following error:

[code]

This looks like something fixable.

[2020-08-03 11:53] gavinking opened #307 "enable prepared statement cache after vert.x bug fix"
Currently the prepared statement cache is disabled on DB2 and MySQL, due to bugs in the client.

See here:

<https://github.com/hibernate/hibernate-reactive/blob/d8743ddf21a0cc97c627e9245ed04db89e7a857b/hibernate-reactive-core/src/main/java/org/hibernate/reactive/pool/impl/SqlClientPool.java#L180>

[2020-08-03 12:51] gavinking commented on #306
OK, so in  `io.vertx.db2client.impl.drda.ClientTypes` we have:

[code]

So there doesn't seem to be any support for `Buffer` there.

But if you look in the `DataTypeCodec` classes for Postgres and MySQL, they both map `BYTEA`/`BLOB` to `Buffer`.

CC: @aguibert

[2020-08-03 12:55] gavinking commented on #307
For reference:

- https://github.com/eclipse-vertx/vertx-sql-client/issues/671
- https://github.com/eclipse-vertx/vertx-sql-client/issues/719

[2020-08-03 13:20] gavinking commented on #306
Just discovered that this is also the reason `UUIDGeneratorTest` fails on DB2.

[2020-08-03 13:22] gavinking commented on #162
I'm closing this out-of-date issue, since almost all tests now run perfectly on DB2, except for those related to BLOB/CLOB/BINARY.

[2020-08-03 13:22] #162 closed

[2020-08-03 13:26] gavinking commented on #144
@DavideD you fixed this and forgot to close the issue :-)

[2020-08-03 13:26] #144 closed

[2020-08-03 13:35] DavideD commented on #144
Thanks, completely forgot about it :)

Fixed in #287

[2020-08-03 13:52] aguibert commented on #306
I wanted to keep the `io.vertx.db2client.impl.drda` free of any Vertx dependencies, so that I could eventually split it out to write other DB2 clients with that code in the future if needed. Since `Buffer` is Vertx class I think I checked for it a layer up from that method.
In any case, for BLOB to actually work I'd need to implement a lot more code in the codec layer, so unfortunately it would be

[2020-08-03 14:32] gavinking commented on #306
I don't think so, of we wouldn't be seeing this error.

Yes I saw that now, but it's not just BLOB this problem applies to: the same thing happens with BINARY.

[2020-08-03 14:38] gavinking commented on #306
@aguibert check out the above test, where the failure has nothing to do with LOBs.

[2020-08-03 18:40] gavinking opened #309 "broken on Hibernate ORM master"
Hibernate Reactive doesn't work against current master of Hibernate ORM.

All the tests fail with something like:

[code]

The cause appears to be the changes committed on Jul 30 by @yrodiere.

[2020-08-03 18:50] gavinking commented on #309
To be specific, I believe it's one of these commits that has caused the problem:

- 3bdc5af63d514af8b47fe0016606eddfd37b8e7c
- 2c98ab236d16646774b1dfb02bde11c6f6be9f66

[2020-08-03 21:12] gavinking commented on #258
I've begun work on this.

[2020-08-04 06:49] yrodiere commented on #309
Ok, so it's my fault. How can I help you?

[2020-08-04 07:51] gavinking commented on #309
No, it's not your fault, it's the fault of we have no mechanism in either project to detect when something like this happens. Its only by pure chance that I got lucky and noticed this quickly instead of weeks later when tracking down the cause of the breakage would have been much more difficult.

So we're going to need to come up with some way to find problems like this automatically, and it's not

[2020-08-04 08:37] gavinking commented on #309
So after carefully looking over the commits, I *think* it looks like all we're going to need to do is replicate those changes over to our copy/paste-job code. If I'm understanding correctly, we just need to know how to interpret these nulls in the list of hydrated objects.

[2020-08-04 08:53] DavideD commented on #309
To begin with, we can create a JOB that tests with the latest ORM snapshot

[2020-08-04 09:12] gavinking commented on #309
Well sure, but is there a way to make it run on a schedule? I had the (perhaps wrong) impression we couldn't do that.

[2020-08-04 09:14] yrodiere commented on #309
I have [something similar](https://ci.hibernate.org/job/hibernate-search-personal-yoann/job/tracking-orm5.4-master/) for Hibernate Search. Every time the ORM build finishes, I run a Hibernate Search build that uses the latest Hibernate ORM snapshot. However, I can only do that because I'm using Jenkins jobs, and they allow triggering a job after another job finishes.

[2020-08-04 09:19] gavinking commented on #309
That would be perfect except we don't have Jenkins here yet :-/

[2020-08-04 09:40] DavideD commented on #309
I'm going to create one.

[2020-08-04 09:45] gavinking commented on #309
OK great.

[2020-08-04 09:46] gavinking commented on #258
If anyone's interested, the proof of concept is taking form in the ss branch of my repo, though it's still pretty rough for now.

[2020-08-04 16:20] gavinking commented on #258
This is now mostly-done, it seems to me, but I need to write tests and Javadoc.

[2020-08-07 18:25] gavinking commented on #309
The problem is fixed in #311.

[2020-08-07 18:25] gavinking commented on #309
@Sanne when is the next release of ORM?

[2020-08-07 18:27] gavinking commented on #258
Done, and I'm just waiting for https://github.com/hibernate/hibernate-orm/pull/3494 to be merged and released.

[2020-08-08 20:18] gavinking commented on #257
This is now implemented in #312.

[2020-08-08 21:41] gavinking opened #313 "@Generated properties"
Fields mapped with `@org.hibernate.annotations.Generated` don't work in Hibernate Reactive because we need reactified versions of `processInsertGeneratedProperties()`, `processUpdateGeneratedProperties()`, and `processInsertGeneratedProperties()`.

I don't believe this is a super-high priority, but it's worth keeping track of.

[2020-08-09 06:19] Sanne commented on #309
hi @gavinking , micro releases of ORM are triggered on demand. We do one tomorrow if it's urgent, or we can wait for more PRs if that suites you better. Just let me know what's your preference.

Do I understand correctly that nothing else beyond https://github.com/hibernate/hibernate-orm/pull/3484 is required?

[2020-08-09 07:23] gavinking commented on #309
Well, it's not super-urgent, but it would be nice to be able to merge #310 and #311 and not have them on my mind.

So sure, it would be nice, unless we can think of something else we need.

I believe that #311 completely fixes the problem.

[2020-08-09 07:38] gavinking commented on #258
Note that #312 introduces support for batching, and there is a little fix needed to `StatelessSession` after that is merged.

[2020-08-10 16:09] Sanne commented on #309
It's available now https://in.relation.to//2020/08/10/hibernate-orm-5/

[2020-08-10 16:36] gavinking commented on #309
Awesome, thanks, I will merge everything tonight then!

[2020-08-10 17:48] #309 closed

[2020-08-10 18:11] #257 closed

[2020-08-10 22:25] gavinking commented on #248
I've already written most of the API doc in Javadoc now, and can't be bothered rewriting it. Closing this issue.

[2020-08-10 22:25] #248 closed

[2020-08-10 22:27] gavinking commented on #47
I think this is the issue we should work on next. (It's a potential performance bottleneck.)

[2020-08-11 10:35] Sanne opened #316 "Consider exposing a single method to open Sessions"
Today on SessionFactory we're exposing both options:

- `Uni<Session> openSession()`
- `Session createSession()`

And a similar duality is proposed for the `StatelessSession` opening API (pr #310)

I would suggest exposing a single method only:

    Session openSession()

For various reasons:

## Simplicity

I don't believe there's a good reason to expose both

## `openSession` is the better name

[2020-08-11 11:46] gavinking commented on #316
So this is something that was introduced in 33a25d0b7d36c3af19de0eb61d27f3344ccd6a4b and bcdb2550d91a966f7f9339ccb694a6f0921b2c0b when I added support for transactions.

What happened was that starting a session now meant obtaining a `SqlConnection` (instead of just using the `SqlClientPool`), which is a non-blocking operation in Vert.x.

So at first I just changed `openSession()` to return the ne

[2020-08-11 12:11] gavinking commented on #316
Please see #317.

[2020-08-12 09:54] gavinking commented on #316
So after #317, my concerns about performance are *probably* gone (though we should test it!) ... however, it's raised an additional concern.

We've talked about how in future we might like to be able to run some persistence operations using parallel non-blocking calls to the database. It looks to me like `ProxyConnection` makes that harder (though I'm not completely sure).

[2020-08-12 10:03] Sanne commented on #316
I'm rather optimistic that we should be able to improve such internal implementation details as necessary.

I assuming we agree that the simple user operation of "opening a session" is inherently non-blocking?

Looing at possible _subsequent_ operations which the user might want to schedule on such session, I can see only two kinds: those who will need a connection to be resolved, and are to be mo

[2020-08-12 10:10] gavinking commented on #316
Honestly it's not very clear to me. You're *probably* right, but the "execute these two operations in parallel, but have them both wait 'til we get a connection first, assuming we don't have one yet, isn't a totally trivial thing.

It would certain be possible if we add operations like `updateInParallel()` and `selectInParallel()` to `ReactiveConnection` but then that has a difficult-to-evaluate-i

[2020-08-12 12:42] gavinking commented on #47
This is now done in #318.

[2020-08-12 14:00] Sanne commented on #316
Yes I think we're on the same page, but I'm still not too worried :)

I hate to sound overconfident, especially as I'm _still_ uncomfortable writing reactive code, but I just feel that conceptually it's not too complicated to model as 3 different states:

- either you have a connection -> use it
- or someone is "in process" of getting one -> wait for that to be done, then use it
- or there isn't o

[2020-08-13 14:44] gavinking opened #320 "logged error running test suite"
I get a bunch of these errors logged from the test suite on DB2

[code]

[2020-08-13 15:31] #320 closed

[2020-08-16 17:21] gavinking commented on #304
@Sanne any idea?

[2020-08-16 19:16] #258 closed

[2020-08-16 19:17] gavinking commented on #258
Done!

[2020-08-17 17:25] #47 closed

[2020-08-18 21:29] #225 closed

[2020-08-18 21:30] gavinking commented on #225
Fixed. Fix was totally trivial.

[2020-08-19 13:05] gavinking commented on #184
@Sanne @sebersole

So while I was working on this one, I came across something a little surprising which is that executing a HQL `update` or `delete` query doesn't seem to evict entities of the updated/deleted type from the cache.

It looks to me like this should in principle be rather straightforward to implement, since the query certainly knows which entry it is updating/deleting and can discove

[2020-08-19 14:03] sebersole commented on #184
That's really strange.  There is code to handle it -
`org.hibernate.action.internal.BulkOperationCleanupAction`

Maybe you've hit a path where that does not happen.  Is this a multi-table
entity?  Depending, have a look at `BasicExecutor#doExecute` or the 2
multi-table forms for update/delete.  *Looking* at the code, I do not see
how that does not happen, but devils-in-the-details and you have the

[2020-08-19 14:13] gavinking commented on #184
Ah, OK, thanks Steve, then this is surely a bug in Hibernate Reactive, possibly related to #237.

Probably @gbadner knows, but anyway, I will investigate further.

[2020-08-19 14:42] gavinking commented on #184
I've tracked down the source of the problem, but it's definitely not trivial to fix. I will probably need to patch hibernate-core.

[2020-08-19 14:49] sebersole commented on #184
I'm not in the weeds with you so hard to say.  But in theory it should not
be difficult.  At the end of the day it is simply built on top of
`org.hibernate.action.spi.AfterTransactionCompletionProcess`

On Wed, Aug 19, 2020 at 9:43 AM Gavin King <notifications@github.com> wrote:

[2020-08-19 15:45] gavinking commented on #184
Actually scratch what I said: I think it's totally straightforward. Sorry for noise.

[2020-08-19 15:50] sebersole commented on #184
NP

On Wed, Aug 19, 2020 at 10:46 AM Gavin King <notifications@github.com>
wrote:

[2020-08-19 17:41] #184 closed

[2020-08-19 17:42] gavinking commented on #184
Done!

The second-level cache is tested with JCache-based EHCache as the cache provider.

I've added documentation, and fixed the bug related to HQL update/delete queries.

[2020-08-19 19:09] Sanne commented on #184
Awesome! I'll check if there's any need for changes in Quarkus.

[2020-08-19 19:25] gavinking commented on #184
Yeah right, that's a good point, there's a f[air bit of configuration](https://github.com/hibernate/hibernate-reactive/blob/master/documentation/src/main/asciidoc/reference/introduction.adoc#enabling-the-second-level-cache) involved in setting up the second-level cache these days, and there needs to be a way to do all that via the extension.

[2020-08-20 09:16] gavinking opened #324 "podman instructions aren't understandable"
@DavideD I still don't understand the [podman instructions](https://github.com/hibernate/hibernate-reactive/blob/master/podman.md), and since I can't run Podman on my Mac, I can't fix them.

- What do "Server" and "CLI" mean here? The document doesn't explain. Are they alternatives approaches or do you need to run *both* commands?
- Are there any additional steps that this document assumes you've

[2020-08-20 12:09] gavinking commented on #237
I have an initial, fairly crappy, fix for this in #325.

[2020-08-21 07:00] gavinking commented on #247
@DavideD It would be nice to know what exactly was the test you ran that resulted in the above error.

[2020-08-21 08:23] gavinking commented on #237
This problem is fixed, except on DB2, and I'm just waiting for a release of core to merge #325.

[2020-08-21 08:26] gavinking opened #326 "temporary tables on DB2"
For multi-table HQL update and delete statements, we need to be ablate create temporary tables.

This is currently blocked by https://github.com/eclipse-vertx/vertx-sql-client/issues/747.

[2020-08-21 08:27] gavinking commented on #307
This is already fixed in #319, and we're just waiting for a release of Vert.x to merge.

[2020-08-23 21:06] gavinking commented on #201
So fixing this issue requires adding reactive implementations of(at least):

- `DefaultPostLoadEventListener`, and its helpers
- `EntityVerifyVersionProcess` and `EntityIncrementVersionProcess`, which will call `ReactiveEntityPersister.lockReactive().

This doesn't look so bad.

[2020-08-23 22:30] gavinking commented on #201
This is done for `find()`, but still not for `lock()`.

(It's also not done for `refresh()`, but if I'm not mistaken core doesn't support these lock modes in `refresh()` either, so I'm not sure I care.)

[2020-08-24 11:00] #201 closed

[2020-08-24 11:00] gavinking commented on #201
Done, finally!

[2020-08-25 23:10] #316 closed

[2020-08-25 23:11] gavinking commented on #316
@Sanne You convinced me.

[2020-08-25 23:28] gavinking commented on #210
@sebersole could you clarify for me in exactly which situations `EntityPersister.getNaturalIdentifierSnapshot()` can be called?

For us to reactify the whole code path that leads into this method looks like quite a lot of work. It would be nice to know how important this method is.

[2020-08-26 08:29] Sanne commented on #316
Nice! Many thanks

[2020-08-26 10:00] gavinking commented on #316
By the way @Sanne, this change is, I assume, going to break the Q extension, so it will need to be updated.

[2020-08-26 13:55] Sanne commented on #316
Sure, good point.

[2020-08-27 14:18] #237 closed

[2020-08-27 14:38] gavinking opened #333 "simplify pool creation for Vert.x client 3.9.2"
@aguibert did some work to automate the selection of the database driver when creating a `Pool`. Currently we still have a legacy workaround for 3.9.1. We need to clean that up.

[2020-08-27 14:52] gavinking commented on #333
https://github.com/eclipse-vertx/vertx-sql-client/issues/616

[2020-08-27 15:05] gavinking commented on #333
Hrrrrm. @aguibert I was looking at this fragment of code:

[code]

It seems to imply that we should now be able to delete the `findDriver()` method.

But actually it doesn't seem to be the case. On 3.9.2, it seems that the fallback stuff is still needed.

Can you clarify, please?

[2020-08-27 15:15] gavinking commented on #333
Hrrrrm, I've just noticed that `DB2ConnectOptions`, `MySQLConnectOptions`, and `PgConnectOptions` all have a `fromUri()` method which parses a connection string.

I wonder if it would be better to use these connection strings that the JDBC URLs we've been using up to now.

It would be ideal if Vert.x offered a `SqlConnectionOptions.forUri(String)` method, but even without that we could iterate ove

[2020-08-27 17:02] #299 closed

[2020-08-27 17:03] gavinking commented on #299
Fixed in e70106f.

[2020-08-27 17:04] gavinking commented on #266
I already fixed this, and in fact this section was removed from the README.

[2020-08-27 17:04] #266 closed

[2020-08-27 18:24] gavinking commented on #304
After investigating further, it seems that this API is way too complex to be configable via properties. So instead I introduced an API that lets you do it in code.

See #334.

[2020-08-27 18:24] #304 closed

[2020-08-28 00:50] gavinking opened #336 "can't determine native query result types"
Some native queries wrongly return null, for example:

    s.createNativeQuery("select current_timestamp", Timestamp.class).getSingleResult()

The cause is https://github.com/eclipse-vertx/vertx-sql-client/issues/657

[2020-08-28 00:53] gavinking commented on #336
Once this feature is added to Vert.x, it needs to be wired in to `ReactiveLoader.discoverTypes()`.

[2020-08-28 09:58] gavinking commented on #333
I've actually demonstrated what that would look like, via the new `SqlClientPoolConfiguration` (which I added for a different reason).

https://github.com/hibernate/hibernate-reactive/blob/42937a41097a0e974c06d134f956488df7a4fecc/hibernate-reactive-core/src/test/java/org/hibernate/reactive/UriPoolConfiguration.java

[2020-08-29 15:43] Xset-s opened #337 "How to compose inner-lazy-fetching event?"
First of all, i wanna thank you for your amazing reactive library. Its really useful for a huge number of tasks. Reactive approach really impressed me.

However there are some issues connected with lazy fetching and composing Mutiny events.

For instance, there is relation between two entities:

[code]

[code]

Fetching query:

[code]

In code-comment above i described my issue. After performing t

[2020-08-29 17:23] gavinking commented on #337
Hi, is this what you're trying to do:

[code]

(Note that I have not tested this code but I *think* it's probably what you need.)

[2020-08-29 17:55] Xset-s commented on #337
Thank you, your code works fine :))

And one more thing, how about improving lazy-fetch access (or make it easier to access)?

For instance, in hibernate-orm there is config property `hibernate.enable_lazy_load_no_trans`, which allows fetching lazy entities without writing huge amount of code (yea, i know, some good programmers call it as anti-pattern approach, but in some cases it can be really u

[2020-08-29 18:03] gavinking commented on #337
Well the thing is that I don't think there's any way that this can be made truly transparent with a reactive streams-like approach (you need fibers or whatever). Remember that every operation that results in a database access has to receive its result in a callback.

But also don't forget the prime directive of ORM: avoid lazy fetching altogether (where reasonable) in order to minimize round trips

[2020-08-29 19:14] Xset-s commented on #337
Yes, you are absolutely right, with experience comes awareness that lazy fetching has a lot of pitfalls and it must be used very carefully in order to prevent performance troubles.

However, i think its possible to make it easier to fetch them (synchronously or asynchronously).

For example, developer takes risks of low performance (or maybe his app has already taken into account all the subtletie

[2020-08-29 19:20] gavinking commented on #337
Oh you mean you want a contextually-bound reactive session?

Yes, that's going to be possible in Quarkus based on Reactive Contexts.

@FroMage would know if we already support this, but we certainly plan to.

[2020-08-31 11:02] gavinking commented on #337
Closing this one, because it was more of a question than an issue. (Which is fine, since we don't yet offer any other way to ask questions!)

[2020-08-31 11:02] #337 closed

[2020-08-31 11:05] gavinking opened #338 "accept native-style database URIs along with JDBC URLs"
We should accept things like `postgresql://user:pass@localhost/schema` as well as `jdbc:postgresql://@localhost/schema?user=user&password=pass`, especially since Vert.x prefers the native format.

[2020-08-31 11:47] #338 closed

[2020-08-31 12:03] gavinking opened #340 "multitenancy"
I assume (but have not tested) that `MultiTenancyStrategy.DATABASE` and `MultiTenancyStrategy.SCHEMA` don't work in Hibernate Reactive, since they're implemented around the JDBC-based `MultiTenantConnectionProvider` interface.

So I guess we will need to build some sort of `MultiTenantReactiveConnectionPool` or something like that which is aware of the tenant id.

[2020-08-31 14:50] gavinking commented on #340
@Sanne am I understanding correctly that `MulitTenancyStrategy` is essentially redundant, that:

- `DISCRIMINATOR` is not implemented at all, and
- `SCHEMA` and `DATABASE` are actually the same thing?

[2020-08-31 17:16] gavinking commented on #340
Alright, I have set something up, but it depends on users implementing `ReactiveConnectionProvider` or extending `SqlClientPool`, which is perhaps not the best solution ever.

[2020-08-31 18:18] gavinking commented on #340
I've added a property, to make this easier.

[2020-09-01 10:15] gavinking commented on #340
Alright, this is fixed, it seems to me.

[2020-09-01 10:15] #340 closed

[2020-09-01 13:48] Xset-s opened #342 "JoinColumns trouble"
Hello again, I continue researching your amazing library.
But today i got stuck with problem related to JoinColumns.

There are two entities:

SampleEntity:

[code]

And SampleJoinEntity:

[code]

As you can see there is ManyToOne relation, which uses two keys.

Let's try to persist them:

[code]

When i m trying to persist sampleJoinEntity, hibernate throws this exception:

[code]

Full stack: ht

[2020-09-01 14:45] DavideD commented on #342
THanks, I'm having a look

[2020-09-01 15:13] gavinking commented on #342
I'm willing to bet that this is a result of #291, the issue I was asking for feedback on.

[2020-09-01 15:14] gavinking commented on #342
#210, I meant #210.

[2020-09-01 17:59] DavideD commented on #324
We don't need to mention podman but I would like to keep the scripts. We can replace them for docker.
Even if we have the options in the tests I find it handy to have them so that I can copy and paste what I need  if I want to start a machine separately (and to test that the build works without TestContainers).

* Server: The db
* CLI: the [Command line interface](https://en.wikipedia.org/wiki/Com

[2020-09-01 18:03] DavideD commented on #324
By the way are you saying that this doesn't work? https://podman.io/getting-started/installation
[code]

[2020-09-01 18:11] DavideD commented on #324
Nevermind, it seems you need some additional steps to make it work with MacOS

[2020-09-01 18:30] DavideD opened #343 "Create the website page on the hibernate.org website"
I've created it already some time ago but we never published it and I think now I need to update it before we can use it.

@Sanne can we update the website or we need to wait for a stable release?

[2020-09-01 18:31] DavideD commented on #266
Not what I meant but I guess it's easier this way.

In the [Including Hibernate Reactive in your project build](https://github.com/hibernate/hibernate-reactive/blob/master/documentation/src/main/asciidoc/reference/introduction.adoc#including-hibernate-reactive-in-your-project-build) we could add a link to the Hibernate Reactive website with the latest available stable version once we have it.

[2020-09-01 18:53] DavideD commented on #247
I've created this branch with the test case: https://github.com/DavideD/hibernate-reactive/tree/247-Testcase
This is the test case: https://github.com/DavideD/hibernate-reactive/commit/4b395d5d713df00e94aa632cace3ba7809f3012e
It requires an `import.sql` maybe you know a way to avoid that?

The error is different now but I think it's a result of the latest changes. I didn't make much progress on so

[2020-09-01 18:58] DavideD commented on #342
Not sure. The error in this case is related to `ReactivePersistenceContextAdapter#getDatabaseSnapshot()`.
I've converted the example @Xset-s provided into a testcase here: https://github.com/DavideD/hibernate-reactive/commit/d412c10a902d40674109d13ecf453fd738794797

I will have better look tomorrow.

[2020-09-01 21:57] gavinking commented on #342
My bet is it's being called from `StatefulPersistenceContext.getNaturalIdSnapshot()`.

[2020-09-02 12:28] gavinking commented on #324
And do you need to type this command in order to run the HR tests?

[2020-09-02 12:29] gavinking commented on #324
Well then I want to see a document with proper step-by-step instructions that don't assume that the reader is living inside your head. If even *I* don't understand your documentation, there is *no chance* that a user will.

[2020-09-02 13:16] DavideD commented on #324
No.

It worked so far for the intended audience and the intended purpose I had in mind initially.
But I agree that we need to add some additional explanations now.

To be fair, this section is less about Podman and more about starting the databases as containers (without using TestContainers). So we could reword it and make it clear that those instructions will work for Docker as well.

[2020-09-02 21:08] gavinking commented on #324
The thing is that it's sitting there right in the root directly of the project, and given its prominent location it needs to look professionally-written.

Look I know I'm hyper-anal about this, but one of my pet peeves is bad developer-written doc.

I mean, given its prominence, it's only slightly less obnoxious than all the fucking gradle metadata. (How the community considers it reasonable that

[2020-09-03 11:19] Xset-s opened #344 "Merging OneToMany collection (after removing)"
Hello, i've just caught strange behavior. It looks like a bug (maybe somehting related to the query cache), but it can also be misuse of sessions' methods, so if i did something wrong, let me know.

There are two entities:

SampleEntity:

[code]

SampleJoinEntity:

[code]

As you can see there is ManyToOne relation, which uses SampleEntity's id as a reference.

Let's persist them:

[code]

Let's r

[2020-09-03 12:46] gavinking commented on #344
OK so it seems to me that this bug is ultimately the result of allowing detached objects to be passed to `refresh()` and `remove()` which is really an ancient legacy Hibernate 1/2 thing from back in the days of `saveOrUpdate()`, which we've already chosen not to support here.

I think HR should do things just as specified by JPA and throw an exception in these cases. We would be doing our users a

[2020-09-03 13:57] DavideD commented on #342
I'm working on the fix for this issue but it seems that the problem is caused by the fact that `sampleEntity` is detached when you assigned it the second time. If you merge or refresh the value, it should work.

Example:
[code]

[2020-09-03 14:44] gavinking commented on #344
I've done the work but I can't push right now because my ISP sucks.

[2020-09-03 14:54] DavideD commented on #324
I will rewrite it and then we can continue the review.

Keep in mind that you can test the instructions replacing `podman` with `sudo docker` (in case you want to try them).

[2020-09-04 07:44] gavinking opened #347 "return CompletionStage<Void> instead of CompletionStage<Session> from voidlike session methods"
Currently operations like `remove()` return `CompletionStage<Session>` or `Uni<Session>`, but I'm now inclined to think that this is useless given the idioms we have for obtaining a reference to the `Session`, and I'm considering changing the return types to `CompletionStage<Void>` and `Uni<Void>`.

Any objections?

[2020-09-04 08:54] DavideD commented on #347
Doesn't it make sense for something like
[code]
I'm not sure if this scenario is that useful in a real case but it seems to make sense.
I have to admit that the persist confused me initially because I was expecting it to return the persisted object.

Maybe you can add some examples of the benefit of removing it?

[2020-09-04 08:58] gavinking commented on #347
Well that code fragment doesn't really make sense because the two idioms we have left are:

- `openSession()` and assign the result to a variable, or
- (better) use `withSession()` and you get it assigned to a parameter for free.

We don't have the version of `openSession()` which returns a `CompletionStage`/`Uni` anymore.

[2020-09-04 09:14] DavideD commented on #347
Right, I wasn't thinking about the method in the factory but I forgot we removed it.

I guess ultimately we will have something like this instead:

[code]

Looks good to me

[2020-09-04 10:38] Xset-s commented on #344
Ok, following JPA spec is a great thing, but what about my case? I mean, how to rewrite correctly my code in sample case above to achive the same functionality? Now it seems to me, than instead of refresh (or merge) i should always use ```session.find``` method (if we are talking about detached entities as ```SampleEntity``` in this example).

[2020-09-04 10:48] gavinking commented on #344
Well you can still use `merge()`, that method is designed to be safe, but you have to *use* the returned object, not ignore it. And yes, you should definitely use `find()` instead of `refresh()` here.

[2020-09-04 10:49] DavideD opened #348 "Test works locally but fails on CI"
While I was working on #342 I've added the following test:

[code]

This test checks that the operation throws an exception of type `IllegalStateException` and the cause is `TransientPropertyValueException`.

What happens on CI is this:

[code]

It seems like the same exception is caught twice and therefore Mutiny throws a `CompositeException` instead of the expected one

This is the class: https:

[2020-09-04 10:57] DavideD commented on #348
Link to one of the failing jobs: https://github.com/hibernate/hibernate-reactive/runs/1071327661?check_suite_focus=true

[2020-09-04 13:31] DavideD commented on #344
Done https://github.com/hibernate/hibernate-reactive/pull/346

[2020-09-04 13:31] #344 closed

[2020-09-04 16:19] #347 closed

[2020-09-04 17:21] DavideD commented on #347
Done

[2020-09-04 17:31] #342 closed

[2020-09-04 17:33] DavideD commented on #342
Done!

[2020-09-04 17:34] DavideD commented on #348
I don't know what causing the issue but it's not critical and we check the exception anyway with stages.
I've relaxed the test in my PR: https://github.com/hibernate/hibernate-reactive/pull/345/files#diff-79a97e710e81d50312c5f7ae7c173379R162

We can think about it again if it happens again.

[2020-09-04 17:34] #348 closed

[2020-09-05 08:06] gavinking opened #351 "advanced lock options"
Currently we have no way to:

- request `PessimisticLockScope.EXTENDED`, (`javax.persistence.lock.scope`), or to
- specify a lock timeout (`javax.persistence.lock.timeout`).

Obviously I don't want to use stringly-typed map keys for this, so we need to invent some sort of API.

[2020-09-05 08:07] gavinking commented on #351
The obvious way would be to let them pass a `LockOptions` instance, of course.

[2020-09-05 10:25] gavinking commented on #351
Well, actually, upon further research, the only database we currently support that has a `WAIT n` clause is MariaDB. And it's not clear to me that we should (at this stage) be adding complexity to our APIs just for users of MariaDB.

Now, when (someday!) we support _Oracle_, we're going to need it ... but who knows when that will be?

[2020-09-05 10:40] #351 closed

[2020-09-05 10:42] gavinking commented on #351
So I've added the internal infrastructure to support this, because I think it actually improves the internal APIs, but I have not exposed it via the API just yet. It will be easy to uncomment the code when someday we get a reactive driver for Ora.

[2020-09-05 19:39] Xset-s opened #353 "Persisting entities with detached objects"
Hello again, first of all, thank you so much for your quick response to my issues. Everything works well and i m so glad about that.
But, as far as i'm concerned, for now (after recent commits) its impossible to persist objects with detached entities within.

I mean something like that:

[code]

and then

[code]

After executing ```session.persist(sampleJoinEntity)``` hibernate throws ```object re

[2020-09-05 20:08] gavinking commented on #353
This is a regression. I'm already fixing it.

[2020-09-05 20:24] gavinking commented on #353
This is fixed in #354.

[2020-09-05 20:38] gavinking opened #355 "Session.asReference()"
Hibernate has historically always let you use references to detached objects to set up associations. TBH I'm not even sure if the JPA spec says anything at all about this practice, or if other JPA implementations allow it.

But there are some reasons to think it's a bad thing: it makes it harder, perhaps, for users to keep track of which objects are managed and which are detached in their object g

[2020-09-05 20:44] gavinking commented on #355
(Note that you can sorta use `merge()` for this in JPA, but it has the nasty side-effect of hitting the database.)

[2020-09-06 14:02] gavinking commented on #355
I've added an overloaded `getReference()` method in #356.

Now I'm wondering if we should add a setting to make it illegal to old references to detached objects from the managed object graph. (This would have to be an optional behavior.)

[2020-09-07 08:55] #353 closed

[2020-09-07 09:21] gavinking opened #357 "extra connection pool connection-related properties"
`SqlConnectionOptions` inherits a bunch of properties from `NetClientOptions` and it seems to me that some of these are relevant, and should be configgable via Hibernate properties. For example, both of the following look useful:

- `hibernate.vertx.pool.idleTimeout`
- `hibernate.vertx.pool.connectTimeout`

@vietj should we add these two properties? Are there any others that would be useful to som

[2020-09-07 09:38] #355 closed

[2020-09-07 09:39] DavideD commented on #355
Fixed https://github.com/hibernate/hibernate-reactive/pull/356!

[2020-09-07 10:12] DavideD commented on #247
I will get back to this now

[2020-09-07 18:41] Xset-s opened #359 "session.remove && session.getReference"
Hello, as i understand, following jpa, there is only one way to remove detached entity:

[code]

Everything is fine, but if it's about performance, merge operation takes large amount of time and can cause real performance troubles. For instance, according to my inaccurate time measurements, removing 5000 entities takes ~4s, in hibernate-orm it takes 50ms.

I've just read about a new method called

[2020-09-07 20:20] gavinking commented on #359
Ah, good point, *absolutely* you should be able to do that. I've made it work in #360.

However, I want you to understand that there's no way to `remove()` an object without fetching it first. That's because `remove()` has semantics like cascade delete, and collection removal that depend on having the state of the entity in the session.

If you absolutely need to be able to delete an entity withou

[2020-09-08 08:33] #359 closed

[2020-09-08 11:45] Xset-s commented on #359
No problem, thanks for your detailed response about removing operation and for a very quick fix. I'm conducting experiments right now and rewriting my server-side application using your new amazing library, so its easy for me to catch some tricky issues, which could only be captured only so (or using a large number of tests)

[2020-09-09 10:34] DavideD opened #361 "Check cross repo build with GitHub"
https://github.com/marketplace/actions/github-action-build-chain-cross-repo-builds

I haven't looked into it yet so I've created this issue so that I won't forget it, but could we use it to test with the latest Hibernate ORM SNAPSHOTS?

[2020-09-10 09:40] DavideD opened #362 "Test for find after flush"
A user had an issue and mentioned this use case. I tried it and it works but I couldn't find any test case for it.

[2020-09-11 09:58] gavinking commented on #362
@DavideD So, I mean, I'm not *against* adding tests that just re-test basic functionality of the underlying Hibernate session, but I don't think we need to go out looking for them, and I definitely don't think we need to open an issue for every new test.

[2020-09-11 13:21] DavideD commented on #336
We merged a workround with https://github.com/hibernate/hibernate-reactive/pull/364
I will leave the issue open until we can apply the proper solution

[2020-09-11 13:52] DavideD commented on #362
OK, I don't plan to make it on habit.

Thanks

[2020-09-11 13:52] #362 closed

[2020-09-11 15:30] gavinking commented on #362
No problem.

[2020-09-13 15:31] mgonzaga1990 opened #365 "java.lang.AssertionError: Shouldn't be here"
I'm trying to understand resolve this issue i am facing.

[code]

here are my classes.

[code]

[code]

[code]

[code]

[code]

[code]

[code]

I make sure that i'm doing his eagerly ``fetch = FetchType.EAGER``

But Still get this exception. Would like to understand why and how the error happened.

Thanks alot.

[2020-09-13 15:48] gavinking commented on #365
Yes, well that looks to be the source of it. Remember, that [we strongly recommend that you *never* map collections for `EAGER` fetching in Hibernate](https://github.com/hibernate/hibernate-reactive/blob/master/documentation/src/main/asciidoc/reference/introduction.adoc#association-fetching).

And that's especially the case here, where because you're using a handwritten native SQL query, we can't

[2020-09-13 15:53] gavinking commented on #365
Waaaaait, what build of HR are you using here? Because that line of code no longer exists.

Could you please try the latest build?

[2020-09-13 15:58] mgonzaga1990 commented on #365
@gavinking must be.. I'm just continuing my experiment on this. And I got back this time

here is my pom.xml

[code]

[2020-09-13 16:16] mgonzaga1990 commented on #365
@gavinking actually i tried using the latest. from the one i generated from quarkus.

[code]
[code]

but giving me this error

[code]

I don't remember getting this error from the previous version.

[code]

Thanks

[2020-09-13 16:57] gavinking commented on #365
Well as a first step I suggest you produce an isolated test case outside of the Quarkus environment, based on the latest build of HR.

[2020-09-13 17:01] mgonzaga1990 commented on #365
I see thanks for your help @gavinking

[2020-09-13 17:11] gavinking commented on #365
@mgonzaga1990 Well, I just created a test case myself, and your code seems to work on a current build of Hibernate Reactive.

[2020-09-13 17:13] mgonzaga1990 commented on #365
@gavinking is that quarkus or not?

[2020-09-13 17:15] gavinking commented on #365
Outside Quarkus. In a `BaseReactiveTest`.

[2020-09-13 17:16] gavinking commented on #365
P.S. `(strategy = GenerationType.AUTO)` is redundant. That's the default.

[2020-09-13 18:27] gavinking commented on #365
FTR, here's the test I ran:

[code]

[2020-09-14 06:25] mgonzaga1990 commented on #365
@gavinking , I updated the @GeneratedValue as your advised.
Also, I  have 2 scenarios.

1. **EAGER**
[code]

2. **LAZY**

[code]

here is the code for the LAZY

[code]

[code]

[code]

[code]

[code]

[2020-09-14 06:46] gavinking commented on #365
Well look, I think the problem here is that you need to learn how to isolate your problems. You're using too many things at once.

Now, I can't run your code because there are just too many moving parts here: Hibernate Reactive, Lombok, RESTEasy. However, just eyeballing the stack traces, I guess, but am not certain that:

- Your first problem is probably the result of a rubbish generated `toStrin

[2020-09-14 08:12] mgonzaga1990 commented on #365
Thanks for the advice, yes i followed the lombok part i generated the getters and setters by myself.

and while investigating the error. I found out that if i do below without lombok (i didn't include getters and setters here and constructor)

[code]

So i suspect that it has something to deal with my jackson mapping or something related.. I'm learning more as i proceed in experimenting and applyi

[2020-09-15 17:35] gavinking commented on #365
Yes, I suppose that a problem with the jackson mapping could be causing `toString()` to get called on collections.

Great, excellent!

I'm going to close this issue because I believe the original problem was caused by a limitation we had in earlier releases of HR that was already fixed.

[2020-09-15 17:35] #365 closed

[2020-09-16 16:14] DavideD opened #367 "Create a test case that declares an ORM persistent unit and a Reactive one"
This use case is supported right now but we don't have a test for it.
Something not too complicated: an entity and a couple of unit tests persisting and reading it using JPA/Hibernate and Reactive persistence unit declared in the same persistence.xml.

In OGM we use a rule to isolate among different persistence.xml for tests, it might be helpful for us as well: https://github.com/hibernate/hiberna

[2020-09-16 17:26] gavinking commented on #357
@vietj any comment?

[2020-09-17 16:02] gavinking commented on #333
I need https://github.com/eclipse-vertx/vertx-sql-client/issues/767 to make progress on this.

[2020-09-17 16:35] #336 closed

[2020-09-17 16:35] #307 closed

[2020-09-17 16:48] gavinking opened #370 "persist(), merge(), remove(), refresh() on Mutiny.Session"
With the Mutiny API changes I requested in 0.8.0, the new `call()` method which replaces `invokeUni()` is now overloaded and this creates an ambiguity when you do:

[code]

And so you have to write:

[code]

So I think we should get rid of the overloading of `persist()`, `merge()`, `remove()`, and `refresh()` on `Mutiny.Session`.

But what should we do instead?

1. Just leave them as unary operati

[2020-09-17 16:55] DavideD commented on #370
Definitely 2 or 3. I use that operation often for tests.

What's the drawback of using 3?

[2020-09-17 16:57] gavinking commented on #370
You can't pass an array to it, or use it as a method ref.

[2020-09-17 17:01] DavideD commented on #370
I think I prefer 2 as well

[2020-09-17 17:03] gavinking commented on #370
Yes, it seems the right thing to do.

[2020-09-17 17:30] gavinking commented on #370
Interestingly, after the changes I requested, the Mutiny APIs are *much* more friendly to passing session methods by reference. So this is actually really useful.

[2020-09-18 06:12] vietj commented on #357
they are relevant, however as we want to improve the pool in 4.x and we might have pool properties achieving something similar but at an higher level (like a pool max time idle and pool connection acquisition timeout) that would replace them. In the mean time they can be useful.

[2020-09-18 07:12] #370 closed

[2020-09-18 09:10] gavinking commented on #357
Alright then, I will add them. We can always change them later.

[2020-09-18 11:48] gavinking opened #374 "lazy collections and bytecode enhancer"
So I've run into what I consider to be some pretty unexpected behavior of Hibernate ORM when the bytecode enhancer is enabled with `enableLazyInitialization = true`.

There's two aspects of the behavior that, naïvely, look suboptimal to me, at least in the context of HR:

1. By default, lazy collection are marked for field-level lazy fetching. I gotta say I just don't see much advantage to this, h

[2020-09-18 12:00] gavinking commented on #374
@Sanne the workaround in #375 solves problem (2) at least for HR. But shouldn't this be done in core?

[2020-09-18 12:52] Sanne commented on #374
Hi Gavin, I'm not sure on terminology which might be important; and no I'm not the expert in this area, I've just started recently to fix some issues with it in the context of making the existing stuff work in Quarkus. What do you mean by `field-level lazy fetching` exactly?

And by "bytecode enhancer is enabled", I assume you're referring to build time enhancement?

It might help to keep in mind

[2020-09-18 12:56] Sanne commented on #374
There's one more novelty to keep in mind; we now support "enhanced proxies": this allows some loading patterns to perform much better.
See Steve's blog for a description:
 - https://in.relation.to/2019/07/30/bytecode-proxy/

[2020-09-18 12:59] gavinking commented on #374
I mean `enableLazyInitialization = true`.

Right. In Gradle.

Yeah but that's doesn't affect *collection* proxies. They're just regular classes.

Perhaps that works in Quarkus, but it's not working for me, outside Quarkus.

[2020-09-18 13:20] Sanne commented on #374
Field access requires enhancing the caller (the application) so it's not easy to setup generally; Stephane did some extra magic in Quarkus. So I agree it's not the best choice as _general purpose_ strategy, but it's not a bad choice in Quarkus. Just to clarify the context.

So yes I am confused like you by what you say in #2 , that seems odd; we should ask the real experts ( @sebersole @dreab8 ) ,

[2020-09-18 13:33] gavinking commented on #374
@Sanne @sebersole I think perhaps I've tracked it down to this commit:

https://github.com/hibernate/hibernate-orm/commit/cc01f2561dbca95bd58048f85e283ba1719ee588

[2020-09-18 13:36] gavinking commented on #374
Specifically, this change:

https://github.com/hibernate/hibernate-orm/commit/cc01f2561dbca95bd58048f85e283ba1719ee588#diff-7c0b4e29c08a30311a237f9811d44861L1057-R1088

[2020-09-18 13:41] Sanne commented on #374
Thanks for digging! Interesting, so by reading the https://hibernate.atlassian.net/browse/HHH-11147 description it seems intentional to support `getReference`, which indeed does make good use for a non-initialized entity.

[2020-09-18 13:47] gavinking commented on #374
This is a *collection proxy*, not an entity proxy.

[2020-09-18 13:52] gavinking commented on #374
Well, no, actually I now realize there's two parts to this:

### `initializeLazyProperty()` doesn't fetch the collection

First, `initializeLazyProperty()` doesn't fetch the collection. In fact, that's probably sorta OK in Hibernate ORM, where collection fetching happens transparently when you access the collection.

But it's a huge pain in HR, where `fetch()` is an explicit operation, because fir

[2020-09-18 13:54] gavinking commented on #374
Oops, no, there's not. I can't.

[2020-09-18 13:59] gavinking commented on #374
The thing is, I guess I also question `EnhancementHelper.includeInBaseFetchGroup()`, which returns `false` for lazy collections. I don't think it should.

[2020-09-18 15:31] gavinking commented on #374
Oh, right, so I guess the assumption is that you're only going to access the collection via getter method. So it's *inconsistent* with what happens for other fields, but it's not actually broken.

[2020-09-21 09:40] #357 closed

[2020-09-21 09:44] DavideD commented on #357
Merged https://github.com/hibernate/hibernate-reactive/commit/f299741cef721c1b48b540dd51b352fd801b5e06

[2020-09-21 14:24] DavideD commented on #247
Done

[2020-09-21 15:09] DavideD commented on #361
It seems that it would require all project to have a workflow on GitHub. This is not the case for ORM.
I think it's faster to create a job on Hibernate Jenkins for now.

[2020-09-22 17:50] gavinking opened #382 "example model should have getters+setters"
I hate 'em, but the truth is that outside of Quarkus they're still a requirement, so we shouldn't mislead people to think they're not.

[2020-09-22 17:55] gavinking commented on #382
@FroMage @Sanne am I right in understanding that in Quarkus, you simply don't need getters and setters, even when you're *not* using Panache?

[2020-09-22 19:34] Sanne commented on #382
Hibernate ORM does have an enhancement option to not need accessors, it's called "extended enhancement" as it actually enhances the application code (not just the entities).

Within Quarkus we don't actually enable this option though, as Panache is doing a similar, but more advanced operation.

I guess I'm not sure of what we should be doing for an Quarkus+Hibernate user who doesn't have Panache a

[2020-09-22 19:36] Sanne commented on #382
BTW all most common use cases should work with plain ORM even without any enhancement. It's really more of an optimisation to track dirty entities efficiently.

[2020-09-22 19:58] gavinking commented on #382
Well I don't see how a third-party jar could possibly have been compiled against the user's program.

The problem I'm concerned with here is external access to fields, without an intermediating getter/setter. It would be nice to be able to let people do what they can do in Panache, but our proxies prevent that.

[2020-09-22 19:59] gavinking commented on #382
Precisely *how* does one enable that?

[2020-09-22 20:24] Sanne commented on #382
Depends on what tool you're using to enhance the application. The maven plugin? Gradle?
 - https://docs.jboss.org/hibernate/orm/5.4/userguide/html_single/Hibernate_User_Guide.html#BytecodeEnhancement-enhancement-gradle

Programmatically it looks like:
 - https://github.com/quarkusio/quarkus/blob/7528eadb871badc9130ebcbbad04942ad146f40e/extensions/hibernate-orm/deployment/src/main/java/io/quarkus/h

[2020-09-22 21:12] gavinking commented on #382
Gradle.

But I don't see which of those three settings is the relevant one to intercept access from client code.

Well I think you're thinking too big. I think we could get a long way by:

- just handling access from within the same module, and
- letting the user explicitly list other modules which should be enhanced.

I don't think it's necessary to go off analyzing bytecode of all dependencies.

[2020-09-23 09:53] DavideD opened #384 "Not working with Hibernate ORM 5.5"
The API has changed in 5.5

[code]

[2020-09-23 10:07] gavinking commented on #384
Surely a consequence of https://github.com/hibernate/hibernate-orm/pull/3548

[2020-09-23 10:07] DavideD commented on #384
Yep

[2020-09-23 12:16] #382 closed

[2020-09-23 15:18] DavideD commented on #384
Possible fix for when we upgrade to 5.5 or the issue is backported to 5.4: https://github.com/DavideD/hibernate-reactive/commit/05c410850aa741350b49746328f3a9f8e5906258

[2020-09-28 15:39] DavideD commented on #384
It is going to be backported

[2020-09-29 06:57] #361 closed

[2020-09-29 06:58] DavideD commented on #361
Done.

In the end it was simpler to create a GitHub workflow that checks releases regularly and during push/pr requests.

[2020-09-29 13:50] DavideD opened #388 "Reactive not working with the latest snapshot of ORM"
https://github.com/hibernate/hibernate-reactive/actions/runs/278608521

I already have a fix.

[2020-09-29 15:25] DavideD opened #389 "Avoid using latest as the testing dbs"
[This pr](https://github.com/hibernate/hibernate-reactive/pull/387) already fixes it for PostgresSQL but we need to do something similar for MySQL and DB2.

[2020-10-01 04:00] #388 closed

[2020-10-01 08:52] #374 closed

[2020-10-01 10:08] DavideD commented on #384
This is fixed now by https://github.com/hibernate/hibernate-reactive/pull/391
I'm going to close the issue once I have included ORM 5.5 in the workflows

[2020-10-02 15:28] mgonzaga1990 opened #394 "Hibernate Envers integration"
Hi,

I would like to ask if we have a way to properly integrate hibernate envers?
either the hibernate envers of quarkus-hibernate-envers?

I tried using quarkus-hibernate-envers but it is giving me

[code]

I tried looking at the documentation but I can't find envers or auditing or is it currently not supported?

Thanks

[2020-10-02 16:02] DavideD commented on #394
Hi,
Envers is currently not supported with Hibernate Reactive.
We haven't looked into it yet.

[2020-10-02 16:27] mgonzaga1990 commented on #394
Thanks for the fast response @DavideD .. But are you gonna look in to it in the future?

[2020-10-04 12:55] Sanne commented on #394
Hi @mgonzaga1990 , we're not planning to look at it in the near future. We might revisit this in a year or more as there's many other things that need priority, so I'll close this for now.

[2020-10-04 12:55] #394 closed

[2020-10-04 13:06] Sanne commented on #324
A podman user will know.

Should we really digress into explaining this? We're not requiring Podman, this is just meant as notes for existing Podman users, as a convenience. (e.g. both Davide and me use Podman daily).

+1

Yes for a Linux user, Podman is a far better choice than Docker. But I don't feel like we should explain as it comes to many subtle details, this would open a massive digression

[2020-10-04 13:26] gavinking commented on #324
No, that's not right. The mere words "Server" and "CLI" followed by a line of code don't say anything to anyone. That's not how one writes professional documentation. Seriously, it looks unprofessional and gives a bad impression of quality.

Then write that. That's exactly the sort of explanation I'm looking for.

And that's exactly the sort of mentality that drives me absolutely *nuts*. Do you re

[2020-10-04 13:31] gavinking opened #398 "finish javadoc for org.hibernate.reactive.provider.service package"
Some of the classes in this package don't have any Javadoc at all. And in a couple of cases it's non obvious what they are for or when they're used.

@Sanne I think most of these are your classes, though a couple of them are probably mine.

[2020-10-04 13:33] Sanne commented on #324
Sure let's clarify the doc and its purpose, not arguing about that.

I'm just not sure about spending too much time about explaining the essentials, I'd rather have it point to the better maintained podman references than to have a section to explain how to install a native tool for each OS out there ...

[2020-10-04 13:35] gavinking commented on #324
All I'm asking for is for the document to have a basically-reasonable format. I'm not asking anyone to spend a lot of time on it. I would have already done this myself if I had even half of a clue about Podman.

[2020-10-04 13:41] gavinking opened #399 "tests stopped working on Docker desktop"
I've no idea what's going on here, but it seems to have coincided with me updating Docker desktop on Mac to the latest version:

[code]

Any ideas @Sanne, @DavideD ?

[2020-10-04 13:43] gavinking commented on #399
What is a Ryuk and why should it be running at localhost:32768?

[2020-10-04 13:44] gavinking commented on #399
Oh, wait, I just found this: <https://github.com/testcontainers/testcontainers-java/issues/3241>

[2020-10-04 13:44] Sanne commented on #399
PosgreSQL recently released version 13, so I reconfigured our test images to use image `postgres:13.0` . Sounds like you're unable to download it?

Weird, it's supposedly no different from fetching the previous versions.

[2020-10-04 13:47] Sanne commented on #398
thanks, I can polish these next week.

[2020-10-04 13:48] gavinking commented on #399
I *think*&mdash;but I'm not sure&mdash;that I already had it working on Postgres 13 up until I updated Docker.

[2020-10-04 13:51] Sanne commented on #399
First time I hear about `Ryuk` .. from the very few doc references I found, it seems like an optional local server one is supposed to start?
It's responsible for fetching images on behalf of Testcontainers - so not having a new container (such as postgresql 13) would trigger this.

Seems a but in Testcontainers.

You might be able to workaround it by downloading the container once manually?

try
[

[2020-10-04 13:52] gavinking commented on #399
Changing to testcontainers 1.15.0-rc2 seems to have fixed it for me.

[2020-10-04 13:53] Sanne commented on #399
Cool.
Alternatively: https://www.testcontainers.org/features/configuration/#disabling-ryuk

[2020-10-04 13:55] gavinking commented on #399
Yep, that worked.

Is there a right way to set an environment variable from the gradle script?

[2020-10-04 13:56] gavinking commented on #398
Great, thanks.

[2020-10-04 14:00] gavinking commented on #399
Apparently:

[code]

[2020-10-04 14:00] Sanne commented on #399
right, that should do it.

BTW please hold on pushing for some minutes :) release is running

[2020-10-04 14:04] gavinking opened #400 "change docs to use Mutiny in example code"
Mutiny is now the much better choice for Hibernate Reactive code, so I think we should change the docs to use it.

Any objections?

[2020-10-04 14:18] Sanne commented on #399
Release done.. I'll do the Quarkus updates now.

[2020-10-04 14:29] gavinking commented on #399
Excellent!

[2020-10-05 08:02] DavideD commented on #400
I'm fine with it. @Sanne?

[2020-10-05 08:07] #384 closed

[2020-10-05 08:13] Sanne commented on #400
Sure. I thought this always was the plan :)

[2020-10-05 17:21] DavideD commented on #389
Basically, this issue is about making sure that we are using the right version of the dbs in the documentation, examples, tests and workflows. If that's already the case we can close it.

[2020-10-05 19:29] #400 closed

[2020-10-07 14:15] DavideD commented on #367
Done!

Thanks

[2020-10-07 14:15] #367 closed

[2020-10-07 15:35] DavideD commented on #389
We only have this issue with the workflows because they need to start the containers to test the examples

[2020-10-08 12:58] #389 closed

[2020-10-08 15:37] blafond commented on #44
Thought I'd take a look at this one, and run with it if it's not too hard?  Got a lot to learn here as well as ORM...

[2020-10-13 14:47] DavideD opened #405 "Update README about integration with Quarkus"
Currently it says:
`Integration with Quarkus has been developed and tested but has not yet been released.`

[2020-10-13 15:52] #405 closed

[2020-10-13 16:13] gavinking commented on #45
@DavideD You wanna try making a start on this one?

[2020-10-13 16:17] DavideD commented on #45
I'm a bit busy working on the website at the moment. If you want to have take it I'm cool with that. Otherwise I will start it after.

[2020-10-13 16:42] #324 closed

[2020-10-13 16:48] DavideD commented on #399
Is this still an issue?

[2020-10-13 16:50] gavinking commented on #45
Ok, that's great, but can you do me a favor and share your work somewhere so we can work on it together?

No, let's concentrate on getting the website up

[2020-10-13 16:51] gavinking commented on #399
I believe the bug is still there, but the only people who are going to experience it are people who don't already have the thing fetched to their local machine.

[2020-10-14 13:16] DavideD opened #407 "Scheduled jobs fail without reason"
Example: https://github.com/hibernate/hibernate-reactive/runs/1252853361?check_suite_focus=true

It's happening quite regularly and I'm not sure why.
I'm thinking of scheduling them less often:
every 3-6 hours instead of every hour

[2020-10-14 13:21] DavideD commented on #343
@Sanne @gavinking
I've created a branch on my repository for the reactive website: https://github.com/DavideD/hibernate.org/tree/reactive
In case you want to send changes.

A working version is on staging: https://staging.hibernate.org/

[2020-10-14 14:25] gavinking commented on #343
OK, good thanks.

Do you have a preference for somewhere we can discuss issues with it?

[2020-10-14 14:32] DavideD commented on #343
Not particularly. Here seems a good place, otherwise Zulip I guess

[2020-10-14 14:42] gavinking commented on #343
OK, roger.

[2020-10-14 15:10] DavideD commented on #343
Not that I think about it, I can also create a PR on `hibernate/hibernate.org`. Let me know what you prefer.

[2020-10-19 09:33] Sanne opened #408 "Upgrade to Vertx 3.9.4"

[2020-10-19 09:42] gavinking commented on #408
So I guess that means we can remove the workaround for https://github.com/eclipse-vertx/vertx-sql-client/issues/766

[2020-10-19 09:53] gavinking commented on #408
@Sanne you assigned yourself but if you prefer I can handle this one....

[2020-10-19 10:27] Sanne commented on #408
@gavinking sorry just seen this now. I've sent a PR, feel free to ignore it or re-work it?

[2020-10-19 13:25] #408 closed

[2020-10-19 15:45] Sanne opened #410 "Gradle upgrade to 6.7"
It would be useful for, among others:

- be able to test on JDK15
- Toolchain support: allows us more freedom in building and testing with different JDK versions (not necessarily aligned)

In particular I believe we should be always building with the JDK we intend to do releases with, while testing with a range of JDKs (currently the runtime testing JDK also has us build with the same JDK).

There

[2020-10-19 17:27] gavinking opened #411 "improvement to hi/lo generator"
In Hibernate core fetching of a new hi value blocks concurrent access to the hi/lo generator.

@cescoffier suggests the following idiom to do the same thing in Vert.x

<blockquote>

I have a specific component used by the rest of the connector.
This component exposes an asynchronous API, let's call this method `getId` and you pass a callback invoked with the retrieve id.
The component handles a qu

[2020-10-19 17:38] cescoffier commented on #411
BTW, do you need some kind of periodic task or enforce a delay between 2 retrievals?

[2020-10-19 17:44] gavinking commented on #411
No, this is something that happens when we run out of lo values.

[2020-10-20 10:08] DavideD opened #413 "Remove warnings during doc generation"
Example:
[code]

[code]

[2020-10-20 10:20] gavinking commented on #413
Well yeah, but I would love to know why the fuck ASCII doctor can't highlight code fragments for me and instead insists that a java listing has to be a whole fucking class!

We should just open a bug against ASCII doctor because that behavior is simply rubbish.

[2020-10-20 10:49] #413 closed

[2020-10-20 10:51] DavideD commented on #413
This was actually an issue with the IntelliJ plugin

[2020-10-21 06:50] DavideD commented on #407
I suspect it's a timeout issue. Probably the default is too low

[2020-10-21 07:45] DavideD commented on #407
It seems I just got confused about the reason of the exceptions. Some job was failing causing the cancellation of other jobs.
Occasionally it happens that it cannot download a dependency, but so far it has beensolved by rerunning the job.

Not that the default timeout is 360 minutes (3h) so that's not an issue at the moment.

[2020-10-21 08:08] DavideD opened #417 "Test with Vertx SQL client 4"
Should we create a branch upstream for [vert.x sql client 4](https://github.com/eclipse-vertx/vertx-sql-client/releases/tag/4.0.0-milestone5) and make it work with it?

[2020-10-21 08:11] #407 closed

[2020-10-21 10:34] gavinking commented on #417
That sounds like a good idea. And that way we can try adding some simple tests for SQL Server.

[2020-10-22 07:28] DavideD opened #418 "HQLQueryTest.cleanDb throws NullPointerException on scheduled job"
It doesn't always happen but we might be able to handle it.

[code]

https://github.com/hibernate/hibernate-reactive/runs/1290593651?check_suite_focus=true#step:5:403

[2020-10-22 08:20] gavinking commented on #418
interesting, i've never seen this even once.

[2020-10-22 08:27] DavideD commented on #418
Me neither, it seems to only happen on CI

[2020-10-22 11:18] DavideD commented on #343
I've created a PR with the latest changes for the website, here: https://github.com/hibernate/hibernate.org/pull/155

[2020-10-23 16:46] DavideD opened #419 "Publish the documentation on hibernate.org during the release"
This way we don't have to rely on the JBoss doc server

[2020-10-25 17:55] #410 closed

[2020-10-26 10:06] gavinking opened #422 "overview page for the Javadoc"
The generated Javadoc is missing an overview.

[2020-10-26 10:08] gavinking commented on #399
So I wonder if this was caused by the need to upgrade the test database when migrating from Postgres 12 to 13?

See, I have `testcontainers.reuse.enable=true` set, which perhaps reuses the database between test runs?

[2020-10-26 10:13] DavideD commented on #422
Ah, I was going to point that out. We actually have an overview file in the project: https://github.com/hibernate/hibernate-reactive/blob/master/documentation/src/main/javadoc/overview.html

But it's a copy of the ORM one

[2020-10-26 10:16] DavideD commented on #422
We need to add this line in the JavaDoc plugin on gradle one we updated it:
[code]

See https://github.com/hibernate/hibernate-reactive/blob/master/documentation/build.gradle#L45

[2020-10-26 10:17] Sanne commented on #399
I don't believe we strictly _need_ that upgrade to PostgreSQL 13 ?

AFAIR when I upgraded it I didn't need to make any related changes, so I'd expect everything to work fine on 12 as well - unless a regression was included in the meantime but that seems less likely than having some problems with docker/testcontainers.

[2020-10-26 10:17] Sanne commented on #399
Maybe try to revert the configuration to 12 and see?

[2020-10-28 15:09] DavideD opened #423 "Upgrade to Mutiny 0.10"
See https://github.com/quarkusio/quarkus/pull/13002

[2020-10-28 16:50] #423 closed

[2020-11-01 23:19] Sanne opened #428 "Upgrade to Hibernate ORM 5.4.23.Final"
Changes: https://hibernate.atlassian.net/projects/HHH/versions/31887/tab/release-report-all-issues

[2020-11-02 07:31] DavideD commented on #428
Fixed
Thanks

[2020-11-02 07:31] #428 closed

[2020-11-06 16:35] gavinking commented on #399
I'm experiencing this again :-(

I set it to false, and it didn't fix the problem.

[2020-11-06 16:37] gavinking commented on #399
This fixed it again.

@Sanne Do you think I should push this change to the gradle script?

[2020-11-06 17:33] DavideD opened #432 "Delete old branches upstream"
@gavinking there are several branches upstream that I think we can delete. Is that alright?

I'm going to keep only `master` and `vert.x-4`

[2020-11-06 17:44] DavideD commented on #417
The new branch is now upstream:
https://github.com/hibernate/hibernate-reactive/tree/vert.x-4

[2020-11-06 17:46] DavideD opened #433 "Update comments for ObjectType class"
The comments in the source implies that we should remove it but it's something that we want to keep because the Vert.x client
has some special implementations of `getObjects()` for special database types.

[2020-11-06 17:58] gavinking commented on #433
I agree that we don't need it. But I kinda like it. I feel like it would be a better fallback than SeriakizabkeType which I think core uses.

[2020-11-06 21:04] gavinking commented on #433
So anyway, the point is I was keeping it around for that reason...

[2020-11-06 21:12] Sanne commented on #399
yes, sure why not. It seems to be a new feature, and we've been happy so far without it.

[2020-11-06 21:12] gavinking commented on #417
Excellent!

[2020-11-07 19:54] bsideup commented on #399
It is actually responsible for terminating the containers after running the tests. If you kill the JVM, the shutdown hooks won't get executed and the containers will continue running, creating dangling containers.
The environment variable is there for CI systems where Ryuk cannot be used (e.g. BitBucket Pipelines) but they guarantee the cleanup themselves.

tl;dr: do not disable Ryuk ;)

[2020-11-07 21:53] gavinking commented on #399
Well, TBH, I run with `testcontainers.reuse.enable=true` always, so I guess that's what happens anyway.

And, on balance, dangling containers is less worse than my tests just not running. :-)

But sure, if this is fixed in 1.15 (which just came out two days ago, I think) then that's great, and we'll just upgrade instead.

[2020-11-07 21:58] Sanne commented on #399
Thanks for explaning that @bsideup !

[2020-11-09 14:28] #399 closed

[2020-11-09 15:03] DavideD commented on #433
OK, how come do you prefer it to `SerializableType`? We at least need to update the comments

[2020-11-09 15:10] gavinking commented on #433
Well because the Vert.x driver has some useful implementations of `getObject()` for special database types.

[2020-11-09 15:21] DavideD commented on #433
OK, I will update the comments and give a bit of explanation instead of removing it

[2020-11-09 15:23] gavinking commented on #433
Might be worth opening an issue mentioning the idea.

[2020-11-09 16:32] DavideD commented on #433
I've updated the issue instead of creating  a new one

[2020-11-09 17:21] DavideD commented on #433
By the way, could you tell me what is this TODO about? https://github.com/hibernate/hibernate-reactive/blob/60ae3507abea1ad2ddae1e940f6909ee28a991bb/hibernate-reactive-core/src/main/java/org/hibernate/reactive/session/impl/ReactiveSessionFactoryImpl.java#L33

[2020-11-09 17:21] #417 closed

[2020-11-09 17:29] DavideD commented on #432
In the end there was only one old branch `#36_2`

[2020-11-09 17:29] #432 closed

[2020-11-09 17:31] DavideD commented on #398
@Sanne any update on this? If you are busy I can take care of it

[2020-11-10 11:06] #433 closed

[2020-11-10 13:53] DavideD commented on #418
I think we can close this one. It doesn't seem to happen anymore and I think it was more related to the GitHub workflow than our code.

[2020-11-10 13:53] #418 closed

[2020-11-10 16:16] Sanne commented on #398
@DavideD yes if you could steal this from me that would be best. Thanks!

[2020-11-11 17:48] DavideD opened #438 "Upgrade to Vert.x 4 CR1"
For the `vert.x-4` branch

[2020-11-11 17:58] DavideD commented on #438
Fixed https://github.com/hibernate/hibernate-reactive/pull/439

[2020-11-11 17:58] #438 closed

[2020-11-12 15:11] Sanne opened #440 "Proposal: switching to Vertx 4 already"
It seems Vert.x 4 is already in CR1, with a CR2 coming soon.

We're currently "stuck" on Vert.x v 3.x because we need to stay compatible with the Vert.x versions used in Quarkus; however:

- Quarkus plans to upgrade ASAP in 2021, expecting migration completion by March (but this very issue is meant to simplify that work)
- It seems we only need changes in a single class in Hibernate Reactive to be

[2020-11-12 15:32] gavinking commented on #440
I'm skeptical that this is worth the effort. March is really not far away and there are other things we could spend time on.

[2020-11-12 20:57] Sanne commented on #440
I think it's a small investment and will reduce the total volume of work.

So unless you're highly preferring to release with Vertx 3 first, I'd like to give it a shot - we can abort if it gets unnecessarily complicated.

[2020-11-13 10:48] gavinking commented on #440
Well I mean I gotta be honest I'm just not really keen on seeing reflection-based code added to the codebase if we're just going to throw it away in four months time when Vert.x 4 is released.

[2020-11-13 10:53] Sanne commented on #440
oh I totally agree, but it's only a couple of methods and we'll get rid of them soon as well.

[2020-11-16 13:06] gavinking opened #441 "add access to SynchronizeableQuery operations"
Perhaps our `Query` interface could just extend `SynchronizeableQuery`. (Need to look more closely.)

See discussion on https://github.com/hibernate/hibernate-orm/pull/3643.

[2020-11-16 13:20] gavinking opened #442 "replicate HHH-14329"
See https://github.com/hibernate/hibernate-orm/pull/3645.

[2020-11-16 13:28] gavinking opened #443 "replicate HHH-14312"
See HHH-14312

[2020-11-16 22:27] gavinking commented on #441
Hrmph, I'm really not sure what to do about this one. We don't have a `NativeQuery` interface at present, and the operations of `SynchronizeableQuery` don't really make sense for HQL queries, so I would really prefer not to pollute `Query`.

There's a couple of options:

- Create a `NativeQuery` interface in `Stage` and `Mutiny` that mixes `SynchronizeableQuery` with `Query`. This is fine I guess,

[2020-11-16 22:30] gavinking commented on #441
Or perhaps a parameter of type `String[]` would be better.

[2020-11-16 22:32] gavinking commented on #441
Or perhaps I should buy into my own bullshit and add a `QuerySpaces` class.

[2020-11-17 09:23] gavinking opened #445 "replicate HHH-14271 (and HHH-14304?)"
@Sanne this one is for you.

I've noticed [this commit](https://github.com/hibernate/hibernate-orm/commit/81d526e4db283a92fd3c6adaa5c7efd9c877999d) and I suppose it's something that should be replicated in HR.

[2020-11-17 09:26] gavinking commented on #445
HHH-14304 might also be relevant.

[2020-11-17 11:11] Sanne commented on #445
Thanks, yes I've made a number of improvements to address a problem of high memory usage. I should be able to replicate them here.

[2020-11-17 11:35] gavinking commented on #445
Great, perfect, thanks.

[2020-11-18 14:12] Sanne commented on #442
I'll try to do this today

[2020-11-18 14:19] Sanne commented on #445
I think I had already done this in 61989677a6dc189d41658b9641c47eb372c5fb41  - need to check if there's another update needed.

[2020-11-18 14:43] Sanne opened #447 "Test for correctly detecting dirty attributes of build time enhanced entities"
In Quarkus we favour build-time enhanced entities; we need better integration tests to cover this functionality.

There's a good template to follow in Hibernate ORM core's `DirtyTrackingTest`

[2020-11-18 14:43] Sanne commented on #442
I see we're lacking on tests for this area; tracking that as a separate issue: #447

[2020-11-18 15:04] Sanne commented on #445
right, nothing else is needed. FWIW, that's why I've made these `protected`:

 https://github.com/Sanne/hibernate-orm/blob/33123d267f64298f3f40e7c3671f7f15849831a9/hibernate-core/src/main/java/org/hibernate/persister/entity/AbstractEntityPersister.java#L4366-L4376

[2020-11-18 15:04] #445 closed

[2020-11-18 15:26] gavinking commented on #445
OK, great, thanks, sorry for the noise then.

[2020-11-18 16:56] Sanne opened #448 "Instructions for Podman need an update for Fedora 33"
When running on Fedora 33, the podman instructions we provide need an update:

the images we recommend using all fail to start with

    OCI runtime command not found error

as they attempt to create a storage overlay within the home directory of the user. Creating this directory is now being checked for explicit privileges (which seems like a good thing in principle?), and it will fail.

It seems

[2020-11-18 17:01] Sanne commented on #448
resolved

[2020-11-18 17:01] #448 closed

[2020-11-18 17:51] DavideD commented on #448
Did you also update the images we use with test containers?

On Wed, 18 Nov 2020, 17:01 Sanne Grinovero, <notifications@github.com>
wrote:

[2020-11-18 20:33] Sanne commented on #448
@DavideD I've been searching for them and couldn't find them.. were are they listed?

[2020-11-18 20:34] Sanne commented on #448
BTW I assume Testcontainers uses Docker? These specific images are necessary only for the latest podman. Of course +1 to align them.

[2020-11-18 20:55] Sanne commented on #445
I'm glad you check :)

[2020-11-19 03:40] DavideD commented on #448
It's about aligning them, so that the images used for testing are
consistent with the workflows.

This is the one for mysql:
https://github.com/hibernate/hibernate-reactive/blob/86941a12bb6cb87272b59efd593991118360d201/hibernate-reactive-core/src/test/java/org/hibernate/reactive/containers/MySQLDatabase.java#L12

In the same package you will find also the one for postgres and db2.

On Wed, 18 Nov

[2020-11-19 09:58] Sanne commented on #448
Thanks! #451

[2020-11-20 09:50] Sanne commented on #442
Done & merged

[2020-11-20 09:50] #442 closed

[2020-11-20 14:00] DavideD opened #453 "Example fails with ORM 5.4.24"
Example of one of the logs using `org.hibernate:hibernate-core:5.5.0-SNAPSHOT:20201117.201048-196`:

[code]

[2020-11-20 14:23] gavinking commented on #453
Goops, you're right: @Sanne and I both missed this because of other spurious failures in the CI.

[2020-11-20 14:25] gavinking commented on #453
I hazard a guess that this is related to #443.

[2020-11-20 18:56] DavideD commented on #453
Is that issue related to DirtyChecking?
I think that problem is related to this: https://github.com/hibernate/hibernate-reactive/issues/447
In fact, in the examples we have the ByteCode enhancements enabled

[2020-11-23 18:31] gavinking commented on #443
Uffff. This looks like it is going to be *painful* to untangle. The whole type hierarchy of batching loaders has completely changed, and it looks like our batch loading support is going to need to be reimplemented from scratch.

[2020-11-23 18:35] gavinking commented on #453
Well, I figured that the bug is related to batch loading. I might be wrong though.

[2020-11-23 18:49] gavinking commented on #453
Oh well, it looks like I'm wrong and the problem is indeed elsewhere.

[2020-11-23 18:57] DavideD commented on #453
I'm working on a test case. Hopefully I will be able to confirm this soon enough.

It makes sense though because only the example fails and it is the only place where we enable the bytecode enhancements

[2020-11-23 19:27] gavinking commented on #453
OK, great.

[2020-11-24 16:55] DavideD commented on #453
So, yes. The problem is the dirty checking of the collection when byte code enhancements are enabled. I don't know why it was working before. Probably, [this bug in ORM](https://github.com/hibernate/hibernate-orm/pull/3645) was hiding the problem and now that it's fixed we see it.

[2020-11-24 17:09] gavinking commented on #453
Uff, what a PITA.

[2020-11-24 17:30] gavinking commented on #453
OTOH, why does collection dirty checking even _matter_ when we don't even have `CollectionPersister`s yet?

[2020-11-24 17:56] DavideD commented on #453
This is the issue:

The enhanced method `$$_hibernate_hasDirtyAttributes` has changed, from
[code]
to
[code]

the call to `this.movies.size()` causes a `LazyInitializationException`

[2020-11-24 17:56] DavideD commented on #453
`movies` is the name of the collection inside the test I've created

[2020-11-24 19:50] gavinking commented on #453
@DavideD so do you think that what is going on here is just that we don't have transparent lazy init (i.e. it is missing a call to `fetch()`), or is it something deeper?

[2020-11-24 19:59] gavinking commented on #453
@DavideD I've commented on https://github.com/hibernate/hibernate-orm/pull/3645, because that call to `size()` doesn't look right to me. (But I could easily be missing something.)

[2020-11-25 08:06] DavideD commented on #453
I think that's the issue. I'm trying to see if I can fetch the collection somewhere so that it is already fetched.
By the way, everything works if I set the association for EAGER fetching.

[2020-11-25 08:15] gavinking commented on #453
OK, but don't kill yourself on that _right now_ because it still feels wrong to me that we're fetching an un fetched association `mappedBy` just to dirty check its elements. Let's see what @beikov and @Sanne have to say.

(OTOH, even if core isn't doing the right thing _in this particular case_, we still might need the fix your working on in other cases.)

[2020-11-25 08:19] DavideD commented on #453
For additional info, this is branch with the test case (still a work in progress): https://github.com/DavideD/hibernate-reactive/tree/447-dirtychecking

Test:
https://github.com/DavideD/hibernate-reactive/blob/447-dirtychecking/it-bytecode-enhancements/src/test/java/org/hibernate/reactive/it/bytecodeenhancements/BytecodeTest.java

Entities:
https://github.com/DavideD/hibernate-reactive/tree/447-di

[2020-11-25 08:20] DavideD commented on #453
Thanks @gavinking

[2020-11-25 10:21] beikov commented on #453
Why is the movies collection `!= null`? I tried to reproduce this in core, but couldn't because such a collection should never be non-null if lazy.

[2020-11-25 10:33] gavinking commented on #453
Well I recall that there was a kinda long discussion somewhere. An issue I opened where I argued that this "double-laziness" or collections was at least arguably bad in Hibernate ORM, and a much worse problem for HR,  where fetching isn't transparent. We need to let you obtain a reference to the collection to call `fetch()` on it.

[2020-11-25 10:43] gavinking commented on #453
OK found it. So could this be related to #374?

[2020-11-25 10:46] gavinking commented on #453
And https://github.com/hibernate/hibernate-orm/pull/3558

[2020-11-25 11:01] beikov commented on #453
Is `collectionsInDefaultFetchGroupEnabled` always true in RX?

[2020-11-25 11:10] beikov commented on #453
Hmm, if I set it to true, the collection is eagerly initialized.

[2020-11-25 11:10] gavinking commented on #453
Yup, it is.

[2020-11-25 11:11] gavinking commented on #453
Ummmm ... really? That wasn't the intention!

[2020-11-25 11:12] gavinking commented on #453
`collectionsInDefaultFetchGroupEnabled` is *supposed* to just include the collection *proxy* in the default fetch group. It's not supposed to actually *fetch* the collection itself.

So either I totally screwed up, or something has changed since I wrote that code.

[2020-11-25 11:21] beikov commented on #453
I'm with you that the current approach to enhancement is not ideal and that the field should be initialized to a persistent collection, but I think that the issue you are having in RX might be caused by something else. When I set the flag to true, I see the collection being initialized through this trace:

[code]

[2020-11-25 11:28] gavinking commented on #453
So `$$_hibernate_removeDirtyFields()` is calling `size()` on an uninitialized collection. _Should_ it be?

[2020-11-25 11:34] DavideD commented on #453
I'm probably missing something, but isn't this the same issue?
It's still calling `size()` but from a different method

[2020-11-25 12:06] beikov commented on #453
You are right. Apparently the collections aren't registered as being lazy which causes this problem. I'm investigating now.

[2020-11-25 14:07] beikov commented on #453
Here a PR that should fix these issues: https://github.com/hibernate/hibernate-orm/pull/3664

[2020-11-25 15:03] DavideD commented on #453
Thanks @beikov, the test seems to work using that branch

[2020-11-25 18:42] gavinking commented on #453
@beikov excellent, thanks

[2020-11-26 14:23] gavinking commented on #453
@DavideD can you retest now, @beikov just updated the PR, let's see if it still fixes the problem.

[2020-11-27 17:34] DavideD opened #459 "Upgrade to Vert.x 4.0.0.CR2"
This is only for the vert.x 4 branch

[2020-11-27 17:56] DavideD commented on #459
Merged

[2020-11-27 17:56] #459 closed

[2020-11-27 21:08] gavinking commented on #453
Confirmed, we just need a release of `hibernate-core`.

[2020-11-28 12:16] #422 closed

[2020-12-01 16:14] DavideD opened #463 "Upgrade to ORM 5.4.25"

[2020-12-01 17:19] #463 closed

[2020-12-01 17:23] DavideD commented on #453
Fixed by #463

Thanks all

[2020-12-01 17:23] #453 closed

[2020-12-02 09:06] gavinking opened #465 "exceptions get wrapped in CompletionException"
I don't like this `CompletionException` thing at all, but I guess there's no way to avoid it when using `CompletionStage`s.

But I guess they're also leaking into our Mutiny API. We should try to prevent that.

[2020-12-03 23:08] gavinking opened #468 "support :tc: in connection URIs"
@maxandersen has observed that the usual way to connect to test containers databases is to use a connection URI of form `jdbc:tc:postgresql:9.6.8:///databasename`.

Either we:

1. convince @vietj that this is a feature that the Vert.x clients themselves should natively support, or
2. emulate it in HR itself.

We actually already have the code to implement this, it's just in the test suite instead

[2020-12-03 23:11] maxandersen commented on #468
https://www.testcontainers.org/modules/databases/jdbc/ and https://www.testcontainers.org/modules/databases/r2dbc/ for info where it is coming from.

[2020-12-03 23:18] aguibert commented on #468
I don't think this would require any code changes in HR or Vertx, but instead a new module in Testcontainers itself. The R2DBC one works by registering a Testcontainers driver for R2DBC which just proxies to the actual driver. We would probably want to take a similar approach if we did this for Vertx drivers.

However, my 2 cents, I'm not a big fan of the `:tc:` URLs. I think it's too much magic g

[2020-12-03 23:24] gavinking commented on #468
Well the issue is that the *very first thing* that Max tried to do with HR was to connect to postgres via a :tc: URI. And I can see him not being the only person to try that.

[2020-12-03 23:24] gavinking commented on #468
(FTR, I'm not a great fan _either_.)

[2020-12-03 23:26] gavinking opened #469 "unrecognized JDBC scheme"
Currently, when the connection URI has an unrecognized scheme (something other than `db2`, `postgres`, or `mysql`) we fall back to trying to connect to JDBC and Hibernate ORM takes over and gives the user some really confusing error messages.

We very much need to fix that.

[2020-12-04 06:52] maxandersen commented on #468
The issue is that afaics the necessary code to wire it in is quite massive and redundant compared to this magic url.

Btw. It is not really different from how profiling jdbc drivers work. Those are also "magic" URLs.

[2020-12-04 08:14] DavideD commented on #468
Is it really that magical? In the end you are just specifying that you want  to use tc in the url. It seems pretty straightforward for simple quick testing.

We might need to keep track of the `:tc:` when we parse the URL (I'm not sure, I haven't checked).
But I agree that it doesn't seem like the driver should be part of the Hibernate Reactive project.

[2020-12-04 10:24] gavinking opened #471 "tests+dialect for MariaDB"
Testcontainers has [a module for MariaDB](https://www.testcontainers.org/modules/databases/mariadb/).

MariaDB is for the most part just a flavor of MySQL, and we support it via the Vert.x driver for MySQL. But I think that's not quite good enough. There are some (very) minor differences in the Hibernate `Dialect`, and so we should treat it as a separate case.

So we should set up tests to run on

[2020-12-04 10:56] DavideD commented on #471
@blafond this might be a good issue for you

[2020-12-04 12:04] #469 closed

[2020-12-04 14:13] gavinking commented on #468
Setting aside the issue of the "magic" URI, which FTR, doesn't *have* to be the way we expose this feature (we could do it via a separate property setting or whatever), it's true that we wrote a bunch of code for this, and it's code that is surely useful to at least some users.

So it seems like something we should share *somewhere*.

[2020-12-04 14:27] DavideD opened #472 "Github workflow doesn't have permission to publish the docs"

[2020-12-04 16:21] aguibert commented on #468
The stuff we do with URL parsing is sort of a convenience trick so that people can re-use JDBC urls for non-JDBC stuff. Actually, a user should still be able to use a `jdbc:tc:` url and as long as the host/port/props match up it'll spin up a DB for you same as if we supported some sort of `vertx:tc:` protocol. Only downsides of this approach I can see are:
1. Users would need a JDBC driver on thei

[2020-12-08 18:43] snazy opened #475 "Race condition in ProxyConnection"
`org.hibernate.reactive.pool.impl.ProxyConnection#withConnection` often triggers `IllegalStateException( "session is currently connecting to database" )` in an application using Quarkus/Mutiny.

Code snippet that triggers the exception:

[code]

The pseudo-code above is simplified a lot but shall illustrate the problem. We can neglect concurrency aspects here, because the problem is that both the

[2020-12-09 10:03] DavideD commented on #343
Done: https://hibernate.org/reactive

[2020-12-09 10:03] #343 closed

[2020-12-09 10:04] DavideD commented on #419
Done

[2020-12-09 10:04] #419 closed

[2020-12-09 10:06] DavideD commented on #70
We also need to add a contribute section to the website. Similar to http://hibernate.org/validator/contribute/

[2020-12-09 10:08] DavideD commented on #472
Done

[2020-12-09 10:08] #472 closed

[2020-12-09 13:18] snazy commented on #475
Side note: the scenario in which the actual "work against the database" is constructed before a `withTransaction` is called is also the same scenario that happens with a `javax.interceptor.Interceptor` to encapsulate transactional requests using an `javax.interceptor.AroundInvoke`. For example:
[code]

[2020-12-14 11:53] Sanne commented on #475
Issue on the Quarkus side:
 - https://github.com/quarkusio/quarkus/issues/13868

On the Hibernate Reactive side, we need two changes:

 1. ensure that all Session operations are run within a vertx context (and stay on the same context as the first one)
      1.A - simple: we could just check expectations: throw an exception if this isn't the case
      1.B - we could capture/initialize the context

[2020-12-14 13:53] DavideD commented on #475
+1
I think we could threat these as separate issues.

If we do both options it makes sense to me to start with 1.A.
Otherwise I think we try 1.B first. We might have a better idea about the complexity once we have changed some code.

[2020-12-14 14:17] DavideD opened #478 "Run tests in the Vert.x Loop Thread"
Our assumptions was that a test would run in a single Vert.x Event  loop thread. But Vert.x Unit run by default in a JUnit thread.
We need to apply the rule described [in this section of the Vert.x docs](https://vertx.io/docs/vertx-unit/java/#_running_a_test_on_a_vert_x_context
) to make sure that we run the tests as expected.

[2020-12-14 14:19] DavideD commented on #478
@gavinking is this correct? ^

[2020-12-14 14:29] gavinking commented on #478
I suppose so. I mean, perhaps this is not a critical thing to do, but it seems to me that this is what we always really intended to happen, isn't it?

[2020-12-14 14:34] DavideD commented on #478
Yes, I think so.

It's probably not critical because our tests are simple at the moment. It could become critical down the road if we add more complex tests.

If it's only about adding a rule to the base test class I don't see why not.

[2020-12-14 14:42] gavinking commented on #478
Yup. Agreed.

[2020-12-14 15:30] gavinking commented on #475
Yes, the thing about the thread pool is kinda separate from the thing about tracking vert.x context association.

I'm going to open a couple of smaller issues.

[2020-12-14 15:32] gavinking opened #479 "error when user shares session between multiple vert.x contexts"
It's currently considered an error to share a `Session` between multiple reactive streams, so we should detect that condition and throw an exception.

It seems that the best we to detect the condition is to look at the vert.x context.

[2020-12-14 15:39] gavinking opened #480 "atomicity of session operations"
Currently persistence operations like `session.persist()` and `session.remove()` aren't really atomic from the point of view of the user:

1. (most) work updating the internal state of the session is done synchronously, then
2 database operations are done asynchronously.

This sorta makes sense when you consider how we intend the session to be used in the context of Mutiny or a chain of `Completio

[2020-12-14 15:42] gavinking opened #481 "don't share `Pool`s between vert.x contexts in vert.x 3"
According to @vietj, we're supposed to have a single connection `Pool` per vert.x context.

(At least that's my interpretation of what he told us.)

Note that this model is changing in vert.x 4, so this is a bug that only affects us on vert.x 3.

[2020-12-14 15:43] gavinking commented on #475
I've opened #479, #481, and #480. @DavideD already opened #478.

[2020-12-14 15:47] Sanne commented on #475
Thanks. I'll work on #481 myself starting tomorrow - need to manage an ORM release first.

(I'm assuming it's best handled by me as it requires changes across both this repository and the quarkus repository - but if someone is keen to do it instead I can step back into assistance mode)

[2020-12-14 15:51] Sanne commented on #475
BTW Quarkus will release a `1.11.0.Beta1` this time around (normally doesn't do betas) so I hope we can take that train.

Exact date is not detfined yet: they'll wait a little for us as I believe this is important, but only if we don't take too long.

So let's be mindful of timing: better merge some progress on these than merge nothing while we strife for the ultimate solution.

[2020-12-14 17:14] DavideD opened #482 "Update to ORM 5.4.26"

[2020-12-14 20:05] #482 closed

[2020-12-15 11:14] DavideD commented on #478
Interesting, now that everything runs  in a single Vert.x event loop thread, Vert.x complains because our schemaDrop operations are blocking: https://github.com/hibernate/hibernate-reactive/blob/4e244618617999c5f213c8a47471c6ce4077b6ff/hibernate-reactive-core/src/main/java/org/hibernate/reactive/provider/service/ReactiveGenerationTarget.java#L68

[2020-12-15 11:15] DavideD commented on #478
THis is the exception I'm having:
[code]

[2020-12-15 11:44] gavinking commented on #478
Ah, right, that makes sense.

I guess we need to dispatch them on a worker thread, or something.

[2020-12-15 11:46] DavideD commented on #478
I'll try that, Thanks

[2020-12-15 15:58] DavideD commented on #478
Wait... but if I add them to a worker thread, how can I guarantee that the Table of the schema is created before running the test?

[2020-12-15 16:38] gavinking commented on #478
That I do not know.

[2020-12-16 12:19] DavideD opened #487 "Create one SessionFactory per class in tests"
Not critical or urgent.

At the moment we open/close a session factory after each single test and therefore running the schema generation queries each time.

We could save some time creating the factory only once.
This requires:
* Add appropriate populateDb/cleanUpDb methods before and after each tests (if they are missing)
* Create the factory statically in the base class

Our build is already qu

[2020-12-16 12:24] #478 closed

[2020-12-17 05:03] mgonzaga1990 opened #492 "Collection cannot be initialized:"
Hi,

Not sure if this is related to this https://github.com/hibernate/hibernate-reactive/issues/453

But I just created a new project in Quarkus

[code]

with below entities

[code]

and

[code]

but I'm getting this error

[code]

[2020-12-17 09:40] DavideD commented on #492
Hi,
yes, it seems the same exception.

Are you using the latest version of Quarkus?
It should work with Hibernate ORM starting from 5.4.25.Final so, using Quarkus [1.10.5.Final](https://github.com/quarkusio/quarkus/releases/tag/1.10.5.Final) (or at least 1.10.4.Final), should solve the issue.

Please, let us know if it works or not.

Thanks

[2020-12-17 09:54] DavideD commented on #492
I've just realized that you are using 1.10.3, upgrading should solve the problem.

[2020-12-17 10:29] mgonzaga1990 commented on #492
Thanks.. I tried changing the version to 1.10.4 or 1.10.5 but I think they are not available in the maven central yet. Releases · quarkusio/quarkus (github.com) Sent from Mail for Windows 10 From: DavideDSent: Thursday, 17 December 2020 5:54 pmTo: hibernate/hibernate-reactiveCc: Mark Jayson Gonzaga; AuthorSubject: Re: [hibernate/hibernate-reactive] Collection cannot be initialized: (#492) Are you

[2020-12-17 11:30] DavideD commented on #492
Not sure why 1.10.5 is not available on Maven central but  I can see 1.10.4: https://mvnrepository.com/artifact/io.quarkus/quarkus-core/1.10.4.Final

It's probably going to be available soon because there is already a release post: https://quarkus.io/blog/quarkus-1-10-5-final-released/

Maybe the Maven Central repository hasn't caught up yet.

[2020-12-17 17:07] DavideD opened #494 "Thread waits forever when the credentials are wrong"

[2020-12-18 09:32] DavideD commented on #492
@mgonzaga1990 Quarkus 1.10.5 should be now available: https://mvnrepository.com/artifact/io.quarkus/quarkus-core/1.10.5.Final
Could you let me know if it solves that issue so that I can close it?

[2020-12-18 09:36] mgonzaga1990 commented on #492
Hi @DavideD yes thanks Sent from Mail for Windows 10 From: DavideDSent: Friday, 18 December 2020 5:32 pmTo: hibernate/hibernate-reactiveCc: Mark Jayson Gonzaga; MentionSubject: Re: [hibernate/hibernate-reactive] Collection cannot be initialized: (#492) @mgonzaga1990 Quarkus 1.10.5 should be now available: https://mvnrepository.com/artifact/io.quarkus/quarkus-core/1.10.5.FinalCould you let me know

[2020-12-18 09:37] #492 closed

[2020-12-18 09:38] DavideD commented on #492
Awesome!

[2020-12-18 12:54] #494 closed

[2020-12-18 13:15] DavideD opened #497 "Example get stuck if there is a problem with the connection"
It can be tested by using wrong credentials for the connection.

The code will get stuck here (in [MutinyMain](https://github.com/hibernate/hibernate-reactive/blob/master/example/src/main/java/org/hibernate/example/reactive/MutinyMain.java#L51)):
[code]

As far as I know the exception  is propagated but the await continues indefinitely.

I guess we need to add proper exception management in both e

[2020-12-22 17:48] Sanne commented on #497
@DavideD didn't we fix this? I might have failed to resolve the issue

[2020-12-22 18:06] DavideD commented on #497
No, we fixed the error message but this is still happening

[2020-12-22 18:52] #480 closed

[2020-12-22 18:53] Sanne commented on #497
oh, ok.  Could you work on this next then? Seems an annoying usability problem

[2020-12-22 18:57] DavideD commented on #497
Yes, I will

On Tue, 22 Dec 2020, 18:54 Sanne Grinovero, <notifications@github.com>
wrote:

[2020-12-24 10:32] #481 closed

[2020-12-24 10:43] DavideD commented on #497
FIY: It seems this issue is related to the way we use the vertx `runOnContext` when there is an exception the Stage or Uni invoked never completes and the error is not propagated.

[2021-01-03 13:23] cambierr opened #501 "Read Write traffic split"
Hi,

I'm currently running a bunch of tests on this library and comparing it against r2dbc and one of my main concerns is that I don't find any way to split read & write traffic.

Do you guys have any suggestion on how to achieve this ? or at least one are I should pay more attention to ? My DB engine is postgres, if this can help in any way :)

[2021-01-03 13:57] gavinking commented on #501
I don't quite know what you mean. "Split" in what sense?

[2021-01-03 14:02] cambierr commented on #501
I mean having both a master and a slave postgres servers and being able to send non-transactional selects to the slave while the rest goes to the master, for instance

[2021-01-03 14:39] gavinking commented on #501
Oh OK. Well you can always achieve it by having two session factories. On the other hand it should also be doable via some sort of [custom connection pool](https://github.com/hibernate/hibernate-reactive/blob/master/documentation/src/main/asciidoc/reference/introduction.adoc#custom-connection-management-and-multitenancy), though I have not tried.

[2021-01-04 17:52] DavideD commented on #497
Done

[2021-01-04 17:52] #497 closed

[2021-01-04 21:03] Sanne commented on #440
Closing this as it turns out it was a bad idea: too complex.

[2021-01-04 21:03] #440 closed

[2021-01-04 21:05] Sanne commented on #471
+1 for the MariaDB specific testing. But I don't understand why you mention the Dialect differences, won't we use the one from core ORM?

[2021-01-04 21:18] gavinking commented on #471
yes we will, but we need to wire it into our stuff in HR.

[2021-01-05 10:49] Sanne opened #504 "Upgrade to Vert.x 4"
Some progress already exists, let's create this issue to discuss progress.

@DavideD could you rebase the `vert.x-4` branch and upgrade it to latest vert.x 4?

Next, I want to start testing how the new `io.vertx.sqlclient.Pool` is more suitable for use among multiple threads, in particular from the context of blocking worker threads and executors using a dynamic number of threads.

[2021-01-05 19:04] #504 closed

[2021-01-06 09:37] Sanne commented on #504
there's nothing left to dicuss here?

[2021-01-06 10:03] DavideD commented on #504
Do we still need this logic in Vert.x 4? https://github.com/hibernate/hibernate-reactive/commit/63dbb027b8126d6ba878a6b22517d2f615ba3f7b

[2021-01-07 14:50] DavideD commented on #487
Actually, we might be able to use a JUnit rule to inject the factory

[2021-01-08 00:04] pqab opened #506 "orphan removal unsupported"
Hi, we are facing an issue when using `orphanRemoval`, cascade goes into `onDelete` instead of `reactiveOnDelete`, and it throws an `UnsupportedOperationException`

## Example

Product
[code]

Shop
[code]

Main application
[code]

## Stacktrace

[code]

## Sample application

https://github.com/pqab/orphanRemoval-example

## Environment Information

- Version: 1.0.0.Alpha11

[2021-01-08 00:11] gavinking commented on #506
Ah yes, IIRC we don't support orphan removal, and I probably forgot to document that.

[2021-01-08 00:18] semistone commented on #506
do you have plan to support it in the future?

[2021-01-09 16:53] Sanne opened #507 "Performance: org.hibernate.reactive.util.impl.CompletionStages.loop(IntStream, Function) 1064"
The method `CompletionStage org.hibernate.reactive.util.impl.CompletionStages.loop(IntStream, Function)` is very hot at runtime, and is allocating too many short lived objects.

Investigate alternative options.

The primary problematic point seems to be its use from `org.hibernate.reactive.loader.ReactiveResultSetProcessor.initializeEntity(Object, boolean, SharedSessionContractImplementor, PreLoad

[2021-01-09 17:00] Sanne opened #508 "Performance: find an alternative to PostgreSQL's need for the Parameters helper"
The `Parameters` class is being used to convert SQL into PostgreSQL specific format, but this is being flagged as significant overhead during profiling. It gets highlighted both during CPU and during memory profiling.

A better solution should be investigated, or ideally have us generate the right syntax to begin with.

[2021-01-12 13:21] DavideD opened #511 "UnsupportedOperationException on CI with MySql when credentials are wrong"
I've updated the test WrongCredentialsTest so that it runs for every datastore. It seems to work fine locally but when it runs on CI  with MySQL and the latest ORM Snapshot it throws an UnsupportedOperationException instead of the expected one:
[code]

I cannot replicate this issue locally and I'm not sure what causing it on CI.
This is the test class:
https://github.com/DavideD/hibernate-reactive

[2021-01-12 14:41] #479 closed

[2021-01-13 21:41] Sanne opened #513 "Performance: optimise access to active event listeners list"
This stack highlights a suboptimal access to the event listeners on the hot path:

[code]

ReactiveSessionImpl should access the event listeners in some better way.

[2021-01-13 21:48] Sanne opened #514 "Performance: pool() access from SessionFactoryImpl(s) to not invoke the ServiceRegistry"
Both `pool()` implementations in the Stage & Mutiny versions of the ReactiveSessionFactoryImpl should have a faster access the the pool instance.

Accessing Services from the `ServiceRegistry` is quite flexible, but should only be done during initialization, or to handle occasional / non-hot needs.

[2021-01-15 12:17] gavinking commented on #513
@Sanne note Hibernate core already has an approach to optimizing this. We can just copy what is used there. I speculate that *you* might have written that original optimization in core, so you probably already understand it...

[2021-01-15 12:19] gavinking commented on #508
I mean, we *really* tried to do this about a year ago, but frankly it turned out to be a real mess, and ultimately I just got fed up with it.

[2021-01-15 12:19] gavinking commented on #508
What I'm saying is that it might not be worth fixing.

[2021-01-15 12:20] gavinking commented on #508
(Though one thing worth trying might be to cache the translated strings in a `WeakHashMap`.)

[2021-01-15 12:22] gavinking commented on #501
Hi, do you have any further comments on this issue?

[2021-01-15 12:23] gavinking commented on #475
@Sanne can we close this now?

[2021-01-15 12:59] Sanne commented on #475
yes let's close it.

Many thanks @snazy , the connection issue should be gone now, and latest Quarkus v 1.11 includes all necessary changes.

The only thing I'm not clear about yes is how far we've prevented problems with Panache Reactive, that will need some more investigation - but it's unrelated to this issue.

See also:
 - https://in.relation.to/2021/01/07/hibernate-reactive-beta2/

[2021-01-15 12:59] #475 closed

[2021-01-15 13:00] cambierr commented on #501
do this can be closed, I'm working on integrating it with spring-data for TX management then RO/RW traffic segregation based on TX readonlyness :)

[2021-01-15 13:01] #501 closed

[2021-01-15 13:09] Sanne commented on #508
I'd prefer we customize the ORM's strategy for generating the SQL - let's generate it using the right syntax rather than patching it after? Especially as in that way it would end up into the existing caches.

[2021-01-15 13:10] Sanne commented on #513
yes that's my touch :)  I need to copy it

[2021-01-15 15:07] gavinking commented on #508
There *soooo many* places that this touches, and so many classes we would need to extend and override things that sometimes aren't public that this is just a mighty pain. Trust me, I tried.

[2021-01-16 14:04] snazy commented on #475
I updated my toy-project today to the latest versions of Quarkus + Hibernate-Reactive (both at the HEAD of the main branches) and it's still not really working / easy to use, because it requires users to either always use `Uni<T> Mutiny.Session.withTransaction(Function<Transaction, Uni<T>> work)` or the user's code must ensure that the code runs on a Vert.x event loop thread.

There are two things

[2021-01-17 11:28] DavideD commented on #508
I agree

But what about processing the sql as soon as it is generated?

For example overriding `AbstractEntityPersister#generateUpdateString` to something like:
[code]

[2021-01-17 11:33] gavinking commented on #508
Well, that's probably *better*, but it's still a lot of places, once you take into account all the variations of loaders and batch loaders, and off the top of my head I don't think it would help with queries (though perhaps there is an alternative solution for queries).

[2021-01-18 17:36] DavideD commented on #508
Something is wrong. I will send a new one when I've fixed it

[2021-01-18 18:11] DavideD commented on #508
Sorry, I closed the issue instead of the PR

[2021-01-19 11:39] DavideD commented on #475
@gavinking did some work around streaming query results using Multi. You can see the discussion here: https://github.com/hibernate/hibernate-reactive/issues/153

In short, we haven't added it yet because, currently, even if the API would return a `Multi`, the logical behaviour would be the same of a `Uni<List>`.

Isn't this error unrelated to the Multi, though? We are working on it and it's someth

[2021-01-19 11:54] gavinking commented on #475
I'm not sure I fully understand what you're asking for here. Is it that you want `.withTransaction()` to be able to return a `Multi`?

If so, I agree that would be sorta nice, but it's a bit hard without being able to implement a `Functor` type in Java due to the lack of higher-order polymorphism.

But anyway, our APIs generally return `Uni<List>` (for a good reason, as mentioned) so I don't think

[2021-01-19 11:55] gavinking opened #520 "need to add calls to factory.uni() from Query and StatelessSession"
See https://github.com/hibernate/hibernate-reactive/issues/475#issuecomment-762794473. This code was left unfinished. (100% my fault.)

[2021-01-19 11:56] gavinking commented on #475
See #520.

[2021-01-19 12:22] snazy commented on #475
Ah, okay - GTK it's an oversight :)

The "issue" with `Multi` is that you can do a lot of "big things" with `Multi` without having to buffer huge results in memory (aka in a `Uni<List>`) before it can be returned. I'd agree, that it's mostly useful for read-only requests.
But being able to take a steam (-> Multi) of rows and convert each row into the target format (e.g. entry in a JSON result arra

[2021-01-19 12:39] gavinking commented on #475
But the thing is that there's no actual good way to retrieve and process the data as a stream because the underlying database protocols just don't support it. Sure, you could have the Multi wrap a cursor but in reality a cursor is just multiple requests to the database, just like if you were using pagination.

[2021-01-19 12:41] snazy commented on #475
True, but with a `Multi` you could do "at least" the conversion "on the fly" and return results to the client when they arrive (result-set-paging).

[2021-01-19 12:57] gavinking commented on #475
And the other thing is that if you're using `Session` everything gets cached in memory *anyway*. At least if you use pagination you can `clear()` the session in between queries.

(Though in fairness this objection doesn't apply to `StatelessSession`.)

[2021-01-19 16:11] gastaldi commented on #313
I have a `BaseEntity extends PanacheEntity` with the following attributes:

[code]
But the exception introduced in https://github.com/hibernate/hibernate-reactive/commit/62e439e92906b0bcea1cd408a1c23999b2c83b3b is preventing me from migrating to Hibernate Reactive.

So I'm +1 in having this fixed when possible 😉

[2021-01-20 21:58] indalaterre commented on #45
Any progress on this?

[2021-01-21 10:36] DavideD commented on #45
We are working on the collection persisters for `@ElementCollection` and it affects this issue a bit as well.
We should be able to merge something soon and then we can focus on this issue

[2021-01-21 11:04] Sanne commented on #475
@gavinking I just noticed that the folks of Panache Reactive decided that a Query returns a `Multi`.. I'm surprised.

[2021-01-21 11:41] gavinking commented on #475
OK then it seems we need to have another discussion about that. @FroMage

[2021-01-21 14:30] gastaldi opened #521 "Null ManyToOne association fails with IllegalArgumentException when loading"
I have an entity that has a `@ManyToOne` relationship with a second entity (the field is null in the database). When loading the entity, the following exception is thrown:

[code]

[2021-01-21 14:47] gavinking commented on #521
Oops I bet we have no tests for that. How embarrassing 😳

[2021-01-21 17:19] indalaterre commented on #45
Thank you very much. This is a critical feature for my team in order to full migrate to a reactive environment

[2021-01-22 09:59] GeDep commented on #45
Thank you, this feature would help us too!

[2021-01-22 11:30] brikenaKol commented on #45
This is a critical issue as we're not able to migrate into the reactive env.

It would help us, thank you!

[2021-01-22 15:16] FroMage commented on #475
Errr… ok?

[2021-01-22 15:17] Sanne opened #522 "Return type of queries: Multi vs Uni<List>"
This is a complex question which has been debated in various places, let's try to keep notes here.

[2021-01-22 15:18] Sanne commented on #475
I keep struglging to find this thread to continue the discussion, could we move it here?
 - https://github.com/hibernate/hibernate-reactive/issues/522

[2021-01-22 15:26] Sanne commented on #522
An example problem: I'm trying to fix a demo which is using Panache Reactive to use transactions.

The gist of the task is trivial, for example for a by-id individual love we have:

    @GET
    @Path("/{id}")
    public Uni<Todo> getOne(@PathParam("id") Long id) {
        return Todo.<Todo>findById(id)
                .onItem().ifNull().failWith(() ->
                        new WebApplicationExc

[2021-01-22 15:33] gavinking commented on #522
Alright then, so here's the reason to not do this:

1. The underlying database protocol simply doesn't support streaming results to the client. If you want to hold a result set open on the server (usually a bad idea) then you have to use a cursor which is just a different way to do pagination.
2. We could hide pagination behind a `Multi`, but it doesn't seem better.
3. In particular, if you use `M

[2021-01-22 15:37] gavinking commented on #522
@Sanne I mean, you could just use `multi.collect().asList()` to convert the `Multi` back to a `Uni<List>`.

But of course it would be much more convenient to have a `Uni<List>` to begin with.

[2021-01-22 15:38] Sanne commented on #522
@gavinking Right.

@FroMage @DavideD @cescoffier agree? We'll need to change the Panache API ?

[2021-01-22 15:42] gavinking commented on #522
To clarify, there is one place where this might indeed make sense: in the `StatelessSession` API. But that's not what Panache is using.

[2021-01-22 15:58] FroMage commented on #522
Yeah, I know it doesn't actually stream underneath because the driver deals with `List` and not streams. I think at the time I figured we got more useful methods from a `Multi<T>` than a `Uni<List<T>>` and that people wouldn't care that it was not actually streaming.

We could change it, but we'd probably have to change the mongodb-reactive one too.

[2021-01-22 16:09] Sanne commented on #522
There are cases in which we could stream stuff from within the transactional context, into a local consumer/processor; e.g. using a cursor.

The problem I had with `Todo.streamAll(Sort.by("order"))` is easily addressed by using `Todo.findAll(Sort.by("order")).list()` instead; that allows me to easily return a Uni<List> from within the transaction scope.

So perhaps it's ok as this very limitation

[2021-01-23 13:15] snazy commented on #522
Currently, hibernate-reactive wraps "plain, synchronous JDBC", but maybe there's a way to properly implement reactive result-sets in the future - thinking of Vert.x `SQLClient` here.

My impression is, that the Quarkus docs suggest `Multi` as the "better way" to return result-lists, so supporting at least a say "stupid Multi->Uni->Multi wrapper" here feels rather less error-prone for users.

`Muti

[2021-01-23 13:50] gavinking commented on #522
WDYM? Hibernate Reactive never uses

WDYM? HR never uses JDBC. It always uses the nonblocking Vert.x reactive client.

But non-blocking doesn't mean streaming. The two things are very different.

Only in Panache, not in HR, and I'm arguing that's something we should change.

Well it's different because if you're managing pagination via `Query.setFirstResult()`, you have the perfect opportunity to

[2021-01-23 15:51] Sanne commented on #522
Sure it looks handy at first, but I suspect this would be a terrible abstraction? Atomicity of a transaction implies it can't be split, and as such the scope of a transaction is either terminated or not yet - so how can you expose this as a `Multi`?

Also the support for cursors beyond a transaction boundarie varies significantly across different DB implementations - so even entertaining the idea

[2021-01-23 18:21] #507 closed

[2021-01-25 12:43] #521 closed

[2021-01-25 14:12] DavideD opened #526 "Support Short for @GeneratedValue"

[2021-01-25 14:12] DavideD commented on #526
Follows https://github.com/hibernate/hibernate-reactive/pull/524

[2021-01-25 15:58] gavinking commented on #520
I'm half-finished implementing this.

[2021-01-25 18:03] DavideD commented on #508
I have a working branch that seems to improve the performance. I will update the PR soon

[2021-01-25 18:16] #526 closed

[2021-01-25 18:38] #514 closed

[2021-01-26 12:58] DavideD commented on #522
@gavinking What do you mean `Only in Panache`? We have this in HR as well: https://github.com/hibernate/hibernate-reactive/blob/master/hibernate-reactive-core/src/main/java/org/hibernate/reactive/mutiny/Mutiny.java#L167

[2021-01-26 13:01] gavinking commented on #522
Oh I see. But it's not actually meaningful, it's just a helper in case you need a `Multi` for some other reason.

[2021-01-26 17:42] #520 closed

[2021-02-01 10:27] #508 closed

[2021-02-01 18:58] blafond opened #532 "add support for Map<> type ElementCollection"
Support for Map<> element collections as a minimum, requires work in ```ReactiveBasicElementCollectionPersister```'s ```reactiveUpdatRows()``` to rewrite ```doUpdateRows()``` logic using a ```ReactiveConnection``` instead of JDBC.

See work in #44

[2021-02-01 19:03] blafond opened #533 "Test collection of embeddables inside an `@Embeddable`"
Example:
[code]

This should already work because of #44 but tests are missing.

[2021-02-03 10:07] gavinking commented on #532
Note that I think #45 is more critical than this, and probably not much harder.

So I suggest prioritizing #45.

[2021-02-03 17:44] DavideD commented on #45
@blafond I've assigned this to me, so you can finish the missing bits around `@ElementCollection`. I'm waiting until we merged https://github.com/hibernate/hibernate-reactive/pull/531

[2021-02-04 08:26] yrodiere opened #536 "schema update or validation"
See https://github.com/quarkusio/quarkus/issues/14264#issuecomment-772690764

Whenever one sets `hibernate.hbm2ddl.auto` to `validate` or `update`, the schema management tool apparently tries to get a JDBC connection and ultimately fails with an error like this:

[code]

Everything works fine with other modes that only rely on `GenerationTarget` and only push "write" commands, because Hibernate Re

[2021-02-04 09:08] gavinking commented on #536
Right, there's nothing like the JDBC metadata API in Vert.x currently so this would have to be done by queries against the information schema. So it's probably a fair bit of work.

OTOH if you do have a JDBC driver, it should happily just use it.

[2021-02-04 09:19] Artyukin opened #537 "Quarkus Hibernate-Reactive Type error for TypedQuery"
While working on a Project with Quarkus and Hibernate-Reactive with Mutiny I'm getting a weird error when creating TypedQuerys that appears only on some Entities.
For Example the Query `return mutinySession.createQuery("From Reaction", Reaction.class).getResults();` results in the following exeption:
<pre>javax.persistence.PersistenceException: org.hibernate.HibernateException: java.lang.IllegalAr

[2021-02-04 09:30] gavinking commented on #537
Strange one.

By the way, instead of using `map()` you can pass a class object to `createQuery()`. (And that might even help you workaround this issue.)

[2021-02-04 10:01] Artyukin commented on #537
Ah Sorry, I forgot to add it to the Query above, but sadly i was using it already, when the errors occured.

[2021-02-05 14:08] DavideD opened #538 "Vert.x 4: Update Vert.x SQL client to 4.0.2"
Only for the `vert.x-4` branch

[2021-02-05 14:55] DavideD opened #543 "CI tests are failing because of {"message":"No such image: testcontainers/ryuk:0.3.0"}"
https://github.com/hibernate/hibernate-reactive/runs/1839466975?check_suite_focus=true#step:5:125

[2021-02-05 15:12] #543 closed

[2021-02-05 15:24] #538 closed

[2021-02-05 16:07] DavideD opened #545 "Remove Quakus version from the documentation and the website"
We tend to forget to update the version of Quarkus and it changes pretty quickly anyway.

I'm thinking we could remove the version, explain that it's tested via the quarkus extension and link to the quickstarts.

We also need to update the website.

This is based on some comments I read in several different issues

[2021-02-08 16:02] DavideD opened #547 "Write unit tests for the methods in CompletionStages"
In the `CompletionStages` class we have several methods to loop and compute the total but we don't have any unit tests.
We know that they are correct because we use them everywhere but it would be nice to have some specific unit tests.

This is not urgent but could be a good issue for first contributors

[2021-02-09 10:53] DavideD opened #550 "Support OrderColumn annotation"
It might already work but I don't think we've tested it.

See example 196 in the Hibernate ORM documentation: https://docs.jboss.org/hibernate/orm/5.4/userguide/html_single/Hibernate_User_Guide.html#collections-value

[code]

Maybe it's a good first issue

[2021-02-09 11:00] DavideD opened #551 "Test lazy fetching of @ElementCollection"
Follows: #44
So far we only have tests for the eager case but we need to check that it also work with `Session#fetch`.

[2021-02-09 11:03] DavideD commented on #547
In particular for the `CompletionStages#total`, we use it in Hibenrate Reactive but we don't we usually don't care about the value returned.

[2021-02-09 11:15] DavideD opened #552 "Test property about mapping of null Embeddables"
See https://docs.jboss.org/hibernate/orm/5.4/userguide/html_single/Hibernate_User_Guide.html#_misc_options

The property is `hibernate.create_empty_composites.enabled`:
Hibernate ORM returns `null` for an embeddable having all fields set to `null`. This property change the behaviour and
return an instance with all the field set to null.

I expect this to work already, but a test would be nice.

[2021-02-09 11:23] #398 closed

[2021-02-09 11:27] gavinking commented on #398
Thanks man.

[2021-02-09 13:16] #545 closed

[2021-02-09 14:23] FroMage opened #556 "Parameter index clash when combining filters and limits"
As reported in https://github.com/quarkusio/quarkus/issues/14779#issuecomment-775970486, we have a query like `SELECT FROM Foo`, in this case:

[code]

And we have the following filters defined:

[code]

and the Panache layer calls:

[code]

So using `setMaxResults`, and filters causes the query to be translated to:

[code]

If you notice, the filter param value passed by name turns into an indexe

[2021-02-09 14:53] DavideD commented on #556
Thanks, I will have a look

[2021-02-09 17:37] DavideD commented on #556
This is the entity, isn't it?
https://github.com/quarkusio/quarkus/blob/master/integration-tests/hibernate-reactive-panache/src/main/java/io/quarkus/it/panache/reactive/Person.java

[2021-02-09 22:42] blafond commented on #556
the SQL I'm getting is:
[code]

This ends up throwing an error:
[code]

[2021-02-09 22:54] blafond commented on #556
Best I could tell over in ORM's AbstractLimitHandler....
[code]

final boolean hasFirstRow = supportsLimitOffset() && ( firstRow > 0 || forceLimitUsage() );
hasFirstRow == 0   because   firstRow == 0 and forceLimitUsage() == false

[code]

[2021-02-09 23:20] blafond commented on #556
in **ReactiveLoader** L 115 the sql ==
```select ...... where filterwith0_.name = $1 limit ?```

since hasLimit == TRUE ```sql = parameters().process( sql );``` is executed which turns the sql ==
```select..... where filterwith0_.name = $1 limit $1```

[2021-02-10 00:03] blafond commented on #556
K.. the SQL coming into the Parameters.Parser already has a trailing "$1", and there is no "case '$':" statement.. the count is still 0 when it gets to the "?" character.  I did add this to get the test to pass

[code]

[2021-02-10 10:39] DavideD commented on #556
OK, I think I've figured out  the problem. I will send a fix shortly

[2021-02-10 11:23] gavinking commented on #536
We should document this in limitations.

[2021-02-10 17:02] DavideD opened #560 "[Db2] Setting Query#setFirstResults or Query#setMaxResults causes exception"
I've discovered this while working at #556
This is probably a bug in the Vert.x SQL Db2 client: https://github.com/eclipse-vertx/vertx-sql-client/issues/887

[code]

We have already tests for this situation but they are disabled for Db2: See [FilterWithPaginationTest](https://github.com/hibernate/hibernate-reactive/blob/master/hibernate-reactive-core/src/test/java/org/hibernate/reactive/FilterWith

[2021-02-10 17:09] DavideD commented on #556
This should be fixed now

[2021-02-10 17:09] #556 closed

[2021-02-10 17:11] FroMage commented on #556
Thanks!

[2021-02-10 17:14] DavideD commented on #556
FIY: There might be still some issues related to Db2: https://github.com/hibernate/hibernate-reactive/issues/560
But it seems a but in the Vert.x Db2 SQL client

[2021-02-10 19:37] gavinking commented on #537
I wrote this test class to attempt to reproduce the problem:

[code]

And it passes. So there must be something extra going on here.

[2021-02-10 19:42] gavinking commented on #537
@Sanne could this be Quarkus-specific?

[2021-02-10 19:52] Sanne commented on #537
yes, the error message smells of classloader issue, which would depend on the runtime and how it's integrated.

It's strange as Quarkus has a flat classloader, with the exception of support for build and dev-mode, which generally shouldn't have an impact on query execution. We'll need to try reproducing this on Quarkus.

[2021-02-10 22:29] gavinking commented on #537
Right, when I first saw the issue, I thought "classloader". But then I saw Quarkus in the stack trace and decided that mustn't be the problem.

[2021-02-11 09:26] DavideD opened #561 "Keep track of HHH-14344 about insert statement ordering issue"
See this potential fix: https://github.com/hibernate/hibernate-orm/pull/3660#

I haven't looked at the details, but we might want to adapt the test for reactive and review the ActionQueue class.

[2021-02-11 09:42] DavideD opened #562 "The release should update the website adding the new version"
At the moment, the release add the documentation to the website but it doesn't add the new version in the [available releases](http://hibernate.org/reactive/releases/).

Note that the process of adding a new version to the website change slightly when we add a new minor.

[2021-02-11 11:23] gavinking commented on #506
I'm playing with this right now. Let's see if it's easy.

[2021-02-11 12:02] gavinking commented on #506
Well, it might not be too hard. Let's see how I go.

[2021-02-11 12:09] gavinking commented on #506
Seem to have it working 🤷‍♂️

[2021-02-11 19:24] gavinking opened #565 "non-primary key associations"
Looks like we don't have the ability to load an association via a unique key other then the primary key.

We need a reactive version of `UniqueKeyLoadable`.

[2021-02-11 20:02] #506 closed

[2021-02-11 20:02] gavinking commented on #506
Fixed.

[2021-02-12 08:59] gavinking commented on #565
Perhaps we should document this as a limitation.

[2021-02-12 09:01] gavinking commented on #561
Yes, thanks @DavideD , we do need to keep track of this. I’m really confused as to how we managed to get out of sync with core here. Can’t even tell if it was intentional or accidental.

[2021-02-12 09:02] DavideD commented on #565
Could you write down an example of a mapping affected by this, please?

[2021-02-12 09:06] gavinking commented on #471
I’m going to work on this one if no one else is.

[2021-02-12 09:07] gavinking commented on #565
Whenever you have `@JoinColumn` that refers to something other than the primary key, I suppose. Not sure, I have not tested it.

[2021-02-12 09:13] DavideD commented on #565
OK, thanks

On Fri, Feb 12, 2021 at 9:08 AM Gavin King <notifications@github.com> wrote:

[2021-02-12 11:44] gavinking commented on #471
So I have this basically done.

Except: Maria doesn't like how we drop schemas. And that's causing lots of errors in the test suite.

[2021-02-12 11:50] gavinking commented on #471
Perhaps we just need to up the wait time.

[2021-02-12 12:09] gavinking commented on #471
Also it doesn't like the `local temporary table` syntax.

[2021-02-12 15:20] #471 closed

[2021-02-12 15:20] gavinking commented on #471
Done, and @DavideD has promised to add Maria to the CI build.

[2021-02-13 23:07] gavinking opened #570 "change to use PoolOptions.setIdleTimeout() in next Vert.x release"
I believe that `PoolOptions.setIdleTimeout()` is coming. Currently we use `SqlConnectOptions.setIdleTimeout()` which is not quite right.

[2021-02-14 10:11] gavinking commented on #565
So I made great progress on this last night, but it's going to have some impact on hibernate-core, and I'm still trying to evaluate exactly how big or small I should try to make that impact. Because the related code in core is not really very well-designed to begin with.

[2021-02-15 10:57] gavinking commented on #565
So it seems to be working.

But I need to propose the changes to ORM before we can do anything here.

[2021-02-15 11:03] gavinking commented on #565
FTR, see https://github.com/hibernate/hibernate-orm/pull/3733

[2021-02-15 11:45] DavideD opened #571 "Move to JBoss Logging annotations"
We can use `HR` as code and for the list of ids this should do:

* Core: 1-1000
* PostgreSQL: 1101-1200
* MySQL: 1201-1300
* MariaDB: 1301-1400
* Db2: 1401-1500
* CockroachDB: 1501-1600
* Sql Server: 1601-1700

and so on...

We need to match the dependency version in Quarkus.

[2021-02-15 13:34] Sanne commented on #571
no let's please not upgrade before Quarkus upgraded.

+1 to get a code assigned. `HR` ?

[2021-02-15 13:54] DavideD commented on #571
I don't mind `HR`... but it sounds too short?

[2021-02-15 18:16] DavideD commented on #44
The PR has been merged. Not sure why this is still open.

[2021-02-15 18:16] #44 closed

[2021-02-15 20:11] anyfon opened #572 "Exception: SessionFactory configured for multi-tenancy, but no tenant identifier specified"
When I use `SessionFactory.withSession()` and set the tenantID param, but no defined the property `hibernate.tenant_identifier_resolver` (CurrentTenantIdentifierResolver.class) in the PersistenceUnit, I have
[code]
I use a custom class, that extended from DefaultSqlClientPool.class and method getTenantPool is overrided,  which return a getPool() for tests. Why do i get this exception?

[2021-02-16 09:58] DavideD commented on #572
From the Hibernate ORM documentation: [19.4.2. CurrentTenantIdentifierResolver](https://docs.jboss.org/hibernate/orm/5.4/userguide/html_single/Hibernate_User_Guide.html#multitenacy-hibernate-CurrentTenantIdentifierResolver):

[2021-02-16 10:00] DavideD commented on #572
I hope this answer your question.

[2021-02-16 10:13] DavideD commented on #533
This is done, isn't it?

[2021-02-16 10:56] DavideD commented on #572
I'm going to close this issue because I think I've answered your question, but feel free to comment more if have other doubts.

Thanks

[2021-02-16 10:56] #572 closed

[2021-02-16 11:51] gavinking commented on #533
Folks I think the problem is that putting `[#533]` doesn't work: it doesn't create a link to the issue from the PR. You need to put something like `fixes #533` in the description of the pull request. Otherwise the issue won't get automatically closed when you merge the PR.

[2021-02-16 11:51] #533 closed

[2021-02-16 11:54] gavinking commented on #551
We _do_ need this, but guys, we don't need a massive suite of 20 tests for it, OK, all we need is to spend 10 minutes writing a test that checks that a collection marked `LAZY`:

1. isn't fetched when we retrieve it's owner, and then
2. *is* fetched after calling `fetch()` on it, and that
3. `join fetch` works in HQL.

That should be a really quick task.

[2021-02-16 15:13] DavideD opened #575 "Default port not set for MariaDB"
When the URL for MariaDB doesn't contain the port we don't set the default value.
I also noticed that the build get stuck if a test fails during the setup.

I have a fix almost ready.

[2021-02-16 15:18] gavinking commented on #575
🙏

[2021-02-16 17:51] #575 closed

[2021-02-16 18:14] DavideD commented on #571
Never mind, I think `HR` is  fine

[2021-02-16 20:44] Sanne opened #578 "Upgrade to Mutiny 0.14.0"
I've checked it and it's straight-forward, but opening an issue as I'd prefer to defer this slightly.

Quarkus PR is here: - https://github.com/quarkusio/quarkus/pull/15120

N.B. it's aiming at Quarkus 1.13, not the 1.12 which is being finalized these days. So in case HR were to need another release meant for `1.12` let's keep that option open.

[2021-02-16 20:44] Sanne commented on #578
P.S. Mutiny 0.14.0 improves performance significantly.

[2021-02-18 12:14] #550 closed

[2021-02-18 12:33] DavideD commented on #550
Is `@OrderBy` the same as `@OrderColumn` column?

[2021-02-18 12:37] gavinking commented on #550
Ah good question. That might depend on the type of collection. Lemme check!

[2021-02-18 12:39] DavideD commented on #550
I was expecting `@OrderColumn` to actually create an additional column on the db. That's why I think we need an additional test for this scenario. Make sure that the indexes we have around are incremented correctly and we don't loose not define columns when we load the elements.

[2021-02-18 12:41] gavinking commented on #550
OK, checked. They're essentially the same.

[2021-02-18 12:45] gavinking commented on #550
Ummmmmm. Ooooooh, right, so you're saying that `@OrderColumn` is the difference between what used to be `<bag>` and `<list>`. Riiigggght, OK.

[2021-02-18 12:51] gavinking opened #581 "@OrderColumn"
`ReactiveBasicCollectionPersister.reactiveUpdateRows()` is currently unimplemented, which means an `@ElementCollection` with an `@OrderColumn` blows up.

[2021-02-18 12:51] gavinking commented on #550
See https://github.com/hibernate/hibernate-reactive/issues/581.

[2021-02-18 12:54] gavinking commented on #581
@Blafond this looks straightforward to implement, wanna take a look?

[2021-02-18 18:14] DavideD opened #583 "Should we test the Session.Mutiny API?"
There are some concerns about the build getting slower because we are adding tests that are not necessary.
The main problem seems to by the `Session.Mutiny` API.
I've decided to create an issue here because I prefer to have single place where to discuss it.

Possibly in a constructive way.

The implementation of the Mutiny API is a relatively simple wrapper around a common implementation of the Se

[2021-02-18 18:36] gavinking commented on #583
_Nobody_ has said that we shouldn't test the Mutiny API, so that's silly.

Indeed, we already test all its operations. That's what `MutinySessionTest` is for. (Blame says I'm the author of that class, so it can't possibly be that I don't think we should have tests for the Mutiny API.)

The argument is that _we don't need two tests for every single feature of Hibernate Reactive_. It's *perfectly su

[2021-02-18 18:48] DavideD commented on #583
Yes, I got it, sorry. My choice of words wasn't exactly the best.

[2021-02-18 19:33] DavideD commented on #583
That's because I don't consider it code duplication. As I mentioned before, Mutiny hide a lot of complexity under the hood.
But I guess you are right when you say that we already testthe Mutiny API. Between the `MutinySessionTest` and the one we added with the other PRs we probabaly already have good coverage for most scenarios.

Adding new ones might not be that helpful after all.

[2021-02-18 19:34] DavideD commented on #583
I would keep the tests that we have now and not add new one for the time being.

[2021-02-19 10:14] DavideD commented on #583
I think we are on the same page about this issue now.

[2021-02-19 10:14] #583 closed

[2021-02-20 09:11] #532 closed

[2021-02-20 16:11] gavinking opened #586 "@CollectionId"
The `@CollectionId` annotation is the equivalent of the old `<idbag>` mapping.

Now, this isn't something that is defined by the JPA spec, and I doubt that many people use it. But it someone asks for it, in principle it's not very hard to implement, we just need a reactified version of `PersistentCollection.preInsert()` that makes use of the reactive id generation stuff.

Anyway, I'm opening the i

[2021-02-20 16:32] gavinking commented on #551
I've confirmed that lazy fetching *doesn't* work, and I'm fixing it.

[2021-02-20 18:12] #551 closed

[2021-02-20 18:14] gavinking commented on #45
Folks, this should now be really very straightforward: all the infrastructure is there now, and `@ManyToMany` is really just a variation of `@ElementCollection`.

[2021-02-20 21:06] gavinking commented on #45
If no-one is actively working on this, I will do it now. @DavideD?

[2021-02-20 21:34] DavideD commented on #45
Yeah, sorry. I haven't start yet because some other things came out.
But I'm planning to do it on Monday

[2021-02-20 21:35] DavideD commented on #45
If you want to take it, I'm fine with it.

[2021-02-20 21:42] gavinking commented on #45
There's no work to do anyway: turns out it already works.

[2021-02-20 21:47] #45 closed

[2021-02-20 21:56] gavinking opened #589 "one-sided @OneToMany"
A `@OneToMany` association without `mappedBy` pointing to a matching `@ManyToOne` is actually a bad feature that you should essentially never use, however, it's legal, and it's only a very little bit of work to implement it now, so we should do it.

[2021-02-21 14:18] gavinking commented on #581
After #590, I believe this is most likely working. But we need to write tests for it.

[2021-02-21 14:39] gavinking commented on #581
I wrote a couple, but we need more.

And we should figure out what is the story with `@OrderColumn` on a unidirectional `@OneToMany`. I suspect the bug I found also exists in core, but we should check that.

[2021-02-21 19:00] gavinking opened #592 "test @SqlInsert, @SqlUpdate, and @SqlDelete"
The `@SqlInsert`, `@SqlUpdate`, and `@SqlDelete` annotations let you specify custom SQL to use for entity CRUD. These almost certainly work already (though we have not tested them), except, perhaps, for stored procedures. Now, it doesn't look like Vert.x has any special API for callable statements, so maybe this just works too?

Anyway, we need to test all this just to be sure.

[2021-02-21 20:28] gavinking commented on #592
I've added a test for regular DML (*not* stored procedures) and, as predicted, it's working in that case.

[2021-02-21 21:17] #581 closed

[2021-02-21 21:17] #589 closed

[2021-02-21 22:32] gavinking opened #596 "@NaturalId"
We don't support querying using natural ids.

<https://docs.jboss.org/hibernate/orm/5.4/userguide/html_single/Hibernate_User_Guide.html#naturalid>

[2021-02-22 09:28] gavinking commented on #592
@DavideD @blafond would one of you guys like to look into writing a version of `CustomSqlTest` that uses stored procedures?

Well, probably *two versions*, one for MySQL and one for Postgres.

[2021-02-22 09:34] gavinking commented on #313
@DavideD @blafond  this one looks really very straightforward, and we have a request for it. So would one of you like to take a look?

[2021-02-22 09:51] gavinking commented on #578
@Sanne can we go ahead with this now?

The Quarkus PR was already merged so I don't see how that's blocking us. We have no reason to be on an older version of Mutiny.

[2021-02-22 10:05] gavinking commented on #592
Actually it's unclear from the docs if the Vert.x client supports stored process on Postgres. It *does* seem to support them on MySQL.

[2021-02-22 10:08] gavinking opened #599 "getting ready for 1.0 CR"
So now that we finally have full coverage of the JPA mapping annotations, I think we should be just about ready for a 1.0 release.

Here's a list of the issues I think we should try to sort out before the release:

https://github.com/hibernate/hibernate-reactive/milestone/2

Note that:

- #565 depends on my patch to Hibernate core, and therefore on a new release of core.
- #570 depends on a releas

[2021-02-22 10:21] gavinking commented on #487
If you do this, make sure that you recreate the factory after any test failure. Otherwise, the failure of one test method would have a cascading effect on all the other tests in that class (because its data won't be cleaned up).

[2021-02-22 10:32] gavinking commented on #465
Digging through our stack traces is actually pretty painful. We need to figure out how to improve this.

[2021-02-22 10:36] gavinking commented on #599
Note that I've also created a second milestone for thing I think we can do after 1.0:

https://github.com/hibernate/hibernate-reactive/milestone/3

But if anyone thinks one of those things need doing *now*, well, they had better start work on it ;-)

[2021-02-22 11:16] DavideD commented on #599
Looks great!
Thanks a lot

[2021-02-22 11:19] DavideD commented on #313
I will take care of it

[2021-02-22 11:27] DavideD commented on #592
@blafond would you like to have a look at this?

[2021-02-22 11:32] gavinking opened #600 "CacheRetrieveMode, CacheStoreMode, LockModeType, FlushModeType"
Currently we support Hibernate's `CacheMode`, `LockMode`, and `FlushMode` enums in our APIs. The main reason I chose to go down that path is that our `LockMode` has a couple of additional options: `UPGRADE_NOWAIT` and `UPGRADE_SKIPLOCKED`, and we have `FlushMode.MANUAL`, which is useful.

But I suppose it wouldn't hurt much to also support `LockModeType`, `FlushModeType` , `CacheRetrieveMode`, and

[2021-02-22 11:39] gavinking commented on #313
Super!

[2021-02-22 12:13] DavideD commented on #581
@gavinking Don't we need an issue to keep track of this?

[2021-02-22 12:18] gavinking commented on #581
I'm going to report it to Vert.x, but it's pretty intermittent. I've no idea how to make an isolated test for it.

[2021-02-22 12:21] DavideD commented on #581
Mmmh... that's nasty.
I'm prone to say that we should create an issue for it anyway to keep track of it and eventually update the tests.

But it's your call

[2021-02-22 12:22] gavinking commented on #581
Nah, it's not our problem, and it's clear from the error message that it's something they know about already:

[code]

[2021-02-22 12:25] DavideD commented on #581
Ah, I see.

[2021-02-22 14:36] Sanne commented on #578
Would be best to wait a couple more days. The Quarkus PR which was merged is targeting `master` branch, which is the follow-up release `1.13` (not the "current" one, as `1.12` isn't out yet). If we just wait a little longer then 1.12 will be out.

We could of course just ignore this and go ahead full steam for Quarkus 1.13, but in case something urgent pops up that we need to have in 1.12 then we'

[2021-02-22 15:05] gavinking commented on #578
OK, sure.

[2021-02-22 19:16] blafond opened #602 "Exception removing multiple elements from ordered embeddable collection"
running additional tests to check latest Reactive collection persister logic from the @OrderColumn [#581](https://github.com/hibernate/hibernate-reactive/issues/581) changes.  Ran into an issue removing more than 1 element during a flush().

See: [OrderedEmbeddableCollectionTest](https://github.com/blafond/hibernate-reactive/commit/29d375cb9cabf6bbd35cb10834d120310a0d05e7)

Exception: 	[Exception

[2021-02-22 19:27] gavinking commented on #602
Might be worth getting the test working on Hibernate ORM core, just to be able to step through and see what happens there.

[2021-02-22 20:51] blafond commented on #602
In ORM's ```deleteRows```  the ```int offset = 1;``` never changes.

In Reactive, we're passing the offset into the ```deleteRowsParamValues( entry, index+1, id, session )``` call, which is based on an incremented ```index``` value.  Seems we're wrongly combining the concepts of ```i```, ```index```, ```loc``` and ```offset``` in ORM.

The ```i``` value appears to provide update and insert methods

[2021-02-22 20:57] gavinking commented on #602
Yup, it looks like the logic is just wrongly-ported-over.

[2021-02-22 21:04] blafond commented on #602
I think just changing the ```index+1"``` to ```1``` reflects the ORM logic

[2021-02-22 21:09] gavinking commented on #602
Great!

[2021-02-23 11:52] #578 closed

[2021-02-23 15:24] DavideD commented on #602
Good catch!

@blafond assigned this to you as it seems you have already a fix

[2021-02-23 17:26] #602 closed

[2021-02-23 17:53] gavinking commented on #602
Thanks, @blafond

[2021-02-23 18:16] gavinking commented on #596
See https://github.com/hibernate/hibernate-orm/pull/3750.

[2021-02-24 11:59] #313 closed

[2021-02-24 12:02] DavideD commented on #313
@gastaldi This fix will be included in the next release

[2021-02-24 12:18] gastaldi commented on #313
Awesome! Thanks @DavideD !

[2021-02-24 12:42] #411 closed

[2021-02-24 12:51] gavinking commented on #596
This might come up when I implement this: #210.

[2021-02-24 12:57] gavinking commented on #536
So for this issue we need to provide a partial implementation of either the JDBC metadata API, or of whatever abstraction Hibernate core has of the JDBC metadata (I forget and I have not checked), for each of the dialects we support, by directly querying the information schema.

(Well, we don't need to support all 3 dialects initially, we would start with postgres.)

Note that it doesn't actually

[2021-02-24 13:16] DavideD commented on #536
Ok

On Wed, 24 Feb 2021, 12:57 Gavin King, <notifications@github.com> wrote:

[2021-02-24 14:32] DavideD opened #609 "Id of type Integer causes exception with generated identity id"
It happens because the value returned by the insert is a `Long` and we are using it on an `Integer` field

[code]

Throws:
[code]

[2021-02-24 14:33] DavideD commented on #609
I think it would be nice to fix this for the next release

[2021-02-24 14:34] gavinking commented on #609
Hrm, strange, I thought we already fixed this.

[2021-02-24 14:35] gavinking commented on #609
Oh, might be specific to `GenerationType.IDENTITY`.

[2021-02-24 14:49] DavideD opened #610 "@Version @Source(DB)"
[code]
causes:

[code]
It happens because, at some point, it calls `org.hibernate.type.DbTimestampType.seed`.
I think we need a reactive version of it.

[2021-02-24 14:50] DavideD commented on #610
Not sure if we need this for the first milestone

[2021-02-24 14:51] DavideD commented on #609
Yes, It seems to work for the other cases

[2021-02-24 14:52] gavinking commented on #610
I think there's some other missing code for database-generated versions actually. (Noticed earlier today.)

[2021-02-24 14:53] gavinking commented on #610
(So it's not so much a bug, just that we don't support the `@Source` annotation currently.)

[2021-02-24 14:55] DavideD commented on #610
I thought I caught them with that UnsupportedException I left but it seems it was a wrong assumption.

[2021-02-24 15:07] DavideD opened #611 "Error when using `InheritanceType#JOINED` with Identity id generation"
This seems a bug to me but maybe it needs some additional annotations?
If that's the case we should throw a better error message.
Right now it seems that the required sequence is not created on the db.

Mapping example:
[code]
Causes on insert:
[code]

When this is fixed we also have to enable the test for generated properties in [GeneratedPropertyJoinedTableTest](https://github.com/hibernate/hibe

[2021-02-24 15:18] gavinking commented on #610
Apparently.

I say we document this as a limitation and leave it for after 1.0.

[2021-02-24 15:19] gavinking commented on #610
(Unless you think it's like really easy to fix.)

[2021-02-24 15:21] DavideD commented on #611
I would say that this should be in 1.0 CR
But I haven't look how complex it is

[2021-02-24 15:22] DavideD commented on #610
I have no idea and we have some other things already.
I'm fine to  leave it for after and include it if we find the time.

[2021-02-24 15:24] DavideD commented on #610
I suspect this might be complicated because it deals with an ORM type and I'm not sure how much
work it takes to have a reactive version of that chain of calls.

[2021-02-24 15:24] gavinking commented on #611
It seems to me like identity id generation doesn't make a *whole* lotta sense with multi-table inheritance strategies, but perhaps Hibernate allows it, I don't remember.

[2021-02-24 15:25] gavinking commented on #610
work it takes to have a reactive version of that chain of calls.

Fine. I'm certain it's not critical.

[2021-02-24 15:26] DavideD commented on #611
Yes, that mapping works in ORM. It doesn't work when using `TABLE_PER_CLASS`.

[2021-02-24 15:26] gavinking commented on #611
OK fine. Then we should at least investigate and see what's going on.

[2021-02-24 15:27] DavideD commented on #611
If you try it with `TABLE_PER_CLASS`  you get a `MappingException`.

[2021-02-24 16:07] DavideD commented on #609
I'm going to have a quick look at this one, I don't think it is going to be hard to solve

[2021-02-24 17:55] gavinking commented on #611
I will look at this later on.

[2021-02-24 22:27] gavinking commented on #611
Fixed.

[2021-02-24 22:30] gavinking commented on #611
Wait, it fixed the example shown above, but not the test in `GeneratedPropertyJoinedTableTest`. Hrmph.

[2021-02-24 22:36] gavinking commented on #611
It's fine. Test enabled.

[2021-02-24 22:36] #611 closed

[2021-02-26 08:11] gavinking commented on #596
Since my patch to core has been merged, it's now, in principle, rather straightforward to implement this. But we do need to figure out the API, because I'm not totally happy with the API for this in Hibernate core. I would prefer something more typesafe.

[2021-02-26 11:48] #441 closed

[2021-02-26 11:52] #609 closed

[2021-02-26 14:06] gavinking commented on #570
3.9.6 is out. On it.

[2021-02-26 14:19] #570 closed

[2021-02-27 21:06] gavinking commented on #441
It's called `AffectedEntities` FTR.

[2021-02-28 15:41] gavinking opened #622 "transactions for stateless sessions"
We have not provided a way to do work with `StatelessSession` in a tx.

[2021-02-28 15:42] gavinking opened #623 "criteria queries for stateless sessions"
We should let you run criteria queries via `StatelessSession`.

[2021-02-28 15:43] gavinking opened #624 "variadic methods for stateless sessions"
We should provide variadic `insert()`, `update()`, and `delete()` methods for `StatelessSession` just like what we have with regular `Session`.

[2021-02-28 15:44] gavinking commented on #622
Should be enough to just add `withTransaction()` to `StatelessSession`.

[2021-02-28 16:44] #622 closed

[2021-02-28 18:36] #624 closed

[2021-02-28 21:38] #623 closed

[2021-03-01 21:29] blafond commented on #592
I've added some tests to my [stored-procedure-sql-592](https://github.com/blafond/hibernate-reactive/commits/stored-procedure-sql-592) branch

The commit is [here](https://github.com/blafond/hibernate-reactive/commit/7b37bf7dbfa7e5d54a8935d3112e84a68dd13458)

The @SqlInsert and @SqlUpdate work, but the @SqlDelete case is failing because it ```deleted``` is still null.  ```record.remove(id)``` is n

[2021-03-02 10:15] DavideD commented on #592
It's a problem with the test. I've commented on the commit

[2021-03-02 15:25] gavinking commented on #599
AFAICT, all we're waiting on now is a release of Hibernate core. @Sanne WDYT?

[2021-03-02 15:28] Sanne commented on #599
Ok, there's a couple more fixes (unrelated to HR) that need herding but yes let's try to trigger a core release tonight/tomorrow.

[2021-03-02 15:29] gavinking commented on #599
Awesome.

[2021-03-02 18:24] DavideD opened #637 "@NamedStoredProcedure"
I don't think it's critical at the moment but I've noticed we don't have an equivalent of `createNamedStoredProcedureQuery`.
@gavinking is it something that we want to have eventually?

[2021-03-02 18:36] gavinking commented on #637
I guess you're going to tell me we need it for the `getOutputParameterValue()` method?

[2021-03-02 18:39] gavinking commented on #637
I don't see where the Vert.x client even supports output parameters yet.

[2021-03-02 18:56] DavideD commented on #637
To be honest I haven't given it much thought.

I was thinking that a user might want to call a stored procedure that it's defined using the annotation.
Considering that the reactive API doesn't have a method to do it, it should be clear enough that we don't support it.
Plus, it should work with a native query anyway if they want to call one.

I'm fine closing this issue and create a new one if som

[2021-03-02 18:59] gavinking commented on #637
Well, as a temporary measure we could probably just let them call it as a regular native query, no? That should work at least for stored procedures that return exactly one result set. WDYT?

[2021-03-02 19:02] DavideD commented on #637
Can't they just do that? They don't need to use `@NamedStoredProcedure` for it, isn't it?

[2021-03-02 19:09] gavinking commented on #637
They can, I thought you were worried that they might be already using the `@NamedStoredProcedure` for that and didn't want to dupe it.

[2021-03-02 19:10] gavinking commented on #637
Anyway, I propose that we just leave this issue open and unscheduled until someone asks for it.

[2021-03-02 19:10] DavideD commented on #637
Sounds good to me

[2021-03-02 21:20] gavinking commented on #592
I can close this now, correct?

Thanks folks.

[2021-03-02 21:20] #592 closed

[2021-03-02 21:41] gavinking commented on #522
After today's discussion, I advocate that we (again) close this issue.

The seems to be that we really don't think this is useful at least given current RDBMS technology. And it might even be actually harmful.

[2021-03-02 21:54] Sanne commented on #522
Ok. Does it mean Panache should change its API?

[2021-03-02 21:55] gavinking commented on #522
Well, *in my opinion*, yes.

[2021-03-03 08:11] #522 closed

[2021-03-03 14:00] #565 closed

[2021-03-03 14:05] gavinking commented on #599
Alright, we have done everything necessary for a 1.0 CR release.

However, I'm most of the way through implementing #596, so if it keeps going well, I might just about be able to sneak that into the release.

Also I need to write an announcement.

[2021-03-03 14:08] gavinking commented on #599
Oh and I guess I promised to reorg the `example` dir.

[2021-03-03 15:50] DavideD opened #642 "Add CockroachDB to the list of of available databases"
Thanks to @conorfarrell-coats, we learnt that we could support CockroachDB as well:
https://github.com/hibernate/hibernate-reactive/pull/640

We should add it to our test suite

[2021-03-03 15:58] blafond commented on #552
is it enough to convert the tests here to run in reactive?

[EmptyCompositeCollectionKeyEagerTest.java](https://github.com/hibernate/hibernate-orm/blob/5eedda9a467fef44d924f64203023b2345b8415f/hibernate-core/src/test/java/org/hibernate/test/component/empty/EmptyCompositeCollectionKeyEagerTest.java)

[2021-03-03 16:16] DavideD commented on #552
In this case we don't care about this:
[code]

I'm not sure about that test, but what we need to check are these 3 cases:
1. Embeddable field in entity
2. Embeddable in Embeddable
3. Embeddable in collection

By embeddable, I mean a class. Primitives won't be affected by this property.
An example could be:

[code]

At first glance, I think a mapping like this, should cover all the cases.

[2021-03-03 16:17] blafond commented on #552
k. thx

[2021-03-03 19:22] gavinking commented on #599
Let's put this release on hold while we work on #642.

[2021-03-03 19:43] DavideD commented on #599
Sounds good to me

On Wed, 3 Mar 2021, 19:23 Gavin King, <notifications@github.com> wrote:

[2021-03-03 19:55] Sanne commented on #599
What about the Vert.x version?  Quarkus is about to upgrade to Vert.x 4, so we'll need to follow and that's not an appropariate change for the time between say CR1 and Final.

I was assuming we were going to wait and ship our first Final as based on Vert.x 4, but of course that could be a 1.1+  - assuming we're in agreement that it's an acceptable change for a minor.

[2021-03-03 20:01] Sanne commented on #642
N.B. CockroachDB is extremely slow (by design) on performing schema changes, I assume because it requires a strong consensus protocol, which made it a pain to test with in Hibernate ORM as our testsuite by changes the schema very frequently (almost for each unit test).

I've long wished for the ORM core code to use a unified schema; that would require a very extensive refactoring though. I wonder

[2021-03-03 20:01] DavideD commented on #599
I'd like to wait for Vert.x 4, but is there an estimate about when it is going to be ready in Quarkus?

[2021-03-03 20:04] DavideD commented on #642
I think it's too late for that

[2021-03-03 20:08] Sanne commented on #599
The original estimate was "March 2021" but I'm sure it was optimistic; I'll get an update tomorrow 2pm

[2021-03-03 20:09] DavideD commented on #642
I mean, we already have a lot of of tests. We could start to think about it, I guess.

[2021-03-03 20:10] Sanne commented on #642
It's never too late :)

It's hard in ORM because it has 10,000+ integration tests; I'm sure it's feasible here - and as I suggested I'm not asking to change all existing tests: this is about speed of execution so even if some tests are slow that's ok, let's just make sure it doesn't grow to unbearable levels by trying to group future tests.

[2021-03-04 08:46] gavinking commented on #599
Is there any reason we can't release 1.0 for Vert.x 3 and then 1.1 for Vert.x 4?

[2021-03-04 11:00] Sanne commented on #599
Sure we can. That's one of the options I suggested above.

Just bear in mind, 1.1 will likely need to follow 1.0 very quickly. I have no problem with that, just making sure we're on the same page.