[2021-03-04 11:01] gavinking commented on #599
That's totally fine by me.

[2021-03-04 11:28] DavideD opened #646 "Re-enable workflow for 5.5 ORM SNAPSHOT"
I've currently disabled the workflow for 5.5 as it was causing too many errors and I don't think it's fixable without
reverting a change in ORM 5.5 or a new release of ORM 5.4.

After talking to @Sanne about this, I'm not even sure if we need to continue tracking it.
I've created this issue as a reminder and in case somebody has a simple solution for making it works.

[2021-03-04 11:29] DavideD commented on #646
This is the commit that disable the job: https://github.com/hibernate/hibernate-reactive/commit/fddb774fb281140ca73d1424c994d54efa9acbef

[2021-03-04 14:31] gavinking commented on #596
The functionality is there, but the API is marked `@Incubating`, because I'm not completely sure that I've nailed it's final form.

[2021-03-04 14:31] #596 closed

[2021-03-04 14:43] Sanne commented on #599
Ok got the info: it's going to take a few weeks more at least. So let's not hold for that, and we'll follow up with a 1.1 whenever we need a vert.x 4 build.

[2021-03-04 16:15] blafond commented on #552
I've committed a test class and it seems to verify that null entities/columns do not prevent embeddable collection from being defined and accessible.

NOTE:  adding the  ```others``` ELementCollection in the  @ElementCollection ends up throwing the following exception
```@OneToMany, @ManyToMany or @ElementCollection cannot be used inside an @Embeddable that is also contained within an @ElementColl

[2021-03-04 16:22] DavideD commented on #552
Yes, that's normal. You cannot have an `@ElementCollection` collection where the element contain another `@ElementCollection`.
What I meant was:
[code]

[2021-03-04 17:02] DavideD commented on #552
Here's an article that explains what's going on:
https://blog.eyallupu.com/2010/06/hibernate-exception-simultaneously.html

On Thu, Mar 4, 2021 at 4:52 PM Barry LaFond <notifications@github.com>
wrote:

[2021-03-04 17:28] DavideD opened #648 "Create a common schema for testing"
The update of a schema is a pretty heavy operation, in particular for databases like CockroachDB.
For testing we re-create a schema almost every time we launch a test.

An idea to explore is to have a set of entities that cover most of testing scenarios and try to reuse this schema everytime we add a new test. This way we could create a new schema at the beginning of the test phase and reuse it fo

[2021-03-04 17:32] blafond commented on #552
thx.   learned a little more.  change to `Set<>` worked.

[2021-03-04 22:17] #552 closed

[2021-03-04 22:40] gavinking commented on #599
Guess I should start writing the announcement.

[2021-03-05 09:57] DavideD opened #650 "Release artifact without Bintray"
See https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/

We need to update our release process now that Bintray is sunsetting.

[2021-03-05 11:34] gavinking opened #651 "move examples into 'examples' directory"
@DavideD I tried and failed to do this. Obviously something I don't know about gradle.

[2021-03-05 11:37] DavideD commented on #651
:-)
No problem, I will do it in a bit

[2021-03-06 17:03] #642 closed

[2021-03-08 10:56] DavideD commented on #651
Done

[2021-03-08 10:56] #651 closed

[2021-03-08 11:29] gavinking commented on #599
OK, this is all done. We now just need to go ahead and release 1.0 CR1.

[2021-03-08 11:29] #599 closed

[2021-03-08 14:11] blafond commented on #511
@DavideD So it seems that in the MySQL UnsupportedOperationException didn't occur on my PR's build  but it did fail because the credentials were `Invalid`.  I can expand the check in [WrongCredentialsTest.java](https://github.com/DavideD/hibernate-reactive/blob/d131bb2b38662b3bc64ee88faae42a9c223e5a70/hibernate-reactive-core/src/test/java/org/hibernate/reactive/WrongCredentialsTest.java) to includ

[2021-03-08 14:46] DavideD commented on #511
Are you sure? It seems to me that the tests worked for MySQL and it didn't work for Db2 because it has a different error message.

No. This test set wrong credentials on purpose because we use it to check that the right exception appears to the user in those situations. It failed with MySQL because the exception was an `UnsupportedOperationException`, quite puzzling for a user to see something lik

[2021-03-08 14:48] DavideD commented on #511
Up to you

[2021-03-08 19:00] DavideD commented on #511
Interesting... the error is back.
And it happens even on master: https://github.com/hibernate/hibernate-reactive/runs/2059115574?check_suite_focus=true

[2021-03-09 13:13] blafond commented on #511
Was able to test MySQL locally and PR with fix was applied and CI built OK.

Subsequent CI build failed with `UnsupportedOperationException` again, so this is still intermittent.

For the time being, skipping MySQL with [PR](https://github.com/hibernate/hibernate-reactive/pull/658) and will not close this issue for the time being.

[2021-03-09 14:58] DavideD opened #659 "UnionSubclassInheritanceTest failure on CI with CockroachDB"
Sometimes on CI, [org.hibernate.reactive.UnionSubclassInheritanceTest fails](https://github.com/hibernate/hibernate-reactive/runs/2067495090?check_suite_focus=true#step:5:688) with CockroachDB:
[code]

[2021-03-11 09:26] gavinking opened #660 "verticle example"
We desperately need an example program showing a verticle calling Mutiny streams with HR.

Because users have *no clue* how to do this.

@cescoffier might need your help with this

[2021-03-11 10:21] cescoffier commented on #660
Are you referring to Vert.x Verticle?

[2021-03-11 10:24] gavinking commented on #660
Yeah, I mean a verticle started in a main method that delegates to Mutiny streams.

[2021-03-11 12:15] DavideD opened #661 "JUnit 5"
I was wondering if there is any particular reason for not moving to JUnit 5.

I'm asking because I suspect it will make it easier to work on these other issues:
- #648 Create a common schema for testing #648
- #487 Create the SessionFactory only once per test class

Because it uses a new Extension model.

[2021-03-11 14:02] DavideD commented on #661
@gavinking WDYT?

[2021-03-11 14:03] gavinking commented on #661
🤷 I have no opinion.

[2021-03-12 09:20] markusdlugi opened #663 "lazy collection fetching in Quarkus"
When trying to fetch an association lazily with Mutiny in Quarkus, it doesn't work if the fetch is performed in a different session than the one used to persist the data. If the same session is used (so fetching right after persisting in the same session), it works.

**Expected behavior**
It works also in different sessions.

**Actual behavior**
An exception is thrown when trying to fetch the asso

[2021-03-12 09:20] markusdlugi commented on #663
/cc @DavideD @gavinking

[2021-03-12 09:28] gavinking commented on #663
Yeah, I think we decided this was the correct thing to do: in JPA there's no notion of reassociating an entity instance with a session. That's a bit different to the really old usage pattern of Hibernate where you could use `saveOrUpdate()` to directly reassociate a detached object. In JPA the model for dealing with detached objects is the `merge()` operation.

(And there's good reasons to not hav

[2021-03-12 11:07] markusdlugi commented on #663
Hi @gavinking, thanks for the quick reply.

I'm not quite sure whether I'm getting what you're saying. So what I implemented was exactly what is described in the [documentation](http://hibernate.org/reactive/documentation/1.0/reference/html_single/#_fetching_lazy_associations):

[code]

This is working if the author and his books have been persisted with the same session (i.e., in the same HTTP re

[2021-03-12 11:11] gavinking commented on #663
I'm saying that in the new session you should use `getReference()` to obtain a session-bound reference to the entity that owns the collection. *Then* you can fetch the collection however you like.

This is the standard JPA model, it's even a bit easier to use in HR because I overloaded `getReference()`.

[2021-03-12 12:23] DavideD commented on #663
@gavinking do you mean something like this?
[code]

[2021-03-12 12:24] gavinking commented on #663
Sure, but I made it even easier. You can directly pass the detached author to `getReference()`.

[2021-03-12 13:26] markusdlugi commented on #663
Okay, I tried those suggestions, but unfortunately they didn't work either. Maybe you can be so kind to point out if I'm doing something incorrectly here:

https://github.com/markusdlugi/hibernate-reactive-lazy-fetching/blob/f3458eee969d7c3597560aaf8a646b7aad2ee9b0/src/main/java/com/example/TestResource.java#L55-L79

The approach using `getReference()` fails with the following exception:

[code]

[2021-03-12 13:30] DavideD commented on #663
I will have a look, it seems related to bytecode enhancements

[2021-03-12 15:40] #661 closed

[2021-03-12 22:27] Ngosti2000 opened #667 "hibernate.jdbc.time_zone=UTC"
When querying using Query i get the above error. My Entity class defines an OffsetDateTime field (code snippet before). Persisting the same works fine

[code]
The hql query being executed

[code]

[2021-03-14 09:21] DavideD opened #669 "Create a test case template"
We should create a test case template for Hibernate Reactive on this repository: https://github.com/hibernate/hibernate-test-case-templates

[2021-03-15 11:08] DavideD opened #671 "[vert.x 4] Upgrade to Vert.x 4.0.3"
I've disable the test that fails and I've created a separate issue for it: #673

[2021-03-15 11:42] DavideD opened #673 "EagerOneToOneAssociationTest fails on CI with Vert.x SQL client 4.0.3"
After the upgrade to Vert.x SQL Client 4.0.3,  `EagerOneToOneAssociationTest ` fails if the whole test suite is launched on Db2.
For example:
[code]

will cause (I've enabled logging of the queries):
[code]

it also seems that we don't catch the exception in our tests suite, instead of failing, it goes in timeout.
To see the actual exception, change the `testLogging` configuration in [hibernate-re

[2021-03-15 11:56] markusdlugi commented on #663
@DavideD, any update?

I tried to reproduce the issue without Quarkus by just using the `session-example` in this repo, but I was unable to do so. With just Hibernate Reactive and plain Mutiny, it works as expected. It also works using `find()`, no `getReference()` or `StatelessSession` necessary.

So this issue only seems to happen in Quarkus.

[2021-03-15 12:07] DavideD commented on #663
I'm still looking into it.

The problem happens because of bytecode enhancements that are enabled by default in Quarkus.
I haven't still figure out which set of properties recreate the issue when using only Hibernate Reactive. But I will continue to work  on it today

[2021-03-15 12:58] DavideD commented on #673
Actually, I can replicate it locally when I use Dd2 with testcontainers

[2021-03-16 10:54] DavideD commented on #667
This issue seems to happen when the property `<property name="hibernate.jdbc.time_zone" value="UTC"/>` is set.

[2021-03-16 11:45] DavideD commented on #673
The problem with this issue is that it happens only when I run the whole test suite and it makes it a bit of a pain to debug, especially on Db2

[2021-03-16 16:27] DavideD commented on #663
I can now recreate the error in reactive. It requires two  things:
1. set  `hibernate.bytecode.allow_enhancement_as_proxy` to true
2. set  `SessionFactoryOptions#enableCollectionInDefaultFetchGroup` to false.  It should be set to true: https://github.com/hibernate/hibernate-reactive/blob/a3f4c61eef71baab8ca321da5af0bfb9052bde4b/hibernate-reactive-core/src/main/java/org/hibernate/reactive/provider/

[2021-03-16 16:32] gavinking commented on #663
Um. I think it only makes sense to have the collection in the default fetch group. I don't think it *ever* makes sense to exclude it.

[2021-03-16 16:35] DavideD commented on #663
Sorry, yeah, I meant to write `is set to true` . Time for a break :-)

[2021-03-16 16:38] gavinking commented on #663
Ah OK good :-) Take a break :-)

[2021-03-17 08:08] markusdlugi commented on #663
@DavideD That's some great findings, thank you :)

Just wanted to point out, that according to the discussion in #374 and the related hibernate/hibernate-orm#3558, it seems like `enableCollectionInDefaultFetchGroup` was deliberately left to be `false` in Quarkus? At least that's what I'm gathering from this comment:

https://github.com/hibernate/hibernate-orm/pull/3558#issuecomment-695003875

Anyw

[2021-03-17 09:53] gavinking commented on #673
Yeah, I've also seen that. It's indeed a pain.

[2021-03-17 10:12] gavinking commented on #663
@Sanne needs to look at this one.

[2021-03-17 10:18] DavideD commented on #663
If we only have to set it to true, it seems pretty easy to solve. I will create a fix and then check with @Sanne

[2021-03-17 10:26] gavinking commented on #663
Well what I'm wondering is if it's set to false because that is what ORM needs, and if we need to be careful to not step on regular Hibernate?

[2021-03-17 10:28] Sanne commented on #663
great find, thanks. Yes it's a little tricy because the two extensions ("regular" and "reactive") are highly coupled ATM.

Need to separate them properly, that was developed in too much rush.

[2021-03-17 10:30] gavinking commented on #663
(OTOH, I'm not sure why ORM would need it; as I've argued before, I think it should be on by default.)

[2021-03-17 10:45] Sanne commented on #663
hum ok.  Let's do this for both ORMs (in Quarkus).

[2021-03-17 10:50] markusdlugi commented on #663
@gavinking, I think that title is wrong, isn't it? I guess you meant to put `enableCollectionInDefaultFetchGroup` there instead. Bytecode enhancements are necessary for Quarkus anyway because of native, I assume :)

[2021-03-17 10:51] gavinking commented on #663
Ah yeah, sure, I guess you're right.

you're saying that you see this bug with *default* settings in Quarkus?

[2021-03-17 10:52] markusdlugi commented on #663
Yes, no special configuration is necessary to get this bug.

[2021-03-17 10:59] gavinking commented on #663
Sure.

The thing is it's not actually a bug in HR. I deliberately added that "collection in default fetch group" thing to core specifically because we need it on all the time in HR.

So the bug is in the Quarkus extension which turns it off.

(Or, arguably, in core for doing the wrong thing by default.)

[2021-03-17 17:39] DavideD commented on #663
I've sent a fix for Quarkus: https://github.com/quarkusio/quarkus/pull/15818
`getReference` doesn't seem to work on quarkus at the moment. I will create a separate issue for it.

[2021-03-17 17:50] markusdlugi commented on #663
Sounds great, thank you! 👍

[2021-03-18 07:43] DavideD commented on #673
@vietj fixed the issue on the vert.x side, it should work in the next release: https://github.com/eclipse-vertx/vertx-sql-client/issues/916

[2021-03-18 08:10] gavinking commented on #673
Excellent

[2021-03-18 12:00] gavinking opened #675 "test failure on cockroach"
We just had a CI failure here <https://github.com/hibernate/hibernate-reactive/runs/2139105014>

`UnionSubclassInheritanceTest.testQueryUpdateWithParameters()` failed on cockroach.

[2021-03-18 12:09] gavinking commented on #675
Well, doesn't happen locally :-/

[2021-03-18 13:49] DavideD commented on #675
I think this was probably a temporary issue with CI. It seems it's working now

[2021-03-18 14:43] markusdlugi commented on #663
Just tested it and can confirm that lazy collection fetching now works in Quarkus. Thanks once again :smile:

[2021-03-18 16:41] #675 closed

[2021-03-18 17:17] #667 closed

[2021-03-19 08:56] DavideD commented on #663
Thank you @markusdlugi

[2021-03-19 08:56] #663 closed

[2021-03-19 09:07] DavideD commented on #659
I've just realised that this error is the same as this other one: https://github.com/hibernate/hibernate-reactive/issues/675
And there is an article about it on the Cockroach website: https://www.cockroachlabs.com/docs/v20.2/transaction-retry-error-reference.html#retry_serializable

My understanding of this issue is that's it requires a better tuning of CockroachDB, but because we are using it for

[2021-03-19 09:07] #659 closed

[2021-03-19 09:22] gavinking commented on #663
Thanks for reporting it @markusdlugi

[2021-03-19 10:44] DavideD opened #678 "Id of type UUID cannot be retrieved with MariaDB and MySQL"
The entity is in the db but a `find` will return null

[2021-03-19 18:00] DavideD commented on #678
I think this is a problem with the Vert.x SQL client but I need to check with a test

[2021-03-23 11:36] DavideD commented on #678
I've found the problem.
The table has a column defined as `binary(255)` but the UUID is created as a `binary(16)`. This work for the other dialect but not for MySQL/MariaDB with vert.x  SQL client

[2021-03-23 11:54] gavinking commented on #678
Hrm, yeah, looks this is a bug I fixed in H6, but fixing the broken default column length for `UUIDBinaryType`. I set it to 16 by default. In H5, the column length defaults to something stupid (255 apparently).

[2021-03-23 12:31] DavideD commented on #678
I've created an issue for the Vert.x SQL client: https://github.com/eclipse-vertx/vertx-sql-client/issues/922
This seems a bug considering that it works for all the other databases.

I guess a workaround at the moment is to define the type of the column:
[code]

[2021-03-23 12:33] gavinking commented on #678
Honestly I'm not sure if it's a driver bug because I feel like I've run into the same issue with JDBC.

But I might be misremembering.

*Something* motivated me to go and fix the issue in H6.

[2021-03-23 12:34] gavinking commented on #678
Yes, of course, exactly.

[2021-03-23 12:35] DavideD commented on #678
Maybe I can change the UUIDType when using reactive

[2021-03-23 12:36] gavinking commented on #678
No because in H5 a type can't determine the column length.

I had to build a whole infrastructure for that in H6. And IIRC it wasn't that trivial.

[2021-03-23 12:52] DavideD commented on #678
I've tested it and it seems to work when I use Hibernate ORM and JDBC

[2021-03-23 12:56] DavideD commented on #678
It seems there is not much more I can do about this at the moment.
I will wait to see what they think on the Vert.x SQL client side and, in the meanwhile, send a PR with a test case for the other dbs.

[2021-03-23 13:06] gavinking commented on #678
OK, fine, so I must have misremembered.

[2021-03-23 15:42] DavideD commented on #678
I've added a test case (UUIDAsBinaryType) but I'm not going to close this issue for now: https://github.com/hibernate/hibernate-reactive/pull/680

Wating to see if the VErt.x team is going to do something about it

[2021-03-24 10:27] DavideD commented on #678
No, you were right. I've just double checked and it doesn't work for MySQL nor MariaDB with ORM and JDBC
I messed up somewhere when I checked the first time.

[2021-03-24 10:28] DavideD commented on #678
So, in the end it's not a problem with the driver.

[2021-03-25 13:10] gavinking commented on #255
I'll see if I can fine time to read support for SQL Server today.

[2021-03-25 13:15] DavideD commented on #255
I think I have a branch with some code ready if you are interested. I don't remember why I didn't finish it, at the moment

[2021-03-25 13:27] gavinking commented on #255
Mainly I just need to figure out the right friction' JDBC URL to use in testcontainers. Do you have that somewhere?

[2021-03-25 13:35] DavideD commented on #255
Not sure what you mean, but my project is here:
https://github.com/DavideD/hibernate-reactive/tree/mssql-vertx-4

I've rebased it to the latest changes, it builds but it might not work.

[2021-03-26 14:44] DavideD commented on #678
I'm wondering if we should mention this in the documentation before closing this issue.
It's not very intuitive

[2021-04-01 17:32] #547 closed

[2021-04-05 21:08] blafond commented on #648
@DavideD

Chatted with @sebersole a bit today.

Looks like ORM has added session factory management and common schema in the [wip/6.0](https://github.com/hibernate/hibernate-orm/tree/wip/6.0) branch using [junit annotations](https://github.com/hibernate/hibernate-orm/tree/wip/6.0/hibernate-testing/src/main/java/org/hibernate/testing/orm/junit) including `@DomainModel` for entity management and `@S

[2021-04-06 12:23] sebersole commented on #648
There is a series of [common schemas](https://github.com/hibernate/hibernate-orm/blob/wip/6.0/hibernate-testing/src/main/java/org/hibernate/testing/orm/domain/StandardDomainModel.java).  A single one is just not feasible.

[2021-04-06 13:23] DavideD opened #687 "Update the release process so that we don't use Bintray"
Ideally, we would want to release directly on Maven Central

[2021-04-06 13:50] DavideD commented on #648
Thanks @sebersole.

It would be nice if we could reuse something or adapt it for reactive

[2021-04-06 17:28] #487 closed

[2021-04-09 09:44] DavideD opened #689 "Upgrade main branch to Vert.x 4"
@gavinking, @Sanne: Could you confirm me that we can do this?

[2021-04-09 09:56] gavinking commented on #689
+1

[2021-04-09 09:58] Sanne commented on #689
+1

On Fri, 9 Apr 2021, 10:56 Gavin King, ***@***.***> wrote:

[2021-04-09 10:03] DavideD opened #690 "Upgrade Db2 to version 11.5.5.1"

[2021-04-09 10:07] DavideD opened #692 "Upgrade spotless gradle plugin to the latest version"

[2021-04-09 10:08] DavideD commented on #692
https://github.com/hibernate/hibernate-reactive/blob/main/build.gradle#L6

[2021-04-10 08:00] #690 closed

[2021-04-12 09:23] #689 closed

[2021-04-12 09:30] DavideD opened #696 "MultipleContextTest fails on CI"
This test checks that we throw the right exception when session run in the wrong `VertxContext`.

I cannot figure out why it doesn't fail on CI.

This is the test: [MultipleContextTest#persistWithStage](https://github.com/hibernate/hibernate-reactive/blob/0daa409116f89daaf18082ca13dfb853a468835c/hibernate-reactive-core/src/test/java/org/hibernate/reactive/MultipleContextTest.java#L60)

We also nee

[2021-04-12 09:33] DavideD opened #697 "Re-enable tests for Db2"
Because of [a bug in the Vert.x SQL client](https://github.com/eclipse-vertx/vertx-sql-client/issues/920)

This is the commit that disables the tests: https://github.com/hibernate/hibernate-reactive/commit/d76bb7217e5580d1e387506ca332406bf3ec7768

It should work once we upgrade to Vert.x SQL client 4.1.0

[2021-04-12 09:35] DavideD opened #698 "Create workflow for testing the latest Vert.x SQL client snapshots"
See https://github.com/DavideD/hibernate-reactive/pull/13

[2021-04-12 09:36] DavideD opened #699 "Add Developer Certificate of Origin file"

[2021-04-12 10:04] Thomodachi opened #702 "Update of associated entity fails with UnsupportedOperationException using Quarkus"
Hi, we are facing the problem that we're running into an `java.lang.UnsupportedOperationException` when trying to update an associated entity. We're using hibernate-reactive with Quarkus. I know there has been an issue #506 that should have fixed that problem but it doesn't seem to work for us.

When calling the `CampaignDao#update` method without having an instance of `Schedule` associated with a

[2021-04-12 10:49] DavideD commented on #702
@blafond Could you start to have a look at this, please?

[2021-04-12 11:20] #699 closed

[2021-04-12 11:26] DavideD commented on #699
Thanks

[2021-04-12 13:07] blafond commented on #702
yes

[2021-04-13 15:07] blafond commented on #702
@DavideD

I've created a [test](https://github.com/blafond/hibernate-reactive/commit/39a258f694fc589d4273a0ce654b6c09f60aadaa) that reproduces the exception occuring because of a `deleteReactive(...)` being triggered which removes the joined entity column reference (`a new Schedule`) after the `setSchedule(...)` flush.

I added a test locally to [LazyOneToOneWithJoinColumnTest.java](https://github

[2021-04-13 19:33] #687 closed

[2021-04-13 19:42] blafond commented on #702
Added test to check ORM persistence during `setSchedule(....)`.  It fails differently by not finding updated entity.

[2021-04-14 07:09] DavideD opened #704 "Check release of Snapshots on JBoss Nexus"

[2021-04-14 07:28] DavideD opened #705 "Upgrade to JBoss Logging 3.4.1.Final"

[2021-04-14 10:20] DavideD commented on #702
There is are a couple of errors in your test with ORM:
1. when you assign the new `Schedule` you are using a detached entity
2. because of this mapping, Hibernate ORM has to delete and recreate the Campaign when you set a new Schedule, so the identifier will be different when you check that the update has occurred.

This changes will make everything work:
[code]

[2021-04-14 11:07] gavinking commented on #702
Even better:

[code]

[2021-04-14 14:11] Thomodachi commented on #702
I tried this and -- yes -- the Exception is gone. However, now each update of the `Schedule` object results in a new row in the database.

This is my code:
[code]
Is that also reproducable in your test?

[2021-04-14 14:18] #704 closed

[2021-04-14 14:22] blafond commented on #702
I think the original exception indicates a wrong path to delete the `Schedule` entity before it inserts the new `Schedule`, which also explains multiple rows in databse.

[2021-04-14 14:39] blafond commented on #702
Basically I can reproduce your *UnsupportedOperationException* and it's a bug

[2021-04-14 14:48] DavideD commented on #650
Duplicates of https://github.com/hibernate/hibernate-reactive/issues/687

[2021-04-14 14:48] #650 closed

[2021-04-14 16:46] DavideD commented on #702
@Thomodachi, regarding your question about the repeated inserts. That's probably happening because you are not  clearing the session after committing the transaction. So the entities remain attached to the session and Hibernate won't execute the delete queries on `Schedule` like it's supposed to.

Once you add the `session.clear()` you will see the expected `UnsupportedOperation` bug.
But we are w

[2021-04-15 10:30] gavinking opened #707 "BlockingIdentifierGenerator is broken"
See https://github.com/quarkusio/quarkus/issues/16255.

[2021-04-15 10:40] DavideD commented on #707
@gavinking are you going to work on this or should I do it?

[2021-04-15 10:41] gavinking commented on #707
Yes, I'm on it.

[2021-04-15 10:56] DavideD commented on #707
Thanks

[2021-04-15 13:19] DavideD commented on #671
Main is now on Vert.x 4.0.3

[2021-04-15 13:19] #671 closed

[2021-04-15 16:00] blafond commented on #702
@DavideD

pushed a new branch [702-fix](https://github.com/blafond/hibernate-reactive/commits/702-fix) with changes to ReactiveSessionImpl and an updated test class.

I included an override to `removeOrphanBeforeUpdates(...)`.  Includes a private `logRemoveOrphanBeforeUpdates(...)` but don't know if we need that logging for reactive?

[2021-04-15 16:37] DavideD opened #709 "Cascade calls non reactive delete"
[We have some logic in our code that could end in a call to a non reactive method](https://github.com/hibernate/hibernate-reactive/blob/d17862792b266d29ace9692bd305c29b48f034a4/hibernate-reactive-core/src/main/java/org/hibernate/reactive/engine/impl/Cascade.java#L363).
In `Cascade`:
[code]

We need a test to cover this part and make sure that the code calls the equivalent reactive method (it needs

[2021-04-15 16:44] DavideD commented on #702
Thanks @blafond, it seems the fix is not going to be too complex but you need to make sure that the methods you add are reactive, also no need to keep the ORM test.

[2021-04-15 18:07] DavideD opened #710 "Support for `@MapsId` and `@PrimaryKeyJoinColumn`"
We don't have any tests at the moment.

[See examples ](https://docs.jboss.org/hibernate/orm/5.4/userguide/html_single/Hibernate_User_Guide.html#identifiers-derived) in the Hibernate ORM documentation.

[2021-04-16 13:21] DavideD opened #711 "Upgrade testcontainers to 1.15.3"

[2021-04-16 14:51] #707 closed

[2021-04-17 13:03] DavideD commented on #709
Here's a test case: https://github.com/DavideD/hibernate-reactive/commit/aa553b555f4f6fcfbefc7d22d6b7c1466ced9cbc

[2021-04-19 10:19] DavideD commented on #702
But we are working on it, and it should be fixed soon.

I was actually wrong about this, you don't need the `session.clear` but, because this is a bidirectional association, you need to update both sides:
[code]

The way `setSchedule` is implemented, it will only add a new schedule without removing the previous one.

[2021-04-19 12:26] DavideD opened #713 "Test BlockingIdGeneration"
See #707

[2021-04-19 15:04] DavideD commented on #709
I have already a fix for the unidirectional association but something is missing when the association is bidirectional: https://github.com/DavideD/hibernate-reactive/tree/709-non-reactive-delete

[2021-04-19 21:01] #702 closed

[2021-04-20 12:56] DavideD opened #716 "ReactiveConnection#close should return a `CompletionStage`"
See the discussion on https://github.com/hibernate/hibernate-reactive/pull/715

[2021-04-20 13:57] DavideD commented on #716
I think the main issue is that now `ReactiveSessionImpl` cannot extend `SessionImpl` if we change the method for the session as well

[2021-04-20 21:11] DavideD opened #718 "Upgrade gradle-nexus/publish-plugin to version 1.1.0"

[2021-04-21 10:47] #709 closed

[2021-04-21 13:46] blafond commented on #692
@DavideD can I assume that **latest** means latest?  i.e. 7.0.0

asking only because we're at 4.0.1 now

[2021-04-21 14:22] DavideD commented on #692
`7.0.0`?
I think this is the latest: https://plugins.gradle.org/plugin/com.diffplug.spotless

But you have to check that it works. With the license and the other couple of checks we use it for

[2021-04-21 14:24] DavideD commented on #692
This is a plugin that we only use for the build, so we don't have to be as conservative  with it as we are for other dependencies. It's not like it is a requirement to use the hibernate-reactive

[2021-04-22 10:41] gavinking commented on #716
I don't think that's an issue at all. `ReactiveSessionImpl` would have a `reactiveClose()` method that would be called by `StageSessionImpl.close()` and `MutinySessionImpl.close()`.

[2021-04-22 13:50] #692 closed

[2021-04-23 06:37] SivaTharun commented on #718
@DavideD i am a newbie to open source contribution, can i start working on this issue, also a little description would help.

[2021-04-23 07:55] DavideD commented on #718
There is no additional description because it's really about changing the version number here: https://github.com/hibernate/hibernate-reactive/blob/6733bee4b328c0ee712e7e3857afcb1fdce09d84/build.gradle#L9

It should work without any other change but you won't be able to test it.
I still have to add a contributing guide, so, for now, make sure to include the issue number in the commit message.
I li

[2021-04-23 08:03] DavideD commented on #718
I will add a specific contributing guide next week, but you can have a look at [the one for Hibernate ORM](https://github.com/hibernate/hibernate-orm/blob/main/CONTRIBUTING.md). In particular, we work using [Topic branches](https://git-scm.com/book/en/v2/Git-Branching-Branching-Workflows#Topic-Branches): we expect you to create a branch with the fix on your repository and then send a PR that we ca

[2021-04-23 08:13] DavideD opened #721 "Investigate how to create a template for JBang to help with bug reports"
See https://github.com/jbangdev/jbang#init-templates

It would be nice if users could generate a basic test project using [JBang](https://www.jbang.dev/) so that they have a quick way to start creating a project for reproducing the issue they are having.

I haven't checked if this is feasible or helpful yet. In my head it should make it even easier than [cloning a template from our repository](htt

[2021-04-23 08:22] gavinking commented on #721
@maxandersen already played with this. What he didn't like, and what might also be a problem here, is that he couldn't easily use a testcontainers database.

[2021-04-23 08:42] maxandersen commented on #721
It works but yeah users would need to manually setup the database.

But so should users using more complex setups :)

What you can do is to have the jbang script setup via test containers manually rather than using the jdbc url magic which does not work (yet) with hibernate reactive.

[2021-04-23 08:49] gavinking commented on #721
I did look briefly at making the testcontainers bootstrap code in our test suite reusable, but it wasn't going to be that trivial.

[2021-04-23 09:40] DavideD commented on #721
I mean... testcontainers is a great tool... but I'm going out on a limb here and say that we can expect people using Hibernate Reactive (or ORM), to be able to start a db without it :-)

[2021-04-23 09:44] DavideD commented on #721
It certainly not a deal breaker to me, most of the boring part is really the configuration of the project. If I have to start a db  launching a script manually before being able to launch the tests or the program. it would already be a great improvement.

[2021-04-23 09:48] gavinking commented on #721
Sure, that's fine. But it's a nice-to-have.

[2021-04-23 10:23] SivaTharun commented on #718
Thanks @DavideD for the insights into the contribution guidelines, just had a question related to the version update, is there any integration test case, which i can refer to, check whether the version update is not breaking the current gradle build

[2021-04-23 10:27] DavideD commented on #718
All the info about how to run the build is in the [readme](https://github.com/hibernate/hibernate-reactive#readme).
It's a good idea to become familiar on how to build the current project on `main` before starting to contribute.

Basically, make sure that it builds and passes all the tests for the default build with PostgreSQL. And maybe check if you can run the test suite on one of the other supp

[2021-04-23 10:29] DavideD commented on #718
The only way to test this particular issue is by releasing and you don't have the permission to do it. But if the build doesn't fail and CI doesn't complain when you send the PR, I will try it. It;s going to be next week though

[2021-04-23 10:31] DavideD commented on #721
Thinking about it, we probably don't even need a template to begin with, we could provide a java file with all the dependencies needed for JBang to run it.

[2021-04-23 10:33] gavinking commented on #721
I figured by "template" you were hoping to parameterize by database type.

[2021-04-23 10:43] DavideD commented on #721
I was talking about a JBang template, something that would allow the user to write:
[code]
but I guess this would also be possible:
[code]

But I think we could achieve the same result providing a single file (or one per database) so that a user can run it with:
[code]
With the caveat that a Db2 instance with the right credentials must be already running.

Then they could start editing it with:
[c

[2021-04-23 10:47] DavideD commented on #721
In my previous example, `HReactiveWithDb2.java` is somewhere on our GitHub repository. I haven't checked, but I bet one could proably run the single command: `jbang https://github.com/hibernate/hibernate-reactive/HReactiveWithDb2.java`

[2021-04-23 10:50] gavinking commented on #721
Well jbang templates have some sort of support for parameters AFAIU, and I *think* that should be enough to say switch in a certain `persistence.xml` file.

[2021-04-23 10:53] DavideD commented on #721
Sure, sounds great.

[2021-04-23 14:48] FroMage opened #723 "Query projection bug"
As reported in https://github.com/quarkusio/quarkus/issues/15239 and simplified for pure HR, the following produces an exception:

[code]

[code]

[code]

[code]

Exception is:

[code]

[2021-04-23 15:24] gavinking commented on #723
But ... since when does Hibernate even support a to-one association in `select new`? Are we 100% certain this works in Hibernate ORM core?

[2021-04-23 15:45] gavinking commented on #723
Just checked. Neither Hibernate nor JPA allows a to-one collection reference in a `select` list. Surely the error message could be improved, but I'm supposing that that's an issue with the "old" (Hibernate 5.x) query parser.

[2021-04-23 15:45] #723 closed

[2021-04-26 08:27] DavideD commented on #711
Done https://github.com/hibernate/hibernate-reactive/issues/711

[2021-04-26 08:27] #711 closed

[2021-04-26 13:39] DavideD commented on #646
Now that the commits have been backported in ORM 5.4: https://github.com/hibernate/hibernate-orm/pull/3938
We can fix this after the next release of ORM

[2021-04-26 14:32] FroMage commented on #723
Haha, OK. Yeah, that's a confusing error, but if it's fine with the new parser, fine. Thanks!

[2021-04-27 08:57] markusdlugi commented on #702
Hi @DavideD, do you have a plan when 1.0.0.CR4 will be released? We are waiting for a release containing a fix for this issue, since it didn't quite make it for 1.0.0.CR3.

[2021-04-27 09:00] DavideD commented on #702
Soon :-)

We are waiting for the release of ORM 5.4.31.Final

[2021-04-27 12:17] DavideD opened #726 "Setting hibernate logging to debug causes NullPointerException"
To quickly see it, it's enough to set this in our test suite:
[code]
The Exception:
[code]

It happens because Hibernate ORM log static queries in the `AbstractCollectionPersister` in the constructor.
The log operation calls `getSQLInsertRowString` that it is overriden by our subclasses because we need to parse the generated queries. Because the log is in the constructor, our parser has not been c

[2021-04-27 15:17] gavinking commented on #726
@DavideD you assigned this to yourself, but let me know if you want me to do it.

[2021-04-27 15:33] DavideD commented on #726
Works for me :)

[2021-04-27 15:33] DavideD commented on #726
I've assigned it to you @gavinking

[2021-04-27 18:30] #705 closed

[2021-04-28 09:09] DavideD opened #729 "Update download link in the README"
It's still pointing to Bintray and it's out of date.
It might also be nice to make the badges slightly bigger

[2021-04-28 09:30] DavideD opened #730 "Upgrade to Mutiny 0.16.0"

[2021-04-28 09:31] #730 closed

[2021-04-28 16:26] DavideD opened #733 "Upgrade version of databases for testing before the 1.0.0.CR4 release"
* Upgrade CockroachDB to 20.2.8
* Upgrade Postgres to 13.2
* Upgrade MariaDB to 10.5.9
* Upgrade MySQL to 8.0.24

[2021-04-28 17:05] DavideD commented on #710
I spoke too soon @blafond. Something goes wrong when testing with MariaDB

[2021-04-28 17:17] blafond commented on #710
I just ran both new tests locally against MariaDB and they passed

[2021-04-28 17:26] DavideD commented on #710
Something fails if you run the whole test suite. Not sure what. You can see an example on our CI: https://github.com/hibernate/hibernate-reactive/actions/runs/793361265

[2021-04-28 18:05] #710 closed

[2021-04-28 18:14] #726 closed

[2021-04-28 18:25] DavideD commented on #710
It was the name of the table created conflicting with the same name used for other tests.
It works now

[2021-04-28 18:32] blafond commented on #710
k.. thx

[2021-04-29 09:48] #729 closed

[2021-04-29 09:48] #733 closed

[2021-04-29 13:52] DavideD commented on #716
Merged

[2021-04-29 13:52] #716 closed

[2021-04-29 14:25] Sanne opened #736 "Closing of Vert.x instance should be waited on"
We also need to patch `DefaultVertxInstance#stop()` to actually wait for the shutdown of the instance.

I'm assume we could "just" block in this case? But it would be nice to have a way to do it properly; maybe introducing a reactive flavour of `Startable` and `Stoppable` would make sense even for ORM blocking so to allow parallelising some setup/teardown operations.

[2021-04-29 14:29] gavinking commented on #736
Blocking sounds fine to me for now.

Introducing new interfaces in ORM doesn't sound like the sort of thing we would do until 6.

[2021-04-29 14:30] Sanne commented on #736
Agreed, blocking will do fine for now.

My second point is more like a question/suggestion: we could explore this in 6 - not sure if it's worth it.

[2021-04-29 16:53] #736 closed

[2021-04-29 16:53] DavideD commented on #736
Merged!
Thanks

[2021-04-29 18:04] DavideD commented on #718
Sorry `@SivaTharun`, we need this so I'm going to send a PR

[2021-04-29 19:12] #718 closed

[2021-04-29 21:16] DavideD opened #739 "Sometimes the build goes in timeout because of an exception"
Occasionaly, builds with Db2 fail because [of a bug in the Vert.x Db2 client](https://github.com/eclipse-vertx/vertx-sql-client/issues/920). This bug has been already fixed and it should disappear when we will upgrade to Vert.x 4.1.

The problem is that, when it happens, our build get stuck and goes in timeout, even if a real error happened.
I suspect we are swallowing an exception somewhere in on

[2021-04-29 21:22] gavinking commented on #739
I mean, it *should* be pretty straightforward to write a test to check what happens with exceptions coming from the driver; just send some broken SQL and see what happens.

[2021-04-29 21:23] DavideD opened #740 "Add a parameter to enable/disable the standard output stream"
We need it enabled on CI because some errors and warning won't be visible when something fails otherwise.

[2021-04-29 21:29] DavideD commented on #739
I wonder if this happens because of a bug in the Db2 client. But I haven't dedicated much time and you can test yourself and see that a broken SQL won't block the build. Until not when I've tried. Maybe you have somethiing different in mind?

[2021-04-29 21:45] gavinking commented on #739
Well that's what I'm getting at: I feel like it's more likely to be a bug in the driver) or possibly in our test suite infrastructure) than it is to be a bug in HR. But of course that's no more than speculation on my part.

[2021-04-30 08:21] #646 closed

[2021-04-30 09:10] Sanne commented on #721
Very interesting!

One additional thing that maybe you want to consider: very often Quarkus users are encouraged to create a "reproducer project" but in most cases this then ends up being something I have to re-adapt into a real integration test to be merged in Quarkus mainline.

I do wonder if we could structure our "reproducers" in such a way that it could be automatically promoted into a new in

[2021-04-30 10:20] maxandersen commented on #721
You can have the "main" class be basically a junit test runner that runs classes with @Test in it.

[2021-04-30 10:29] maxandersen commented on #721
Btw. If Properties / qute template is not enough / not working let me know. The init templates are new so if you find things missing I Can easily fix/release new jbang.

[2021-04-30 11:53] DavideD commented on #721
[Qute guide for reference](https://quarkus.io/guides/qute-reference)

[2021-04-30 12:06] DavideD commented on #669
I think this issues relates to #721

[2021-04-30 23:21] gbadner commented on #739
I'm seeing a timeout due to Vert.x throwing `NoClassDefFoundError` using 4.1.0-SNAPSHOT. I mentioned this in https://github.com/hibernate/hibernate-reactive/pull/741#issuecomment-830451644.

[2021-05-01 10:24] DavideD commented on #562
[Examples of releases file](https://github.com/hibernate/hibernate.org/commit/27c8b5f748da8c46cafc71cb73e2e0dabec8b286) to add to the website  are available in the commit history of the hibernate/hibernate.org project

[2021-05-03 07:21] yrodiere opened #742 "BatchFetchSize.PADDED for collections with a dedicated collection table"
Apparently it's not currently implemented: https://github.com/hibernate/hibernate-reactive/blob/380a4e3888e8340042e552e4ad8ec1db232f21a1/hibernate-reactive-core/src/main/java/org/hibernate/reactive/loader/collection/impl/ReactivePaddedBatchingCollectionInitializerBuilder.java#L35

If I set the batch fetch style to `PADDED`, the batch fetch size to `16`, and I have a collection table somewhere, sta

[2021-05-03 07:52] yrodiere commented on #742
Note this is preventing us from enabling batch fetching by default for Hibernate Reactive in Quarkus; I ended up enabling it by default for Hibernate ORM only: https://github.com/quarkusio/quarkus/pull/16926

[2021-05-03 08:20] gavinking commented on #742
It's working for other cases, right? (Many-to-one, one-to-many.)

[2021-05-03 08:21] gavinking commented on #742
Note: #443 is a related issue.

[2021-05-03 08:28] yrodiere commented on #742
From the comments, it seems this code path is taken when an association has a dedicated collection table.

In my case it was a one-to-many, but without a `mappedBy`, so it may have had a dedicated collection table (I don't remember how those are mapped exactly).

No idea about one-to-one.

[2021-05-03 08:37] gavinking commented on #742
Yep, I believe they result in an association table.

This isn't a huge surprise, since I implemented the batch fetch stuff before we had many-to-many support. So I think it just slipped through the cracks.

[2021-05-03 11:51] tsegismont opened #743 "MS SQL: failure when creating local temporary table"
Found the issue while running `UnionSubclassInheritanceTest` with MS SQL.

HR uses `ReactiveIdTableSupport` to generate SQL for creating local temporary table.

MS SQL expects local temporary table names to begin with a single hash sign:
https://docs.microsoft.com/en-us/sql/t-sql/statements/create-table-transact-sql#temporary-tables

[2021-05-03 12:04] gavinking commented on #743
Yeah it's because we're using `ReactiveBulkIdStrategy` instead of the thing returned by `AbstractTransactSQLDialect.getDefaultMultiTableBulkIdStrategy()`. It should be easy enough to fix. Don't worry too much about this for now.

[2021-05-03 12:10] tsegismont opened #744 "MS SQL: failure when inserting row if a column has a foreign key constraint"
There are many tests in the HR suite using parent/child data. For example: `EagerTest`.

With MS SQL, these tests fail with:

[code]

I suspect this is due to the column definition:

[code]

Perhaps it should be explicitly declared as `NULL`

[2021-05-03 12:18] gavinking commented on #744
I don't *think* so. I think there must be something else going on.

[2021-05-03 12:20] gavinking commented on #744
(Perhaps a table definition isn't being dropped correctly between tests?)

[2021-05-03 13:17] tsegismont commented on #744
If I run only `org.hibernate.reactive.EagerTest#testEagerCollectionFetch` on a fresh DB, I get:

[code]

The first warnings are expected I think, given the DB is empty. Then the test setup looks OK:

[code]

[2021-05-03 13:40] gavinking commented on #744
This is surely the real reason.

[2021-05-03 13:41] gavinking commented on #744
Oh, sorry, my bad, no, it's not the reason.

[2021-05-03 13:43] gavinking commented on #744
I really have no clue. I'm sure it's not the case that SQL Server foreign keys are `not null` by default, so there must be something else going on.

Have you tried executing the same SQL from the GUI client to check that what I'm saying is true.

[2021-05-03 13:52] tsegismont commented on #744
No. I will try that

[2021-05-03 14:11] tsegismont commented on #744
It works when I ran this from `sqlcmd`:

[code]

So you're right, it's not related to constraint definition.

[2021-05-03 15:47] gavinking commented on #743
@tsegismont it should be enough to change `ReactiveIdTableSupport. generateIdTableName ()` as follows:

[code]

[2021-05-03 16:54] blafond commented on #721
@maxanderson I'm able to **add** templates and **init** with them thx!

[2021-05-03 20:16] gbadner commented on #697
I've confirmed that after reverting [d76bb72](https://github.com/hibernate/hibernate-reactive/commit/d76bb7217e5580d1e387506ca332406bf3ec7768) locally, and running tests with Vert.x 4.1.0-SNAPHOT, all tests pass using DB2.

[2021-05-03 20:24] gavinking commented on #697
Ah, nice, thanks.

[2021-05-04 03:47] gbadner commented on #744
@tsegismont, when debugging `EagerTest` with a breakpoint on the `MSSQLException` constructor, I'm seeing a `MSSQLException`s with message "Incorrect syntax near '?'." getting created.

That exception seems to get eaten, and instead a `MSSQLException` with message "Statement(s) could not be prepared" gets thrown.

I'm also seeing the same sort of issue when debugging some other tests.

[2021-05-04 07:44] tsegismont commented on #743
@gavinking thanks for the tip. I went with something slightly different (to keep the `ht_` prefix) and also had to change the `getCreateIdTableCommand` method.

See https://github.com/tsegismont/hibernate-reactive/commit/84caabcefb4eb1a47e7e0c2d931584038d162393

[2021-05-04 07:50] tsegismont commented on #744
@gbadner you need the changes I shared in https://github.com/DavideD/hibernate-reactive/pull/13 (in particular, the `Parameters` class implementation for SQL Server)

[2021-05-04 13:52] gavinking commented on #743
Well I believe if you check Hibernate ORM (which we try to align with), it drops the `ht_` prefix in the case of SQL Server, because the temporary tables have their own namespace.

[2021-05-04 14:40] tsegismont commented on #743
@gavinking :+1: https://github.com/DavideD/hibernate-reactive/pull/13/commits/a52e8e3825dd360a3b3d267fed0b8ec0daed052f

[2021-05-04 18:41] gbadner commented on #698
@gavinking, I'm unclear about what is expected for this task. I have not worked on github workflows before so I have some newby questions about how to move forward.

I am currently working on a [branch](https://github.com/gbadner/hibernate-reactive/tree/698-vertx4.1) off of main.

I've cherry-picked @tsegismont's  [commit](https://github.com/tsegismont/hibernate-reactive/commit/a6abbc14b96031c7cdc

[2021-05-04 18:42] gavinking commented on #698
@gbadner well, me too.

You need to ask @DavideD, who I heard a rumor is on vacation or something.

[2021-05-04 18:54] gbadner commented on #698
I was trying not to bother Davide. I'll just wing it for now.

[2021-05-04 18:59] DavideD commented on #698
Yes, that was the idea. Evaluate if we can start building with it and then
add it it to the build on CI. If you check the Hibernate ORM one, we do the
same thing with Orm 5.4 and 5.5. Vertex should do a similar thing:
https://github.com/hibernate/hibernate-reactive/blob/380a4e3888e8340042e552e4ad8ec1db232f21a1/.github/workflows/tracking-orm-5.build.yml#L25

But if it's too soon, we can wait. It mi

[2021-05-04 19:43] gbadner commented on #698
@DavideD, thank you for that tip. I think I get it now!

[2021-05-04 23:12] gbadner commented on #560
This test still fails using 4.0.4-SNAPSHOT and 4.1.0-SNAPSHOT.

[2021-05-05 16:40] yaakov-berkovitch opened #745 "Failed to instantiate session factory when a many-to-many association is defined"
Hi,

I have many to many associations in my project and it looks that it causes a session factory failure during the initialization in a Junit test environment.
Dependencies:
- Hibernate Reactive version 1.0.0.CR3
- io.vertx:vertx-pg-client:4.0.3
- io.vertx:vertx-core:4.0.3
- Spring boot
- Junit
- Postgres
- Java-11

To reproduce  the issue I created a simple project with 2 entities: Employee and

[2021-05-05 17:00] gbadner commented on #742
@gavinking, I'm looking for a new task. Should I look into this one, or possibly https://github.com/hibernate/hibernate-reactive/issues/443?

[2021-05-05 20:37] blafond commented on #721
I'm looking at our hibernate-reactive [examples](https://github.com/hibernate/hibernate-reactive/tree/main/examples) which use the entity manager factory and `persistence.xml` and separate entity classes.  The tests chain multiple transactions by waiting `indefinitely`. All of our HR JUnit tests use chained `CompletionStage`'s as opposed to the single session transactions used in our `examples`.

[2021-05-05 20:48] gavinking commented on #721
I would suggest just doing the Simplest Thing That Could Possibly Work for now.

[2021-05-06 09:51] DavideD commented on #721
@blafond, here's your use case:
You are User and found this issue while using hibernate reactive in your
project : https://github.com/hibernate/hibernate-reactive/issues/702

You want to send us a reproducer without having to clone the whole
hibernate reactive project and without having to spend too much time on all
the scaffolding needed to create a brand new project. Ideally, with jbang,
you cou

[2021-05-06 10:20] DavideD commented on #721
Just to clarify, the issue was found using quarkus, but the reproducer
should only use hibernate reactive

On Thu, 6 May 2021, 10:51 Davide D'Alto, ***@***.***> wrote:

[2021-05-06 11:40] yaakov-berkovitch commented on #745
Ok. Forget it you fix it in 1.0.0.CR4.

[2021-05-06 11:40] #745 closed

[2021-05-06 16:26] gbadner commented on #721
@blafond, invariably, there will be bugs integrating with HR. For example, suppose Quarkus passes arguments to HR in the wrong order. This is not a use case that you need to be concerned about here. Integration bugs will need to be reproduced in some other way.

One way to make it easy for us to add a user's reproducer to a unit test is to have the template somehow extend `BaseReactiveTest`, so al

[2021-05-07 08:57] yaakov-berkovitch opened #746 "Failed on createQuery with exception java.lang.NoSuchMethodError: org/hibernate/query/internal/QueryImpl.<init>"
Hi,

I just move to release candidate 4 (1.0.0.CR4), and the same simple query that was working with 1.0.0.CR3 failed now with the following exception:
[code]

The code looks like:
[code]
Dependencies:
- Hibernate Reactive version 1.0.0.CR4
- io.vertx:vertx-pg-client:4.0.3
- io.vertx:vertx-core:4.0.3
- Spring boot
- Junit
- Postgres
- Java-11
-

[2021-05-07 10:54] DavideD commented on #746
Hibernate Reactive 1.0.0.CR4 won’t work with versions of Hibernate ORM
older than 5.4.31.Final.

Sorry for the inconvenience.

On Fri, 7 May 2021, 09:57 yberkov, ***@***.***> wrote:

[2021-05-07 10:57] DavideD commented on #746
The release post contains a couple more details about it:
https://in.relation.to/2021/04/30/hibernate-reactive-1_0_0_CR4/

On Fri, 7 May 2021, 11:54 Davide D'Alto, ***@***.***> wrote:

[2021-05-07 12:26] gavinking commented on #746
It's a bother for sure, but in general HR is always going to be pretty tightly coupled to core, so I think we're just going to have to live with this sort of problem.

[2021-05-07 12:26] #746 closed

[2021-05-07 12:48] yaakov-berkovitch commented on #746
Thanks. I will adjust the dependencies. BTW, till now I didn't put it in my gradle file because I supposed that the Hibernate reactive depends on the correct Hibernate ORM, but it seems that it's not the case.
Thanks.

[2021-05-07 13:00] gavinking commented on #746
@yaakov-berkovitch not quite sure what you mean. The dependency info looks correct here:

https://mvnrepository.com/artifact/org.hibernate.reactive/hibernate-reactive-core/1.0.0.CR4

[2021-05-10 15:01] DavideD opened #748 "Upgrade to Mutiny 0.17"

[2021-05-10 15:01] DavideD commented on #748
Done

[2021-05-10 15:01] #748 closed

[2021-05-10 16:59] #698 closed

[2021-05-12 07:14] yaakov-berkovitch opened #750 "openSession() return error "This needs to be run on the Vert.x event loop""
Hi,

till now Vertx was simply hidden from me while using Hibernate reactive API (1.0.0.CR4). But I have to expose an API to return a session that will be kept open until the client that use this API will decide to close it.
I'm running a Junit test, and I have the following API :
[code]
And in my junit test:
`        Stage.Session session = deviceRepository.openSession();
`
When I run the code I

[2021-05-12 08:04] DavideD opened #751 "Describe the VertxInstance service in the documentation"
The [VertxInstace class](https://github.com/hibernate/hibernate-reactive/blob/main/hibernate-reactive-core/src/main/java/org/hibernate/reactive/vertx/VertxInstance.java) is quite critical when using Hibernate Reactive.

We don't mention it anywhere in the documentation.
We should explain what it does and how to use it.

[2021-05-12 09:18] DavideD commented on #750
Hi,
the problem with the session is that it's not thread-safe, using it in different threads may cause issues that are hard to debug. Also, when a new session is created is bound to a Vert.x context and needs to be used in the same context after that.

This is normally taken  care of by Hibernate Reactive when one uses the `SessionFactory#withTransaction` and `SessionFactory#withSession`.

Your te

[2021-05-12 09:57] gavinking commented on #750
You should add what you just wrote as a FAQ to the website or wherever.

[2021-05-12 10:53] DavideD commented on #750
Yes, I will

[2021-05-12 12:36] DavideD commented on #751
Here's some of the information that we need to include: https://github.com/hibernate/hibernate-reactive/issues/750
We should also add them in a FAQ section in the site.

[2021-05-12 12:37] yaakov-berkovitch commented on #750
@DavideD Very appreciate your explanation. Thanks.

[2021-05-12 12:38] DavideD commented on #750
I've created an issue for keeping track of these changes to the documentation/website: https://github.com/hibernate/hibernate-reactive/issues/751

I'm going to close this issue. Feel free to ask more questions is something else is not clear.

Thank you.

[2021-05-12 12:44] #750 closed

[2021-05-12 12:47] DavideD commented on #744
I'm going to create a branch upstream to keep track of the progress with sql server, so that I can rebase it to the latest main and we can have a reference branch with all changes.

[2021-05-12 12:50] DavideD opened #752 "Delete upstream branch `vert.x-4`"
https://github.com/hibernate/hibernate-reactive/tree/vert.x-4

Is that ok? I don't see any reason to keep it now that the main branch has been upgraded to Vert.x 4.x.

But I prefer to check in case I'm missing something.

[2021-05-12 17:13] yaakov-berkovitch opened #753 "@Id Generate not incremented correctly when using our own sequence generator name"
Hi,

I have a strange behavior (not correct) when using my own @Id generator sequence, let's say objects_id_seq. See below:
[code]
When I persist a list of entities entity with the above declaration, I failed to insert objects because of duplicated key value:
`Caught exception - exception = javax.persistence.PersistenceException: org.hibernate.HibernateException: io.vertx.pgclient.PgException: { "

[2021-05-12 17:15] gavinking commented on #753
Which version are you using? Because there were some recent bugfixes in that area.

[2021-05-12 17:16] yaakov-berkovitch commented on #753
1.0.0.CR4

[2021-05-12 17:20] gavinking commented on #753
That's not surprising, by the way, since by default it uses blocking (hi/lo).

OK, so you should already have the fix.

Well then could you please send us a (simple) isolated test case that reproduced the failure? Thanks.

[2021-05-12 17:31] yaakov-berkovitch commented on #753
[
[sequence-issue.zip](https://github.com/hibernate/hibernate-reactive/files/6468038/sequence-issue.zip)
](url)
You can use the test, just edit the persistence.xml :-)

[2021-05-12 19:57] gavinking commented on #753
Well for me the test just hangs on the first SQL call. It never gets as far as executing an `insert`.

[2021-05-13 05:19] yaakov-berkovitch commented on #753
Really !? Did you create the sequence manually, because I forgot to include the "create sequence hibernate_seq" in the init-schema.sql script. I think that's the reason it hangs.
Else I don't see any reason for hanging.

[2021-05-13 08:56] yaakov-berkovitch opened #754 "Multitenancy support"
Hi,

according to the documentation, to add support for multitenancy, the following must be done:
1. define your own implementation of ReactiveConnectionPool or extend DefaultSqlClientPool and override getTenantPool(String tenantId).
2. a class which implements CurrentTenantIdentifierResolver
3. multitenancy strategy: database or schema

So, regarding (1), as you recommend, I tried to extend the D

[2021-05-13 09:02] gavinking commented on #754
Errrm ... @Sanne?

This issue might have slipped through the cracks, since I worked on multitenancy, and then much later Sanne did the `ThreadLocalPoolManager`.

[2021-05-13 14:36] gavinking commented on #753
I added `create sequence objects_id_seq;` to `init_schema.sql`, but the test still just hangs.

[2021-05-13 14:36] Sanne commented on #754
I coincidentally just started looking at vertx 4.1 and its new pool, with the plan of removing our `ThreadLocalPoolManager` so I guess that will help.

To prevent such regressions we need to add a test covering Multitenancy though.

[2021-05-13 14:39] gavinking commented on #754
Well, there _is_ a test (`ReactiveMultitenantTest`), but I guess it just doesn't touch whatever is causing _this_ problem.

[2021-05-13 14:44] DavideD commented on #753
Yes, I've tired it as well and I don't think is related.

[2021-05-13 15:47] yaakov-berkovitch commented on #753
@DavideD you tried to persist a list of entities, right ?
And how it can stuck ?! There is no logic, only persist entities.
Strange. I run it several time, and only when I use the default hibernate sequence it works.

I provide you the output of the runs with and without my own sequence.
Sorry for the long output.

This is the output when using my own sequence:

[code]

And this the output while u

[2021-05-13 17:37] gavinking commented on #753
Wait, could this whole problem just be because you're creating your own sequence (instead of letting Hibernate generate the DDL) with a mismatched increment?

For the mapping you've given us, the sequence should be created with:

    create sequence objects_id_seq start 1 increment 50

Or if not you should change the mapping to specify `@SequenceGenerator(name = "objects_id_seq", sequenceName = "o

[2021-05-13 17:39] gavinking commented on #753
OK, when I created the sequence with:

    create sequence objects_id_seq start 1 increment 50;

The test runs (does not hang) and completes successfully.

I strongly suspect that this was the issue.

[2021-05-13 17:45] gavinking commented on #753
Wait, WTH, I might be misunderstanding. @yaakov-berkovitch does your test not create its own database schema?!

[2021-05-13 17:56] gavinking commented on #753
Look, there were a couple of big problems with your test code:

1. You were catching and swallowing errors and returning null, instead of letting errors propagate out so we could see them.
2. Your test code wasn't exporting its database (it never ran `init-schema.sql`).
3. The `init-schema.sql` file didn't create the database sequence.

Now, after fixing those issues, the test actually runs perfec

[2021-05-13 17:56] #753 closed

[2021-05-14 06:28] yaakov-berkovitch commented on #753
Again very appreciate your help and time you burnt, and sorry for the confusion I caused. After applying your advise about how to fix the failure, it works also for me.
Thanks.

[2021-05-14 06:32] DavideD commented on #754
I will have a look

[2021-05-14 06:36] yaakov-berkovitch commented on #754
I also looked at this test, but it is not testing multitenancy . The custom pool (as shown below) you implemented in your test is not creating different pool per tenant:
[code]

[2021-05-14 06:44] DavideD commented on #754
Yeah... It's a very simple test

[2021-05-17 08:12] #754 closed

[2021-05-17 12:50] DavideD opened #758 "Session#isOpen is true after closing the session"

[2021-05-17 14:09] DavideD commented on #721
@maxandersen @gavinking What was the problem with JBang and testcontainers? It seems to work fine to me:
[code]

[2021-05-17 14:11] maxandersen commented on #721
Yes if you set it up manually it works. Issue is it won't work by just setting the jdbc or similar url.

[2021-05-17 14:11] gavinking commented on #721
The problem is with the use of JDBC URLs containing `tc:`.

[2021-05-17 14:17] DavideD commented on #721
Ah, I remember now. We still have this issue open: https://github.com/hibernate/hibernate-reactive/issues/468

[2021-05-17 15:27] #758 closed

[2021-05-18 16:15] DavideD opened #764 "Multitenancy fails without CurrentTenantIdentifierResolver"

[2021-05-18 16:57] DavideD opened #766 "Support multitenancy for the stateless session"
Currently, it's not possible to specify the tenant for the stateless session (not sure about using a `CurrentTenantIdentifierResolver`).

[2021-05-19 09:34] #764 closed

[2021-05-19 15:09] yaakov-berkovitch opened #772 "Question: in which scenario io.vertx.core.VertxException: Transaction already completed may occurred ?"
Hi,

I have some logic to implement in the business layer, and this must be in a transactional scope. In the reactive flow, I have some logics that is implemented in methods that get the session as parameter.

For some reason,  in the reactive flow, after the first business logic method did its work (saveAll), then it looks that the transaction is not open anymore for the next operation.

The flow

[2021-05-19 15:44] DavideD commented on #772
What's happening in `saveAll`?

[2021-05-19 15:50] yaakov-berkovitch commented on #772
[code]

[2021-05-19 16:08] DavideD commented on #772
What makes you say that? Is there an exception? Something doesn't work?

[2021-05-19 16:09] DavideD commented on #772
If you could create a small test case, it would be really helpful

[2021-05-19 16:23] yaakov-berkovitch commented on #772
Forget it, the code i sent you works. What i tested was:
[code]
I just replaced the "thenApply"  by "thenCompose" and it works now.
Does it make sense for you?

[2021-05-19 18:10] DavideD commented on #772
The `thenApply` will wrap the result of the `saveAllEmployee` in an additional `CompletionStage`. What's returning is a completed `CompletionStage<CompletionStage<>>`.
So the following `.thenApply(v2 -> employees)` will be applied immediately, even if `saveAllEmployee` hasn't been executed yet.
 This causes the `withTransaction` block to terminate and commit the transaction before `saveAllEmployee

[2021-05-19 18:10] #772 closed

[2021-05-20 05:31] yaakov-berkovitch commented on #772
Thanks for the explanation, it gave me better understanding.

[2021-05-20 09:43] DavideD commented on #721
I think we have good starting point now and we can improve on it later.
In particular, when we have a solution for #468

[2021-05-20 09:43] #721 closed

[2021-05-20 09:47] DavideD opened #773 "Test the JBang files on CI"
Follows issue #721

[2021-05-20 09:48] DavideD commented on #766
@blafond Would you take this one, please?

[2021-05-20 11:05] DavideD opened #774 "Test with Cockroach v21.1"
https://www.cockroachlabs.com/docs/releases/v21.1.0

[2021-05-20 17:18] DavideD opened #775 "Infinite recursion calls in ReactiveBatchingEntityLoader#load"
See https://github.com/hibernate/hibernate-reactive/blob/c91dd01e7a1d779c270b08f411606c2d5f1dd3f6/hibernate-reactive-core/src/main/java/org/hibernate/reactive/loader/entity/impl/ReactiveBatchingEntityLoader.java#L57

[2021-05-20 18:01] yaakov-berkovitch opened #777 "Enhancement - Integration with spring @Transactional annotation"
Hi,

we are on the ongoing evaluation of hibernate reactive to replace our current software software composed of postgres-db+spring boot+spring data+r2dbc. We faced a lot of limitation using r2dbc and we wanted to reuse the large knowledge we already have around Hibernate.
We almost refactored a full micro-service, re-write our own spring-data (generic repository) and it looks really good.

One of

[2021-05-20 19:01] gavinking commented on #777
Well I suppose that Spring has some sort of interceptor concept where you could use annotations to bind an interceptor to a bean method call. If you call `withTransaction()` from within an interceptor like that, and then delegate to the bean method, that's all declarative transaction management is. Really it should be only a few lines of code. (At least it would be in CDI, I'm less sure about spri

[2021-05-20 19:03] gavinking commented on #777
(OTOH if you're asking about how to integrate with with an XA transaction manager, well, that's a whole different can of worms, and is not really practical with the reactive driver right now. We don't yet have any truly reactive transaction managers.)

[2021-05-20 19:20] yaakov-berkovitch commented on #777
Right now, we have no need for distributed transaction

[2021-05-20 19:28] gavinking commented on #777
Then an interceptor that calls `SessionFactory.withTransaction()` should work fine.

[2021-05-21 07:48] yaakov-berkovitch commented on #777
Will try this way and update. thanks

[2021-05-21 08:34] yaakov-berkovitch commented on #777
@gavinking it looks that Spring implements the @Transactional using Aspect. It is not really so important, but it may be also simpler for us to implement.
But I think we cannot do it only if you expose an API for openTransaction() commitTransaction() and rollbackTransaction() in the Stage class, as we have a openSession() and closeSession() API. I think the transaction object is needed, and the wi

[2021-05-21 09:21] gavinking commented on #777
There should be some sort of notion of an "around" interceptor which lets you wrap and forward to the method.

(It's true that you can't do it with before/after interceptors.)

[2021-05-21 09:24] DavideD commented on #777
I think is this one: https://howtodoinjava.com/spring-aop/aspectj-around-annotation-example/

[2021-05-21 11:34] #775 closed

[2021-05-21 11:36] DavideD commented on #775
The error was hidden because we override the method in both classes extending the abstract class.
Nevertheless, not a great default implementation.

[2021-05-21 12:36] yaakov-berkovitch commented on #777
@gavinking can you please elaborate about what you wrote before "In our stack that would be done using MP Contexts." to check if a transaction is already bound in the current stream? Can you refer to code, or tests that was written. Same for session, how can I understand that a session is already open in the current stream.
Thanks.

[2021-05-21 12:38] gavinking commented on #777
Look, I have no idea how you do that in Spring. You need some sort of construct that is sorta like a threadlocal, but a local bound to the current reactive stream instead of the thread. I'm sure they must have something.

[2021-05-21 12:49] yaakov-berkovitch commented on #777
I'm currently not going to use spring @Transactional but implement our own transactional annotation to avoid getting too much deeper into Spring. So my previous question was related to your sentence "In our stack that would be done using MP Contexts".

[2021-05-21 13:26] gavinking commented on #777
"our stack" == Quarkus.

I'm saying you have to find something similar in the Spring environment.

Because if you can't bind a value to the current reactive stream, the you can't have declarative transactions, simple as that, and you'll just have to manage transactions "manually". (Which is actually super-simple by just calling `withTransaction()`. I really don't get why people think they need an

[2021-05-21 13:52] gavinking commented on #777
It might be this thing, but I really don't know https://projectreactor.io/docs/core/3.4.0-M1/api/index.html?reactor/util/context/Context.html

[2021-05-21 14:05] DavideD commented on #777
Maybe this? https://www.baeldung.com/spring-transaction-active

[2021-05-22 16:47] DavideD opened #780 "Wrong driver selected when there is more than one dependency on the class path"
With both `io.vertx:vertx-mysql-client` and `io.vertx:vertx-db2-client` on the classpath and set url: `jdbc:mysql://localhost:3306/hreact?user=hreact&password=hreact&serverTimezone=UTC`

Hibernate Reactive will select the DB2 driver instead of the MYSQL one.

The error might not occurs if the driver are discovered in the right order

[2021-05-23 10:35] gavinking opened #782 "withTransaction() + withSession() should join the existing Transaction / Session"
- If there is already a transaction associated with the session, `withTransaction()` should just join it.
- If there is already a session associated with the current reactive stream and `SessionFactory`, then `withSession()` should just give you that one.

In the initial implementation this is backed by the Vert.x `Context` map. But we could abstract this and make it possible to plug in different

[2021-05-23 10:39] gavinking commented on #777
Closing: superseded by #782.

@yaakov-berkovitch with the stuff I'm putting into place with #779 it should be even easier for you to implement this.

[2021-05-23 10:39] #777 closed

[2021-05-23 10:46] gavinking opened #783 "sessions opened with Stage.SessionFactory.withSession() are never closed"
This is fallout from the migration to Vert.x 4.

This code doesn't work:

[code]

Because `whenComplete()` just throws away the `CompletionStage`.

This was driving me *nuts* because for what seems like pure damn *chance*, the tests weren't failing on main, but when I made a teensy unrelated change they started hanging. Took me ages to figure it out.

So we're going to have to do a new release to

[2021-05-23 10:46] gavinking commented on #783
Note that it's fixed in #779.

[2021-05-23 10:57] gavinking commented on #782
By the way: some might object that `factory.withTransaction()` is more difficult to type than `@Transactional`. But one problem with `@Transactional` is that these are always *resource-local* transactions. And so if you have multiple resources, the `@Transactional` annotation just doesn't work well.

[2021-05-23 12:01] yaakov-berkovitch commented on #777
@gavinking Thanks!!

[2021-05-24 10:49] #782 closed

[2021-05-24 10:49] #783 closed

[2021-05-24 11:15] #780 closed

[2021-05-24 12:06] DavideD opened #792 "Upgrade to Hibernate ORM 5.4.32.Final"

[2021-05-24 13:07] DavideD commented on #792
Done

[2021-05-24 13:07] #792 closed

[2021-05-24 18:39] gavinking commented on #751
Might be worth mentioning the new `Context` interface too, which has some sort-of useful operations, like `execute()`.

[2021-05-24 18:43] gavinking commented on #744
@tsegismont what is the status of this?

(Whatever the problem is, I don't think the issue description captures it.)

[2021-05-24 18:44] gavinking commented on #743
@tsegismont can we close this one?

[2021-05-25 07:42] maxandersen commented on #721
is there a reason you don't have that jbang script available as a template so you can do

`jbang init -t testcase@hibernate/hibernate-reactive mytest.java` ?

[2021-05-25 09:29] DavideD commented on #721
No, not really, mainly because I'm still tweaking it and I find it easier to work when it's not a template.

But  I'm not sure I understand the syntax you are using. What's `testcase@hibernate/hibernate-reactive`?  Is it something that's been added to the catalog via `jbang template add ...` or does it refer to something else?

Would it be possible to refer to a github repository as the location o

[2021-05-25 09:29] tsegismont commented on #744
@gavinking I haven't been able to investigate yet

[2021-05-25 09:32] tsegismont commented on #743
I shared some changes in a [PR](https://github.com/DavideD/hibernate-reactive/pull/13) to @DavideD 's fork.

If these changes have been cherry-picked here then yes the issue can be closed.

[2021-05-25 09:39] DavideD commented on #743
Thanks @tsegismont,  I will have a look at this today

[2021-05-25 09:43] #774 closed

[2021-05-25 09:48] gavinking commented on #678
You could put it in the FAQ, I suppose, but really this would belong in the ORM documentation if anywhere. I don't think we need to mention it in the HR docs.

I think we should close this issue.

[2021-05-25 09:54] DavideD commented on #678
OK, let's close it

[2021-05-25 09:54] #678 closed

[2021-05-25 09:56] gavinking commented on #673
I just tried reenabling that test on DB2 and I now get a different error:

[code]

[2021-05-25 10:00] DavideD commented on #673
This will be fixed with Vert.x 4.1 (I think)

[2021-05-25 10:02] gavinking commented on #673
Ah, OK, the new error is the same one as described in #697.

So I think we should close this issue.

[2021-05-25 10:02] DavideD opened #799 "Upgrade to Vert.x 4.1"
Vert.x just released version 4.1.0.CR1.

This will bring us the improved thread pool management and the fix for the index  out of bound errors with DB2

[2021-05-25 10:03] gavinking commented on #697
Note that this issue affects both `EagerOneToOneAssociationTest` and `EagerElementCollectionForBasicTypeListTest`. (And possibly two others.)

[2021-05-25 10:04] DavideD commented on #673
I will upgrade vert.x and check those issues as part of https://github.com/hibernate/hibernate-reactive/issues/799

[2021-05-25 10:05] gavinking commented on #697
Note also that this appears to be the underlying cause of #739.

[2021-05-25 10:06] gavinking commented on #673
What I'm saying is that the original reported error is now gone, and this test is now failing due to the same cause as #697. So this issue can be closed.

[2021-05-25 10:24] gavinking commented on #739
I've now confirmed this.

We are never receiving this exception, which gets swallowed somewhere deep inside Vert.x.

I think we should close this issue: we don't need to have an issue open against HR for every bug in the Vert.x driver.

(In this case, we currently have *three* issues open against HR for *one* bug in the Vert.x DB2 driver. That's excessive.)

[2021-05-25 10:24] #739 closed

[2021-05-25 10:25] #673 closed

[2021-05-25 11:53] tsegismont commented on #744
@gavinking I have found that changing the dialect implementation resolves the issue:

[code]

I don't know why but it seems the server creates non-nullable columns if not explicitly specified as nullable (like Sybase).

Does that ring a bell?

[2021-05-25 12:03] #697 closed

[2021-05-25 12:03] #799 closed

[2021-05-25 12:04] gavinking commented on #744
I mean, that dialect is the one used in Hibernate ORM for years and years, so it's hard to see how it could be wrong (unless the SQL server JDBC drivers do something weird).

[2021-05-25 12:08] gavinking commented on #744
Here's something I found <https://social.msdn.microsoft.com/Forums/sqlserver/en-US/16c39868-96b1-457c-a3a5-f291ba75d635/whether-a-column-is-nullable-by-default>

It seems there are some settings that can affect this behavior. But they're supposed to do the right thing by default.

[2021-05-25 12:10] gavinking commented on #744
Perhaps you should try doing that.

[2021-05-25 13:35] gavinking opened #803 "adapt to new pool config options in Vert.x 4.1"
See #802.

[2021-05-25 13:40] gavinking commented on #513
@Sanne isn't this done now? We can close it, right?

[2021-05-25 14:11] Sanne commented on #513
right! thanks

[2021-05-25 14:11] #513 closed

[2021-05-25 14:30] DavideD commented on #255
I've created a new branch on hibernate/hibernate reactive: https://github.com/hibernate/hibernate-reactive/tree/wip/mssql

@tsegismont We can use that one from now. Please, let me know if somethingis missing or I did something wrong.
Thanks

[2021-05-25 15:02] tsegismont commented on #255
@DavideD I can't see any commit missing :+1:

[2021-05-25 15:15] gavinking commented on #743
Thanks guys.

[2021-05-25 15:15] #743 closed

[2021-05-25 15:15] #803 closed

[2021-05-25 15:20] DavideD commented on #752
Done

[2021-05-25 15:20] #752 closed

[2021-05-25 19:25] maxandersen commented on #721
testcase is the template name found in jbang-catalog.

hibernate/hibernate-reactive maps to github.com/hibernate/hibernate-reactive.

so that is the github repository location.

[2021-05-25 21:19] DavideD commented on #721
Ah nice! I will try it

[2021-05-26 01:22] gbadner commented on #536
@gavinking, I am able to query sequence metadata using PostgreSQL, but the results are not processed properly.

Hibernate ORM uses [SequenceInformationExtractorLegacyImpl](https://github.com/hibernate/hibernate-orm/blob/5.4/hibernate-core/src/main/java/org/hibernate/tool/schema/extract/internal/SequenceInformationExtractorLegacyImpl.java) to process the metadata. It uses `ResultSet#getLong` to get

[2021-05-26 05:13] gavinking commented on #536
How are those columns defined in the database schema itself?

[2021-05-26 05:40] gavinking commented on #536
Oh, I see, it's the schema itself that's wrong:

[code]

[2021-05-26 05:50] gavinking commented on #536
So I know the Vert.x guys don't want to do type conversions in the driver, so we need to do the conversion at a higher level. So I guess either subclass `ResultSetAdaptor` or `SequenceInformationExtractor`. I'm not sure which is more convenient.

[2021-05-26 09:52] tsegismont commented on #744
@gavinking this didn't have any effect.

I filed https://github.com/eclipse-vertx/vertx-sql-client/issues/963 to track the issue upstream.

Feel free to close this one. Otherwise, we can close it later when the upstream issue is resolved.

[2021-05-26 10:14] gavinking commented on #744
OK thanks. I don't think the issue belongs here, so I'm closing this one.

[2021-05-26 10:14] #744 closed

[2021-05-26 10:16] gavinking opened #806 "StatelessSession.createNamedQuery()"
Apparently I missed adding `createNamedQuery()` to `StatelessSession`

[2021-05-26 10:21] gavinking opened #807 "withStatelessTransaction()"
I hate the name, but I think it's best to have the same convenience method for stateless sessions.

[2021-05-26 17:40] gbadner commented on #536
@gavinking, thanks for the feedback. I think, for now, that I will subclass `ResultSetAdaptor` to see what all is needed for the various dialects, then I'll see which is more convenient.

[2021-05-26 18:02] gavinking commented on #660
So this has now been done here: <https://github.com/vertx-howtos/hibernate-reactive-howto> by @jponge, so I guess I can close this one.

[2021-05-26 18:02] #660 closed

[2021-05-27 09:06] DavideD opened #811 "withSession doesn't close the session in case of exception"
@gavinking shouldn't we close the session if an exception occurs?

Example:
[code]

[2021-05-27 09:14] #806 closed

[2021-05-27 09:15] gavinking commented on #465
I investigated this and there doesn't seem to be a problem (anymore?).

[2021-05-27 09:15] #465 closed

[2021-05-27 09:16] gavinking commented on #811
Absolutely!

[2021-05-27 09:19] DavideD commented on #811
Working on it

[2021-05-27 16:04] DavideD opened #815 "Upgrade to Vert.x 4.1.0.CR2"

[2021-05-27 16:16] #815 closed

[2021-05-27 17:32] #811 closed

[2021-06-01 08:21] DavideD opened #822 "Upgrade ascii-doctor-plugin"
Latest version for 1.5.x is 1.5.12 at the moment.

The reason I'm creating a separate issue for this is that we need to compare the generated documentation to make sure that nothing critical as changed and it requires a bit more work than the other plugin.

Note that  [the actual latest of the plugin is 3.x](https://asciidoctor.github.io/asciidoctor-gradle-plugin/development-3.x/user-guide/): but

[2021-06-01 15:43] DavideD commented on #807
Maybe `withStatelessAndTransaction` is less puzzling?

[2021-06-01 15:58] DavideD opened #829 "Upgrade to ORM 5.5.0.Final"

[2021-06-01 16:23] #829 closed

[2021-06-01 16:26] #766 closed

[2021-06-03 19:49] #807 closed

[2021-06-03 20:38] blafond commented on #696
FWIW

When I run locally with standard out all 4 tests (Stage & Mutiny) log:

[code]

[2021-06-03 20:49] gavinking commented on #696
Interesting. We need to figure out why.

[2021-06-04 05:44] DavideD commented on #696
Yes, that's exactly what the test is supposed to do.

[2021-06-04 05:47] DavideD commented on #696
I suppose we should also check the stateless session, though

[2021-06-04 08:10] DavideD opened #836 "Improve performance of CompletionStages.loop"
* Remove the `AtomicInteger`s
* Avoid use of InStream
* Avoid casting arrays to streams
* Don't chain unnecessary `CompletionStage`s

[2021-06-04 13:38] #740 closed

[2021-06-04 13:42] DavideD commented on #740
Thanks!

[2021-06-04 16:00] gwenneg commented on #750
@DavideD Is it possible to use the following code you mentioned earlier with JUnit 5?

[code]

[2021-06-04 16:40] DavideD commented on #750
Yes, that code is Vert.x, not JUnit.

But t[here is not an equivalent extension](https://github.com/vert-x3/vertx-junit5/issues/100#issuecomment-853747368) for JUnit 5 of:
[code]

[2021-06-06 21:30] DavideD opened #843 "Handle Null parameters the right way with Vert.x SQL client"
Based [on this comment](https://github.com/eclipse-vertx/vertx-sql-client/pull/970#issuecomment-854460745),  it seems that we are  not handling nul values the right way:.

See https://vertx.io/docs/vertx-mssql-client/java/#_handling_null

[2021-06-06 21:50] gavinking commented on #843
Yeah, but frankly I'm a bit confused by that comment. I mean, none of the other Vert.x clients seem to require this, nor do they have that section in the documentation. So why is this a requirement of the SQL Server client?

[2021-06-06 21:55] DavideD commented on #843
I have no idea yet. This issue is mostly a reminder for us (mostly me maybe) to check what's going on.

[2021-06-07 07:00] #836 closed

[2021-06-07 09:19] gavinking commented on #843
Well if it's necessary I guess it's easy enough to stick an object with a JDBC type code in the map of bound parameter values, and then translate it to whatever the SQL Server client needs.

[2021-06-07 09:56] gavinking commented on #843
On it.

[2021-06-07 17:54] arifpratama398 opened #846 "Vert.X hibernate reactive stage setup example"
Hello guys, can you tell me where i can get example to setup vertx web with hibernate-reactive using Stage mode ?

I just could found this example which using Mutiny :
https://how-to.vertx.io/hibernate-reactive-howto/

Thanks in advance.

[2021-06-08 01:30] sloppycoder opened #847 "Is Oracle support on the roadmap?"
Oracle is still very popular in large companies and it would encourage the adoption if such support is available

[2021-06-08 07:16] #843 closed

[2021-06-08 07:45] DavideD opened #849 "Should we support the vertx-jdbc-client?"
See https://vertx.io/docs/vertx-jdbc-client/java/

This way people could use a JDBC Driver to connect to databases without a Vert.x SQL client.

@gavinking?

[2021-06-08 07:57] DavideD commented on #847
This is probably a question for the Vert.x SQL client team: https://github.com/eclipse-vertx/vertx-sql-client

In theory, it's possible to use a different reactive driver with Hibernate Reactive but we haven't tried it yet and, for now at least, we are adding support to new databases as soon as a new Vert.x SQL client is available.

[2021-06-08 09:19] gavinking commented on #849
Um, I mean, if it's *easy* then I don't see why not, but its not something I would spend *time* on.

Is the API actually that similar? I had assumed it was different.

[2021-06-08 09:28] DavideD commented on #849
I haven't checked but it extends the same Pool class as the others.

[2021-06-08 09:29] DavideD commented on #849
I will have a better look when I have some time

[2021-06-08 09:32] gavinking commented on #849
Oh OK, I did not know that. Well, then, it might be easy.

(Dunno if we can do it without confusing users who already assume that Hibernate Reactive is based on JDBC though.)

[2021-06-08 09:40] DavideD commented on #849
Yeah, that would be the drawback

[2021-06-08 10:18] DavideD commented on #255
I'm going to rebase the `wip/mssql`  branch to the latest changes and have a look at some of the tests to see if we can make them work for now. Let me know if somebody is already working on this.

[2021-06-08 10:39] DavideD commented on #255
Done.
I've disabled [BatchQueryConnectionTest](https://github.com/DavideD/hibernate-reactive/commit/c4591f137b089374cb1611ded952938514097df6) because it blocks the build and it seems batching is not supported at the moment

[2021-06-08 15:15] blafond commented on #822
Upgrading to `1.5.8` works fine.  Generated docs looks identical.

Upgrading to `1.5.12' causes an exception which requires making `Version` class Serializable.  The impact of doing that pulls in an older 2.4.15 version of `org.codehaus.groovy` which is known for throwing a WARNING exception.

[code]
This exception prevents the asciidoc HTML to be generated.  Javadocs are unaffected.

Might be mor

[2021-06-09 03:21] arifpratama398 commented on #846
Thanks for the explanation,
previously I thought of using stage mode and vertx to reduce third party dependencies,
besides I'm not familiar with mutiny, and I had some doubts to use this library. Is it stable and have good community for discussion?

Iam sorry for opening insignificant case in issue, next time i will use forums instead.

[2021-06-09 06:36] DavideD commented on #846
Yes, Mutiny is pretty stable. and they ussually answer to question quite quickly You can find the website with all the details about the community here: https://smallrye.io/smallrye-mutiny/

Anyway, there's nothing wrong in using the CompletionStage API, I  just find the Mutiny helps you write cleaner code.
I will try to create an example that uses CompletionStage this week but, in the meanwhile,

[2021-06-11 10:16] gavinking commented on #847
Now that SQL Server is almost done, I guess Oracle would be next on the list.

[2021-06-11 10:16] #847 closed

[2021-06-11 10:21] gavinking commented on #846
I'm not sure there's a really strong need for a separate example showing Vert.x and `CompletionStage`, simply because the examples would be *so* similar. And I agree that Mutiny is a much more comfortable API for use with HR. But I guess if you want to do it, it's probably not much work. I don't think I would bother.

[2021-06-11 10:41] DavideD commented on #846
I've created this [JBang](https://www.jbang.dev/) alias of the example that doesn't use Mutiny: https://github.com/DavideD/jbang-rep/blob/main/StageVerticle.java

Once you have installed JBang, you can run it with:
[code]

And you can open it in your ide (IDEA for example) with:
[code]
(Even if you are not familiar with JBang, as long as you copy this class in a new project and add the dependencie

[2021-06-11 10:42] DavideD commented on #846
I'm closing this issue but let me know if you have further questions.

[2021-06-11 10:42] #846 closed

[2021-06-11 10:43] DavideD commented on #849
Alright, let's close it.

[2021-06-11 10:43] #849 closed

[2021-06-11 11:58] arifpratama398 commented on #846
Thanks to @DavideD and @gavinking, I have read and tried the example you gave, and it works. Sure i will try to use Mutiny, i just found out it provides some developer experiences than Stage API, i think. It's just that sometimes I have to be bound by policy to choose Stage or Mutiny.

Regards

[2021-06-11 14:54] DavideD commented on #846
@arifpratama398 I've noticed a couple of errors in the example. I wasn't completing all the promises and I was creating the factory twice.  I've updated it. If you are using jbang, make sure to run it with `jbang --fresh stage-verticle@DavideD/jbang-rep `.

Also, the original example never closes the factory, but I've added it to the stop method.
@gavinking There should be a factory close when the

[2021-06-11 15:00] gavinking commented on #846
Probably.

[2021-06-11 15:08] DavideD commented on #846
I suppose that in this case it doesn't make any difference, but it's something to keep in mind for real applications.

[2021-06-14 05:41] pqab opened #856 "hibernate.jdbc.time_zone unsupported on TIME columns"
Hi, we are trying to add the property `<property name="hibernate.jdbc.time_zone" value="UTC"/>` to our application, but we got `UnsupportedOperationException` on some MySQL `TIME` columns, may I know is there any plan to support that?

## Stacktrace

`java.lang.UnsupportedOperationException: null
	at org.hibernate.reactive.adaptor.impl.PreparedStatementAdaptor.setTime(PreparedStatementAdaptor.java

[2021-06-14 05:52] DavideD commented on #856
In theory it should already work :-)
https://github.com/hibernate/hibernate-reactive/issues/667

I will have a look

[2021-06-14 05:56] DavideD commented on #856
Can you past an example of an entity you are using? A reproducer would be even better. You can use JBang to start an example testcase:
[code]

You can replace `idea` with your favourite IDE

[2021-06-14 06:03] DavideD commented on #856
Nevermind.... I can see the exception

[2021-06-14 06:11] pqab commented on #856
for more deatils, we are using LocalTime in the Entity and TIME in the database

Entity
`public class A {
    @Column(name = "time")
    private LocalTime time;
}`

Table
`CREATE TABLE IF NOT EXISTS `A` (
  `time` TIME
)

[2021-06-14 08:55] gavinking commented on #856
So the issue here is that the notion of a zoned _time_ is entirely broken and should never have been introduced in SQL (fortunately most databases don't support it). The mapping between timezones _depends on the date_, and so only zoned datetimes make sense.

Until this moment I had no idea about the behavior of `hibernate.jdbc.time_zone`, which looks pretty bad to me, at first sight, and perhaps

[2021-06-14 08:56] gavinking commented on #856
I'm removing the "bug" label. It's not a bug that zoned times don't work. They're broken by _design_.

[2021-06-14 08:58] gavinking commented on #856
(This is of course partly my fault for not digging deeper when I did #676 and noticing the problem with the behavior of `hibernate.jdbc.time_zone`.)

[2021-06-14 09:19] gavinking commented on #856
I started a discussion [here](https://hibernate.zulipchat.com/#narrow/stream/132094-hibernate-orm-dev/topic/hibernate.2Ejdbc.2Etimezone).

[2021-06-14 09:32] DavideD commented on #856
Ok, but they are trying to store a `LocalTime` that doesn't have any timezone attached and shouldn't require any convertion.
Am I missing something?

[2021-06-14 10:05] gavinking commented on #856
But that's not what this property does, it seems. In ORM it attaches a timezone to the thing.

At least, it seems to me. (I have never been able to completely understand the semantics of that JDBC method.)

[2021-06-14 10:45] DavideD commented on #856
I think I will check what ORM does and do the same. It's probably the behaviour that users tjhat are familiar with ORM will  expect anyway.

[2021-06-14 10:48] gavinking commented on #856
hahahaha oh sweet summer child!

ORM calls a JDBC method which has essentially undocumented semantics.

[2021-06-14 11:01] gavinking commented on #856
So to recap part of the discussion with @yrodiere on Zulip:

1. He says this stuff is all very fragile (and probably broken) in ORM to begin with, partly because all the JDBC drivers do fragile and different things.
2. What I decided to do for handling `Timestamp`s with `hibernate.jdbc.time_zone` (which tries to convert the given `Timestamp` to the given timezone before passing it to the driver) m

[2021-06-14 11:07] gavinking commented on #856
I _suppose_ we could keep doing what we're currently doing for datetimes, and just ignore the setting which it comes to times. But geez, that amounts to introducing a new and differently-broken semantics for a feature which is already kinda broken. Brrr.

[2021-06-14 11:14] gavinking commented on #856
@pqab why *precisely* do you use this setting? Could you reasonably, like, just _not_use it?

[2021-06-14 11:15] gavinking commented on #856
And same question for @Ngosti2000

[2021-06-14 11:19] DavideD commented on #856
To be fair, I didn't expect it to be applied to objects that don't have time zone like `LocalTime`.

I suspect the problem is that it's a global property and if you set it because it makes sense in other cases I don't think  there is a way to disable it for specific fields. Or maybe there is?

[2021-06-14 11:21] gavinking commented on #856
Right, same. We assumed too much sanity.

[2021-06-14 11:21] gavinking commented on #856
Not that I know of.

[2021-06-14 12:43] pqab commented on #856
we have some others `DATE` fields need the global property, but we expected that the `TIME` field should be ignored because it doesn't have time zone

[2021-06-14 14:46] DavideD opened #858 "Change license to APACHE LICENSE, VERSION 2.0"
Before going final

[2021-06-14 15:40] Sanne opened #859 "Update to Hibernate ORM 5.5.2.Final"
The `5.5.2.Final` release is being processed, should be available on build mirrors in ~1h.

I believe we had a couple of optimisations which were on hold waiting for it?

[2021-06-14 15:40] Sanne commented on #859
I meant `5.5.1.Final`, amended.

[2021-06-14 15:56] DavideD commented on #859
Not sure what you mean

[2021-06-14 16:34] Sanne commented on #859
well... I did the same mistake when actually releasing, so it's labelled `5.5.2.Final`

[2021-06-14 17:31] gavinking commented on #859
Nope

[2021-06-14 17:34] Sanne commented on #859
ok no new optimisations then :+1:  I guess I got confused with the previous upgrade round.

[2021-06-15 07:09] #859 closed

[2021-06-15 07:10] DavideD commented on #859
Merged https://github.com/hibernate/hibernate-reactive/issues/859

[2021-06-15 09:26] #856 closed

[2021-06-16 08:41] DavideD opened #863 "BasicTypesForSelectedDBTest#testJsonType fails for MariaDB"
[Currently the test is disabled.](https://github.com/hibernate/hibernate-reactive/blob/26e0aef99edaef45f29b3ee985dbe976b4e72b73/hibernate-reactive-core/src/test/java/org/hibernate/reactive/types/BasicTypesForSelectedDBTest.java#L79)

Error:
[code]

It seems something that we can fix but, if not, better keep track of it.

[2021-06-16 10:57] DavideD opened #864 "Pass the parameters in the url as properties when the connection is created"
Each Vert.x Driver accept different additional parameter keys in the URL.
For example, in [PostgreSQL](https://vertx.io/docs/vertx-pg-client/java/#_connection_uri):
[code]

I think that when we create the `SqlClientOptions` in [DefaultSqlClientPoolConfiguration](https://github.com/hibernate/hibernate-reactive/blob/26e0aef99edaef45f29b3ee985dbe976b4e72b73/hibernate-reactive-core/src/main/java/org/h

[2021-06-18 09:30] #858 closed

[2021-06-22 15:02] DavideD opened #869 "Support JsonObject as a built-in type"
We have a test in `BasicTypesForSelectedDBTest` testing that we can save a `JsonObject` via a `UserType`.
But a user needs to create a Json user type and apply it to the column:
[code]

Should we provide support for this type out of the box?

[2021-06-23 12:26] #863 closed

[2021-06-23 16:30] DavideD commented on #562
Closing this for now, in the end I don't think it's worth the additional complexity to the build. Might reopen it later after I've thought more about it

[2021-06-23 16:34] DavideD opened #871 "Upgrade to Hibernate ORM 5.5.3.Final"

[2021-06-23 17:05] #871 closed

[2021-06-24 15:16] blafond commented on #864
@DavideD  We currently don't capture any properties besides user or pwd.  Is there any reason we shouldn't capture other properties and add these custom properties to SqlClientOptions?  Seems fairly straight forward.

[2021-06-25 16:22] DavideD opened #874 "Queries with comments don't work with Db2"
See: https://github.com/eclipse-vertx/vertx-sql-client/issues/998

Setting to `hibernate.use_sql_comments` to `true` will show the exception

[2021-06-26 23:24] Xset-s opened #875 "How to set Transaction Isolation Level?"
Hello, could you tell me, if it is possible to set Transaction Isolation Level in hibernate reactive for some **native queries**?

[2021-06-26 23:32] gavinking commented on #875
Ah yeah, this is a good question. There's no "bottled" way to do it rn, it's something I forgot we had to come back to. I forget whether the Vert.x guys ended up adding an API for it or whether it has to be done by executing SQL on the connection. Either way, we need to expose that in some way in our APIs.

I will look into this.

[2021-06-29 12:41] DavideD opened #877 "Value of `hibernate.jdbc.batch_size` is ignored"
It doesn't matter what we set it to, it's always 0.

The reason is that in `SessionFactoryOptionsBuilder`, [there's a check to see if the database supports batching](https://github.com/hibernate/hibernate-orm/blob/main/hibernate-core/src/main/java/org/hibernate/boot/internal/SessionFactoryOptionsBuilder.java#L428) and it always return false. It happens because we don't extract the info from the da

[2021-06-29 16:06] DavideD opened #879 "Upgrade to Mutiny 0.18"

[2021-07-01 07:21] pqab opened #881 "Question about the TIME binding"
we are going to insert time 00:00 to database, but sometimes the data is incorrect after inserted to database.

we have LocalTime in the entity
[code]

the insert statement from hibernate.show_sql log
[code]

the bindings from the hibernate type trace log
[code]

but when the data inserted to the database, the data changed randomly, for example

| id | time               |
| -- | ------------- |
|

[2021-07-01 14:13] DavideD opened #882 "Upgrade to Vert.x 4.1.1"

[2021-07-01 14:24] #879 closed

[2021-07-01 15:59] gavinking opened #885 "UTCTest.testLocalDateTime"
This test fails on Postgres on my machine, and hangs the whole test suit on MySQL.

[2021-07-01 16:02] gavinking commented on #885
Seems to me that this test fails if your database is not set up in UTC.

[2021-07-01 16:56] DavideD commented on #885
Weird though, I've never seen this test fail (on CI and on my machine). Are you doing something different than the usual build?

[2021-07-01 17:11] gavinking commented on #885
Nope, same thing as always.

[2021-07-01 17:15] gavinking commented on #885
Sure it's nothing to do with #857?

[2021-07-01 17:25] DavideD commented on #885
That wouldn't explain why it does work "everywhere else".
Are you travelling? Did you change time zone?

[2021-07-01 17:28] gavinking commented on #885
Nope, and nope.

[2021-07-01 17:41] DavideD commented on #881
It seems to work fine with MySQL.

I've tried to test it with ProxySQL but couldn't connect to it. Maybe you can tell me how to start it with docker so that I can run tests on it?

I'm not familiar with ProxySQL and I might not be able to check this until next week.

[2021-07-02 06:13] pqab commented on #881
Thanks for checking, I will need some time to setup the ProxySQL with docker, I will share with you later

[2021-07-03 00:55] pqab commented on #881
Below example to setup the ProxySQL with docker

`docker-compose.yml`
[code]

`proxysql.cnf`
[code]

and you can connect with `jdbc:mysql://127.0.0.1:6033/......` to MySQL

[2021-07-04 00:23] Xset-s opened #886 "Stateless update doesn't work"
I have two sample entities:

SampleEntity:

[code]

SampleJoinEntity:

[code]

and after that I would like to execute this code:

[code]

as I understand stateless sessions are able to handle detached entities, but after executing this code (error happens during session.update, furthermore session.refresh or session.delete don't work either), I'm getting this exception:

[code]

Full stack: https:

[2021-07-04 12:00] DavideD commented on #881
Mmh... there is still something I'm missing.
Following your example, I've created a test with [JBang](https://www.jbang.dev/).

Once you've installed JBang, you can run it using the following commands:
1.  `jbang --fresh init -t issue881@DavideD/jbang-rep Issue881.java `
2. `docker-compose up`
3. `jbang Issue8881.java`
4. (Optional) You can open it in your ide (idea in this case) with: `jbang edit

[2021-07-04 12:23] DavideD commented on #886
It seems you've found a bug. I've created a JBang alias for this issue:
[code]
We are going to have a look at it tomorrow.

[2021-07-04 15:22] pqab commented on #881
It works if you change the port from `6603` to `6033`

and change the `mysql_servers.address` to `mysql` inside the `proxysql.cnf`

[code]

[2021-07-05 08:56] DavideD commented on #886
@blafond Could you have a look at this, please?

[2021-07-06 07:37] DavideD commented on #881
Thanks! Those were really silly mistakes.
It still doesn't work though. At start up I have this error:
[code]
I've updated the file in my repo

[2021-07-06 19:57] blafond commented on #886
@DavideD

The [StatelessSessionImpl.getEntityPersister(...) ](https://github.com/hibernate/hibernate-orm/blob/834f125c07c6c1ed487c1f42b62a2c98b037addc/hibernate-core/src/main/java/org/hibernate/internal/StatelessSessionImpl.java#L494)method has 2 args:  `entityName` and `object`.

In [ReactiveStatelessSessionImpl.reactiveUpdate(...)](https://github.com/hibernate/hibernate-reactive/blob/b4589436c36

[2021-07-06 23:28] pqab commented on #881
Thanks for checking.  I can run with `mysql:5.7.25`, meanwhile I will check with `mysql:8.0.25`

I think you can also disable the monitor by adding the command
[code]

[2021-07-07 05:12] DavideD commented on #886
I don't know. You need to adapt the test for ORM and see what happens. I doubt this is a bug in ORM

[2021-07-07 05:15] #882 closed

[2021-07-07 05:27] DavideD commented on #881
Nice, now I can see the exception. It seems to only occurs with the proxy in front of the server so I suspect it's not a bug in Hibernate Reactive. I will check a bit better later.

[2021-07-07 14:47] blafond commented on #886
@DavideD @gavinking
I was able to reproduce this using ORM methods by adding a test to the jbang generated Issue886.java.  The exception is:
[code]
I searched the ORM tests and couldn't find any that mixes basic Session persistance with StatelessSession.update(...)

[2021-07-07 16:02] gavinking commented on #886
So whatever it is that`ReactiveSessionImpl.reactiveFetch()` _does do_ that `ReactiveStatelessSessionImpl.reactiveFetch()` _doesn't do _is what we need to fix.

[2021-07-07 16:05] gavinking commented on #886
Wait, sorry, no, what I just said doesn't quite make sense. The problem's not in `reactiveFetch()`, it's in `update()`.

Excuse me.

[2021-07-07 18:59] blafond commented on #886
I created a jbang reproducer using ORM: `jbang --fresh --verbose Issue886WithORM@blafond/jbang-rep`

[Issue886WithORM.java](https://github.com/blafond/jbang-rep/blob/main/Issue886WithORM.java)

If it doesn't make sense to **fix** it in ORM, then we'll need to add logic to check if the entity is a proxy, then pass on an entity name without it, which should end up finding the entity in the Metamodel

[2021-07-07 20:42] DavideD commented on #886
Did you check with the somebody from the ORM team?

[2021-07-07 20:47] gavinking commented on #886
Well we would need to add a `fetch()` method to `StatelessSession` in ORM. It probably *would* make sense, and I thought of it at the time, but it's a new feature.

[2021-07-08 09:31] gavinking commented on #875
So the issue in Vert.x is this one:

<https://github.com/eclipse-vertx/vertx-sql-client/issues/432>

If I'm not mistaken, there's not much we can really do here other than wait for them to add this functionality.

Because we're not starting the transaction ourselves, that's buried within the Vert.x API.

[2021-07-08 09:32] gavinking commented on #877
What I don't understand about this is that I thought we had tests that test statement batching.

[2021-07-08 09:38] DavideD commented on #877
Well... those tests check that if you set the property everything works fine, they don't really test that it is actually using batching (as far as I remember).

[2021-07-08 09:38] gavinking commented on #877
Well, you're right, `BatchingConnection` is never instantiated. So whatever tests we have (`ReactiveSessionTest`, FTR) certainly don't test that batching _actually happens_. (Which is not actually surprising, since it's not observable via the API.)

But what is weird is that I certainly did test that `BatchingConnection` works when I first wrote it.

[2021-07-08 09:38] gavinking commented on #877
Yes, right, that's what I just realized.

[2021-07-08 09:43] DavideD commented on #877
Will this be solved by [this other issue](https://github.com/hibernate/hibernate-reactive/issues/536)?

[2021-07-08 09:46] gavinking commented on #877
Rrrrm, not automatically, but in principle perhaps perhaps that's one option for where we could hook in. I'm not sure.

[2021-07-13 00:18] AlexandreGuidin commented on #279
Hi!

Have you guys saw some library like https://github.com/vladmihalcea/hibernate-types to use with hibernate-reactive ?

If that not exists yet, i would like to build something for my project. I use a lot of JSON columns in postgres.

But i dont know if i get it wrong, but `hibernate-reactive` only allow custom type by extending from  `UserType` interface?  (http://hibernate.org/reactive/documen

[2021-07-13 16:40] #571 closed

[2021-07-13 16:57] #560 closed

[2021-07-15 09:42] DavideD opened #896 "Enable sanity assertions by default"

[2021-07-15 09:42] DavideD commented on #896
Fixed by: https://github.com/hibernate/hibernate-reactive/pull/888

[2021-07-15 09:42] #896 closed

[2021-07-20 15:07] DavideD opened #897 "Upgrade to ORM 5.5.4.Final"

[2021-07-20 15:08] DavideD opened #898 "Upgrade to Vert.x 4.1.2"

[2021-07-20 15:37] #897 closed

[2021-07-20 15:37] #898 closed

[2021-07-20 16:56] #255 closed

[2021-07-21 16:24] edeandrea commented on #536
Hi - I just wanted to see if there was any progress on this?

[2021-07-21 16:26] gavinking commented on #536
@gbadner?

[2021-07-21 16:28] gbadner commented on #536
@edeandrea, yes, there has been good progress for PostgreSQL. @DavideD has looked at a draft, and I am incorporating his recommendations. If nothing else gets in the way, I will have a PR by the end of the week.

[2021-07-21 16:29] edeandrea commented on #536
Thanks @gbadner for the update! Would this issue not be considered complete until support for all the relational databases is available?

[2021-07-21 16:31] gavinking commented on #536
Great! 👍

[2021-07-21 16:33] gavinking commented on #536
I mean *eventually* we would want to support all databases, but IMO that shouldn't block merging of the Postgres support.

Furthermore, my bet is it will be pretty straightforward to add additional databases once we have it working for one of them.

[2021-07-21 16:34] edeandrea commented on #536
Sweet! Postgres is my current target so that's good news to me :) I don't want to be greedy though!

[2021-07-21 16:43] gbadner commented on #536
I believe it will be straightforward, at least for those dialects that support `information_schema`, and have good documentation for querying system tables (like PostgreSQL has).

I've read that DB2 doesn't support `information_schema`. I'm not sure yet what would be required to get things working for DB2.

[2021-07-21 16:53] gavinking commented on #536
I mean as far as I know it's part of the *definition* of being an RDBMS that you have the schema reified as a meta-schema (forget the correct term for that).

[2021-07-21 16:56] gavinking commented on #536
I think it does, but it also has `syscat` and `sysibm` and I don't know what are the differences between these things.

[2021-07-22 18:23] blafond opened #901 "UTCTest.testOffsetDateTime() test failure locally"
running this test locally by itself or with a local build throws the same exception:
[code]

It doesn't appear to fail in the CI builds.

Note I'm in the America/Chicago time-zone with an offset of ` -05:00`

[2021-07-22 18:25] blafond commented on #901
@DavideD I don't understand the use the constant: `ZoneOffset.UTC` in the assertion that's failing?

[2021-07-22 19:57] DavideD commented on #901
Which assertion is failing?

On Thu, 22 Jul 2021, 19:25 Barry LaFond, ***@***.***> wrote:

[2021-07-22 20:08] blafond commented on #901
line 118:  `context.assertEquals( entity.offsetDateTime.getOffset(), ZoneOffset.UTC );`

[2021-07-23 08:11] DavideD commented on #901
[In the configuration of the test](https://github.com/hibernate/hibernate-reactive/blob/main/hibernate-reactive-core/src/test/java/org/hibernate/reactive/UTCTest.java#L40) we set the property `hibernate.jdbc.time_zone` to `UTC`.

So the timezone of the date should be set to `UTC` before saving it to the database.
This is what I see when I debug.
You can add a break point here: https://github.com/h

[2021-07-23 08:17] DavideD commented on #901
OK, I can recreate the error if I change the time zone on my machine. As an experiment, I think it will work if you set the time zone  on your pc to UTC

[2021-07-23 08:31] DavideD commented on #901
I think this is a bug in ORM. When it converts the Timestamp to the OffsetDateTime, it uses the system default time zone instead of the one we set with the property.

Could you create a test for ORM and ask the team, please?
FIY: [This is the code that's setting the wrong time zone](https://github.com/hibernate/hibernate-orm/blob/0325cd632a704ff82b789544bfefb7e11ac97cd9/hibernate-core/src/main/jav

[2021-07-23 08:32] DavideD commented on #901
I'm susprised nobody else had this failure before, I think I'm the only one in the UTC zone

[2021-07-23 10:04] DavideD commented on #886
@Xset-s the problem you are having is because of this line:
[code]
`sampleJoinEntityFromDatabase` is detached at this point, you would have a `LazyInitializationException` if you were using a getter.  I guess we could make it work but I'm not sure we should.

[2021-07-23 10:06] gavinking commented on #886
@DavideD it's a stateless session. *All* instances are detached.

[2021-07-23 11:21] DavideD commented on #886
Right, sorry

[2021-07-23 12:13] gavinking commented on #901
Hrm. But if you're using `OffsetDateTime` it's because you want the *database* to decide the timezone, right? unless I've forgotten something, we should be ignoring `hibernate.jdbc.time_zone` in that case, shouldn't we?

Trying to remember how all that stuff worked...

[2021-07-23 12:17] gavinking commented on #901
Yeah, I mean, we made `hibernate.jdbc.time_zone` work (sorta) for `Time` and `Timestamp`, which are types which don't carry a timezone. But `OffsetDateTime` is a whole different kettle of fish. An `OffsetDateTime` already _has_ a welldefined timezone. We shouldn't just overwrite it.

[2021-07-23 13:55] DavideD commented on #901
Would it matter in this case? As far as I understand, during the conversion from `Timestamp`  to `OffsetDateTime` the time zone is always set to the system default. No matter what value we used originally.

[2021-07-26 11:03] gavinking commented on #886
As soon as we get this issue sorted, I'm going to contribute `StatelessSession.fetch()` back to Hibernate 6. But I think we'd better finish this before doing that work.

[2021-07-26 11:06] gavinking commented on #901
Well that sounds definitely-wrong.

OTOH, I recall that H5 never really had proper support for `timestamp with timezone` (I added it in H6) so this behavior might be because of that.

I can tell you what should be the correct behavior in H6. But not in H5, which is a bit of a black box in this area as far as I'm concerned.

[2021-07-26 11:09] gavinking commented on #877
@DavideD isn't there a simpler temporary solution we could use?

Like, do it in `ReactiveSessionFactoryBuilderService.createSessionFactoryBuilder()` and `ReactiveEntityManagerFactoryBuilder.build()`, for example?

[2021-07-26 13:53] #886 closed

[2021-07-26 14:09] #877 closed

[2021-07-26 22:12] gbadner commented on #536
@gavinking , @edeandrea , in case you didn't see, I'm just letting you know that I posted a draft PR for this: https://github.com/hibernate/hibernate-reactive/pull/903

[2021-07-28 08:44] gavinking commented on #881
@DavideD what's the status of this? Can it be closed?

[2021-07-28 08:51] gavinking commented on #869
You're saying you would like this as a built-in type?

It's a good idea, I suppose.

[2021-07-28 08:51] gavinking commented on #869
(I'm not sure what you meant by a "type converter".)

[2021-07-28 08:53] gavinking commented on #885
Ahem. I just realized that when I reported this issue, I wrote the wrong method name. This is of course the same problem reported in #901. Closing as dupe.

[2021-07-28 08:53] #885 closed

[2021-07-28 08:57] DavideD commented on #881
Ah sorry, I need to get back to it. I will do it today

[2021-07-28 08:57] gavinking commented on #537
@Sanne this issue has turned into a bit of a zombie.

I doubt it's an issue with HR itself, if anything it's more likely something related to Quarkus.

Should we just, like, close it?

[2021-07-28 09:00] gavinking commented on #443
@DavideD @Sanne in terms of the roadmap ya'll are working out, this is perhaps the highest-priority major issue after the schema export stuff.

[2021-07-28 09:13] DavideD commented on #901
OK, what should be the correct behaviour?

It's a bit weird but I'm ok saying that Hibernate Reactive will always use the system default timezone if that's what's happening. As long as we are clear with the user. They can always store it using a custom user type if that doesn't work for them.

[2021-07-28 09:17] DavideD commented on #869
Yes, exactly

[2021-07-28 09:17] DavideD commented on #869
I've renamed the issue

[2021-07-28 09:20] DavideD commented on #864
No reason @blafond. I think that's what we should do

[2021-07-28 09:21] gavinking commented on #869
working on it

[2021-07-28 09:26] DavideD commented on #537
I'm fine with closing this issue. We can re-open it if it happens again

[2021-07-28 09:36] gavinking commented on #901
Well the timezone should be preserved across all operations.

But I'm pretty sure that doesn't work in H5, because I did rather a lot of work _to make it work_ in H6.

[2021-07-28 09:48] DavideD commented on #901
your initial sentence sounded much more mysterious :-D

[2021-07-28 09:49] DavideD commented on #901
I would say, let's update the tests so that it checks that the time zone is the system default, add a note to the documentation and close this issue

[2021-07-28 10:56] Sanne commented on #537
So let's remember that Quarkus has a "flat classloader" only when running the built application (so called "production" mode); otherwise there are multiple classloaders at play, especially when developing with live-reload.

This was most likely related to https://github.com/quarkusio/quarkus/issues/18299

@Artyukin I'll close the issue, but if you could try doing this again after the next Quarkus

[2021-07-28 10:56] #537 closed

[2021-07-28 12:22] #869 closed

[2021-07-28 13:53] DavideD commented on #881
So, I don't know what we can do about this, this seems more of a problem for the Vert.x SQL client team.

@tsegismont Do you have any idea what could cause this issue? It seems that ProxySQL handles the type slightly different than MySQL.

I've also tried to run the whole build with ProxySQL and there are some tests failing because the query syntax is not recognized (the failures seem to happend w

[2021-07-29 11:22] DavideD commented on #279
@AlexandreGuidin, I think @gavinking  already answered your questions in one of the previous comments: https://github.com/hibernate/hibernate-reactive/issues/279#issuecomment-666289449

But if you I'm missing something feel free to follow up with some more questions.

[2021-07-29 14:06] tsegismont commented on #881
@pqab can you please [file a bug report](https://github.com/eclipse-vertx/vertx-sql-client/issues/new?assignees=&labels=bug&template=bug_report.md&title=) in the Vert.x Reactive SQL Client project?

Hibernate Reactive relies on this client to communicate with the database. After the issue is filed, I'll try to make a reproducer without Hibernate Reactive.

[2021-07-29 14:21] DavideD commented on #881
@tsegismont I've created the issue: https://github.com/eclipse-vertx/vertx-sql-client/issues/1016

[2021-07-29 14:22] Sanne opened #908 "Upgrade to Hibernate ORM 5.5.5.Final"

[2021-07-29 14:30] tsegismont commented on #881
Thank you

2021-07-29 16:21 UTC+02:00, DavideD ***@***.***>:

[2021-07-29 15:47] #908 closed

[2021-07-29 17:00] DavideD opened #910 "SchemaMigrator/SchemaValidator support for MySQL and MariaDB"
Follows #536

See #903 for an example with PostgreSQL

[2021-07-29 17:01] DavideD opened #911 "SchemaMigrator/SchemaValidator support for Db2"
Follows #536

See #903 for an example with PostgreSQL

[2021-07-29 17:02] DavideD opened #912 "SchemaMigrator/SchemaValidator support for MS SQL Server"
Follows #536

See #903 for an example with PostgreSQL

[2021-07-29 17:03] DavideD opened #913 "SchemaMigrator/SchemaValidator support for CockroachDB"
Follows #536

See #903 for an example with PostgreSQL

[2021-07-30 12:20] DavideD opened #914 "Upgrade to Mutiny 1.0.0"

[2021-07-30 12:20] #914 closed

[2021-07-30 13:39] DavideD opened #915 "Upgrade to testcontainers 1.16.0"

[2021-07-30 15:40] DavideD opened #916 "Add a JBang template for MS SQL Server"

[2021-07-30 16:11] DavideD opened #917 "Add MSSQL Server to the documentation"
We didn't add the vert.x dependecy in the configuration section: http://hibernate.org/reactive/documentation/1.0/reference/html_single/#_including_hibernate_reactive_in_your_project_build

We might need to add something else

[2021-07-30 19:41] gbadner commented on #901
BTW, when I run the test, I get the following:
[code]
In case you haven't figured this out yet, I'm posting the following stuff...

In order to get consistent results, I think you will have to set the default JVM time zone on the test, similar to what is done in the ORM test for `OffsetDateTime`, [OffsetDateTimeTest#testRetrievingEntityByOffsetDateTime](https://github.com/hibernate/hibernate-orm/b

[2021-07-31 11:10] nivinps opened #919 "createNativeQuery(queryString,Tuple.class).getResultList() method is not returning list of Tuple data"
I am using reactive hibernate (1.0.0.CR7) for my spring webflux project. I am getting the object array data while executing native queries and it is working fine. But I need it as a tuple object. So I passed Tuple.class as a second argument to createNativeQuery method. But it will throw an exception as it cannot cast an object to tuple. I just need the data with column alias name. So I choose tupl

[2021-08-01 15:00] saksham-kakkar opened #920 "Use JPA repositories with hibernate-reactive."
Hi, Is there a way to use CrudRepository/JpaRepository, or other similar repositories with hibernate-reactive, spring boot?

[2021-08-02 07:31] yrodiere commented on #901
Not sure I'm the best for that (the people who originally implemented this stuff would know best) but I can try to answer, provided there's a question :)

That's right, but the purpose of this property is actually to prevent the JDBC driver from relying on the JVM default timezone. So, depending on how reactive drivers work, it might be relevant in Hibernate Reactive as well.

For reference:

* [R

[2021-08-02 09:35] gavinking commented on #920
If you mean the Spring stuff, then no. Hibernate Reactive has different signatures for persistence operations, so that's just not possible. (Though personally I have never seen what value DAOs/"repositories" add anyway, and would never use them even with regular Hibernate.)

However, if you're using Quarkus, you could try using Panache Reactive, which is a different approach, not the DAO pattern,

[2021-08-02 09:35] #920 closed

[2021-08-02 09:40] gavinking commented on #919
Hah. I did not know (or once knew and forgot) that this world in plain Hibernate.

But if it does, then it should be pretty easy to make it work in HR.

[2021-08-02 09:41] gavinking commented on #917
I already fixed this without realizing there was an issue.

[2021-08-02 09:41] #917 closed

[2021-08-02 12:23] DavideD commented on #901
I don't think the issue here is about the `hibernate.jdbc.time_zone`. I might have a better look at it later but it seems to work as expected in Hibernate Reactive.
The problem here is to define what happens when we save a type with a time zone and clarify that in the documentation. It seems to me that the time zone is always returned using the system default.

Unless we want to test that the buil

[2021-08-02 14:51] DavideD commented on #919
I had the same exact reaction :-)

Thanks @nivinps

[2021-08-02 14:51] DavideD commented on #919
@blafond maybe you can have a look at this when you have time?

[2021-08-02 15:35] gavinking commented on #919
It appears that this is the case, since I apparently wrote this code:

[code]

So why doesn't it work?

[2021-08-02 15:36] gavinking commented on #919
Lemme take a quick look at this.

[2021-08-02 15:55] #915 closed

[2021-08-03 15:27] #919 closed

[2021-08-03 16:45] nivinps opened #926 "Reactive hibernate version 1.0.0.CR9 throws an exception while opening session"
Hi,
I am using Hibernate Reactive for my spring webflux project. I have upgraded hibernate reactive version from 1.0.0.CR7 to 1.0.0.CR9, after that I am getting an exception while opening session. Kindly help.

**Earlier working versions:**

Hibernate Reactive -  1.0.0.CR7
vertx-mysql-client - 4.1.0
Spring boot version - 2.5.3

[code]

**Upgraded versions:**

Hibernate Reactive - 1.0.0.CR9
vertx-m

[2021-08-03 16:50] DavideD commented on #926
See if this answer your question: https://github.com/hibernate/hibernate-reactive/issues/750#issuecomment-839611870

[2021-08-03 16:58] DavideD commented on #926
The reason you are having this error is because we have added some checks to make sure that the session is used correctly.
The simplest solution would be to use `sessionFactory.withSession` or `sessionFactory.withTransaction`, in those cases Hibernate Reactive will take care of the issue automatically.

[2021-08-04 10:28] semistone opened #928 "Throw java.lang.IllegalArgumentException when merge null value"
When merge entity into database
[code]

and Converter is
[code]

when insert
[code]
then it will throw exception
[code]

I just compare the CR6(OK) and CR9 (NG)

org.hibernate.reactive.adaptor.impl.PreparedStatementAdaptor

CR6
[code]

CR9

[code]

it will cause exception, because sqltype is object id

[2021-08-04 10:44] nivinps commented on #926
Thank you @DavideD for your response. In my project I have used several places as` sessionFactory.openSession()`. Anywy I will change those things. Hereafter I will use `sessionFactory.withSession or sessionFactory.withTransaction`. No need to close the session while using this. So that is an added advantage :)

I changed my code like this
[code]

But I am getting one compilation issue over here.

[2021-08-04 10:49] gavinking commented on #928
We're missing the full code of `MultiLocaleConverter`.

Anyway, it seems to me that this code is something I would not expect to work in the current release of HR, since `JsonObject` isn't a built-in type.

OTOH, after #869, perhaps it works against current `main`.

[2021-08-04 10:50] gavinking commented on #928
Wait, @DavideD, did #869 go out in the latest release?

[2021-08-04 10:56] gavinking commented on #926
@nivinps you should use the overloaded version of `createNativeQuery()` which accepts a `Class` representing the return type.

[2021-08-04 11:04] DavideD commented on #928
Yes, #869 it's in the latest release: 1.0.0.CR9

[2021-08-04 11:05] nivinps commented on #926
okay. Is it related to this #919 issue. Because 1.0.0.CR9 version will give a cast exception if I pass second argument as Tuple.class. So I just try to get as list of object array in this version (1.0.0.CR9)

[2021-08-04 11:09] DavideD commented on #926
The Tuple class will be supported in the next release but you should be able to use `Object[].class` as second parameter in this one:
[code]

[2021-08-04 11:12] nivinps commented on #926
Thanks @DavideD. It is working

[2021-08-04 12:54] DavideD opened #929 "Support on in-memory database"
For testing and examples, it would be nice to have support for an in-memory database like H2.

There is actually an example in the Vert.x SQL Client documentation on how to wrap the H2 JDBC driver around the Vert.x Pool: https://vertx.io/docs/vertx-jdbc-client/java/#_using_the_sql_client_api

[2021-08-04 12:57] DavideD commented on #926
I think we can consider this issue closed.
Thanks @nivinps  and @gavinking

[2021-08-04 12:57] #926 closed

[2021-08-04 18:47] blafond commented on #901
@DavideD I was able to reproduce the error using ORM session.

I can make both **1.** and **2.** work, but for the latter I came up with is this assertion:
[code]

[2021-08-04 19:17] DavideD commented on #901
Please, when you send the PR, add a comment in the test so that we don't forget why we need this extra logic

[2021-08-05 01:05] semistone commented on #928
this is our MultiLocaleConverter
[code]
but it actually doesn't matter in this case, because that value is null in that testcase.

[2021-08-05 17:23] bharward opened #931 "Parameter substitution error when limiting results on MS SQL Server and Hibernate Reactive 1.0.0.CR9"
Hello, I am encountering an issue with MS SQL query parameters in 1.0.0.CR9 when using Paging or Ranges (SQL Exception, message='Incorrect syntax near '?'.'), possibly because the parameter is in the Select clause?

Stack: Quarkus 2.1.0.Final / Panache Reactive / Mutiny 4.1.2 / Hibernate Reactive 1.0.0.CR9 / Hibernate Core 5.5.5.Final

From my rest resource, running this:
`[PanacheRepository].find

[2021-08-05 17:32] gavinking commented on #931
There's something weird about that SQL.

Why are we even using `top n` instead of `offset ... fetch`. And why the redundant parentheses?

[2021-08-05 17:33] gavinking commented on #931
Well it certainly *should* be. Panache has no business going and doing its own SQL generation, right @FroMage?

[2021-08-05 17:38] gavinking commented on #931
Well I tried this in plain HR, and I get:

    select hqlquerypa0_.id as id1_0_, hqlquerypa0_.description as descript2_0_, hqlquerypa0_.name as name3_0_, hqlquerypa0_.type as type4_0_ from Flour hqlquerypa0_ order by hqlquerypa0_.id offset @P1 rows fetch next @P2 rows only

So it seems to me that this must be a Panache-related problem.

[2021-08-05 18:41] bharward commented on #931
Thank you very much for reviewing and I'll reach-out to some of the projects in the stack. Since the only HQL shown in the trace logs was `FROM myproject.entities.Request WHERE requestor.firstName LIKE ?1`, I assumed the addition of the `top(?)` was coming from the MS SQL implementation for `setMaxResults()`, however the SQL in your post shows it is using completely different syntax.

[2021-08-05 21:00] bharward commented on #931
Still encountering the issue, I tried adding an order by, to have this HQL: `FROM myproject.entities.Request WHERE requestor.firstName LIKE ?1 ORDER BY submitted`
[code]

This attempted to execute the following SQL:
[code]
So... the same problem still exists in that it did not do the parameter substitution properly (now for the `fetch next ? rows only`), but that did change the generated SQL synta

[2021-08-05 21:56] bharward commented on #931
I think I found a bug, likely in [SQLServerParameters.processLimit()](https://github.com/hibernate/hibernate-reactive/blob/665e68d194bacd1a78ea08216f76797e230c0c5a/hibernate-reactive-core/src/main/java/org/hibernate/reactive/pool/impl/SQLServerParameters.java#L36)

Panache is creating a hibernate query with firstRow=0.

Inside `org.hibernate.reactive.loader.ReactiveLoader.executeReactiveQueryState

[2021-08-05 22:13] Sanne opened #932 "Improve efficiency of org.hibernate.reactive.context.Context#Key"
Some remarks from profiling:
- the use of `Objects.hash(type, id)` is hiding an array allocation; it's small but it's wasting ~3 GB/sec while doing 100000 R/s.
- might benefit from a constant (pre-computed hash), especially if we can reuse the same intance of Key more often.

While at it, it should really be made immutable.

[2021-08-06 10:52] DavideD commented on #931
@bharward If you could create a test case that uses only Hibernate Reactive that would be much appreciated

[2021-08-06 10:56] DavideD commented on #931
I guess we will also have a look at one that uses Panache, but this repository is not the right place for those kind of issue

[2021-08-06 11:05] gavinking commented on #931
I suspect we are missing a test which sets only max results and not first result.

[2021-08-06 11:08] DavideD commented on #931
We have a basic one: https://github.com/hibernate/hibernate-reactive/blob/ccaa6061fc7e649ee0e1e09b5adda230d39dfe4f/hibernate-reactive-core/src/test/java/org/hibernate/reactive/HQLQueryParameterNamedLimitTest.java#L54

[2021-08-06 12:56] bharward commented on #931
@gavinking and @DavideD - Thank you. It appears another test, one that would do _both_ `setFirstResult(0)` and `setMaxResults(n)` (n being any value > 0), would reproduce the error I'm seeing.

`SQLServer2012LimitHandler.getOffsetFetch()` creates different SQL when firstResult==0 ("offset 0 rows...") compared to when firstResult >0 ("offset ? rows");

If it would still be helpful, in a few days I

[2021-08-06 13:44] DavideD commented on #931
Ah, you are right, this test will fail in `HQLQueryParameterNamedLimitTest`:

[code]

I will have a look

[2021-08-06 15:22] bharward commented on #931
@DavideD _in addition_ to the test you proposed, may I also suggest an additional test like this:
[code]
The difference is in removing the "order by". The reason is that [SQLServer2005LimitHandler](https://github.com/hibernate/hibernate-orm/blob/42ff387193a3eb68eaee76005667af76be387461/hibernate-core/src/main/java/org/hibernate/dialect/pagination/SQLServer2005LimitHandler.java#L92) writes the quer

[2021-08-06 16:55] #932 closed

[2021-08-10 03:18] gbadner opened #936 "SchemaMigrator/SchemaValidator - add tests for corner cases"
There are some corner cases that are covered by ORM tests. They should be migrated to Reactive to make sure they work properly.

Here are some ORM `SchemaMigrator` tests that should be reviewed for possible inclusion in Hibernate Reactive:
[code]
Here are some ORM `SchemaValidator` tests that should be reviewed for possible inclusion in Hibernate Reactive:
[code]

[2021-08-10 03:19] gbadner commented on #936
I don't think they all need to be added. I'll take a look at these and see which ones we need.

[2021-08-10 15:20] Sanne opened #938 ""find" vs "get""
on `Mutiny.Session` I need to use:

    <T> Uni<T> find(Class<T> entityClass, Object id);

while on `Mutiny.StatelessSession` we have:

    <T> Uni<T> get(Class<T> entityClass, Object id);

There doesn't seem to be a well defined semantic difference. Should we name them consistently?

[2021-08-11 09:17] Sanne commented on #938
OK sure there's difference between using a `Session` and `StatelessSession`, but I was now refactoring one of our benchmarks, and changing some operations to use the stateless session: in this case beyond changing the type of the signature (expected) I also had to change all the `find` invocations to `get` to solve compile errors.

I found that really surprising, you don't think it was?

[2021-08-11 09:51] gavinking commented on #938
I mean, to me, if they had the same name, that would create the expectation that they're semantically identical, which I don't think they are: I mean, at the most basic level they return a detached object, not a managed object. And there are other differences (off the top of my head: no calls to interceptors).

[2021-08-11 20:19] andrew-dzak opened #939 "@DynamicInsert not supported with IDENTITY columns"
project.ext.vertxVersion = '4.1.2'
project.ext.hibernateVersion = '1.0.0.CR9'

Database = (PostgreSQL) 13.2 (Debian 13.2-1.pgdg100+1).

This works fine in hibernateVersion = '1.0.0.CR7'.
`public  static <T> T saveOrUpdate(T t){
        T entity = DatabaseConfiguration.getSessionFactory()
                .withTransaction((session,tx) ->  session.merge(t))
                .toCompletableFuture().join

[2021-08-13 02:13] gbadner commented on #536
@gavinking, I've been thinking about this some more. As a workaround, I created [SequenceInformationExtractorPostgresSQLDatabaseImpl](https://github.com/hibernate/hibernate-orm/blob/7f316ae3f930a1595be2ff43ef8958e649078691/hibernate-core/src/main/java/org/hibernate/tool/schema/extract/internal/SequenceInformationExtractorPostgresSQLDatabaseImpl.java)

I didn't run into this issue with MySQL, but I

[2021-08-13 02:14] gbadner commented on #536
Oops, meant to delete my previous comment, not close the issue...

[2021-08-16 10:02] Sanne commented on #938
Ok if it's intentional I'll close this, thanks for explaining.

I'm not entirely sure about this being a good idea though; I can never remember which one I have to look for when developing. In this case I was refactoring some code to take advantage of the better efficiency of stateless session, and this resulted in making me change more code than I'd hope for.

[2021-08-16 10:02] #938 closed

[2021-08-16 19:25] gavinking commented on #443
@gbadner has offered to work on this one, which is *awesome* because she knows this part of the codebase much better than we do.

[2021-08-16 19:30] gavinking commented on #939
@andrew-dzak could you please show us the wrapped exception? It should be the next line of the stack trace.

@Sanne what do you make of this one? Classloader issue, perhaps?

@andrew-dzak what is the environment? Quarkus? Something else?

[2021-08-16 19:50] andrew-dzak commented on #939
@gavinking  environment
 vertx version =4.1.2
hibernate reactive ='1.0.0.CR9'
Database  = (PostgreSQL) 13.2 (Debian 13.2-1.pgdg100+1).

[2021-08-16 20:07] gavinking commented on #939
No but what is this executing in I mean?

[2021-08-17 01:15] gbadner commented on #536
@gavinking, I just read over comments and noticed:

Currently, that will not happen. It will always use Vert.X. I'll have to think about this some more.

[2021-08-17 05:38] gavinking commented on #536
@gbadner I don't think that's important. I mean, it was useful *before* your work, but now I can't think of a strong reason anyone would prefer to use JDBC.

[2021-08-17 06:32] andrew-dzak commented on #939
@gavinking   hope this helps.   when i change the hibernate reactive version to 1.0.0.CR7 same code persist fine without exceptions

`  EventTicketCategory ticketCategory =EventTicketCategory.newEventTicketCategory(category.getTitle(),event,category.getPrice(),startDateTime,
                    endDateTime,referenceCode,category.getDescription(),category.getNumberOfTickets(),category.getDiscount()

[2021-08-23 17:39] gbadner commented on #443
@gavinking, is the objective of this issue just to reproduce with a test?

Also, how does this compare in priority to finishing support for SchemaMigrator/SchemaValidator for the remaining dialects (SQL Server and DB2)?

[2021-08-24 01:31] gavinking commented on #443
@gbadner it's about reworking the code we have for batch loading to adapt it to the newly-refactored code in ORM.

But the schema export stuff is definitely a higher priority.

[2021-08-24 02:47] gbadner commented on #443
Oh, ok, got it. I wasn't sure if "replicate" meant "reproduce".

[2021-08-25 10:34] gavinking commented on #939
Well, look, I think they best way to proceed is for you to produce a very simple isolated and easily-runnable test that reproduces the issue.

Because I certainly can't reproduce the error, and I can't think of any reason why that code would be called on Postgres.

I *suspect* that you have something rather strange in your Hibernate configuration, but who knows?

[2021-08-25 10:55] gavinking commented on #928
OK, I've fixed this bug in #942.

[2021-08-25 10:59] gavinking opened #943 "log usage of statement batching"
@Sanne thinks there might be a problem with batch inserts/updates not happening efficiently, and it would help to log some information to help diagnose this.

[2021-08-25 11:54] Sanne commented on #939
FWIW I would be surprised if a Classloader issue would trigger this - but hard to say with certainty.

+1 for the need to see a reproducer.

[2021-08-30 07:55] gavinking commented on #943
@Sanne I'm ready to work on this, but can you give me a bit of a better idea of exactly what sort of log messages would help here? Thanks.

[2021-08-30 14:37] #901 closed

[2021-08-31 00:26] gbadner commented on #912
@gavinking, I'm seeing stacktrace similar to what was happening in https://github.com/hibernate/hibernate-reactive/issues/673 with SQL Server. See below for the stacktrace.

This is the SQL that fails:

[code]

One thing that is odd is that adding constraints on the catalog, schema, and table seems to work correctly:

[code]

So it seems that the results from system tables is causing the overflow.

[2021-08-31 01:04] gbadner commented on #912
Unfortunately, it requires a change to ORM to reproduce. Without that change, there is a failure because Vert.x does not support SQL Server's SSVARIANT type. The change on ORM works around the SSVARIANT issue.

[2021-08-31 01:06] gbadner commented on #912
@blafond, mentioned a similar problem using DB2.

Please let me know if I should create a new Reactive and/or Vert.x issue for this.

[2021-08-31 01:27] gbadner commented on #912
I've created draft PRs to reproduce the stacktrace.

ORM: https://github.com/hibernate/hibernate-orm/pull/4177
Reactive: https://github.com/hibernate/hibernate-reactive/pull/945

[2021-08-31 19:34] gavinking commented on #913
Done by #903.

[2021-08-31 19:34] #913 closed

[2021-08-31 19:34] gavinking commented on #910
Done by #903.

[2021-08-31 19:34] #910 closed

[2021-08-31 19:36] gavinking commented on #536
Done by #903.

[2021-08-31 19:36] #536 closed

[2021-08-31 21:42] gbadner commented on #912
FYI, Vert.x 4.1.3 did not fix this.

Changing to following query works, but only intermittently:

`select convert( nvarchar(128), table_name ) as TABLE_NAME, convert( nvarchar(128), column_name ) as COLUMN_NAME,
         convert( nvarchar(128), data_type ) as TYPE_NAME, null as COLUMN_SIZE, null as DECIMAL_DIGITS,
         convert( varchar(3), is_nullable ) as IS_NULLABLE, null as DATA_TYPE
from i

[2021-08-31 21:51] gavinking commented on #912
Yeah, sure, report it to the Vert.x guys.

[2021-09-01 04:23] gbadner commented on #912
https://github.com/eclipse-vertx/vertx-sql-client/issues/1032

[2021-09-01 14:37] Sanne opened #950 "Consider forcing Uni return types on all Session opening methods"
I've got burned once again by chaining the wrong style of Session opening.

This is what I had as a general helper:

     @Inject
    Mutiny.SessionFactory sf;

    public <T> Uni<T> inSession(Function<Mutiny.Session, Uni<T>> work) {
        final Mutiny.Session session = sf.openSession();
        return sf.withSession( work ).eventually( session::close );
    }

(This is very similar to the `with

[2021-09-01 14:38] Sanne commented on #950
cc/ @gavinking I'd be keen to hear you opinion on this one.

[2021-09-01 15:10] Sanne commented on #950
I'm not expecting propagation, I'm passing the `Session` instance explicitly to the functions.

My only error was in expecting that I could actually use such a Session for composite operations, such as loading multiple entities with individual statements:

[2021-09-01 15:14] gavinking commented on #950
Then I just don't understand your code. You open one session, then you do the `work` in a whole different session, then you close the first session.

I don't understand the logic there.

[2021-09-01 15:16] gavinking commented on #950
Well, TBH, perhaps it's not *that* well documented...

[2021-09-01 15:18] DavideD commented on #950
I think @Sanne's example was supposed to be:

[code]
[code]

[2021-09-01 15:19] gavinking commented on #950
Aaah OK that makes more sense.

[2021-09-01 15:23] gavinking commented on #950
Well if that's the case then that would be a bug.

But to be really honest I'm simply having some trouble believing you Sanne. Every time someone has complained about the proxy, it has turned out to be misuse of the session. I've stared at that code _really hard_ in the past, and I've always managed to convince myself it's right.

[2021-09-01 15:34] Sanne commented on #950
oops yes sorry wrong code example. I've been going back and forth with various experiments.

I totally understand the feeling, we've had many such cases and most often there was some mistake in the user code, or tricky threading. In this case though while I was 99% sure I was making some mistake, I then asked Davide to help me out as I couldn't figure it out - but this time around my conclusion wa

[2021-09-01 15:34] gavinking commented on #950
I mean, this code works perfectly:

[code]

and so I can't imagine how it could break unless you're doing something dodgy with concurrency.

[2021-09-01 15:36] gavinking commented on #950
Well if you recall when I made that change last time, everyone rebelled against it and talked me out of it. So I'm kinda wary of going back there.

[2021-09-01 17:50] blafond commented on #911
@gbadner  When I run the 3 tests  for DB2 with GROUPED schema option I get an AIOOB in vertx

[code]

[2021-09-01 18:03] blafond commented on #911
Failing on this SQL
[code]

[2021-09-01 18:08] gbadner commented on #911
Thanks. @blafond, it's basically the same SQL as is failing for SQL Server.

[2021-09-01 18:15] gbadner commented on #911
I've added a comment about failing on DB2 at https://github.com/eclipse-vertx/vertx-sql-client/issues/1032#issuecomment-910535315 .

[2021-09-01 20:45] gbadner commented on #911
I've been asked to create a separate issue for DB2: https://github.com/eclipse-vertx/vertx-sql-client/issues/1033

[2021-09-02 16:27] blafond commented on #911
@gbadner Pushed my latest:  https://github.com/blafond/hibernate-reactive/commits/911-db2-schema-update-validation

[2021-09-03 06:42] nivinps opened #951 "merging a @ManyToOne association can call non-reactive code"
Hi,
I need to update 'erp_campus_id' in 'erp_academic_year_detail' table. The same code will works If I used normal hibernate. But In hibernate-reactive it throws an exception. I am using 1.0.0.CR9 version.

[code]

[code]

[code]

Exception:

[code]

[2021-09-03 08:43] DavideD commented on #951
THanks @nivinps, I'm checking

[2021-09-03 11:59] Sanne commented on #950
So, I failed miserably in reproducing the issue in the context of an Hibernate Reactive integration test, but it fails consistently in the benchmark (even without load, it fails on a single call).

The cause seems to be this code in which I need to load a bag of entities by having the set of Ids:

this fails (in the benchmark only) when using the `openSession()`:

    public Uni<List<World>> findM

[2021-09-03 12:10] gavinking commented on #950
Well, right, at least as far as I've always understood it, `join()` isn't threadsafe and this is something that's prohibited.

[2021-09-03 12:20] DavideD commented on #950
Unless I'm missing something, this also wouldn't be a problem if `openSession` would return a `Uni<Session>`.

Initially it sounded  nice to have `openSession` return something that's not reactive, but time and time again these type of methods are causing us problems (see when `session.close` was non-reactive  for example). And I'm starting to get suspicious every time I see one.

They also requir

[2021-09-03 12:27] gavinking commented on #950
Well no, I don't think that's right. The connection isn't the only volatile state held by the session; far from it.

[2021-09-03 12:27] gavinking commented on #950
Oh, looks like I responded to text you deleted.

[2021-09-03 12:46] gavinking commented on #950
I think you guys need to consider that changing the return type of `openSession()` won't do *anything* to eliminate this class of bugs. It just makes it much more likely that the user won't notice them, or rather that they'll manifest in a way that's *much* harder to diagnose. (Concurrent access to session state is going to result in problems that are much less transparent than this one.)

[2021-09-03 13:47] Sanne commented on #950
I suppose you're using the term "threadsafe" loosely in this context, in which case I agree with you.. but let me be precise in case we're misunderstanding each other: this is all running on the same, single thread, so the canonical definition of "threadsafe" doesn't really apply.

We might need to clarify some things in the doc.

But that's the point I'm raising. IFF there a real problem with usi

[2021-09-03 14:09] gavinking commented on #950
Right.

Well, *how*? We already do the best we can, by checking at the Vert.x context. Apparently that's not good enough to detect the problem in this case, but I don't see what else we could do if Mutiny doesn't expose some sort way to identify the "micro-context".

[2021-09-03 14:19] DavideD commented on #951
One problem with this code is that you are setting an association with an object that it's not managed.
The correct way to write this should be:
[code]

Assuming that the object exists in the db (because you are using a reference, Hibernate Reactive is not going to load it).

The other thing I had to change was this value:
[code]

@gavinking do you know why without the Lazy, it tries to access the

[2021-09-03 14:27] gavinking commented on #951
[code]

Well, OK, yes, @DavideD is quite right, this isn't the way you're supposed to go about setting a reference to an object that already exists in the database (not in regular Hibernate, nor in reactive.

I would have to stop through the code but I can think of a couple of scenarios:

- it might by trying to determine if the object is "saved" or "unsaved", or
- perhaps it's trying to obtain a

[2021-09-03 14:33] DavideD commented on #951
See https://github.com/hibernate/hibernate-reactive/pull/952

[2021-09-03 14:44] Sanne commented on #950
Ok fair enough.

So the conclusion is that using `Uni.join().all(l)` (or similar) is not something we want to support? I'm just not 100% clear on why we  shouldn't but I'm happy to take your word on it for now and close this.

[2021-09-03 15:00] gavinking commented on #950
Well it's not that I don't want to it's that I have no idea how to.

[2021-09-03 15:32] Sanne commented on #950
this would make it work:
 - https://github.com/hibernate/hibernate-reactive/pull/953

I'm just not sure if we want to :) And what other issues I'm possibly missing.

[2021-09-03 17:20] gavinking commented on #950
I don't see how that would fix the generic problem of concurrent access to volatile session state. During every single (nonblocking) database request, the session is in an inconsistent state.

I don't see how you can fix that without having some sort of "transactional" management of the session's internal data structures.

[2021-09-03 20:04] gavinking commented on #951
So the original code given above is a misuse of Hibernate, but this is nevertheless a bug.

[2021-09-04 14:36] nivinps commented on #951
Thanks @DavideD @gavinking for your guidance and support

Our use case is a little different. So I prefer to merge. I can give you a brief.

Our micro service application using Spring Webflux. We splitted functionalities into three different files: controller, handler, transaction file. Controller mainly accepts front end data (DTO) and sends it to the handler file. Handler file mainly used for bu

[2021-09-04 17:22] gavinking commented on #951
Well, I have no further suggestion beyond what @DavideD said above. Use:

[code]

instead of:

[code]

What you're doing right now might *work*, at least if you're careful, but it's not how this API is intended to be used.

[2021-09-04 19:31] gavinking commented on #939
Hi, @andrew-dzak, we’re going to need a runnable test case, or I’m going to close this issue.

[2021-09-04 19:53] gavinking commented on #874
This seems was already fixed, and is working now.

[2021-09-04 19:53] #874 closed

[2021-09-05 04:57] nivinps commented on #951
OK @gavinking. Thank you once again.

[2021-09-05 22:57] gbadner opened #955 "Upgrade Vert.x to 4.1.4"
SchemaMigrator/SchemaValidator  "grouped" strategy will not work properly using DB2 or SQL Server  until the following issues are fixed:

For SQL Server: https://github.com/eclipse-vertx/vertx-sql-client/issues/1032 (fixed targeting 4.1.4)
Required by https://github.com/hibernate/hibernate-reactive/issues/912

For DB2: https://github.com/eclipse-vertx/vertx-sql-client/issues/1033
Required by https

[2021-09-06 05:39] nivinps opened #956 "getSingleResultOrNull() method is not returning single result if the query has @OneToMany relation"
Hi,

The query has @OneToMany relationship then it is throwing an exception while using `getSingleResultOrNull()` method. The same query will works with `getSingleResult()`. I am using 1.0.0.CR9 version.

[code]

[code]

[code]

Exception:

[code]

[2021-09-06 06:03] andrew-dzak commented on #939
@gavinking  sorry was on vacation will try and get a test case before close of day

[2021-09-06 08:06] gavinking commented on #939
OK, sure, thanks.

[2021-09-06 08:58] #951 closed

[2021-09-06 09:04] gavinking commented on #956
I've fixed this bug in #957.

In the meantime, a workaround is to use a `distinct` query.

[2021-09-06 09:26] nivinps commented on #956
Sure. Thanks @gavinking

[2021-09-06 09:34] andrew-dzak commented on #939
@gavinking  @Sanne

Hi had to put something quickly on this one
 test case is on  https://github.com/andrew-dzak/testcase.  repository is public
let me know if this is enough

[2021-09-06 09:45] Sanne commented on #950
Ok yes I think I understand what you mean, although I'm not sure in practice which scenarious would be problematic; for sure this would work just fine for loading a sequence of trivial entities with no relations among each other (as I was doing here).

So while we agree that multi-threaded access on the same Session is a big no-no, I'm not sure how far we can expect a "reactive programmer" to not

[2021-09-06 09:47] #956 closed

[2021-09-06 10:27] gavinking commented on #939
The problem is related to `@DynamicInsert`, and can be reproduced with a *much* simpler test.

Look, it would have been really great if you would have taken the time to *isolate* the problem before reporting it. It's really very easy to do that: just remove code until the problem goes away, and then the last bit of code you removed gives you a strong hint about the true nature of the problem,  all

[2021-09-06 10:35] andrew-dzak commented on #939
@gavinking  thanks sure will do that next time in reporting any new issue.  Should have added the domain class when reporting this .

[2021-09-06 10:39] gavinking commented on #939
Thanks.

[2021-09-06 10:49] gavinking commented on #939
I believe that #958 fixes this. We copy/pasted some code from ORM core that is sorta wrong.

[2021-09-06 16:13] #939 closed

[2021-09-06 16:15] gavinking commented on #939
I also fixed it so that we won't get this confusing error message in case of future bugs.

[2021-09-07 11:52] gavinking opened #959 "update merge fix after next ORM release"
We will then have the methods we need exposed.

See #954.

[2021-09-16 09:19] DavideD opened #964 "Remove IBM's asyncutil library dependency"
This: https://github.com/hibernate/hibernate-reactive/blob/297ddc867e0d3e21b01c2f7e7b8a12e996ce041b/hibernate-reactive-core/build.gradle#L27

[2021-09-20 13:45] DavideD commented on #955
@gbadner I'm going to merge this one soon. Do you think you can send a pr #911 and #912 rebased on top of this fix?

[2021-09-20 13:46] DavideD commented on #955
(if you have something working already)

[2021-09-21 02:10] gbadner commented on #955
@DavideD, yes, I'm going to push a draft that depends on this PR.

[2021-09-22 08:34] #955 closed

[2021-09-22 10:47] DavideD opened #969 "Switch requirements to Java 11"
At least in the documentation, we can still test with Java 8 for now

[2021-09-22 12:49] DavideD commented on #964
Done

[2021-09-22 12:50] #964 closed

[2021-09-22 13:05] DavideD commented on #950
I'm not sure how I feel about this. If a user uses `withSession`, they won't notice this issue anyway. I think I'd prefer a consistent behaviour. It also seems that in some simpler scenarios this might be fine when using `withSession` but not when using `openSession`.

Making the signature of the method reactive has also the benefit of simplifying the code and I suspect it will save us some headac

[2021-09-22 13:17] gavinking commented on #950
Nope, it's never fine. It's not fine in regular Hibernate, and it's not fine here.

(There's absolutely *nothing* in what I've said here that's specific to Reactive, FTR.)

I think the much more relevant question here is: for someone who *does* want to manage their own reactive `Session`s, for example, in some sort of interceptor or something, what is the most convenient API for them.

I'm not qui

[2021-09-22 13:36] DavideD commented on #950
You mean, for example, what's more convinient between `@Inject Session session` and `@Inject Uni<Session> session`?

[2021-09-22 13:55] Sanne commented on #950
I'm not entirely sure either, but I have a draft of adapting Quarkus (and Panache Reactive) to deal with `@Inject Uni<Session>` instead of `@Inject Session` and it did simplify some code, allowing me to delete several "helpers"

[2021-09-22 14:07] gavinking commented on #950
I mean what's more convenient for someone *implementing* that sort of injection, for example.

[2021-09-22 14:07] gavinking commented on #950
What's "it" here.

[2021-09-22 14:14] Sanne commented on #950
"it" is having changed the signature in Hibernate Reactive: doing that made the Panache code a bit shorter and better looking.

[2021-09-23 08:28] DavideD commented on #950
I expect `Uni<Session>` to be always easier to implement, for them and for us.

As long as we accept that one cannot do `@Inject Session session`.

[2021-09-27 11:24] Davide-Di-Do opened #975 "ManyToOne lazy association is not loaded with Mutiny.fetch method"
Hi,
as mentioned in the title of the issue, when you try to load with Mutiny.fetch method an ManyToOne association, the linked entity is instantiated with null fields. The issue is not reproducing when trying to fetch OneToMany association.

Here is reported a minimum code to reproduce the problem
[code]

[code]

[code]

Edit:
Add a sample code to retrieve data fetched by the query

[code]

The ex

[2021-09-27 12:27] gavinking commented on #975
I don't see what you do to access the fields of the `Feature`. (Note: if you're just looking in the _debugger_, you're going to be seeing the fields of the *proxy*, not the actual instance.)

[2021-09-27 12:34] Davide-Di-Do commented on #975
Sorry, I're right. I've edited my original post adding the read method of fetched data.

[2021-09-28 13:29] Sanne opened #976 "ReactiveSessionImpl#reactiveClose()"
The implementation of `reactiveClose()` is first closing the connection, and then invoking close() on super.

I believe it needs to happen in the opposite order, for two reasons:

1. we need to flag the Session as closed ASAP to produce an error on illegal use
2. the super.close() method might need the connection to finalize pending operations

[2021-09-29 15:56] DavideD opened #979 "Upgrade ORM to version 5.6.0.CR1"

[2021-09-29 16:27] #912 closed

[2021-09-29 16:27] #979 closed

[2021-09-29 16:42] #976 closed

[2021-09-29 20:26] #969 closed

[2021-10-01 14:44] DavideD commented on #975
@blafond Could you adapt this to an Hibernate Reactive test case and have a look? Unless @gavinking is already taking care of it

[2021-10-04 17:04] blafond commented on #975
@Davide-Di-Do your `Feature` entity doesn't have a **device** field. Is that calculated in side the classe?

[2021-10-04 21:21] Xset-s opened #984 "hibernate reactive + multi threaded network applications"
Hello everyone, that's not kind of issue and supposingly there is a variety of articles related to this problem, but anyway I want to hear some recommendations from hibernate-reactive developers. Some days ago I noticed interesting exceptions:

```java.lang.IllegalStateException: Session/EntityManager is closed``` and ```io.vertx.core.impl.NoStackTraceThrowable: Transaction already complete```

Af

[2021-10-04 21:53] gavinking commented on #984
It sounds like you need to make sure you allocate exactly one `Session` for each thing you're calling a "connection".

You haven't talked about Vert.x contexts, so I'm not terribly surprised that `withSession()`/`withTransaction()` aren't working for you. They will only work if you make sure you have one Vert.x context per connection.

That sounds like it would completely undermine the whole point

[2021-10-08 12:09] DavideD opened #988 "Upgrade to Mutinty 1.1.1"

[2021-10-08 12:10] #988 closed, assigned to nobody

[2021-10-08 12:11] DavideD opened #989 "Upgrade to Vert.x 4.1.5"

[2021-10-08 17:41] DavideD commented on #975
I think the issue is in this line:
[code]

`Mutiny.fetch` is not going to initialize the association in telemetryData.
Somethin like this should work:
[code]

But I'm surprised you have a `NullPointerException`, you should see something like:
[code]

If you could provide a testcase for Quarkus or something that with can run, it would be very helpful.

[2021-10-11 17:12] DavideD opened #991 "Upgrade to spotless 5.16.0"

[2021-10-12 08:48] DavideD opened #993 "Upgrade to ORM 5.6.0.Final"

[2021-10-12 09:15] #991 closed, assigned to DavideD

[2021-10-12 10:02] #989 closed, assigned to Sanne, DavideD

[2021-10-12 10:03] #993 closed, assigned to nobody

[2021-10-13 09:22] codingxu97 opened #995 "Class Persistence.createEntityManagerFactory() used in Verticle produced new Vertx Instance"
Here is my code:
![Code](https://user-images.githubusercontent.com/35094351/137104886-5a6033df-d80c-4748-a0ad-261a7c3988b7.png)
Console printed the following message:
![Warn](https://user-images.githubusercontent.com/35094351/137104442-91f68733-4e05-436a-8fb9-e929541896eb.png)

[2021-10-13 09:40] codingxu97 opened #996 "Support Vertx Future"
Future in Vertx 4 was useful enough, I thought that it was better to use official component than others IMHO.
[code]

[2021-10-13 09:45] DavideD opened #997 "Remove duplicated close method in the Session interface"
I think [it's a leftover](https://github.com/hibernate/hibernate-reactive/blob/7c06cdd07ce61aae1255d8aa66c910214f8abe11/hibernate-reactive-core/src/main/java/org/hibernate/reactive/mutiny/Mutiny.java#L1106) of when we've added the [Closable](https://github.com/hibernate/hibernate-reactive/blob/7c06cdd07ce61aae1255d8aa66c910214f8abe11/hibernate-reactive-core/src/main/java/org/hibernate/reactive/mut

[2021-10-13 10:08] DavideD commented on #995
I'm working on the documentation of this part, but basically you need to register the already existing Vert.x instance when you create the SessionFactory.

I've explained how to do it [as an answer to this question](https://github.com/hibernate/hibernate-reactive/issues/750#issuecomment-839611870).

 Let me know if that helps. I will add that section to the documentation before the final release

[2021-10-13 13:33] DavideD opened #998 "Update documentation about schema creation"
The current documentation only describe `create` has a valid value

[2021-10-14 09:12] #997 closed, assigned to DavideD

[2021-10-14 09:53] DavideD commented on #995
Please, it would be better if you could attach the code as preformatted text and not using images.

You don't show what the class `MyProvider` looks like so I cannot tell you why it doesn't work.
Also, you don't need to access the VertxInstance service.

These are the two approaches:

1. Create the factory programmatically:
[code]
2.  Your class could implement the interface `VertxInstace`:
[code]

[2021-10-14 17:25] Mr-CodingXu commented on #995
Thanks a lot!

On your suggestion,it still create new one.Maybe I should give up using Persistence.

But,is there any possibility that Hibernate reactive could support to use Persistence in Verticle in the future?It seems that ```persistence.xml``` was more general than ```hibernate.cfg.xml``` IMHO.

[2021-10-15 17:07] DavideD opened #1001 "DefaultVertxInstance should not create a new Vertx instance if one exists already"
[See this discussion.](https://github.com/hibernate/hibernate-reactive/issues/995#issuecomment-944404509)

[2021-10-15 17:11] #995 closed, assigned to nobody

[2021-10-18 07:32] #998 closed, assigned to nobody

[2021-10-18 17:11] DavideD opened #1004 "Document which databases currently support schema update/validation"
~~At the moment I think only Postgres and MSSQL Server are supported~~

Except for Db2 all databases should work

[2021-10-18 17:13] DavideD commented on #1004
@blafond Could you take care of this issue since you are already working on https://github.com/hibernate/hibernate-reactive/issues/936, please?

[2021-10-19 14:21] blafond opened #1005 "Schema Validation tests for basic types"
Schema update and validation tests use entities that only test a few datatypes.  The differences in DB runtime types warrant adding tests to verify our reactive result set processing and schema validation and update.  This will also exercise and check the vertx sql clients for complete datatype processing.

see [#1004](https://github.com/hibernate/hibernate-reactive/issues/1004)

[2021-10-20 09:11] UkonnRa opened #1006 "1.0.0.Final cannot connect to the database, but CR10 can"
**Description**

When using `1.0.0.Final`, `SessionFactory` cannot be created and blocks the main thread. But `1.0.0.CR10` is  still working. Guessing it's related to https://github.com/hibernate/hibernate-reactive/issues/995.

**Demo**

https://github.com/UkonnRa/hibernate-reactive-1_0_0-final-bug-test

By default, it's using `1.0.0.Final`, and we can get the blocking error:

[code]

But when cha

[2021-10-20 09:59] DavideD opened #1007 "Explain that schema creation/update is a blocking operation"
And show the use of `vertx.executeBlocking`

[2021-10-20 12:00] #1006 closed, assigned to DavideD

[2021-10-20 14:42] DavideD opened #1008 "Db2 schema update/validation doesn't work"
This is because of an issue with Vert.x: https://github.com/eclipse-vertx/vertx-sql-client/issues/1033

[2021-10-20 14:46] #1008 closed

[2021-10-20 15:38] DavideD opened #1009 "Upgrade testcontainers to 1.16.2"

[2021-10-20 15:41] DavideD opened #1010 "Upgrade Vert.x to 4.2"
The final has been released: https://search.maven.org/artifact/io.vertx/vertx-sql-client

It seems that this upgrade will require some changes and we could start to have a look.

[2021-10-20 16:35] DavideD opened #1011 "Add withTransaction(Session)"
Should we overload  `SessionFactory#withTransaction` so that it can only accept the session?

[code]
Most of the time, when I use `withTransaction`, I don't really care about the tx object.
Overloading the methods will make the code simpler in some cases:
For example:
[code]

becomes
[code]

It will also make it easier to use method reference when the transaction parameter is not useful.

(Similar

[2021-10-20 18:15] DavideD commented on #996
Sounds like a nice idea though :-)

[2021-10-20 18:25] codingxu97 commented on #996
Maybe I was used to using Vert.x Future, I will try to add a Test before send a draft PR.

[2021-10-20 18:50] DavideD commented on #996
@codingxu97 Basically, we need a compelling use case.

That's because once we add something to the project we have to maintain it.

[2021-10-21 09:10] DavideD opened #1012 "Upgrade Gradle to 7"
There are some issues with the asciidoctor gradle plugin that we need to solve before we can upgrade.
See: https://github.com/hibernate/hibernate-reactive/issues/822

[2021-10-21 14:41] DavideD opened #1013 "Hibernate Reactive always recreate the HQLQueryPlan"

[2021-10-21 14:51] DavideD opened #1015 "AssertionException when using the Statistics service"
This error occurs when I run [this test](4897fbd45f5f26463286d48739136a58c462f0e5):

[code]

This is the testcase for `CachedQueryResultsTest`:
[code]

[code]

[2021-10-21 15:15] DavideD opened #1016 "Avoid invoking ConfiguredJdbcBatchSize each time a session is created"
This has been patched in ORM so we just need to make sure we called getConfiguredJdbcBatchSize in both sessions (Stateless and normal).

[2021-10-21 21:00] #1013 closed, assigned to DavideD

[2021-10-26 09:49] DavideD opened #1020 "Remove uses of deprecated `isEnhancementAsProxyEnabled`"
(since 5.5) use of enhanced proxies is always enabled

[2021-10-26 14:12] DavideD opened #1023 "Stateless session doesn't check if we are in a Vert.x event loop"

[2021-10-27 14:58] DavideD opened #1025 "Upgrade Hibernate ORM to 5.6.1"

[2021-10-29 10:42] #1025 closed, assigned to nobody

[2021-10-29 12:37] #1020 closed, assigned to DavideD

[2021-10-29 13:53] DavideD opened #1027 "ReactiveSession#setBatchSize doesn't work"
We create the connection in the constructor and never check setBatchSize.
This issue  happens in [ReactiveSessionImpl](https://github.com/hibernate/hibernate-reactive/blob/65ad987c1c0381d91a7f6e79b16cd0fc44d44174/hibernate-reactive-core/src/main/java/org/hibernate/reactive/session/impl/ReactiveSessionImpl.java#L132) and [ReactiveStatelessSessionImpl](https://github.com/hibernate/hibernate-reactive

[2021-10-29 14:04] #1016 closed, assigned to DavideD

[2021-10-29 14:19] #1009 closed, assigned to nobody

[2021-10-29 14:20] #1007 closed, assigned to nobody

[2021-10-29 15:04] #1004 closed, assigned to DavideD

[2021-10-29 15:31] DavideD opened #1032 "Add support for Oracle"
Requires #1010

https://vertx.io/docs/vertx-oracle-client/java/

[2021-11-01 10:11] DavideD commented on #696
Our assertions don't actually check the contexts but the threads. On CI the test run in the same thread and so the exception is not thrown as expected even if the context associated with the session is different than the execution context.

[2021-11-01 11:47] #1010 closed

[2021-11-01 17:21] DavideD opened #1037 "Upgrade to Db2 11.5.7,0"
The build doesn't seem to work when I upgrade: https://github.com/DavideD/hibernate-reactive/commit/92d2ceef6a90355d5aca48c458bf44a1a87a16b0

[2021-11-01 18:47] DavideD opened #1038 "Check the release scripts"
Now that we have an additional branch (`1.0`), we need to check that the release won't start twice

[2021-11-02 15:49] gavinking commented on #984
Closing this due to inactivity.

[2021-11-03 14:28] gavinking opened #1042 "overload withTransaction()"
@Sanne suggested an overload that doesn't require you to accept a transaction object.

[2021-11-03 19:07] #1005 closed

[2021-11-04 13:20] #959 closed

[2021-11-04 13:32] Sanne opened #1044 "Upgrade to Vert.x 4.2.1"
- https://github.com/vert-x3/wiki/wiki/4.2.1-Release-Notes

[2021-11-04 13:57] DavideD opened #1046 "Upgrade ORM to 5.6.1.Final"

[2021-11-04 13:58] DavideD commented on #1046
My bad. We are already on 5.6.1

[2021-11-04 13:58] #1046 closed

[2021-11-04 14:16] #1044 closed

[2021-11-04 15:00] DavideD opened #1048 "Upgrade Vert.x to 4.1.6"
This is only for the `1.0` branch

[2021-11-04 15:09] DavideD opened #1050 "Remove ProxyConnection"
We've introduced [ProxyConnection](https://github.com/hibernate/hibernate-reactive/blob/main/hibernate-reactive-core/src/main/java/org/hibernate/reactive/pool/impl/ProxyConnection.java) to create a connection lazily but [we have then decided to remove it](https://github.com/hibernate/hibernate-reactive/issues/950).

The plan was to remove this class before 1.0 Final but it has caused some issues w

[2021-11-04 15:18] #1048 closed

[2021-11-04 20:04] gavinking opened #1052 "migration to Hibernate 6"
This is probably a big job, and it's not yet urgent, but it's about time we did at least a bit of exploratory work to get an estimate of just how big of a job and where the damage is.

[2021-11-04 21:21] DavideD commented on #1042
Duplicates #1011

[2021-11-04 21:21] #1042 closed

[2021-11-05 08:45] #1027 closed

[2021-11-05 09:50] DavideD commented on #1038
The release script should still work. I will re-open the issue if something happens during the release

[2021-11-05 09:50] #1038 closed

[2021-11-05 09:54] DavideD opened #1056 "Add setBatchSize to the stateless session"

[2021-11-08 13:29] DavideD opened #1058 "Replace deprecated `ExpectedException.none()` with `Assert.assertThrow`"

[2021-11-08 13:40] DavideD opened #1059 "Test SqlConnectOptions creation from URL"
See [JdbcUrlParserTest](https://github.com/hibernate/hibernate-reactive/blob/main/hibernate-reactive-core/src/test/java/org/hibernate/reactive/configuration/JdbcUrlParserTest.java#L43)

We have a simple test for Postgres but the logic changes a lot based on the database selected.
We should make sure to test that we create the right `SqlConnectOptions` for each database.

This is the method that cr

[2021-11-08 17:54] ReyhanPatria commented on #1058
Hi! Is this for every test? I'd like to work on this if you'd assign me to it. Thanks!

[2021-11-08 18:03] DavideD commented on #1058
Thank you!
I did a quick search and I've found 6 tests:
[code]

It might be more.

Please, make sure to use this code template: https://github.com/hibernate/hibernate-ide-codestyles

The one for Hibernate ORM.

Thanks again

[2021-11-09 16:51] ReyhanPatria commented on #1058
@DavideD I'm having trouble setting up the development environment, is there a guide on this?

[2021-11-09 16:58] DavideD commented on #1058
We don't have a guide because we haven't had many contributors and it should be possible to import the project without any particular configuration.

I cannot help you  if you don't give some more details: which IDE are you using and what's the issue?

[2021-11-09 17:11] DavideD commented on #1058
Maybe I'm a bit optimistic about  this. We use Intellij IDEA and it should work in it as long as you import it as a Gradle project.
Not sure about other IDE.

[2021-11-09 17:14] ReyhanPatria commented on #1058
I'm using IntelliJ as well, I was having trouble runnings the tests. Do I
have to install every type of database?

On Wed, Nov 10, 2021, 00:12 DavideD ***@***.***> wrote:

[2021-11-09 17:16] ReyhanPatria commented on #1058
I'm using Java 1.8, Gradle 6.9.1, and Docker 20.10.10

[2021-11-09 17:18] DavideD opened #1060 "Use Testcontainers as default for testing"
Now that testcontainers seems to work well on all operating systems, I think we can use it as default.
We still need to be able to test on machines not started via docker/podman.

My proposal is to remove `-Pdocker` (it's going to be the default) and instead have something like `-PskipContainers` for when we don't want to use Testcontainers or docker.  We need to rememeber to update the file podma

[2021-11-09 17:29] DavideD commented on #1058
By default, it won't start the containers automatically.
You need to set a system property: `docker=true`

Or you can change the value in this file: https://github.com/hibernate/hibernate-reactive/blob/main/gradle.properties#L25
I've just created an issue to use docker as the default approach: https://github.com/hibernate/hibernate-reactive/issues/1060

Anyway, all the descriptions about starting

[2021-11-09 17:41] ReyhanPatria commented on #1058
Thanks! It works now, it was my docker that had problems.

[2021-11-09 17:45] DavideD commented on #1058
Great!
That's not unusual and actually why we haven't enabled it as the default profile so far.

[2021-11-10 09:31] DavideD commented on #1032
I've created a branch upstream `wip/oracle` to keep track of the progress:
https://github.com/hibernate/hibernate-reactive/tree/wip/oracle

It's not clean but it allows testing with Oracle like we do for the other databases:
[code]
A lot more tests than I expected are already working. I haven't looked into the failures yet but most seems related to the usual: queries, query parameters syntax and c

[2021-11-10 14:16] DavideD opened #1062 "Remove check in ExternalSqlClientPool"
In `getPool`:
[code]

`assertUseOnEventLoop` is causing issues with Quarkus and it shouldn't be necessary in the first place

[2021-11-12 09:37] #1062 closed

[2021-11-16 15:40] #1056 closed

[2021-12-03 09:55] Jotschi opened #1073 "java.lang.IllegalStateException: Session/EntityManager is closed"
I'm currently writing a [PoC for Hibernate Reactive + Vert.x](https://github.com/metaloom/poc-vertx-hibernate) and encountered an issue when loading data. I see `Session/EntityManager is closed` whenever I concurrently access the REST API.

I was also able to reproduce the issue in the boiler plate howto application from Vert.x.

## Steps to reproduce

* Import and run: https://github.com/vertx-ho

[2021-12-03 10:23] DavideD commented on #1073
I'm having a look but the fact that the session is closed makes me think that something hasn't been chain correctly in the stream.

[2021-12-03 10:28] DavideD commented on #1073
yes, this is correct

[2021-12-03 11:34] DavideD commented on #1073
Nevermind, this is something else

[2021-12-04 07:09] Jotschi opened #1074 "IllegalStateException: HR000069: Detected use of the reactive Session from a different Thread"
During development of my Vert.x Hibernate Reactive PoC in encountered the following error:

[code]

I have written a reproducer and can also give the following information:

* The issue does _not_ happen when using Vert.x 4.1.5 - I was only able to reproduce it when using 4.2.1 (I did not test other versions). I thus assume it might be a regression related to the Vert.x code or Vert.x dependencies

[2021-12-04 07:26] Jotschi commented on #1074
I was initially not able to reproduce it because it seems only to be occurring when using the `/products` endpoint. Maybe is is thus related to a regression that is connected to the way sessions are terminated in a created query?

[code]

[2021-12-06 16:44] Davide-Di-Do commented on #975
Sorry for the delay, but meanwhile some good news in my family. I've created a new project where is possibile to test the bug described [Quarkus Hibernate reactive project](https://github.com/Davide-Di-Do/hibernate-bug-testing)

[2021-12-06 16:53] DavideD commented on #975
Thanks, I've reopened the issue and I will check the new test case later

[2021-12-06 20:18] Davide-Di-Do commented on #975
Thanks a lot, in the project I've proposed all test cases. If need help to run the project, please contact me and I will be happy to help the resolution of the problem.

[2021-12-07 18:44] DavideD commented on #975
I can see the error and I suspect that's something related to bytecode enhancements (something that's not enabled in our tests on Hibernate Reactive). Probably that's the reason I couldn't reproduce the issue.
I will try to figure out what's going on tomorrow.

Anyway, the solution in `getAllFeaturesWithMasterDeviceWorks` is the right approach to use for these scenario.
Except that, instead of  `.

[2021-12-08 10:33] Davide-Di-Do commented on #975
@DavideD thanks for advices. I see that I can enhance my code in some points. The code proposed is taken from Hibernate Reactive documentation, so can be useful update, or integrate, the documentation itself to help coding in the right way. My thoughts obvously are just suggestions and not for polemics :)

[2021-12-08 10:37] gavinking commented on #975
@Davide-Di-Do

Wait, you found something like `.call(ignored -> rxSession.close())` somewhere in the docs?

Where? I can't seem to find it there...

[2021-12-08 10:40] gavinking commented on #975
The one place I see where we mention the `close()` method does use `eventually()` in the example.

[2021-12-08 11:45] Davide-Di-Do commented on #975
Sorry for missunderstanding, my thought about documentation was not about session close, but instead about relations fetching

[2021-12-08 22:14] DavideD commented on #975
Thanks for the feedback.

[In the examples](http://hibernate.org/reactive/documentation/1.1/reference/html_single/#_fetching_lazy_associations) in the documentation we use the loaded association as soon as it's retrieved. I guess we can briefly remind the reader that eagerly fetching an association via queries or fetching profiles (like you would do with JPA) is still an option.

Is there somethin

[2021-12-09 09:14] Davide-Di-Do commented on #975
Ok, I understood. So the problem with association fetch in the query was my missing point. Excuse me for the confusion with informations.

For the part of Mutiny.fetch the problem, in perspective, persists so I think that I will continue to use the join fetch in query, but the expected result of Mutiny.fetch should be fixed at some point because in one way the fetch works, in other way not. I've n

[2021-12-09 09:41] markusdlugi commented on #1073
Hi @Jotschi, can you maybe try to set the HR version in your project to 1.0.0.CR9 and check if the problem still happens there?

We're seeing similar issues in our applications where HR will often throw such errors when things happen concurrently, but only in Quarkus 2.4.2.Final (which uses HR 1.0.1.Final). In Quarkus 2.3.1.Final (using HR 1.0.0.CR9) everything's working perfectly fine for us.

If

[2021-12-09 09:57] DavideD commented on #1073
I will check later but I guess it's possible

[2021-12-09 10:15] Jotschi commented on #1073
@markusdlugi The project is the official Vert.x hibernate reactive howto. I tested your suggested changes:

It seems the dependencies are not compatible. If I switch to 1.0.0.CR9 I get a NoSuchMethodError.
I tested mutiny-vertx 2.14.2 (Vert.x 4.1.5) and 2.16.0 (Vert.x 4.2.1)
[code]
What Vert.x version are you suggesting? I can try to select the matching Vert.x version and report back to you.

[2021-12-09 10:20] markusdlugi commented on #1073
@Jotschi, Quarkus version 2.3.1.Final uses Vert.x 4.1.4 and mutiny-vertx 2.13.0

[2021-12-09 10:35] Jotschi commented on #1073
@markusdlugi With mutiny-vertx 2.13.0 and HR 1.0.0.CR9 I don't see the error.

[2021-12-09 10:44] markusdlugi commented on #1073
@Jotschi, great, thanks for the investigation :)

@DavideD, that should hopefully narrow it down quite a lot, right? So the problem was most likely introduced with either CR10 or Final:
https://github.com/hibernate/hibernate-reactive/milestone/12?closed=1
https://github.com/hibernate/hibernate-reactive/milestone/13?closed=1

[2021-12-09 11:33] DavideD opened #1077 "Persist of entity with non nullable association causes UnsupportedOperationException"
Mapping example:
[code]

Setting either `nullable = false` or `optional = false` will cause the following exception during a persist:
[code]

[2021-12-09 11:47] DavideD commented on #1073
Thanks for investigating.
I have the feeling that's related to this issue: https://github.com/hibernate/hibernate-reactive/issues/950

[2021-12-09 14:41] DavideD opened #1078 "Upgrade to Hibernate ORM 5.6.2.Final"

[2021-12-10 14:07] DavideD opened #1080 "Upgrade to Mutiny 1.2.0"

[2021-12-10 14:07] DavideD commented on #1080
Fixed by https://github.com/hibernate/hibernate-reactive/pull/1071

[2021-12-10 14:07] #1080 closed

[2021-12-10 17:24] DavideD commented on #1032
I've updated the branch and when using the latest snapshot we have 7 failures caused by the same 2 errors:
* `Error Msg = ORA-00932: inconsistent datatypes: expected - got BLOB `: I've already [created an issue for Vert.x](https://github.com/eclipse-vertx/vertx-sql-client/issues/1085).
* Inheritance and some other case where we have queries with `RETURNING ROWID INTO ?`. I will check this next wee

[2021-12-10 18:50] DavideD commented on #975
Yes, this is a bug. I'm working on it.

It happens when bytecode enhancements are enabled.
Normally, one needs to enable them in the configuration but Quarkus enables them by default.

Note that in this scenario, if you already know that you always need to fetch the association, the query is the best option anyway.

[2021-12-10 20:00] tsegismont commented on #1032
@DavideD 7 failures out of the entire test suite? Sounds like good news!

[2021-12-13 09:31] DavideD opened #1081 "Use UriPoolConfiguration as default SqlClientPoolConfiguration"
Hibernate Reactive uses [DefaultSqlClientPoolConfiguration](https://github.com/hibernate/hibernate-reactive/blob/main/hibernate-reactive-core/src/main/java/org/hibernate/reactive/pool/impl/DefaultSqlClientPoolConfiguration.java) as the default class to convert an url into a set of options to pass to Vert.x

The problem of this class is that it has a lot of custom code that's not easy to maintain.

[2021-12-13 16:49] DavideD commented on #1032
I think the other problem that it's missing is an issue with Vert.x: https://github.com/eclipse-vertx/vertx-sql-client/issues/1108

[2021-12-13 17:40] DavideD opened #1082 "Upgrade to PostgreSQL 14.1 for testing"

[2021-12-13 18:08] #1082 closed

[2021-12-13 21:44] gavinking commented on #1081
@DavideD check #333 which has at least some overlap with this.

[2021-12-14 09:51] DavideD commented on #1081
Ah right, I've forgotten that one. Thanks

[2021-12-14 09:52] DavideD commented on #1081
Duplicate of #333

[2021-12-14 09:52] #1081 closed

[2021-12-14 10:00] DavideD commented on #333
@gavinking Do you plan to work on this? Otherwise I think @blafond can start to have a first look

[2021-12-14 10:41] gavinking commented on #333
Nah, I tried a while ago and I didn't have what I needed, but perhaps we do now with the new stuff in latest Vert.x.

[2021-12-14 10:41] gavinking commented on #333
I mean to say no I'm not working on it :)

[2021-12-14 16:53] DavideD opened #1084 "Upgrade log4j for testing to 2.16.0"

[2021-12-14 17:53] DavideD opened #1086 "Upgrade to Vert.x 4.2.2"

[2021-12-15 12:26] DavideD opened #1089 "Upgrade to Vert.x 4.1.7"
This is for the branch `1.0`

[2021-12-15 14:22] #1086 closed

[2021-12-16 10:14] DavideD opened #1092 "Upgrade to Hibernate ORM 5.6.3.Final"
Fixes #1092

[2021-12-16 11:02] DavideD commented on #1092
merged

[2021-12-16 11:02] #1092 closed

[2021-12-16 12:08] #1089 closed

[2021-12-16 12:09] DavideD opened #1095 "Sign the artifacts for Sonatype"

[2021-12-16 13:42] tiagomistral opened #1098 "Find elements with a EntityGraph"
Hello,

As long as I understand it's possible to find an element but it isn't possible to execute a criteria query with an EntityGraph.

Code:

    @Entity
    @Table
    @NamedEntityGraph(name = "graph.Author.books",
        attributeNodes = @NamedAttributeNode("books"))
    @NamedQuery(name = "Author.listAll",
        query = "SELECT e FROM Author e")
     public class Author {
        @Id

[2021-12-16 19:48] blafond commented on #1081
@gavinking @DavideD   I'd like some clarity on #1059 and it's relation to this issue.

#1059 is about changing our tests to leverage the vertx URI parsing and that makes sense.

[DefaultSqlClientPoolConfiguration](https://github.com/hibernate/hibernate-reactive/blob/main/hibernate-reactive-core/src/main/java/org/hibernate/reactive/pool/impl/DefaultSqlClientPoolConfiguration.java) is added in HR co

[2021-12-17 12:14] DavideD commented on #1098
I'm checking

[2021-12-17 13:08] DavideD commented on #1098
@gavinking Any particular reason this was commented? Or we simply haven't implemented it yet

[2021-12-17 13:09] gavinking commented on #1098
commented where?

[2021-12-17 13:09] gavinking commented on #1098
oic, in `Mutiny.Query`.

[2021-12-17 13:12] gavinking commented on #1098
The commit comment that blame shows me is:

[2021-12-17 13:13] gavinking commented on #1098
And #39 is fixed. Not sure about whatever limitation I found in core.

[2021-12-17 13:39] DavideD commented on #1098
I will write a test

[2021-12-17 14:09] DavideD commented on #1098
@tiagomistral As a workaround, for now I wouldn't use entityGraphs but you can do a fetch with Criteria:
[code]

[2021-12-17 14:11] tiagomistral commented on #1098
Thanks for the reply @DavideD , I already use that for complex queries but that doesn't use the `@EntityGraph` :/

[2021-12-17 14:49] DavideD commented on #1081
#1059 Is about adding some tests for the version that we have right now. You shouldn't have to touch the implementation but you need to check that we create the correct SqlClientOptions object.

The reason it is related to #333 is that once #1059 is solved we will have tests to make sure that after the refactoring everything will still work the same

[2021-12-17 17:07] noobgramming opened #1099 "Reactive ValueGenerator<> for use with @GeneratorType?"
Hello!
I have a column I need generated from a SQL snippet during session. It uses SELECT to grab a db specific global variable and stuff it into a column on insert using
[code]
How can I do this in Hibernate Reactive?  `ValueGenerator<Long>`  doesn't use reactive Session.

I can `session.unwrap(ReactiveSession.class)` but there's no return of `CompletionStage<Long>` so I don't think it will work

[2021-12-17 17:15] DavideD commented on #1099
I don't think we support that use case at the moment. As you say, we are reusing the interface from ORM so we cannot return a `CompletionStage`.

I will create an issue for this.

[2021-12-17 17:18] noobgramming commented on #1099
@DavideD thank you for quick response. I need to finish this migration to Reactive with least hacks possible :) , can you think of any workarounds for such functionality I can use now?

I have looked at @Formula but it generates on SELECT and I want on insert only.

Perhaps I can lie to Hibernate and pretend its part of ID so I can use custom ID generator?

Open to any ideas to make this work for

[2021-12-17 17:19] gavinking commented on #1099
So no, looks like we don't.

However, it looks like it might be pretty trivial to implement, it would be a completely localized change at line 639 of `ReactiveAbstractEntityPersister`, where we would have special handling for a `ValueGenerator` that returns `Uni` or `CompletionStage`. Serendipitously, the surrounding method is already reactive.

I mean, I *think* that would work.

[2021-12-17 17:24] DavideD commented on #1099
I will give it a go

[2021-12-17 17:25] noobgramming commented on #1099
I greatly appreciate it!
If you would like, I can get permission from my company to contribute this enhancement. But if there's CLA involved it might get bogged down in legal and take longer than it would for you to implement

[2021-12-20 07:02] DavideD opened #1100 "Upgrade Log4j to 2.17.0"

[2021-12-20 07:46] guy1699 opened #1102 "Receiver class io.vertx.pgclient.spi.PgDriver does not define or inherit an implementation of the resolved method 'abstract io.vertx.sqlclient.Pool createPool"
Working with postgres 14 and vertx-pg-client 4.2.2 on a spring boot app, I'm getting the following exception when calling to:
` EntityManagerFactory emf = Persistence.createEntityManagerFactory(PERSISTENCE_UNIT_NAME, hibernateReactiveProperties());`

[code]

My pom file's dependencies:

[code]

[2021-12-20 07:51] DavideD commented on #1102
Does it work with Vert.x `4.2.1`?

We tried to release Hibernate Reactive `1.1.2.Final` last week that should work with Vert.x `4.2.2` but it seems that something went wrong. We will try again shortly.

[2021-12-20 07:54] #1100 closed

[2021-12-20 08:26] guy1699 commented on #1102
Vert.x 4.2.1 work !!

[2021-12-20 21:01] blafond commented on #1081
@DavideD pushed a test to my fork at [issue-1059](https://github.com/blafond/hibernate-reactive/commit/84614fd2a4dede61fdf85d57f6e6b9ff6c28bb77).

The documentation for the vertx clients show a little different URL construction than what's being used in our connection logic. They put **user info** first rather than **host & port**

For PG and MYSQL I can test with either the URL format from vertx

[2021-12-20 21:03] blafond commented on #1081
see:  https://vertx.io/docs/vertx-db2-client/java/#_configuration for an example

[2021-12-20 22:46] blafond commented on #1081
A little more info....

Looking at each of the vertx parser frameworks, they handle **general** properties as specific/known props. Their
**[PgConnectionUriParser](https://github.com/eclipse-vertx/vertx-sql-client/blob/e430bd8a25327854b35ab3f2e2bca2ea76b1207b/vertx-pg-client/src/main/java/io/vertx/pgclient/impl/PgConnectionUriParser.java#L198)** pluck specific configuration parameters and anything

[2021-12-21 08:19] DavideD commented on #1081
In the documentation we don't have examples of the URLs that we support but I think we mention that it's possible to use the JDBC URL format for each database. It seemed like a good format to use at the time because it was the same supported by ORM.

Vert.x SQL Client goes toward a different road though, and they use a format different than the JDBC one from the same database.

In the end, I think

[2021-12-21 08:21] DavideD commented on #1081
By the way @blafond, this issue is closed. I think we should comment on #333 instead

[2021-12-21 09:07] gavinking commented on #1081
It makes sense and indeed I think if you try it you'll find that what you just described *already* works in HR, at least for postgres and MySQL.

[2021-12-21 12:09] hantsy commented on #1073
My Hibernate reactive + Vertx example: https://github.com/hantsy/vertx-sandbox/tree/master/mutiny-spring-hibernate, but not encountered this issue.

[2021-12-21 12:59] DavideD commented on #1099
I've sent a PR request. I've added two new interfaces that can be use instead of `ValueGenerator`: https://github.com/hibernate/hibernate-reactive/pull/1103/commits/7cbbba503037f9fdb2ec513e1aafc0f692da8e7e

[2021-12-21 13:01] guy1699 opened #1104 "setPackagesToScan on Mutiny.SessionFactory"
With the following code, the EntityManagerFactory's metamodel has no packages/classes.

I'm missing the parallel ` sessionFactory.setPackagesToScan()` in non reactive Hibernate.

[code]

[2021-12-21 20:35] guy1699 commented on #1104
solved by adding a class tag for each entity in persistence.xml

[code]

Wonder if it can be scanned automatically for each class with @Entity annotation.

[2021-12-22 16:02] DavideD opened #1105 "Upgrade to Vert.x SQL client 4.2.3"

[2021-12-22 17:07] #1105 closed

[2021-12-23 04:00] hantsy commented on #1052
Before update to Hibernate code base, if possible release a Jakarta EE 9 compatible version for the `jakarta` namespace change.

[2021-12-23 09:20] DavideD commented on #1052
We plan to have a look at Jakarta beginning of next year, so it will probably happen before the upgrade of Hibernate 6

[2022-01-04 14:01] guy1699 opened #1108 "A way to pass SSL mode to the Vertx pgClient"
Today there is no way to pass SSL mode by property or URL param when using Postgres.
Correct me if I'm wrong, the only client available is Vertx and it is using `io.vertx.pgclient.PgConnectOptions`.

The constructor of PgConnectOptions does not inherit the SSL mode from the SqlConnectOptions which Hibernate sends.
https://github.com/eclipse-vertx/vertx-sql-client/blob/352e8da205598ffd9730ef36891db

[2022-01-04 14:12] blafond commented on #1108
@guy1699  I'm working on #1059 with the intent on capturing all valid properties on a URL, including for PostgreSQL. Vertx sql clients provide db-specific URL parsing ( see [PgConnectionUriParser](https://github.com/eclipse-vertx/vertx-sql-client/blob/352e8da205598ffd9730ef36891dbc28ff544e53/vertx-pg-client/src/main/java/io/vertx/pgclient/impl/PgConnectionUriParser.java#L185) ).

By leveraging ver

[2022-01-04 15:50] blafond commented on #1108
Thx for the input. I think my fix will require a tweak to Vertx SQL client parsers. Created issue:  [#1115](https://github.com/eclipse-vertx/vertx-sql-client/issues/1115)

[2022-01-04 15:58] blafond commented on #1059
Logged vertx issue to allow additional URL properties to be captured during parsing. [#1115](https://github.com/eclipse-vertx/vertx-sql-client/issues/1115)

[2022-01-06 15:21] blafond commented on #1059
@gavinking @DavideD

So do we want HR users to be able to pass arbitrary properties on their URLs through the vertx sql clients?  Currently there's logic in vertx that is limiting the values being processed. (see [#1115](https://github.com/eclipse-vertx/vertx-sql-client/issues/1115))

Currently the vertx `SqlConnectOptions` URL parsing implementations are creating a `JsonObject` map of specific or

[2022-01-06 15:33] gavinking commented on #1059
Well, I mean naïvely I would say yes.

I don't see why we need to protect the database from receiving connection properties. That's it's responsibility to safely handle, I would have thought.

[2022-01-06 22:48] hernael opened #1109 "In MSSQL: Incorrect syntax near the keyword 'rule'."
In MSSQL Rule is a reserved keyword.
If there is a column with a reserved name it is necessary that the sql use square brackets to make it explicit that you mean the object named "rule" it.

Use [rule] instead of rule.

[2022-01-06 23:15] gavinking commented on #1109
There's various ways to tell Hibernate to use quoted identifiers, the easiest one being to quote the column name using backticks in the `@Column` annotation.

I suggest you check the Hibernate documentation.

[2022-01-06 23:15] #1109 closed

[2022-01-07 10:11] DavideD opened #1110 "Upgrade Log4j to 2.17.1"

[2022-01-07 10:31] #1110 closed

[2022-01-07 10:41] #1099 closed

[2022-01-07 10:51] DavideD commented on #1104
You can use in the `persistence.xml`:
[code]

Although, I would have expected this to be the default behaviour.

[2022-01-07 12:16] DavideD opened #1112 "Describe property `hibernate.vertx.pool.class` in the documentation"
We should add it to the [1.5.1. Tuning the Vert.x pool](https://hibernate.org/reactive/documentation/1.1/reference/html_single/#_tuning_the_vert_x_pool) section for advance cases

[2022-01-07 12:23] DavideD commented on #1108
Isn't this a Vert.x issue?

In Hibernate Reactive we allow passing a custom configuration using `hibernate.vertx.pool.configuration_class` (like you have already did) or, for other advance use cases, pass a cusomt pool using `hibernate.vertx.pool.class` ([it's not described in the documentation yet though](https://github.com/hibernate/hibernate-reactive/issues/1112)).

@blafond Is there anything w

[2022-01-07 12:56] gavinking commented on #1073
@DavideD I don't understand your comment here. WDYM?

[2022-01-07 13:36] DavideD commented on #1073
That's the most involved change between CR9 and CR10. So it might be related to it. That's all

[2022-01-07 15:18] guy1699 commented on #1108
@DavideD, can you describe how to use a custom pool with `hibernate.vertx.pool.class` ?
Is this different than what I did?

[2022-01-07 15:23] DavideD commented on #1108
It's different because you would have to implement `ReactiveConnectionPool` instead. What you have done seems fine.

[2022-01-07 15:24] DavideD commented on #1108
But I'm not sure why we have the property considering that `ReactiveConnectionPool` is a service

[2022-01-07 15:28] guy1699 commented on #1108
What property, how one implementation of `ReactiveConnectionPool` is chosen over another @DavideD ?

[2022-01-07 15:51] DavideD commented on #1108
1. `hibernate.vertx.pool.configuration_class`: It allows you to create a custom `SqlClientPoolConfiguration`
2. `hibernate.vertx.pool.class`: It allows you to use a custom `ReactiveConnectionPool`

The only use case I can think of for 2 is Multitenancy (we have an example in our test cases: [ReactiveMultitenantTest](https://github.com/hibernate/hibernate-reactive/blob/9db5950d395d08948a221d53a09c9

[2022-01-07 16:00] DavideD commented on #1112
Nevermind, it's already described in a different paragraph of the documentation

[2022-01-07 16:00] #1112 closed

[2022-01-10 13:45] markusdlugi commented on #1073
@DavideD I tested it with the reproducer provided by @Jotschi and the issue was actually introduced with 1.0.0.Final. Version CR10 is still working fine, no errors whatsoever. Once you switch the reproducer to Final, the issue happens even with the smallest bit of concurrency and is actually really bad. For example:

[code]

So even with just 2 concurrent threads, 1028/1090 requests failed due to

[2022-01-10 13:49] markusdlugi commented on #1073
And by the way, the latest release 1.1.1.Final is also still affected by this problem. Needless to say, it's not really usable with this rate of errors.

[2022-01-10 14:00] DavideD commented on #1073
I will check this issue this week

[2022-01-10 14:05] DavideD commented on #864
@blafond I've reassined this issue to you. It's related to what are you doint right now, isn't it?

[2022-01-10 14:18] DavideD opened #1116 "Limit concurrent Github Actions builds"
See hibernate/hibernate-orm#4615

[2022-01-10 14:19] DavideD commented on #1116
Fixed by https://github.com/hibernate/hibernate-reactive/pull/1115

[2022-01-10 14:19] #1116 closed

[2022-01-10 14:25] DavideD opened #1117 "Revise startup message"

[2022-01-10 14:34] blafond commented on #864
yes

[2022-01-11 13:43] DavideD commented on #1073
@markusdlugi I've just tested this and if I revert #1001 everything works

[2022-01-11 18:56] DavideD commented on #1073
@markusdlugi It seems that applying this PR also fix the issue: https://github.com/hibernate/hibernate-reactive/pull/1118

I'm prone to say that this is the right fix but I'm not sure what's the difference between local and non local data in a Context.
I will continue tomorrow.