[2022-01-11 19:06] markusdlugi commented on #1073
@DavideD Thanks a lot for investigating! I can also test tomorrow with a more complex application in case you need more feedback on this.

[2022-01-11 19:50] gavinking commented on #1073
@DavideD the difference is that the local context is local to the particular "logical thread" whereas there is one (non-local) `Context` per verticle.

[2022-01-12 07:08] DavideD commented on #1073
More testing and feedback is always appreciated

[2022-01-12 09:49] guy1699 opened #1120 "hibernate.default_schema don't work for sequences"
When saving with `session.persist(entity)` I get an error saying the sequence (that set the serial PK for PostgreSQL DB) does not exists.

If I have this sequence in the public schema it does find it, so I know the issue is that selecting a sequence does not consider the schema configured by hibernate.default_schema.

If I update a record it will update correctly in the right schema.

[code]

[2022-01-12 10:00] DavideD commented on #1120
Can you show us how you've mapped the entity property that uses the sequence, please?

[2022-01-12 11:34] guy1699 commented on #1120
I don't know how but it is working after playing around with all kinds of things in the local PostgreSQL.
But the problem was there as I describe it.

[code]

[2022-01-12 12:37] DavideD commented on #1073
Any idea how I can unit test this?

[2022-01-12 14:59] guy1699 opened #1121 "withTransaction does not keep the same transaction associated with the current Vert.x local context"
I'm counting on the documentation explaining one can work with the same reactive-stream and keep calling `withTransaction` to keep adding DB operations to the same transaction, but it does not work.
https://hibernate.org/reactive/documentation/1.0/reference/html_single/#:~:text=When%20you%20create,see%20this%20error%3A

I'm running on Spring boot using `Uni` all the way.
I'm testing it by insertin

[2022-01-12 15:56] gavinking commented on #1121
Tx propagation works if you stay on the same Vert.x local context. I'm not sure how you're implementing that in Spring boot, and I imagine you don't get it for free.

[2022-01-12 17:24] guy1699 commented on #1121
@gavinking so that means that your comment on same Transaction per Vert.x context (the link I referred to above) is only relevant to Quarkus ?

Can you elaborate more please,
I'm using Mutiny and Spring-boot, does it means that Spring should somehow attach Vert.x context for each reactive stream? in which point that can happen, where Quarkus is doing that?

[2022-01-12 20:56] gavinking commented on #1121
Well not just in Quarkus, in anywhere you have Vert.x driving the calls into your code.

[2022-01-13 06:55] guy1699 commented on #1121
I still don't get it, how can I roll back a transaction when an error is thrown?

It would not make sense to wrap 100 lines of code with the `withTransaction` method in order to rollback

[code]

[2022-01-13 17:09] gavinking commented on #1073
I'm certain that @Sanne's right, and this problem was a consequence of #948. The Vert.x context and the Vert.x local context are _very_ different things&mdash;kinda like the difference between a static variable and a threadlocal&mdash;and if we mix them up then obviously everything goes haywire.

I think we need to prioritize an immediate release just to fix this. Because right now anyone who uses

[2022-01-13 17:10] gavinking commented on #1073
(P.S. sorry for being slow to pick up on this, I was very busy recently with the other Hibernate which is doing a major release very soon.)

[2022-01-13 17:23] DavideD commented on #1073
We are working on this. I haven't merge the fix yet because I want to have a test in Hibernate Reactive for this.
I've almost finished writing one that should work for the time being

[2022-01-13 17:28] DavideD commented on #1073
Reopening this issue because the PR doesn't have a test

[2022-01-13 20:32] gavinking commented on #1121
@guy1699 it's *really* hard to discuss this stuff in the abstract, without knowing more about how your system works. It's made even harder by the fact that we've _just_ woken up to the fact that for the last 4 months there's been a bug that rendered tx/session propagation pretty much completely broken (and so what you're experiencing could even just stem from that, I'm not sure).

Basically, tx/se

[2022-01-14 09:39] DavideD commented on #1073
It should be fixed now.
Thanks a lot @Jotschi for letting us know about this issue and patiently wait for a fix.

[2022-01-14 09:39] #1073 closed

[2022-01-14 09:55] DavideD commented on #1073
I'm preparing a release now

[2022-01-14 10:50] Sanne commented on #1073
@markusdlugi yes we'll upgrade Quarkus right away, it will be included in 2.7

[2022-01-14 10:51] DavideD commented on #1073
I've started the release FIY

[2022-01-14 10:52] guy1699 commented on #1121
Thanks for the detailed answer @gavinking (not typical for you :))

So maybe the `VertxContext` is what I need, not sure if it always comes with Mutiny, regardless of not using Vert.x for managing deployments and verticals/instances.
Vertex only used through `smallrye-mutiny-vertx` .

Can you share an example how to use it?

[2022-01-14 11:00] DavideD commented on #1073
Hibernate Reactive `1.1.2.Final` is available. I've sent a PR for Quarkus: https://github.com/quarkusio/quarkus/pull/22898

[2022-01-14 11:01] DavideD commented on #1121
I've just released HR `1.1.2.Final`. @guy1699 Could you check if this version solves your issue?

[2022-01-14 11:45] guy1699 commented on #1121
Thanks, I'll check.
Is there a way to print the current reactive-stream (pipeline), some unique identifier? (using Mutiny of course)
What PR did fix the issue?

[2022-01-14 11:45] DavideD commented on #1121
Maybe the way we use it in the project can help?

* This is our implementation of `withSession`: https://github.com/hibernate/hibernate-reactive/blob/main/hibernate-reactive-core/src/main/java/org/hibernate/reactive/mutiny/impl/MutinySessionFactoryImpl.java#L224
* This is the default implemention of VertxContext in Hibernate Reactive: https://github.com/hibernate/hibernate-reactive/blob/main/hiber

[2022-01-14 11:49] DavideD commented on #1121
This is the PR that fixes the error @gavinking was talking about: https://github.com/hibernate/hibernate-reactive/pull/1118

[2022-01-14 11:56] gavinking commented on #1073
Excellent, thanks for all your work on this @DavideD.

[2022-01-14 12:03] DavideD commented on #1102
This should have been fixed by the `1.1.2.Final` release that uses Vert.x `4.2.3`

[2022-01-14 12:03] #1102 closed

[2022-01-14 12:08] DavideD commented on #1074
@Jotschi coudl you let us know if this has been fixed by 1.1.2.Final, please?

[2022-01-14 12:11] DavideD opened #1127 "Upgrade to JBoss Logging 3.4.3.Final"

[2022-01-14 12:15] #1127 closed

[2022-01-14 12:24] guy1699 commented on #1121
Great @DavideD , I feel it's getting there.
So if you can help with testing,
1. Where can I see a test of this promise to keep the same session/tx along the pipeline, I wonder if I can uniTest it without actual DB?
2. Is there a way to print the current reactive-stream (pipeline), some unique identifier? (using Mutiny of course)

[2022-01-14 13:17] Jotschi commented on #1074
@DavideD Upgrading to 1.1.2.Final does not seem to fix the observed exception. I'm still able to reproduce it.
I have added the Stacktrace https://gist.github.com/Jotschi/4fe6263369be82871fb958816400f1e1#file-errror-with-hibernate-reactive-1-1-2-final-log

[2022-01-14 13:35] guy1699 commented on #1121
Yes, it is working now, I tested it with the code below.
The LOGGER print the same session and also attempt to defy a DB constrain like two entities with the same unique key will throw an error and will roll back the first insert.

[code]

Still appreciate ideas on how to uni test without a real DB.
Can Postgresql containers help?

[2022-01-14 15:01] DavideD commented on #1121
Awesome!

We test everything using real database for several reasons:
* Docker + testcontainers makes  it really easy to setup up and start a database when you need one and some databases are really quick (PostgreSQL for example)
* Even without docker, having a script that starts a db is not too hard
* I'm personally not a big fun of mocking classes and don't trust tests working using mocks (gener

[2022-01-14 15:11] DavideD commented on #1121
There is also now an integration test added to the project to check for #1073: https://github.com/hibernate/hibernate-reactive/pull/1123

There are some caveats explained in the PR. In the future I want to improve the test but for now it should be good enough.

I think that if you want to test this type of errors, you need to create a situation where you run different operations in parallel and th

[2022-01-14 15:12] DavideD commented on #1121
Closing this issue because it's been solved by the latest release

[2022-01-14 15:12] #1121 closed

[2022-01-14 15:35] DavideD opened #1128 "Upgrade to Vert.x 4.1.8"
This is for the 1.0 branch

[2022-01-14 16:41] #1128 closed

[2022-01-14 20:06] DavideD commented on #1074
Sorry, the error doesn't happen when I run it.
I will try again next week

[2022-01-15 18:13] DavideD commented on #1074
Never mind. I can see the error. It turns out I wasn't stressing it enough.

[2022-01-15 21:22] DavideD commented on #1074
Could you check if this commit fixes this issue, please? https://github.com/DavideD/hibernate-reactive-howto/commit/2aded6f8a5d9bb138c70ceea9d8eecbebd49a63a

It seems to work for me but I'm not sure yet why it fails without it

[2022-01-16 00:05] Jotschi commented on #1074
@DavideD Sure. I can also no longer reproduce the issue with the change.

[2022-01-16 10:39] guy1699 commented on #1120
@DavideD Did you find a bug or did you just throw it to the next milestone and investigate later?
Do you have idea for workaround?

[2022-01-16 11:18] DavideD commented on #1120
I've just label it and assigned it to myself so that I don't forget about it, but I haven't had time to look into this yet.
I will try to create a test this week.

As a workaround, you can try to set the attribute `schema` or `catalog` in `@SquenceGenerator`:

[code]

[2022-01-16 14:00] guy1699 opened #1131 "ManyToOne LAZY loading - could not initialize proxy no Session"
Hi,
Is there an issue with LAZY loading of ManyToOne?
I get an error:

I did run everything inside a transaction:

[code]

Entity field:

[code]

[2022-01-16 14:44] gavinking commented on #1131
https://hibernate.org/reactive/documentation/1.1/reference/html_single/#_fetching_lazy_associations

[2022-01-16 19:29] #1131 closed

[2022-01-17 15:26] Jotschi commented on #1074
@DavideD Ouh! I think I spotted something. Vert.x is initialized twice. First via the ReactiveSessionFactory and second for the App. Thats bad as it creates different ThreadPools.

[code]

I assume hibernate-reactive will use the app instance if you pass it along with the argument.

I think the issue might not happen if I would start the session factory within a vert.x context  (e.g. within a vert

[2022-01-17 15:38] DavideD commented on #1074
Yes, that is what's happening. I'm going to add a log message to make it clearer when when a new Vert.x instance is created by Hibernate Reactive

The commit I shared with you passes the created Vert.x instance to Hibernate Reactive so that it doesn't have to create a new one. Alternatively, if you create the factory inside a Vert.x context, hibernate reactive will be able to find the running Vert

[2022-01-17 15:46] Jotschi commented on #1074
@DavideD It also works fine if hibernate-reactive is started within a execute blocking. I recalled this being also described in the documentation: http://hibernate.org/reactive/documentation/1.1/reference/html_single/#:~:text=startHibernate%20%3D%20vertx.executeBlocking(startHibernate)

I also checked the example:

https://github.com/vertx-howtos/hibernate-reactive-howto/blob/master/src/main/java/

[2022-01-17 16:16] DavideD commented on #1074
Yes, the `executeBlocking` approach works as well. Basically, there are multiple ways to do the same thing.
Just keep in mind that it will create asdifferent factory for each Verticle instance.
You could also do something like this:
[code]

I wouldn't force it. It seems a valid approach to create a factory and then pass it to a verticle.
Plus, some people might want to use HIbernate Reactive witho

[2022-01-17 16:26] DavideD commented on #1074
Thanks @Jotschi.
I'm closing this issue and create a separate one to keep track of the problem when having multiple instances of Vert.x

[2022-01-17 16:27] #1074 closed

[2022-01-17 16:42] DavideD commented on #1074
I need to check the documentation and see what we say about this.
We definitely need to add a log message for when we create a new Vert.x instance (or we recognize that one exists already)

[2022-01-17 16:43] DavideD opened #1133 "IllegalStateException: HR000069 with RxJava and multiple instances of Vert.x"
This follows #1074.

Here the use case:
1. The Hibernate Reactive session factory is created outside of a Vert.x context, so a new Vert.x instance is created
2. The Session Factory is passed to a Verticle and deployed using a different Vert.x instance
3. The Vertice will use the session factory to run some CRUD operations

Here's an example of the method in the Verticle that answer to a http reque

[2022-01-17 16:46] DavideD commented on #1133
It's a WIP but [this branch on my repository](https://github.com/DavideD/hibernate-reactive/tree/1133) contains an integration test about this.

[2022-01-17 16:47] gavinking commented on #1074
Yes, certainly agree.

[2022-01-17 16:51] DavideD opened #1134 "Add log message for when we create a new Vert.x instance"
Should we also have one for when we recognize that there is a Vert.x instance already?
Maybe one as info level and the other as debug.

[2022-01-17 16:52] gavinking commented on #1134
That's what I would do, yes.

[2022-01-17 17:38] DavideD commented on #1074
I've just realized that in my previous example I've used mutiny.
The same can be done with RxJava:

[code]

[2022-01-17 18:01] Jotschi commented on #1074
@DavideD Yep, thats basically the way I have fixed it now. I have to check my examples and make sure that all the sections are correct. I don't want to promote the wrong way of initializing hibernate reactive.

[2022-01-18 12:01] gavinking commented on #1120
Fixed.

[2022-01-18 12:03] gavinking commented on #1098
I mean, if this is still a limitation in core, then I would simply close this issue.

[2022-01-18 13:30] tiagomistral commented on #1098
@gavinking does it make sense to uncomment the setPlan and (re)check if the queries work?

[2022-01-18 13:32] gavinking commented on #1098
Sure, if it works, then there's no problem allowing it.

[2022-01-18 13:33] tiagomistral commented on #1098
Should I close this topic or you will use it to tracker this investigation? :)

[2022-01-18 17:11] DavideD opened #1136 "Check if we can integrate with Dependabot"
See https://dev.to/cricketsamya/gradle-with-dependabot-1o47

~~See also this comment from @marko-bekhta: https://github.com/hibernate/hibernate-reactive/pull/2263#discussion_r2100247299~~
I've created a separate issue: https://github.com/hibernate/hibernate-reactive/issues/2269

[2022-01-19 09:30] janyyy opened #1137 "createNativeQuery method returns custom entity"
How do I return a custom entity object after I call the createNativeQuery method? ExampleDto, for example, has only two fields. Unlike data and entities, the mapping can be customized when it is not reactive.

[2022-01-19 09:45] gavinking commented on #1137
I don't really understand the question, but have you used `@SqlResultSetMapping`?

[2022-01-19 09:59] janyyy commented on #1137
It is to check the data table corresponding to entity A and return the DTO class of entity A. I'm trying the method you said

[2022-01-19 10:19] DavideD opened #1139 "Upgrade Hibernate ORM to 5.6.4.Final"

[2022-01-19 10:49] DavideD opened #1141 "Upgrade Mutiny to 1.3.1"

[2022-01-19 10:49] #1141 closed

[2022-01-19 10:50] #1139 closed

[2022-01-19 11:56] #1134 closed

[2022-01-20 11:10] DavideD opened #1144 "Upgrade Vert.x SQL Clients to 4.2.4"

[2022-01-21 12:35] #1137 closed

[2022-01-21 12:36] DavideD commented on #1144
Fixed by #1145

[2022-01-21 12:36] #1144 closed

[2022-01-21 16:20] mjakubowski84 opened #1147 "Support for auto-generated ids of other type than Long"
My Postgres table generates ids of String (VARCHAR) type. Because of that hibernate-reactive-core throws an exception during insert of entities:

[code]

I see that only Long ids are expected what causes the problem: https://github.com/hibernate/hibernate-reactive/blob/main/hibernate-reactive-core/src/main/java/org/hibernate/reactive/pool/impl/SqlClientConnection.java#L96

What is the reason for t

[2022-01-21 19:12] DavideD opened #1149 "Upgrade testcontainers to 1.6.3"

[2022-01-22 11:05] DavideD commented on #1147
You should be able to use `String` for a generated value.
The Hibernate ORM guide goes a bit more in details about it: https://docs.jboss.org/hibernate/stable/orm/userguide/html_single/Hibernate_User_Guide.html#identifiers-generators

If you give me some more info about how the id is generated in your case, I might be able to help you more.

[2022-01-22 11:05] DavideD commented on #1147
What I mean is that it should work with the right mapping

[2022-01-22 13:49] mjakubowski84 commented on #1147
Hi @DavideD.
Things are working fine with regular Hibernate. My ids are generated by trigger in Postgres. I use GeneratedValue mapping with IDENTITY generation type. For better performance I wanted to switch to reactive persistency layer. Unfortunately, it seems that hibernate-reactive supports only inserting entities that have Long id (see the linked code in my first comment).

[2022-01-22 16:10] gavinking commented on #1147
Hrm, I thought I had coded some nasty-ass special case implicit type conversion from `Long` to `Integer`. So I think I expected that to work.

[2022-01-22 16:11] gavinking commented on #1147
I wait: didn't read. You're saying your generated ids are varchars? That's weird and I'm not sure how it even works on plain Hibernate.

[2022-01-22 16:13] gavinking commented on #1147
You need to show us some code.

[2022-01-24 09:15] mjakubowski84 commented on #1147
Hi @gavinking

Here's part of the entity model:
[code]

And here's SQL:
[code]

As you can notice I am not using Hibernate directly but it is Panache (Quarkus), but I believe it doesn't really matter.

[2022-01-24 11:10] DavideD opened #1151 "Add tests for unicode chars"
SQL Server  changes the enconding of the chars based on the column type. We need to check that everything works when storing non ASCII characters.

See this issue on Quarkus: https://github.com/quarkusio/quarkus/issues/19539

[2022-01-24 11:14] #1151 closed

[2022-01-24 11:14] gavinking commented on #1151
But is this really our problem to worry about? I don't see character encodings as being something we should even be messing with.

[2022-01-24 11:15] DavideD commented on #1151
I just wanted to make sure that it works

[2022-01-24 11:17] DavideD commented on #1151
I don't think it hurts to have a test for this but we can remove it if it causes issues.

[2022-01-24 11:20] #1149 closed

[2022-01-24 11:35] gavinking commented on #1151
Make sure that this isn't just because the user has VARCHAR instead of NVARCHAR columns. Possibly Hibernate ORM schema export has a "bad" default here.

[2022-01-24 11:36] gavinking commented on #1151
OK our messages crossed.

[2022-01-24 11:49] DavideD opened #1152 "Enabling nationalized character support causes exception"
Some databases like MSSQL only support nationalized chars when the column is defined as a specific type.
The schema tool can create the right column type using the property `hibernate.use_nationalized_character_data` but it causes an `UnsupportedOperationException` with Hibernate Reactive.

We need to fix two things:
1. Why is `true` not the default for MSSQL?
2. Hibernate Reactive shouldn't throw

[2022-01-24 11:51] DavideD commented on #1152
Relates to the following issues:
* https://github.com/quarkusio/quarkus/issues/19539#issuecomment-1020010903
* https://github.com/hibernate/hibernate-reactive/issues/1151

[2022-01-24 14:06] gavinking commented on #1147
Yeah, so, honestly: I'm almost surprised that works in ORM. (Possibly it works more by accident than by design.)

Does this change help at all: https://github.com/hibernate/hibernate-reactive/pull/1153/files

[2022-01-24 14:06] gavinking commented on #1152
@DavideD are you working on this?

[2022-01-24 14:28] DavideD commented on #1152
No, I'm not. Feel free to take care of it

[2022-01-24 14:59] gavinking commented on #1152
Fixed.

[2022-01-24 15:20] DavideD commented on #1152
How come having it to `true` is not the default?

[2022-01-24 15:26] gavinking commented on #1152
Good question: history I guess.

[2022-01-24 15:36] mjakubowski84 commented on #1147
Thanks, I can give it a try tomorrow. But I am afraid that it is not enough. The issue is with a method I shared in my first comment: https://github.com/hibernate/hibernate-reactive/blob/main/hibernate-reactive-core/src/main/java/org/hibernate/reactive/pool/impl/SqlClientConnection.java#L96. `selectIdentifier` wrongly assumes that the id can be only Long and calls `getLong` on a `Row`. JDBC (VertX

[2022-01-24 15:49] gavinking commented on #1147
Yeah, well, honestly I'm not sure that's something we're going to fix. TBH I think what you're doing here is extremely weird (and I'm very unclear on *why* you would want to jump through so many hoops to do such a strange thing). Perhaps if there's some good reasoning behind this?

[2022-01-24 15:52] mjakubowski84 commented on #1147
It is a system existing for a long time (especially database). I did not try to reason much about it.

[2022-01-24 15:54] mjakubowski84 commented on #1147
What would you suggest to do instead?

[2022-01-24 15:55] gavinking commented on #1147
I mean IDENTITY is clearly defined as being for database native identity columns, which is just not what you have.

[2022-01-24 15:57] gavinking commented on #1147
(On the other hand, if you propose a PR that "fixes" this for you without making a mess of my beautiful code, we will consider it.)

[2022-01-24 15:58] gavinking commented on #1147
Well from the comment in the SQL code, one option you have is simply generating and assigning the ID in memory.

[2022-01-24 15:59] gavinking commented on #1147
Or just write a reactive Id generator that does that.

[2022-01-24 16:31] mjakubowski84 commented on #1147
Thanks, I will see what can be done.

[2022-01-24 17:08] blafond commented on #864
I addressed this in #1059 and added tests for vertx db clients to verify that default props (example: see [PgConnectOptions](https://github.com/eclipse-vertx/vertx-sql-client/blob/0d10efe2bbedea3c27b380d69add2f1e036da9ad/vertx-pg-client/src/main/java/io/vertx/pgclient/PgConnectOptions.java#L122))

Note that any other URL properties not defined in `SqlConnectOptions` implementations are currently i

[2022-01-24 17:25] gavinking commented on #1147
Well, look, I might have changed my mind.

I still think _your particular case_ is extremely strange and pointless-looking. You're jumping through multiple hoops in order to store a generated long integer with no business meaning as its decimal digits in a `VARCHAR` column. (Why, just to make indexing slower??!)

But, OTOH, I can imagine other cases where a trigger is used to generate a key that o

[2022-01-24 17:49] mjakubowski84 commented on #1147
In my case it is not just an integer turned into varchar - it also receives a prefix which has a business meaning and is an important requirement. So the other case applies here. And I am very thankful for your PR!

[2022-01-24 18:03] gavinking commented on #1147
Oh now I see the bit about `new.id_type`. Yeah, sure, now it makes slightly more sense.

It's still bad though.

You have a table with two unique keys:

- `db_id` which is a true surrogate key, and can be super-efficiently stored and indexed,
- and `id` which is a business key, and somewhat less efficient to store and index.

_Now why on God's green Earth would anyone in their right mind think to

[2022-01-24 18:39] gavinking commented on #1147
@mjakubowski84 I just asked Steve about this and he agrees that this is essentially an abuse of `@GeneratedValue(strategy = IDENTITY)`, and that if it works in core, it works by accident, not because we  intend it to be used for this sort of scenario.

So in principle your code runs the risk of breaking in every new release of Hibernate. In practice, I don't think it's likely to break in Hibernate

[2022-01-24 18:51] blafond commented on #1108
@guy1699 The [PR for #1059](https://github.com/hibernate/hibernate-reactive/pull/1135) includes changes that utilize the vertx sql client and the `SqlConnectOptions.fromUri()` parsing. Currently the PostgreSQL `sslmode` parameter is supported and is accessible via [`PgConnectOptions.getSslMode()`](https://github.com/eclipse-vertx/vertx-sql-client/blob/0d10efe2bbedea3c27b380d69add2f1e036da9ad/vertx

[2022-01-24 22:41] hernael commented on #1032
Hi @DavideD, a question: Having added this issue to the next milestone, means that it is possible have Oracle Support in the next hibernate-reactive version?

[2022-01-24 22:45] gavinking commented on #1032
Haaaay, that's a _really_ great question! I've lost track of where we're at on Oracle support.

[2022-01-25 00:20] blafond commented on #1032
The `vertx-oracle-client` is in the build, which we developed against... probably 4.2.1?

Still waiting on [#1108](https://github.com/eclipse-vertx/vertx-sql-client/issues/1108) which right now is targeted at 4.3.0 vertx-sql-client

[2022-01-25 10:50] DavideD commented on #1032
That's the plan but I need to rebase and review what we have so that I can document the limitations (see https://github.com/hibernate/hibernate-reactive/issues/1032#issuecomment-991155858).

[2022-01-26 11:35] DavideD opened #1158 "Enabling use of nationalize chars fails for MariaDB"
See https://github.com/hibernate/hibernate-reactive/pull/1156

The test `UnicodeCharsTest` fails for MariaDB when `hibernate.use_nationalized_character_data` is set to `true`.

Test configuration: https://github.com/hibernate/hibernate-reactive/blob/6ad3d50fe195b8c75b0f7c372f7721283ad24731/hibernate-reactive-core/src/test/java/org/hibernate/reactive/UnicodeCharsTest.java#L36

[2022-01-26 12:22] DavideD commented on #1158
THe problem is that one of the chars used in the test requires a different collation than the one enabled setting the property. Fixing it

[2022-01-26 13:05] #1158 closed

[2022-01-27 10:44] DavideD opened #1161 "Add SessionFactory.getStatistics"

[2022-01-27 11:02] gavinking commented on #1161
I mean, I like ass too, but not sure what it has to do with Hibernate statistics.

[2022-01-27 11:20] DavideD commented on #1011
This has been done some time ago

[2022-01-27 11:20] #1011 closed

[2022-01-27 15:38] #1161 closed

[2022-01-27 15:49] gavinking opened #1162 "statistics for interaction with Vert.x client"
We now have a `Statistics` interface but we don't record any information about statements and connections.

[2022-01-27 16:40] DavideD commented on #1161
Maybe I've approved this too soon:

* It seems it fails on CI: https://github.com/hibernate/hibernate-reactive/runs/4968581689?check_suite_focus=true#step:6:1674
* Statistics use lock mechanisms, aren't this going to block the execution? https://github.com/hibernate/hibernate-orm/blob/5.6/hibernate-core/src/main/java/org/hibernate/stat/internal/QueryStatisticsImpl.java#L165

[2022-01-27 16:42] gavinking commented on #1161
Naaah, not at all. That's perfectly fine. In fact it's even less of a problem in reactive because there's only one thread.

[2022-01-27 16:45] gavinking commented on #1161
Ah right, looks like it's this assertion that's failing:

I imagine because the database is responding too quickly. I did wonder about that.

[2022-01-27 16:46] gavinking commented on #1161
I disabled those assertions, let's see if that fixes it.

[2022-01-27 17:11] gavinking commented on #1161
It did, so we're good.

The only problem was postgres is faster in the CI server, apparently.

[2022-01-28 17:06] blafond commented on #1077
@DavideD I pushed some [tests](https://github.com/blafond/hibernate-reactive/tree/issue_1077) to a branch that replicates the error as well as starts adding the missing implementations to wrap the logic to discover any non-nullable dependent entities.

Got down to [`ReactiveEntityRegularInsertAction`](https://github.com/blafond/hibernate-reactive/blob/0d61a7d0e909a9a443a18d21b0abbd85ca2fef0a/hiber

[2022-01-28 18:35] DavideD commented on #1077
It's a bit tricky, but at first glance you need to add a method to our [ForeignKeys](https://github.com/blafond/hibernate-reactive/blob/0d61a7d0e909a9a443a18d21b0abbd85ca2fef0a/hibernate-reactive-core/src/main/java/org/hibernate/reactive/engine/impl/ForeignKeys.java#L36) that mimics `findNonNullableTransientEntities` from the one in Hibernate ORM. The difference is that it will return a `Completio

[2022-01-28 20:05] blafond commented on #1077
My commits start down that road... [here](https://github.com/blafond/hibernate-reactive/blob/0d61a7d0e909a9a443a18d21b0abbd85ca2fef0a/hibernate-reactive-core/src/main/java/org/hibernate/reactive/engine/impl/ForeignKeys.java#L364).

My roadblock is with ORM's `NonNullableTransientDependencies` and `ForeignKeys` internal classes.. they are `final` and access to `NonNullableTransientDependencies.add(

[2022-01-28 21:29] DavideD commented on #1077
Ok, but you don’t have to extend the classes, you need to copy and adapt  the code for the method

[2022-01-29 21:24] gavinking commented on #1098
So, I wish I remembered what this is in reference to, I know there was something.

But anyway, for simple cases it seems to work at least a bit.

[2022-01-29 21:34] #1098 closed

[2022-01-30 11:47] DavideD commented on #1077
I see now.
You can prepare a PR for Hibernate ORM that change the visibility of the `add` method and see if they are fine with it.
But the method is actually package-private, so to check if that's the only change you need, you can try moving the class in a package with the same name (`org.hibernate.engine.internal`) and see if everything works.

[2022-01-31 17:05] DavideD opened #1168 "Re-enable tests for Oracle"
As soon as the different issues have been solved:

- [ ] https://github.com/eclipse-vertx/vertx-sql-client/issues/1108:
   * HQLUpdateQueryTest
   * JoinedSubclassInheritanceTest
   * UnionSubclassInheritanceTest

- [ ] https://github.com/eclipse-vertx/vertx-sql-client/issues/1085:
   * UUIDAsBinaryType

[2022-01-31 20:49] #1032 closed

[2022-01-31 21:30] DavideD opened #1171 "Upgrade Gradle to 6.9.2"

[2022-01-31 21:31] #1171 closed

[2022-02-02 22:43] DavideD opened #1175 "Remove mention of JDBC from the statistics"
The metrics print something like:
[code]

We should update the logs and possible the attributes in `StatisticalLoggingSessionEventListener` so that they won't mention JDBC.

[2022-02-03 11:31] #822 closed

[2022-02-03 11:31] #1012 closed

[2022-02-03 13:56] DavideD opened #1179 "Add example of mapping using JsonObject in the documentation"
It's a built-in type but we don't mention it in the docs

[2022-02-04 11:52] DavideD commented on #1037
Done via: https://github.com/hibernate/hibernate-reactive/pull/1157

[2022-02-04 11:52] #1037 closed

[2022-02-04 12:47] DavideD opened #1180 "Map as json column"
It seems that a common use case is to add a field of type `Map` to an entity and then save it as a `json` column when a database supports it (PostgreSQL for example).

One can achieve this using a converter.
For example:
[code]

The converter is trivial:
[code]

@gavinking Would it make sense to have a built-in type for this?

Something like:
[code]

[2022-02-04 12:49] gavinking commented on #1180
Well, I'm not very keen on adding built-in types to HR that don't exist in Hibernate itself...

[2022-02-04 12:50] DavideD commented on #1180
Sure, but JsonObject is a vert.x thing

[2022-02-04 12:53] DavideD commented on #1180
And a user can already create a field of type `JsonObject` with Hibernate Reactive. The problem is that, in practice, it's not very useful because when using semthing like RestEasy, the default convertion of a Json is a map (I think).

This is not a critical issue but I think it would make the user's life a bit better.

[2022-02-04 12:56] DavideD commented on #1180
Also, for ORM it's possible to add this mapping via `hibernate-types` but there is no equivalent for Hibernate Reactive

[2022-02-09 14:54] DavideD opened #1187 "Upgrade to Gradle 7.4"

[2022-02-09 15:09] DavideD opened #1189 "Publish docs on hibernate.org without org.ajoberstar.git-publish"
This way we can have more control on how we checkout the site and we also have one less dependency

[2022-02-10 13:48] DavideD opened #1191 "Ensures scopes are isolated when creating a new Vert.x context"

[2022-02-10 14:01] #1191 closed

[2022-02-10 14:13] DavideD opened #1192 "Add Oracle to the documentation"

[2022-02-10 17:41] DavideD commented on #511
Keeping the username and only change the password seemed to have worked

[2022-02-10 17:41] #511 closed

[2022-02-10 17:52] tiagomistral opened #1194 "Cannot execute CompletableFuture inside withSession or withTransaction workflow"
Hello,

I'm trying to execute a completable future inside a mutiny withSession and I get (sometimes, many times) the error message `Detected use of the reactive Session from a different Thread than the one which was used to open the reactive Session - this suggests an invalid integration; original thread: 'vert.x-eventloop-thread-3' current Thread`

The code to reproduce is below. I'm trying to pr

[2022-02-10 20:41] DavideD commented on #1194
At first glance, I'd say the problem is that you are using `supplyAsync`, what are you trying to achieve here?

[2022-02-11 08:13] tiagomistral commented on #1194
Hey @DavideD

I'm using the `CompletableFuture.supplyAsync` just for simplify my use case.

My real use case is that I need to update an object from the database and if something change related with an attachment delete it using `software.amazon.awssdk.services.s3.S3AsyncClient.deleteObjects`.

[2022-02-11 10:18] DavideD commented on #1194
The problem is that the session is not thread-safe and needs to run in an even-loop-thread.
You are basically trying to use it in a thread that's not the one it has been created and so you see the error. Right now it only happens when the session get closed but you would see it sooner if you actually try to use the session in that block. It's also not going to be an event-loop-thread.

Why do you

[2022-02-11 10:39] gavinking commented on #1194
Remember that problems like these can usually be solved by creating a new dedicated session for each thread. They arise only when you try to share a session across threads, which is simply an incorrect thing to do.

[2022-02-11 13:24] tiagomistral commented on #1194
Sry @DavideD maybe I was not clear

I don't use the supplyAsync to call the `S3AsyncClient.deleteObjects`but this call is already async and sometimes use a different even-loop.thread which causes the error :P

With the following I cannot reproduce the error anymore:

    @Inject
    Mutiny.SessionFactory mutinySessionFactory;

    @Inject
    Vertx vertx;

    @GET
    @Path("test")
    public Uni

[2022-02-11 13:57] DavideD commented on #1194
Yes, I guess that could work.
You could also do this:

[code]

But I need to think a bit more about this

[2022-02-11 14:35] Sanne commented on #1194
in your error message above it's stating that it's being run on `executor-thread-0`. Clearly that's not a vert.x thread, which is illegal. I'm glad our checks caught the error as otherwise you'd get into deeper trouble.

You need to ensure operations happen in these conditions:

1.  on a vert.x thread (on the vert.x eventloop)
2. stay on the same thread for the whole stream

To be clear by "operat

[2022-02-11 14:35] #1194 closed

[2022-02-11 14:36] Sanne commented on #1194
(I'm closing it as it's not an issue but feel free to keep talking about it here)

[2022-02-11 14:41] Sanne commented on #1194
P.S. I'm also not familiar with the S3 client, but your use case seems valid - just needs to be integrated with Hibernate Reactive in a different way, as the code you show above is a violation of H.R.'s requirements.

It might help to provide a more complete reproducer, but report it to the Quarkus team as this doesn't seem a problem of H.R.
(I'm guessing that's Quarkus from what I see?)

[2022-02-11 19:44] #1187 closed

[2022-02-12 11:43] tiagomistral commented on #1194
Hey @Sanne

You are right I'm using the Quarkus framework.

I'm not completely sure about if I am or I am not doing something wrong here, but I will leave here my current solution for you guys give me your opinion :)

Thanks in advance

    @ConfigProperty(name = "quarkus.s3.aws.credentials.static-provider.access-key-id")
    private String accessKeyId;

    @ConfigProperty(name = "quarkus.s3.aws.

[2022-02-13 09:26] juergenzimmermann opened #1195 "Simple Kotlin extension functions to make metamodel classes obsolet in Kotlin"
Metamodel classes require annotation processing in Java. Anyway, having 4 simple extension functions, you don't need metamodel classes when developing in Kotlin:
[code]

Now you can use, e.g.:
[code]

[2022-02-13 10:33] #1195 closed

[2022-02-14 13:37] DavideD commented on #1194
I think this is the correct approach. [From the API](https://sdk.amazonaws.com/java/api/latest/software/amazon/awssdk/core/client/config/SdkAdvancedAsyncClientOption.html), the S3 async client would use a `ThreadPoolExecutor` as default otherwise.

A couple of things worth mentioning:

* `getOrCreateContext` will create an new context if one doesn't exist. It should never be the case but you might

[2022-02-14 15:27] tiagomistral commented on #1194
Thanks @DavideD I will use it like you suggest ;)

Hope this can help the community 👍

[2022-02-14 19:57] #1192 closed

[2022-02-15 12:18] #1189 closed

[2022-02-16 03:47] codingxu97 commented on #996
Hi, @DavideD !

I've thought a lot about this issue, and made some attempts.

The projects were only based on Vert.x and other lightweight library in our team, Vert.x Future was enough for us to finish our project, so we didn't use ```Mutiny``` or other Reactive library.

But, we have to use ```Mutiny``` if we choose ```Hibernate Reactive```, There would be two different Reactive code styles in ou

[2022-02-16 10:44] DavideD commented on #996
You don't have to use Mutiny, you could use `CompletionStage`. Without changing Hibernate Reactive, you need a facade for `Stage.SessionFactory` and `Stage.Session` that internally delegate to a `FutureSessionFactory` and `FutureSession`.

It would actually be easier to do in your project, because you can only delegate the methods that you need. If we add it to Hibernate Reactive, we need to add a

[2022-02-16 10:56] DavideD opened #1200 "Should Mutiny be an optional dependency?"
Follows #996

This would mean move the code that uses Mutiny in a separate module.
We could require users to include it in their project as an additional dependency (option 1), or we could at least make it so that it can be removed (option 2).

I prefer option 2 because we recommend using `Mutiny` over `CompletionStage` usually.

This means that we would need a way to plug new interfaces. I don't

[2022-02-16 11:04] Sanne commented on #1200
Initially this was modular, but Gavin didn't like the notion that people need to know which modules to import - and I think he has a valid point.

+1 for option 2 by suggesting people can exclude the dependency if they don't want it.

So it could be resolved by a simple suggestion in docs.

A better solution - but which would require more work - is to address the fact that I don't believe the sour

[2022-02-16 11:33] DavideD commented on #996
I'm going to close this issue because I don't think we are going to do it.
But I've created https://github.com/hibernate/hibernate-reactive/issues/1200 that should address this one as well.

[2022-02-16 11:33] #996 closed

[2022-02-16 17:31] DavideD opened #1205 "Improve error message when lazy collection is not initialized"
Currently, the error is:
[code]

We should tell the user that they need to fetch the connection:
* Using a `fetch join` in the query
* Or, using the `Mutiny.fetch` or the `Stage.fetch`

We should also add this on the WebSite in the Faq section.

[2022-02-16 17:33] DavideD commented on #1200
I like the idea of different sources for this case. Not sure about the complexity.

[2022-02-17 09:29] janyyy opened #1206 "Question about createNativeQuery"
# execution method
![image](https://user-images.githubusercontent.com/27274865/154445439-d424b672-b9d3-4772-b097-b1d84dc99dbc.png)
# execution  sql
![image](https://user-images.githubusercontent.com/27274865/154445484-da28e2c2-dc2e-47af-bedf-7000e09d0fb3.png)
# expect map object
![image](https://user-images.githubusercontent.com/27274865/154445618-2320dbbe-1708-4e71-9dac-1c11e29e9c86.png)
#  actua

[2022-02-17 09:30] janyyy commented on #1206
Based on Quarkus 2.7.1 version, realize multi-table data aggregation operation

[2022-02-17 14:27] DavideD opened #1207 "Updating an association cause an unecessary query"
A semi-test is available [here](https://github.com/DavideD/hibernate-reactive/commit/d960734369b9d4999487dce9e8c36cd5f3966917).

Having two entities:
[code]

Example with ORM:
[code]

causes the following queries:
[code]

in Reactive, the same test:
[code]

causes:
[code]

[2022-02-17 14:37] DavideD commented on #1207
Note that in this case not updating the list will work, but it's not what we recommend in the Hibernate ORM docs:
[code]

[2022-02-18 01:44] janyyy commented on #1206
I still map incorrectly through the code you provided. This is my error message, and it is not TrajectoryInfo.class that is mapped. I set a breakpoint at getInteger(String column) of io.vertx.sqlclient.Row.class

[code]

[code]

[2022-02-18 01:45] janyyy commented on #1206
I still map incorrectly through the code you provided. This is my error message, and it is not TrajectoryInfo.class that is mapped. I set a breakpoint at getInteger(String column) of io.vertx.sqlclient.Row.class

[code]

[code]

[2022-02-18 01:48] janyyy commented on #1206
`TrajectoryInfo.class`
[code]

[2022-02-18 09:42] andrew-dzak commented on #1133
@DavideD  is there a work around for this for Stage api apart from setting this `org.hibernate.reactive.common.InternalStateAssertions.ENFORCE to false`

[2022-02-18 12:07] DavideD commented on #1206
This error tells you what's going on: the native query doesn't return a column called `create_time`.
Hibernate Needs this value for setting the field `TrajectoryInfo#createTime`
You need to add to your query:
[code]

[2022-02-18 12:11] DavideD commented on #1133
@andrew-dzak What's your use case? Do you need to have the SessionFactory in a different Vert.x instances than the one used by the Verticles?

Setting `org.hibernate.reactive.common.InternalStateAssertions.ENFORCE` to `false` is usually not a good idea unless you are confident that everything works correctly anyway.

[2022-02-18 12:13] DavideD commented on #1133
Or do you want to create the factory in advance and then pass it to the Verticles?

[2022-02-18 12:40] andrew-dzak commented on #1133
@DavideD
Need to have the one used to open the reactive session. Open to work around.

my code
` public static <T> T findSingleByQuery(Class<T> clazz, String hql, Map<String,Object> params){
        T entity = DatabaseConfiguration.getSessionFactory().withSession(session -> {
            Stage.Query<T>  query = session.createQuery(hql,clazz);

            if(params != null && !params.isEmpty()){

[2022-02-18 14:11] DavideD commented on #1133
It seems that's running on the wrong event-loop.
How do you create the session factory? How do you call `findSingleByQuery`? Shoudln't it be?:
[code]
Is this a verticle? How do you deploy it?
If you can provide a test case, that would be great.

[2022-02-18 14:13] DavideD commented on #1133
Is Hibernate Reactive creating a new Vert.x instance? You should see a message like this at start up if it's happening:
[code]

[2022-02-18 15:38] DavideD commented on #1133
No problem. Let us know how it turns out.

By the way, you shouldn't have to use blocking calls like `.toCompletableFuture().join()`. This can cause some errors if the query takes too long and it's not the right approach if you are running things in an event loop.

I have a basic example of a verticle that uses `CompletionStage` and `Future`  here: https://github.com/DavideD/jbang-rep/blob/d58be92

[2022-02-19 09:19] #1206 closed

[2022-02-21 02:25] janyyy commented on #1206
Thank you very much for your reply, this is my demo address. You can try it when you have time, maybe hibernate does not support this operation.
[hibernate-reactive-demo](https://github.com/janyyy/hibernate-reactive-demo.git)

[2022-02-21 02:36] janyyy commented on #1206
In non-responsive code I can do this
[code]

[2022-02-21 13:47] DavideD commented on #1206
What do you mean? Did you change the query and it still doesn't work?

Using `setResultTransformer` is different than specifying the return type as parameter for `createNativeQuery`.
We don't have a way to pass the transformer to the query at the moment, so one has to make sure that the query returns all the required values.

[2022-02-21 13:49] DavideD commented on #1206
or convert the result of the query  with custom code

[2022-02-21 14:14] DavideD opened #1209 "Add support for result transformers"
In ORM is possible to [apply a ResultTransformer to a native query](https://docs.jboss.org/hibernate/orm/5.6/userguide/html_single/Hibernate_User_Guide.html#sql-dto-query):
[code]

We already have an internal interface [ReactiveNativeQuery](https://github.com/hibernate/hibernate-reactive/blob/main/hibernate-reactive-core/src/main/java/org/hibernate/reactive/session/ReactiveNativeQuery.java) that a

[2022-02-21 14:28] DavideD commented on #1206
As an alternative, you could try to define a `@SqlResultSetMapping`. There are several example [in the Hibernate ORM documentation](https://docs.jboss.org/hibernate/orm/5.6/userguide/html_single/Hibernate_User_Guide.html#sql-composite-key-entity-associations_named-query-example).

Once you have your resultset mapping, you can use:
[code]

[2022-02-21 16:09] gavinking commented on #1209
I don't think we should expose this because it's deprecated in Hibernate ORM.

[2022-02-22 15:16] mkouba opened #1212 "ReactivePaddedBatchingCollectionInitializer attempts to get a JDBC connection for single lazy collection in the session"
### Description

If `BatchFetchStyle.PADDED` is used (e.g. quarkus by default) _AND_ a `@OneToMany` association is annotated with `@BatchSize` _AND_ a user attempts to fetch the association via `Mutiny.Session#fetch()` _AND_ there is exactly one collection that needs to be fetched _THEN_ hibernate reactive fails with `org.hibernate.exception.GenericJDBCException: Unable to acquire JDBC Connection`

[2022-02-22 20:03] #1212 closed

[2022-02-23 10:37] DavideD opened #1214 "Upgrade Vert.x to 4.2.5"
@Sanne Do we need to wait before upgrading?

[2022-02-23 13:22] Sanne commented on #1214
We won't upgrade Quarkus yet at the moment - more likely going to jump to `4.2.6`+ . But as long as HR is also compatible with the previous vert.x I see no problem.

[2022-02-23 15:35] blafond commented on #1015
@DavideD @gavinking

Revisted this today and the error has changed to:
[code]
I'm new to this feature ... and the errors are drastically different.   Any suggestions on where to look?

[2022-02-23 17:17] DavideD commented on #1015
I guess it works now because we have enabled the statistics. But it seems we don't collect this value correctly?
As usual, you would need to check what happens in ORM and see that we do the same in Hibernate Reactive.

[2022-02-23 17:45] DavideD commented on #1015
When I enable the statistics, this two tests fail:

* testLoadFromCachedQueryResultAndRegularQuery
* testLoadFromCachedQueryResultAndNamedQuery

[2022-02-23 20:54] blafond commented on #1015
I repeated your failures after adding that config property.

I enabled the commented out code in [ReactiveSessionImpl](https://github.com/hibernate/hibernate-reactive/blob/ad5565ab34d112000840bc9f782b6dc84cb52f60/hibernate-reactive-core/src/main/java/org/hibernate/reactive/session/impl/ReactiveSessionImpl.java#L410-L413) and all tests in `CachedQueryResultsTest` succeed.

However, a number of diff

[2022-02-23 22:27] blafond commented on #1058
@Davide took a crack at this one:  [1058](https://github.com/blafond/hibernate-reactive/commits/issue_1058) if you wanna have a look tomorrow

[2022-02-23 23:06] DavideD commented on #1214
This version doesn't work with Oracle so we cannot upgrade, we will have to wait for Vert.x 4.2.6

[2022-02-23 23:06] #1214 closed

[2022-02-23 23:56] DavideD commented on #1058
Nice.
Now that I look at the changes I'm thinking that maybe we could make the method more generic.
Something like:
[code]

Because it returns the exception after having asserted the type, it's possible to add specific assertions for each test.
WDYT?

[2022-02-24 03:43] janyyy commented on #1209
You say it's deprecated, is there an alternative? Actual business may involve such operations, complex report queries, etc. Using native SQL query, map a non-@Entity database entity class.

[2022-02-24 10:32] gavinking commented on #1209
I mean, what's wrong with just transforming the `Object[]` arrays returned to you by `getResultList()`?

[2022-02-24 11:16] DavideD commented on #1209
If it makes it easier, It's also possible to return the result as a `javax.persistence.Tuple`:
[code]

[2022-02-24 17:00] DavideD commented on #943
@Sanne, any detail you can add to this issue?

[2022-02-24 17:54] blafond commented on #1058
It looks pretty clean ... but I don't know if it's generic enough?

Would you want to elevate this method to a generic test class?

That specific class has Mutiny test cases as well as cases with `withTransaction`, `withStatelessTransaction`.
Couldn't quite figure out a Mutiny version of it because `handle()` & `thenApply()` won't work?

Suggestions?

[2022-02-24 18:07] DavideD commented on #1058
Sure, that was just a copy and paste of an experiment I made. The idea  is that it will replace the methods you have now in the class you've added (it should also be static).

[2022-02-24 18:15] DavideD commented on #1058
I haven't tested, but for Mutiny it should be something like:
[code]

[2022-02-24 20:28] Sanne commented on #943
Sorry I missed the previous notifications.

And to be clear this might need to be addressed in ORM core first.
The main problem is that there are circumstances in which possibly

1.  ORM will automatically batch things
2. or the opposite case, the user explicitly expects it to batch things but ORM can't and will fallback to not doing it

But it's actually hard for the user to figure out if batchin

[2022-02-25 14:30] DavideD commented on #333
The main problem with this issue is that in Hibernate Reactive we accept JDBC urls but Vert.x uses its own syntax depending on the database. So we would still need to parse the URL for most databases to convert it to something that works with Vert.x.

I'm wondering if we should  accept a url with a different prefix for Vert.x. I think quarkus is using `vertx-reactive:` (instead of `jdbc:`).

[2022-02-26 16:23] gavinking commented on #333
I don't wanna make the call on that one. But perhaps you should ask around and see what others think.

I personally kinda like the ability to use JDBC URLs, but I'm not attached to them.

[2022-02-27 03:36] schlumpfling42 opened #1220 "Periodic slowdowns, how to troubleshoot?"
I wrote a server that is using Hibernate for persistence and I made a version with regular hibernate and a reactive version. The entities are very simple the main entity has a one-to-one and a one-to-many relation, but the test is not using the one-to-many. The relations are fetched eager it's using a join to fetch .
I created a JMeter test with 20 threads, 2 puts, 6 gets, 1 post and one delete. T

[2022-02-27 12:00] DavideD commented on #1220
Can you share the project?

Are you talking about Vert.x instances or [Verticles](https://vertx.io/docs/vertx-core/java/#_verticles)? Because, usually, one vert.x instance is enough and it will create a number of event loop threads that's 2 * (number of core processors):

[2022-02-28 05:04] schlumpfling42 commented on #1220
1 vertx instance, 16 verticles/event loop threads.

[2022-02-28 09:44] Sanne commented on #333
I don't have a strong opinion. Personally I prefer configuration to be precise - as in explicit and unambiguous - but I know I'm in a minority.

So my personal preference would be to require the specific vertx format and offer no alternatives; especially as this sound like would never be fully complete.

Another reason for my preference is that I see libraries like Hibernate Reactive as *libraries

[2022-02-28 10:49] DavideD commented on #333
I don't think there's ambiguity about a URL that starts with `jdbc:` or `vertx:`.

Quarkus overrides already the creation of the pool so I don't think it will be affected. In Quarkus one can already create the connection using the prefix `vertx-reactive:`.

The main problem I see is that libraries like testcontainers return a JDBC url when the docker image is started. But it's the only example I c

[2022-02-28 10:54] DavideD commented on #1220
@Sanne maybe you want to chime in?

[2022-02-28 12:06] Sanne commented on #1220
I would suggest starting from basic system metrics; for example, is the slowdown corelated to any GC related activities?

It might also be useful to see if the two versions of the application have the same baseline performance; if - for example - the reactive version is able to more quickly saturate the available resources in the DB (or of the channels and pools connecting to the DB) that would fi

[2022-02-28 12:13] Sanne commented on #333
Many drivers offer jdbc connection properties which are declared on the `jdbc` URI.  If we offer the ability to accept a JDBC uri people will assume they can paste any existing URL they have from a JDBC system they are migrating from, and will expect the same semantics to be honoured.

Except such properties are driver and vendor specific: vert.x will never be able to implement 1:1 same semantics

[2022-02-28 13:27] DavideD commented on #1209
I'm closing this one. They are deprecated and it doesn't seem critical to have them at the moment.  It's also possible to return the entity if the native query returns all the necessary columns.

[2022-02-28 13:27] #1209 closed

[2022-03-01 16:25] DavideD opened #1222 "Upgrade to Hibernate ORM 6"
We should at least start to have a look at this.

[2022-03-01 17:47] DavideD commented on #1058
Merged

[2022-03-01 17:47] #1058 closed

[2022-03-01 20:39] gavinking commented on #1222
#1052?

[2022-03-01 23:51] DavideD commented on #1222
My bad, I looked for it but didn't find it.

[2022-03-01 23:51] #1222 closed

[2022-03-03 01:55] schlumpfling42 commented on #1220
A couple of things. I'm just trying to compare the behavior. I really would like to go forward with the reactive version, but if I cannot have the same kind of consistent throughput, I will have to abandon hat idea.
I do not believe that with 20 thread I hit any limits in the database, memory or IO limits. The database is very responsive to other requests that I'm doing while the test is running.

[2022-03-03 11:20] Sanne commented on #1220
I agree with the spirit :+1:

It's always about lack of some resource; the process is about identifying it - either because it comes to your mind or because you get to trace the execution and get clues pointing to it. Good to know it's not GC nor CPU.. that rules out the basics. What about available connections in the pool?  JFR recordings might give you more clues.

It's hard for me to help you f

[2022-03-04 00:49] schlumpfling42 commented on #1220
![non-reactive_reactive_db](https://user-images.githubusercontent.com/2719863/156677258-9ca754d9-8bc3-4e10-9fd9-91b610457adb.png)
I'm very confused by what's happening on the database side. The non-reactive is the first bit ... it's even it equals about 370 request/second in JMeter. The reactive server is the second bit. The transactions per second is quite a bit higher, but IO is lower ... and it

[2022-03-04 19:34] schlumpfling42 commented on #1220
I turned on tracing, the pg client supports it out of the box and I have 12! selects that are executed for fetching entities. I have 2 relations in my model, a one-to-one and a many-to-one. In my test I'm using the one-to-one but not the many-to-one. I have FetchMode.JOIN set in the annotations (unfortunatly I cannot provide a sample, because I generate the entity classes. When I take the relation

[2022-03-09 17:06] #1108 closed

[2022-03-10 14:42] LazaroR94 opened #1228 "Hibernate Reactive Panache NonUniqueObjectException"
Hello all, I am currently working on a project that uses Hibernate Reactive Panache and I am seeing a new error that I have not seen before: `org.hibernate.HibernateException: java.util.concurrent.CompletionException: org.hibernate.NonUniqueObjectException: A different object with the same identifier value was already associated with the session : [..database.entity.Egress#35]`. This is how I am d

[2022-03-10 14:45] DavideD commented on #1228
Why -1 and not `null`?

[2022-03-10 14:51] LazaroR94 commented on #1228
Seeing as this implementation was not mine, I believe the reasoning for this was for traceability. But will this cause an issue if it is not nullable?

[2022-03-10 15:38] DavideD commented on #1228
Well, the error says that the failed entity is ` database.entity.Egress#35`. So maybe it's not related

[2022-03-10 15:40] DavideD commented on #1228
Could you show the full stacktrace?

[2022-03-11 11:59] #864 closed

[2022-03-11 11:59] #1059 closed

[2022-03-11 12:00] DavideD opened #1229 "Upgrade to Mutiny 1.4.0"

[2022-03-11 12:01] #1229 closed

[2022-03-11 12:05] DavideD opened #1230 "Upgrade PostgreSQL image version to 14.2"

[2022-03-11 18:25] #1230 closed

[2022-03-11 20:30] DavideD opened #1232 "AutoFlush listener calls the wrong listener at the wrong time"
1. Calls `EventListenerManager#flushEnd` instead of `EventListenerManager#partialFlushEnd`
2. The last call to `.whenComplete` is not chained correctly
3. Uses `ActionQueue` instead of `ReactiveActionQueue`

[2022-03-13 07:43] backtrackshubham opened #1234 "Configuration only from code"
Hi team is there is a way we could completely remove persistence.xml ?, The library seems having some potential but not able to drive config all from code made it dependent on lagacy sort of config rather supporting backward compatibility

[2022-03-13 10:10] gavinking commented on #1234
Well, it's actually already possible. We do it that way in our test suite. (See, for example `BaseReactiveTest.createHibernateSessionFactory()`.)

[2022-03-14 14:11] #1234 closed

[2022-03-14 14:31] #1232 closed

[2022-03-15 12:34] DavideD opened #1235 "Specify the repository where to download the docker images"
Docker doesn't always use docker hub as the default repository.
If the configuration contains multiple repositories, the build with reactive will fail because we use the short name of the image.

This issue is about specifying the long name of the image, for example:
[code]
Progress:
- [X] MariaDB
- [X] Oracle
- [X] MS SQL Server (Not necessary...probably)
- [X] MySQL
- [X] CockroachDB
- [X] Postg

[2022-03-15 14:04] DavideD commented on #1235
@Sanne how come mariadb was the only one causing problems? It's because you already had the other images locally?

[2022-03-15 14:09] DavideD opened #1237 "Rollback the transactions only if one was created"
If something goes wrong when we start a new transaction, we try to rollback anyway causing some noisy NullPointerException

[2022-03-15 15:45] Sanne commented on #1235
Yes. It's the only one that  (I didn't have locally) AND (can be fetched from multiple sources)

[2022-03-15 15:46] Sanne commented on #1235
N.B. it needs to be `docker.io/mariadb:10.7.1` and not `docker.io/library/mariadb:10.7.1`. I had fixed the description but it seems you reverted it.

[2022-03-15 15:47] DavideD commented on #1235
Fixed back

[2022-03-15 16:14] DavideD opened #1240 "Upgrade to Hibernate ORM 5.6.6.Final"

[2022-03-15 17:15] #1240 closed

[2022-03-16 10:39] Sanne commented on #1232
This looks like rather critical, would you agree? Do you have a concrete example of how this issue could manifest in an application?

[2022-03-16 12:07] DavideD commented on #1232
No idea. I've found out about these because I've noticed that the `whenComplete` wasn't chained.

[2022-03-16 12:27] DavideD commented on #1133
Awesome!

[2022-03-16 12:27] #1133 closed

[2022-03-16 13:53] DavideD commented on #1237
Merged

[2022-03-16 13:53] #1237 closed

[2022-03-16 14:08] DavideD opened #1242 "Upgrade to Hibernate ORM 5.6.7.Final"
Waiting for the release

[2022-03-16 14:10] DavideD commented on #1077
Waiting fo rORM 5.6.7.Final

[2022-03-16 16:24] DavideD opened #1245 "Re-enable build on CI with Oracle and the Vert.x snapshot"
See https://github.com/hibernate/hibernate-reactive/pull/1244

Something has changed and makes that build fail with the following error:
[code]

I think it's related to lock entities and I'm trying to create a reproducer for the Vert.x SQL client

[2022-03-16 18:51] andrew-dzak opened #1246 "HR000057: Failed to execute statement [query output ] $2could not execute query Caused by: java.lang.IllegalStateException: Session/EntityManager is closed"
Replicate : Find two entities with multiples api calls will result in this error. Single call is all fine.
hibernate reactive version =1.1.3.Final
vertx version = 4.2.4

[code]

[code]

I might be doing something stupid lol

[2022-03-16 19:05] DavideD commented on #1246
I don't see anything wrong with `findSingleEntityByQuery` (but I don't think you need the `.toCompletableFuture())`.
Is it possible that  are not closing the `SessionFactory` before the query have finished?

[2022-03-16 19:12] andrew-dzak commented on #1246
@DavideD  took this part out toCompletableFuture() still getting the same error

[2022-03-16 19:16] DavideD commented on #1246
I think some operations you are running are not happening in the right order.

I don't think I can help you without a reproducer or looking at the code in your project.

Make sure that the session factory is not closed before the future have finished. Otherwise I don't understand how you could see this error.

[2022-03-16 19:22] DavideD commented on #1246
I mean, what's happening after you have `role` and `role2`?

[2022-03-16 19:34] andrew-dzak commented on #1246
`
public static Future<RoleData> getRole(final RoutingContext rc){
        final Long roleId = Long.parseLong(rc.pathParam("id"));
        Promise<RoleData> promise = Promise.promise();
        Map<String,Object> params = new HashMap<>();
        params.put("roleId", roleId);

        Future<Role> role = DatabaseUtils.findSingleEntityByQuery(Role.class,AppUserRepository.FIND_ROLE_WITH_PERMISSION,p

[2022-03-16 20:10] andrew-dzak commented on #1246
@DavideD  interesting find  changing withSession to withTransaction for testing purpose. The error does not show

[code]

[2022-03-16 21:06] #1242 closed

[2022-03-16 21:26] DavideD commented on #1246
I think this is what's happening:
while `role2` is executing the query, the test finishes and closes the session factory causing the error.

This should work:
[code]

[2022-03-16 21:27] DavideD commented on #1246
Assuming the `getSessionFactory()` returns the same factory each time

[2022-03-16 21:31] DavideD commented on #1246
Interesting but not something we can rely on. It's possible that when you use `.withTransaction` things are a bit slower and everything happens in the right order

[2022-03-16 21:33] DavideD commented on #1246
To begin with, is this an integration test? Are you actually closing the session factory at some point? What's happening in `getSessionFactory`?

[2022-03-16 21:54] andrew-dzak commented on #1246
NO

[code]

[2022-03-16 21:59] DavideD commented on #1246
Mmmh.... OK, I will try to write a test for this and see what happens

[2022-03-16 22:00] andrew-dzak commented on #1246
OK thanks let me know how it goes

[2022-03-16 22:03] DavideD commented on #1246
By the way, this stuff is hard, there are no stupid questions.

[2022-03-20 22:25] cj848 commented on #929
@blafond, @DavideD
Hello. I am a developer of [kotlin-jdsl](https://github.com/line/kotlin-jdsl).
Hibernate-reactive does not officially support h2 db, so I went in after seeing the above issue and changed the settings to test internally using h2 db. I hope it will be helpful for your development.

For reference, when I run h2 db in hibernate-reactive, I have summarized the following problems and

[2022-03-20 23:13] DavideD commented on #929
Thanks @cj848, we are currently working on it. Not sure at the moment how long is gonna take to support h2 because we often need some additional work to make the Hibernate ORM Dialect to work with the Vert.x driver. We might be able have something working (with some limitations) in the next couple of weeks.

Anyway, people seems very interested to this feature so we will try to keep it up to date.

[2022-03-20 23:19] cj848 commented on #929
@DavideD
Thank you for your interest.
I am using this library in a reactive module inside a library called kotlin-jdsl as in the link in the previous comment. I am very grateful that I can use reactive while using the features of JPA as it is. All of the hibernate-reactive contributors worked hard in the development. thank you

[2022-03-21 11:46] andrew-dzak commented on #1246
@DavideD  so when i initialize hibernate outside the context of vertx.
`
INFO: HR000002: Vert.x not detected, creating a new instance
`
Same code i do not get the error.  maybe this might help in fixing the issue

[2022-03-21 13:26] DavideD opened #1248 "Upgrade Vert.x to 4.2.7"
Something is not quite right when upgrading at the moment. The build fails with Oracle.
I don't know if it's something with the Vert.x driver or our test suite.
A work around is to make sure that all updates are wrapped in a transaction  (instead of using session + flush)

[2022-03-23 11:50] DavideD commented on #1246
I think the cause of the error is that `withSession` will create a new session [only if one doesn't exist already in the current Vert.x context.](https://github.com/hibernate/hibernate-reactive/blob/cda2cfe64c2bccd93550f0302910e1672fa5aea1/hibernate-reactive-core/src/main/java/org/hibernate/reactive/stage/impl/StageSessionFactoryImpl.java#L151).

When you run the two methods:
[code]

They will end

[2022-03-23 12:54] andrew-dzak commented on #1246
@DavideD  so on the first call to the API end-point.  Both the calls
[code]
it uses a new session
`LOG.debug( "No existing open Stage.Session was found in the current Vert.x context: opening a new instance" );
			return withSession( openSession(), work, contextKeyForSession );
`
on the second time i make the api call . It uses the the current session
`
LOG.debug( "Reusing existing open Stage.Sessi

[2022-03-23 13:42] #1246 closed

[2022-03-24 18:16] andrew-dzak commented on #1246
@DavideD
[code]

[2022-03-28 13:23] DavideD opened #1254 "Test fails on CI because it's trying to set the wrong type to a field"
This only happens occasionally and only for Oracle (it seems).
If I run the test locally, it works fine unless the test get run multiple times in a row and it will eventually fail.

[code]

I'm creating this issue so that we can keep track of it.

[2022-03-29 17:24] indiealexh commented on #394
I would like to bring this topic back up seeing as its over 1 year on and a feature I would love!

[2022-03-29 18:12] DavideD commented on #394
I'm afraid the situation hasn't changed

[2022-03-30 05:45] cdmikechen opened #1256 "Why ProxyConnection can not use batch?"
I use `quarkus-hibernate-reactive` to insert some rows to table, but it seems like that quarkus does not support reactive batch mode at present. I have written some comments in quarkus issue https://github.com/quarkusio/quarkus/issues/16640
So I start to try to start batch session manually.

I tried many ways, and finally succeeded in this way:
[code]

Fruit is a PanacheEntityBase:
[code]

But, if

[2022-03-30 11:45] DavideD commented on #1256
I think it's a mistake and we should pass allowBatching instead

[2022-03-30 11:45] DavideD commented on #1256
Please, feel free to send a PR

[2022-03-30 12:28] cdmikechen commented on #1256
@DavideD
Thanks for your reply, I've opened a PR https://github.com/hibernate/hibernate-reactive/pull/1257

[2022-03-31 09:53] DavideD commented on #1256
Rebased and merged.
Thanks a lot @cdmikechen

[2022-03-31 10:00] #1256 closed

[2022-04-07 09:51] markusdlugi opened #1258 ""SQLException: Not using JDBC" when trying to obtain lock for entity created in same transaction"
When trying to obtain a pessimistic lock for an entity that was created within the same transaction that is used to obtain the lock, Hibernate Reactive fails with the following exception:

[code]

Of course, locking an entity while it only exists in the local transaction isn't really necessary. But it would still be nice if Hibernate Reactive supported this use case. For example, we sometimes want

[2022-04-07 13:54] DavideD commented on #1258
I think there is a bug somewhere. We should at least throw a better error message.
That said, I think I have a workaround for the time being.
It should work if you change the methods in `MyEntityResource` to

[code]

[2022-04-08 15:42] #1228 closed

[2022-04-08 15:48] DavideD commented on #1220
Yes, `FetchMode.JOIN` should work.

But we cannot help without having an example of your model or the query that are executed.
I'm going to close this issue because without additional information, there is not much we can do. Feel free to comment on here if have some more questions.

[2022-04-08 15:48] #1220 closed

[2022-04-11 21:38] franciscoGarrigo opened #1261 "Possible issue running grpc + mysql reactive in dev mode"
Hello

I am trying to run a microsservice that expose grpc route and write request payloads in mysql database reactively. So i got a classical timeout exception like [this](https://github.com/quarkusio/quarkus/issues/23739) after some sucessful inserts/updates. After some debugs in visual vm, i found this:
![blockingEventLoop](https://user-images.githubusercontent.com/20757745/162836325-52a3ce90-a

[2022-04-12 17:29] DavideD commented on #1235
Fixed, thanks!

[2022-04-12 17:29] #1235 closed

[2022-04-12 18:18] #1261 closed

[2022-04-13 05:06] jhhong0509 commented on #1104
In spring boot, `exclude-unlisted-classes` does not work for me.
When I try to use `find()`, following error occurred.
[code]
how can I scan entities automatically?

[2022-04-13 15:59] blafond commented on #1258
Pushed a HR reproducer to my [repo](https://github.com/blafond/hibernate-reactive/commit/59e13cbf6e7caf12f5975535a4226e286ef921a5).

`testLockBeforeUpdate()` does a session.lock() before the udpate and the update works.

`testLockDuringUpdate` does the lock during update via the `session.find(.....LockMode.PESSIMISTIC_WRITE)` and it fails with
[code]

[2022-04-13 16:07] blafond commented on #1258
@DavideD The `Not using JDBC` error is coming from the `NoJdbcConnectionProvider.getConnection()` call and I haven't figured out why it would call that service.

There's section in [`DefaultReactiveLoadEventListener.reactiveOnLoad()`](https://github.com/hibernate/hibernate-reactive/blob/ada17b99df73e7899709a32a54a307260a1ff438/hibernate-reactive-core/src/main/java/org/hibernate/reactive/event/impl

[2022-04-13 18:19] blafond commented on #1258
@DavideD Changed the lock mode to `OPTIMISTIC` for both tests and they both succeed

[2022-04-14 05:49] Sgitario opened #1264 "Poor performance compared to Spring R2DBC (Spring Data Reactive)"
I've written [an application](https://github.com/Sgitario/frameworks-benchmarks/tree/main/data-reactive-benchmark) that compares one application written in Quarkus using Hibernate Reactive, and another application in Spring using r2dbc, and the performance difference is huge, much worse when using Hibernate Reactive:

![hibernatereactivevsspringreactive](https://user-images.githubusercontent.com/6

[2022-04-14 10:06] DavideD commented on #1248
WE have skipped 4.2.6 because of some issues with Oracle

[2022-04-14 11:12] DavideD opened #1266 "Upgrade to ORM 5.6.8.Final"

[2022-04-14 11:13] #1266 closed

[2022-04-14 11:19] #1248 closed

[2022-04-15 08:55] DavideD opened #1270 "Automatic scan of the entities doesn't work"
When using a persistence.xml file, the entities aren't scanned automatically. No matter the value of the property:
[code]

See https://github.com/hibernate/hibernate-reactive/issues/1104#issuecomment-1097563003

[2022-04-15 08:56] DavideD commented on #1104
Thanks @jhhong0509. I think it's a bug, I've created a separate issue for it: https://github.com/hibernate/hibernate-reactive/issues/1270

[2022-04-18 15:07] blafond commented on #1168
Tests still fail after upgrade to [Upgrade to Vert.x 4.2.7](https://github.com/hibernate/hibernate-reactive/commit/997d61f7bbda6d15a3a7764b9db703d97fc456a9)

[2022-04-19 14:57] DavideD commented on #1264
@Sanne, maybe you can comment on this?

[2022-04-19 15:37] Sanne commented on #1264
Very interesting, thanks @Sgitario ! I'll need to have a look.

[2022-04-20 11:28] DavideD opened #1273 "Example session-example doesn't work in jakarta/main"
We are already using the latest ORM that should have fixed the issue.
The `session-example` module is currently disabled: a9027ad22e0af642a05ace4912421d151ee713fd

[2022-04-26 08:38] DavideD opened #1277 "Add test for `@NotFound` annotation"
See this PR for ORM: https://github.com/hibernate/hibernate-test-case-templates/pull/159

[2022-04-26 08:53] DavideD commented on #1264
I'm going to close this issue for now. @Sanne can add more details about the test in general when he has time.

What I can say is that you cannot compare the `deleteById` Panache is doing with a simple `delete from table` query.
The reason is that Panache needs some extra steps because it will make sure to delete associated entities if the mapping requires it. I think we could do better by realizi

[2022-04-26 08:53] #1264 closed

[2022-04-26 10:41] Sanne commented on #1264
right, thanks @DavideD .

@Sgitario another problem I've noticed is that JMH is best suited for "microbenchmarks": measuring efficiency of very small pieces of code. It might be used in this case as well, but you should use a much longer warmup time (it takes much longer to "warmup" a full application stack than a single method), and ensure you're measuring a larger portion of time.

This is parti

[2022-04-26 10:44] Sanne commented on #1264
BTW while we closed this particular issue as I believe the "poor performance" is yet to be proven, I'd be totally happy to see more of these and/or help you with the benchmark.
If you have upcoming changes to the benchmark I'd be glad to review them; I might send you a PR myself to show how to best disable context propagation.

[2022-04-26 13:17] Sgitario commented on #1264
Many thanks @Sanne ! I will update the benchmark to set up better warmup times.

For the benchmark project, the idea was to use the default configuration by Spring Boot/Quarkus (as it's likely what users will do) for the same use cases and compare how each runtime performance is in comparison to the other. I see JMH is not designed for such a purpose, but what I'm looking for it's the difference a

[2022-04-26 17:36] encircled commented on #1277
Hey, I will take a look on this one

[2022-04-27 04:38] Sgitario commented on #1264
FYI: After updating the benchmark with better warmup times and not including the delete action within the benchmark, the benchmark times for Quarkus and Spring Boot are pretty much the same.

[2022-04-27 07:13] DavideD commented on #1277
Thanks. If it doesn’t work for ORM it probably doesn’t work for us as well. A test is what we need to begin with.

please, use this templates for the code: https://github.com/hibernate/hibernate-ide-code styles

the templates for Hibernate ORM.

[2022-04-27 08:19] DavideD commented on #1277
I think the behaviour in this case makes sense. There is not an error because of the entity not being found (so `NotFoundAction.IGNORE` is respected). The error happens because of `nullable=false`. Anyway, I don't think this is a realistic scenario or something critical.

That said, I haven't checked the javadoc for `@NotFound` so I'm not sure which cases is supposed to cover at the moment.

[2022-04-27 08:19] Sanne commented on #1264
Excellent, glad to hear!

However based on my other testing activities I would expect Hibernate Reactive to beat competition. I suppose you didn't disable CP in this test?

[2022-04-27 08:21] Sgitario commented on #1264
I didn't because I didn't want to tune any of the Quarkus/Spring Boot applications.
But to showcase purposes, I would be happy to try it out. Any hints about how to disable it?

[2022-04-27 08:25] Sanne commented on #1264
Sure :)

It's a bit inconvenient currently, but this is the recipe; you need to do BOTH of:

1# adding these to the configuration properties

[code]

AND

2# Disable it via annotations on each REST endpoint:

[code]

+1 that's fair. We should really fix this OOB, but it's interesting to see where it could get us as soon as that's done :)

[2022-04-27 08:50] encircled commented on #1277
This is to be fixed in ORM and then we merge the unit test, right?

[2022-04-27 08:56] DavideD commented on #1277
Probably. Sometimes we don't use the code in ORM directly, we need to adapt it. So it depends from what the fix looks like.
But it makes sense to wait for the fix in ORM.

[2022-05-05 15:08] DavideD opened #1279 "Remove duplicated LICENSE file"
We only need the one at the base of the project

[2022-05-05 15:11] #1279 closed

[2022-05-06 09:45] HelloTo4x opened #1280 "how Hibernate reactive work"
Hi, I am confused by this problem. Hibernate use JDBC, and JDBC is Blocking I/O, how hibernate reactive can work with JDBC, and how Hibernate reactive can handle Transaction. thanks

[2022-05-06 10:02] DavideD commented on #1280
Hibernate ORM uses JDBC but Hibernate Reactive doesn't.
Hibernate Reactive connects to the databases using the [Vert.x SQL clients](https://vertx.io/docs/#databases).

[2022-05-06 10:02] #1280 closed

[2022-05-07 10:24] HelloTo4x commented on #1280
@DavideD so how does Hibernate Reactive work, which library is it based on ?

[2022-05-07 11:01] DavideD commented on #1280
It's built on top of Hibernate ORM.

We have added a new APIs but we try to reuse as much as we can for the implementation (the dialects for example).
You can see in the source code that we extend several existing classes in ORM but we add new methods or override existing ones when we need to so that we can pass CompletionStage objects around.

Because we are using Vert.x,  we can have a non block

[2022-05-07 11:03] gavinking commented on #1280
The very first section of the documentation explains that:

<https://hibernate.org/reactive/documentation/1.1/reference/html_single/#preface>

[2022-05-09 22:24] liconalicona commented on #1205
Hi, I have the same issue with panache reactive on Quarkus 2.8.3.Final
_com.fasterxml.jackson.databind.JsonMappingException: HR000056: Collection cannot be initialized_

The non-reactive version of this code works fine.

Thanks

[2022-05-12 09:03] iamKunal opened #1285 "Support for Array Types"
Hi

I am trying to use a `List` (and Array) of `String`s and map it and use it with Postgres Text array type (`text[]`).

I looked at https://github.com/hibernate/hibernate-reactive/issues/279 and tried using the  `@Type(type = "com.vladmihalcea.hibernate.type.array.StringArrayType")` and `@Type(type = "com.vladmihalcea.hibernate.type.array.ListArrayType")` but both of them try to access https://g

[2022-05-12 11:41] DavideD opened #1286 "Configuration option 'hibernate.order_updates' is not effective"

[2022-05-12 11:44] DavideD opened #1287 "Create a test for 'hibernate.order_updates' option"
We already have a fix we tested manually. We need to add JUnit test.
See #1284

[2022-05-12 11:54] DavideD commented on #1286
Merge https://github.com/hibernate/hibernate-reactive/pull/1284

Thanks!

[2022-05-12 11:54] #1286 closed

[2022-05-12 17:48] DavideD commented on #1205
@liconalicona You are seeing this error message because you are trying to access a lazy association. You can do that with Hibernate ORM - the non-reactive version - but you cannot do it with Hibernate Reactive.
This paragraph in the documentaion should explain to you what's happening: https://hibernate.org/reactive/documentation/1.1/reference/html_single/#_fetching_lazy_associations

This issue is

[2022-05-13 09:53] DavideD opened #1289 "Ensure that we are using the right thread when HR is used without an initial context"
See https://github.com/hibernate/hibernate-reactive/pull/1276

[2022-05-13 11:08] DavideD opened #1291 "Lamba expressions cause NoSuchMethodError on application startup"
It's a JVM bug: https://bugs.openjdk.java.net/browse/JDK-8161588

[2022-05-13 14:50] #1291 closed

[2022-05-13 15:03] #1289 closed

[2022-05-15 17:26] DavideD opened #1295 "Upgrade to ORM 5.6.9.Final"

[2022-05-16 10:50] #1295 closed

[2022-05-16 13:21] #1015 closed

[2022-05-18 17:05] DavideD opened #1300 "Error on CI using StatelessSession#fetch"
When using Oracle, sometimes we have an exception because an object is a CompletionStage instead of the exepcted instance.

It seems to only happen with Oracle and only when some conditions are met (not sure exactly which).

This is the full stacktrace:
[code]

[2022-05-19 10:11] #1300 closed

[2022-05-19 12:52] Sanne opened #1302 "HQL Query parser cache not being effective"
It seems that when running the same query sequentially many times, the HQL is being parsed each time.

Hibernate ORM includes a query parser cache - it seems it's not being effective in Hibernate Reactive?

Example stacktrace:

[code]

Example method:

[code]

N.B. I was testing this with a stateless session - not sure if that might be a factor.

[2022-05-19 14:33] DavideD commented on #1302
Working on it

[2022-05-23 10:17] DavideD opened #1305 "Upgrade to Mutiny 1.5.0.Final"
https://github.com/smallrye/smallrye-mutiny/discussions/926

[2022-05-23 10:20] DavideD opened #1306 "Upgrade testing and optional dependencies"
Upgrade default HR dependency for JBang to 1.1.6.Final
Upgrade JBoss logging to 3.5.0.Final
Upgrade Ehcache to 3.10.0
Upgrade MSSQL JDBC Driver to 10.2.1.jre8
Upgrade Log4J to 2.17.2
Upgrade Jackson Databing to 2.13.3
Upgrade Hibernate Validator to 6.2.3.Final
Upgrade Postgres JDBC driver to 42.3.5
Upgrade AssertJ to 3.22.0
Upgrade testcontainers to 1.17.2

plus docker images:
Upgrade MariaDB dock

[2022-05-24 13:19] #1306 closed

[2022-05-24 13:46] DavideD opened #1309 "Inheritance TablePerClass fails with MySQL 8.0.29"
If we upgrade to MySQL 8.0.29 the test `org.hibernate.reactive.UnionSubclassInheritanceTest` will fail because the delete of the entity
doesn't occurs:
[code]

Something doesn't work quite right when running these queries:
[code]

[2022-05-24 14:56] DavideD commented on #1309
@tsegismont this only happens when I change the docker image from `8.0.28` to `8.0.29`. I suspect it's an issue with the Vert.x SQL client but test I've tried to write for it actually works. Woudl you be able to have a look at this, please?

This is the branch with MySQL 8.0.29 + docker configure already as the default: https://github.com/DavideD/hibernate-reactive/tree/mysql-8.0.29

This the bran

[2022-05-24 17:56] DavideD opened #1310 "Upgrade to Vert.x 4.3.0"

[2022-05-24 21:25] #1310 closed

[2022-05-25 07:40] encircled commented on #1277
@DavideD seems that it was fixed in ORM in 6.x, any plans for migration yet?

[2022-05-25 09:58] DavideD opened #1312 "Upgrade to Vert.x 4.3.1"

[2022-05-25 10:42] #1312 closed

[2022-05-25 13:59] DavideD commented on #1254
Duplicates #1300

[2022-05-25 13:59] #1254 closed

[2022-05-25 14:45] #1245 closed, assigned to DavideD

[2022-05-25 15:43] DavideD opened #1317 "Update limitations in the README"
After Vert.x 4.3.1, Oracle works as well as the other dbs

[2022-05-25 15:46] #1317 closed

[2022-05-26 07:39] HelloTo4x opened #1320 "how Hibernate reactive work with Database"
Hi, some RDBMS doesn't support with Stream, so how can Hibernate reactive can work with it to get data like "Reactive stream", thank u so much

[2022-05-26 08:19] gavinking commented on #1320
Hibernate Reactive doesn't work with every database, only with the databases explicitly listed. If your database is on the list, you are good; if it's not on the list, you can't use HR.

[2022-05-26 08:20] #1320 closed

[2022-05-26 08:29] HelloTo4x commented on #1320
@gavinking , i am using Oracle and MySQL, but 2 database don't support Stream, so how can u do it with Reactive ?

[2022-05-26 09:29] DavideD commented on #1320
I think we talked about this here some time ago: https://github.com/hibernate/hibernate-reactive/issues/153
Basically, Streaming the result of a query is not possible at the moment.

[2022-05-26 13:12] DavideD commented on #1285
I think using a UserType is the easiest approach:
[code]

and you can use it when mapping the entity:
[code]

We use the same approach for mapping [Json](https://github.com/hibernate/hibernate-reactive/blob/main/hibernate-reactive-core/src/test/java/org/hibernate/reactive/types/Json.java) types.
The Hibernate ORM guide also contains some additional [info about user types](https://docs.jboss.org/hi

[2022-05-26 13:12] #1285 closed

[2022-05-26 15:08] HelloTo4x commented on #1320
No, i mean some database doesn't support Stream, how u can do with it to make it Reactive

[2022-05-26 15:24] gavinking commented on #1320
Well you just said the same thing again, still without defining what you mean by "Stream".

Look, all "reactive" means here is the use of nonblocking I/O for communication between client and server.

So: Hibernate Reactive does not blocking the requesting thread while waiting for a response from the database server.

I don't know what "Stream" has to do with that, or why the database server would

[2022-05-27 02:10] HelloTo4x commented on #1320
i mean if you don't use "Stream", Stream for process each element of data, we can't make it Reactive

[2022-05-27 05:10] gavinking commented on #1320
Ok, so if what you mean you mean by this is that you want to hold a result set (along with its associated memory and/or locks) _open on the database server_, while the client incrementally "pulls" individual rows of the result set as needed, then:

1. that's simply not a requirement for the system to be "reactive", and
2. it's almost always a terrible idea.

So no, we don't do that. And it's a goo

[2022-05-27 12:35] SMakhrov commented on #394
@Sanne , could you please clarify situation? We really need this

[2022-05-27 13:30] Sanne commented on #394
@SMakhrov hi - while I think this would be really nice to have, this particular feature request is not very high in the list of strategic things we'll need to work on ourselves so it's unlikely that me or @DavideD will be implementing this, but if you or others volunteer to try it and send a pull request we'd be happy to help with guidance, suggestions and reviews.

At this point I don't know how

[2022-05-31 15:48] tsegismont commented on #1309
@DavideD I have a reproducer with Vert.x MySQL Client. The key point is that prepared statement caching needs to be enabled (which HR does by default).

I don't understand yet why prepared statement caching is broken by upgrading to `8.0.29`.

[2022-05-31 15:55] DavideD commented on #1309
Thanks for looking into this

[2022-06-01 13:18] tsegismont commented on #1309
@DavideD @Sanne @gavinking given this is not a Vert.x client issue, would you mind following-up with the MySQL community?

[2022-06-01 13:50] tsegismont commented on #1309
Disabling prepared statement caching

[2022-06-01 13:57] DavideD commented on #1309
ok, I will create an issue for MySQL

[2022-06-01 13:58] gavinking commented on #1309
Like, *globally*, or for some particular statement?

[2022-06-01 15:32] DavideD commented on #1309
I've reported the bug: https://bugs.mysql.com/bug.php?id=107447

[2022-06-01 19:53] tsegismont commented on #1309
@gavinking I think so yes. I don't know how you can do for some particular statement if you don't know the statement in advance (the connect options have a filter field which could help if the query was known beforehand).

[2022-06-01 19:57] tsegismont commented on #1309
@DavideD Thank you. I would recommend to update the description: the issue is not the `DELETE` query, but rather the `INSERT` into the temporary table. The second time it is executed (just before the `DELETE`) it does not insert anything.

[2022-06-01 22:24] DavideD commented on #1309
Ah ... I thought the problem was that it couldn't read the the value inserted.

Anyway, I can't figure out how to edit the issue, so I've just added a comment. Feel free to comment directly on the issue if you want to add something.

Thanks

[2022-06-06 11:48] gavinking commented on #1258
@blafond what looks strange here is that this code block seems to be for *forced* pessimistic locks, but the test code doesn't
appear to be requesting this lock level.

But maybe i'm wrong and this is normal, I would have to run and step through the code.

[2022-06-06 11:57] gavinking commented on #1309
Wow, their response to your bug report wasn't very encouraging, was it @DavideD?

And this seems to be a bug that would impact users of regular Hibernate, correct? (It's not specific to reactive, is it?)

[2022-06-06 12:52] blafond commented on #1277
k... I can live with that.

[2022-06-06 14:27] DavideD commented on #1309
Yes, the tests we provided (thanks to @tsegismont) uses JDBC.

[2022-06-07 10:47] gavinking opened #1325 "note and warn icons in documentation"
The docs on the website currently have broken image links for the note and warning icons.

[2022-06-07 12:09] DavideD commented on #1273
This is the exception running `session-example`:
[code]

[2022-06-07 12:22] DavideD commented on #1273
Nevermind, this was an issue with the example. I was using the wrong fetch after I've remove the gradle plugin

[2022-06-07 12:28] DavideD commented on #1273
I will reopen this one becaus eI need to update the examples

[2022-06-07 13:07] #1207 closed

[2022-06-08 09:04] DavideD commented on #1270
This is actually how it's supposed to work.
The property is only valid when we deploy on an application server.

[2022-06-08 09:04] #1270 closed

[2022-06-08 20:32] gavinking commented on #1325
This appears to be caused by blocked access to the font-awesome stylesheet. @Sanne any idea how to fix this?

<img width="1146" alt="Screen Shot 2022-06-08 at 10 31 12 PM" src="https://user-images.githubusercontent.com/579974/172711616-2d433155-cf9a-4106-b798-f9edd3cf9c98.png">

[2022-06-09 11:11] #1205 closed

[2022-06-09 13:17] yrodiere commented on #1325
@DavideD knows about this, he configured content security policy in the first place.

[2022-06-09 15:01] Sanne commented on #1325
thanks - I have no idea myself. Davide is travelling, I guess he'll have a look tomorrow.

[2022-06-09 15:54] DavideD commented on #1325
ACK

[2022-06-10 02:52] debop opened #1328 "MySQL Aborted connection is appear."
When run hibernate-reactive examples with MySQL

MySQL Log printed like this

[code]

I changed to database name, username, password.

By example, must shut down the factory need. example has `factory.close()`
but above log is appear.

[2022-06-10 08:38] DavideD commented on #1328
Sorry, I don't understand this. Are you saying that the error appears if you don't close the factory?
How did you change the code in the example? Could you show it somewhere?

Checking the [MySQL reference documentation](https://dev.mysql.com/doc/refman/8.0/en/communication-errors.html), this error can happen when the connection has not been closed properly. Our examples shouldn't cause this kind

[2022-06-10 12:38] DavideD commented on #1273
I think this is a bug in ORM, I've converted the example to work with ORM here: https://github.com/DavideD/jakarta-lazy-fields

[2022-06-10 12:41] DavideD commented on #1273
I'm waiting for the ORM team to confirm this

[2022-06-10 13:01] DavideD commented on #1162
And when we activate the statistics we see logs mentioning JDBC:
[code]

[2022-06-10 13:02] DavideD commented on #1175
Duplicate of #1162

[2022-06-10 13:02] #1175 closed

[2022-06-10 13:05] DavideD commented on #929
We stopped working on this one because the results were unstable. When we have time we should have another look at it

[2022-06-10 13:05] DavideD commented on #929
@blafond we should push this upstream under `wip/h2` so that other people might have a look

[2022-06-10 14:28] mkouba commented on #929
Just out of curiosity, what kind of instability was that? :smile:

[2022-06-10 14:36] DavideD commented on #929
Every time we run the build different tests fail or work.

[2022-06-10 14:46] gavinking commented on #975
Rrrrrrrmmm I looked into this at one stage, but TBH I forget precisely how this works. Exactly which byte code enhancement options do you have enabled?

@Sanne probably knows more about this than me.

[2022-06-10 14:47] gavinking commented on #975
@DavideD do you have a test case I can debug?

[2022-06-10 14:53] DavideD commented on #975
I don't have a testcase, but if you run the `MutinyMain` example I have on my branch https://github.com/DavideD/hibernate-reactive/tree/lazy-many-to-one you will see the issue: https://github.com/hibernate/hibernate-reactive/commit/99f112dffc8bfb3e9d23856de37a1585cb41eb6b

[2022-06-10 16:42] gavinking commented on #975
Alright, so it looks like we're going to need a reactive version of `AbstractEntityPersister.initializeEnhancedEntityUsedAsProxy()`.

[2022-06-10 22:29] DavideD commented on #1309
But I've converted the test for ORM and it didn't fail on CI

@tsegismont: Doesn't their answer means that something needs to be fixed in the vertx client?

[2022-06-11 08:54] mkouba commented on #929
I see. That's not good. Thanks for sharing.

[2022-06-12 11:36] debop commented on #1328
@DavideD

I did close sessionFactory (it's hibernate-reactive example code), but sometimes occur that log occationally.

I change db connection configuration (my docker image. MySQL 5.7)

When I use Vertx SqlClient directly. that log is not appear.

[2022-06-12 13:18] DavideD commented on #1328
Sorry, I've tried but I cannot reproduce it.
Maybe you can enable the trace log end let me know the output?
You can set these properties in `examples/session-example/src/main/resources/log4j2.properties`:
[code]

Does it happen with all the examples (Mutiny and Stage)? We are talking about `session-example`, isn't it?

[2022-06-13 08:16] tsegismont commented on #1309
Does ORM activate prepared statement caching as well? Are the tests exactly the same?

When I read the answer from MySQL verification team, I see "We are aware of the issue. It is related with the new server code".

[2022-06-13 08:16] tsegismont commented on #1309
Does ORM activate prepared statement caching as well? Are the tests exactly the same?

When I read the answer from MySQL verification team, I see "We are aware of the issue. It is related with the new server code".

[2022-06-13 09:25] DavideD opened #1333 "Test batching by checking the queries it runs when enabled"
We already have some tests for batching but they won't fail if batching is disabled. We need something more reliable.

[2022-06-13 09:43] DavideD commented on #975
Thanks.
Are you working on it?
Not a request, just checking to make sure that there aren't multiple people working on the same issue.

[2022-06-13 09:55] DavideD opened #1334 "Testing with mysql and mariadb is slow"
This happens because we use custom testcontainers classes to avoid having the JDBC drivers on the classpath.
In practice, I don't see any major issue in having the  driver on the classpath for testing (we already have the one for postgres and Sql Server). Maybe we can speed it up by changing them.

The classes to check are [VertMariaContainer](https://github.com/hibernate/hibernate-reactive/blob/m

[2022-06-13 10:01] gavinking commented on #975
I will try to find time. Not going to be immediate because I have a presentation to prepare this week.

[2022-06-13 10:45] DavideD commented on #1309
It also continues with "... and how connector/j use server prepared statements.". It's also categorized as `Connector / J`. But yes, it's a vague answer, who knows?

I've pushed the tests on my branch `mysql-29`:  https://github.com/DavideD/hibernate-reactive/tree/mysql-29

The test that fails for reactive is [UnionSubclassInheritanceTest#testQueryUpdateWithParameters](https://github.com/DavideD/h

[2022-06-13 16:03] DavideD commented on #929
@blafond rebased it to the latest changes and now it seems to work as expected.
I will fix some of the tests that are failing and see if we can send a PR.

[2022-06-13 16:09] #1334 closed

[2022-06-13 17:27] #1333 closed

[2022-06-13 17:33] DavideD commented on #1333
@blafond Thanks, but please, be careful when you merge prs. You've squashed all the commits into one

[2022-06-14 11:40] debop commented on #1328
Thank your effort.
I think it cause by testcontainers.
testcontainer instancing mysql is very slow, so vert.x connection retry many times.

[2022-06-14 11:41] DavideD commented on #1328
No problem. Thanks for the feedback and let us know if you have other issues

[2022-06-14 12:07] DavideD opened #1338 "Throw better exception when using CockroachDB with Identity and the type is not long"
When using identity generation with CockroachDB, users should use Long.
Identity generation of type Integer or Short, **usually** fail because the id generated by Cockroach are too big.

From time to time, it might happen that the id generated for an Integer is valid and this might cause random issues.

[2022-06-14 15:54] #1338 closed

[2022-06-14 22:57] DavideD opened #1340 "Check if we JDK-8161588 is still a problem"
There's a couple of places where we cannot use method reference because of [JDK-8161588](https://bugs.openjdk.java.net/browse/JDK-8161588) affect Quarkus:
* [ReactiveSessionFactoryImpl](https://github.com/hibernate/hibernate-reactive/blob/4d1df78449172aab2655c158e0190dd8e6bbf38f/hibernate-reactive-core/src/main/java/org/hibernate/reactive/session/impl/ReactiveSessionFactoryImpl.java#L37)
* [Postgr

[2022-06-16 20:07] DavideD commented on #181
I'm going to close this issue because it doesn't seem relevant anymore and with Hibernate 6 everything related to the loaders has changed anyway

[2022-06-16 20:07] #181 closed

[2022-06-17 19:00] DavideD opened #1342 "Pagination doesn't work with MSSQL for some query"
In Sql Server, we run different queries for pagination based on the type of query.
Here's an extract from `SQLServer2012LimitHandler#processSql`:
[code]
The error happens for queries without an order-by clause.

Here's a test case to add to `FilterWithPaginationTest`:
[code]

This will fail because we don't replace the parameters placeholder (`?`) with the one for MSSQL (`@P1`).

Quarkus issue: ht

[2022-06-22 10:20] DavideD opened #1344 "Document the release process in a wiki or readme"
Right now we [have a comment here](https://github.com/hibernate/hibernate-reactive/blob/137673b27e853ac4d83155d1ad93060cc27824f4/release/build.gradle#L27).

[2022-06-22 11:06] #1325 closed

[2022-06-22 13:19] gavinking commented on #1325
Perfect, thanks man.

[2022-06-22 16:17] #1342 closed

[2022-06-23 11:06] SirSkizo commented on #1121
Hi,

Could you please hand me how you get your "tenantService" instance?

[2022-06-23 14:47] DavideD commented on #1121
I think it's a service he created in his project. What are you trying to do?

[2022-06-23 18:24] SirSkizo commented on #1121
I am migrating an aplication from imperative to quarkus. The application is quite large, but the problem is localized when loading the demo data:

[STEP 1] First I need to persist some entities of type A (about 1k in the current tests).

[STEP 2] Then, the test pass these instances of A to other application (through REST), and gets some data.

[STEP 3] The application need to update the instances

[2022-06-24 09:27] DavideD commented on #1121
I'm not sure how you can keep the session open (do you really want to do that?). But you can implement step 3 by merging the entities to the database. This will attach the entities to a new session and apply the changes.

[2022-06-24 10:13] SirSkizo commented on #1121
How would you update the entities with `Mutiny.SesionFactory.withTransaction()`?

I will prefer to open and close the session on the first step and then open another one for the third step.

I mean, it is like using two transactions:

[code]
But, all the steps are done in a single function call.

[2022-06-24 10:38] DavideD commented on #1121
This should work:
[code]

[2022-06-24 10:51] DavideD commented on #1121
Maybe, I've misunderstood what you are trying to do. If you can show some code, I might have a better answer.
You should be able to pass the session around, now that I think about it.

[2022-06-24 12:56] gavinking commented on #1104
But .... there's no such method in classic Hibernate ... and for good reason, since the `SessionFactory` is supposed to be immutable. Nor is there any such method on `Configuration` or `MetadataSources`.

So I'm not sure what it is that's missing.

[2022-06-24 13:03] DavideD commented on #1104
Closing the issue.

[2022-06-24 13:03] #1104 closed

[2022-06-24 20:01] blafond opened #1345 "Enable tests disabled when vertx-sql-client issue #899 is fixed"
There's an IllegalStateException being thrown from vertx-sql-client for DB2 database in the following tests and is logged as issue [#899](https://github.com/eclipse-vertx/vertx-sql-client/issues/899) with an error message containing `.. Needed to have 6 in buffer but only had 0..`

`OrderedEmbeddableCollectionTest` was disabled when #899 was logged`

`IdentifierGenerationTypeTest` is being disable

[2022-06-25 09:30] FishingZVVZ opened #1346 "Stream with Oracle"
Hi, i see Oracle and MySQL still support Stream like: https://docs.oracle.com/database/121/STRMS/strms_over.htm , so i have a question, Do you use it for designing Reactive Protocol for Hibernate reactive

[2022-06-25 10:36] DavideD commented on #1346
I think this is a question for the [Vert.x SQL client](https://github.com/eclipse-vertx/vertx-sql-client/) team. At the moment, we don't support streaming to databases but if the feature becomes available, we will add it to the SQL client.

[We discussed this in the past](https://github.com/hibernate/hibernate-reactive/issues/153) and decided that we couldn't yet implement it in a way that made se

[2022-06-25 14:24] DavideD commented on #1346
Sorry, I don't know what you mean.
I'm going to close this issue because it's not really an issue, but feel free to continue the conversation here.

[2022-06-25 14:24] #1346 closed

[2022-06-25 14:48] DavideD commented on #1346
Yes, in Hibernate Reactive we connect through the db using the drivers. If the drivers don't support it, we cannot support it.

[2022-06-27 08:00] SirSkizo commented on #1121
Sure, here is the repository method:
[code]

CreateDemoFile:

[code]

I use await() since this is a file to generate some mock data just for testing purposes, in production, the application does not block the threads.

I need to create some users (parties), then register the user in Keycloak and finally update the users after keycloak retrieve me some information.

PD: I have a bl (basic logic) la

[2022-06-27 08:29] DavideD commented on #1121
Something like this wouldn't work?
In a service bean
[code]
Hibernate Reactive should be able to find the open session or transaction and reuse it in the repo.
As an alternative, you could pass the open session to the repository:
[code]

[2022-06-27 08:31] DavideD commented on #1121
By the way, I explain different ways to test with Hibernate Reactive and Panache using `quarkus-test-vertx` on this answer of StackOverflow: https://stackoverflow.com/questions/72648062/how-to-chain-2-uni-in-unit-test-using-panache-withtransaction-without-getti/72675643#72675643

We need to update the documentation on this subject.

[2022-06-27 09:19] DyadkinMaxim commented on #394
@Sanne, please could you say where I can find requirements for PR in this issue?
My team is analysing the way of making audit via reactive Envers, so probably we can take part in contribution.

[2022-06-27 10:24] Sanne commented on #394
Let's bear in mind that we're going to upgrade Hibernate Reactive to Hibernate ORM v6+ soon (it's currently still based on ORM v5), so I expect the Envers related changes would be very different.

It might be worth finishing the upgrade to 6 first and only then work on Envers integration?

[2022-06-27 10:25] gavinking commented on #394
Agreed.

[2022-06-28 09:26] DyadkinMaxim commented on #394
@Sanne could you say when Hibernate Reactive will be updated to v6?

[2022-06-29 11:58] SirSkizo commented on #1121
Thanks for the help @DavideD, just one last question. How can I pass a session through several methods?

[2022-06-29 12:15] SirSkizo commented on #1121
Okay, yes

I was wondering if it possible to keep the session open without chaining the operations. But as this is only for loading data to a test DB, I will try the `quarkus-test-vertx` you suggested before

Thanks again

[2022-06-29 12:20] DavideD commented on #1121
How would you make sure that things happen in the right order (`step 1` -> `step 2` -> `step 3`). But, most important, you cannot use the same `session` on different parallel chains of operations.  It will lead to issues that are hard to debug.

[2022-06-29 12:33] DavideD commented on #1121
And, just as a reminder, nested calls to `withSession` will return the same session (same for the transaction). So, it shouldn't be necessary to pass the session (or the transaction) around.

[2022-06-29 16:23] gavinking commented on #975
Fixed now: was easier than I has estimated.

[2022-06-29 16:24] gavinking commented on #1258
Folks, what's the status of this one?

[2022-06-29 16:39] DavideD commented on #1258
I don't think anybody is working on this at the moment

[2022-06-29 17:19] #1258 closed

[2022-06-30 08:27] SirSkizo commented on #1121
I solve the original issue about the (step 1 -> step 2 -> step 3) by chaining the operations, after that I get some troubles with other parts of the demo loader. Sorry, I didn't explain it properly

This was one of the problems, I was running some of the methods on a worker thread, thus I get:

`Error occurred while destroying instance of bean [io.quarkus.hibernate.reactive.runtime.ReactiveSession

[2022-06-30 10:51] DavideD opened #1351 "Upgrade to Mutiny 1.6.0"

[2022-06-30 14:08] DavideD opened #1353 "Upgrade testcontainers to 1.17.3"

[2022-06-30 14:09] #1351 closed, assigned to DavideD

[2022-06-30 15:38] #1353 closed

[2022-07-07 12:15] DavideD opened #1356 "Upgrade Vert.x to 4.3.2"

[2022-07-08 10:29] DavideD opened #1358 "Upgrade Hibernate ORM to 5.6.10.Final"

[2022-07-08 17:05] gavinking commented on #1273
What's the current status of this?

[2022-07-09 10:12] gavinking commented on #1162
So I worked on this yesterday, and it's turning out to be *waaay* harder than it sounds.

To do this *properly*, I need access to the `SessionEventListenerManager` that is created in the constructor of `AbstractSharedSessionContract` from the `getConnection()` methods of `SqlClientPool`.

The problem is that currently we call `getConnection()` *before* instantiating the `ReactiveSessionImpl` or `R

[2022-07-09 10:19] gavinking commented on #1162
Also: this is easy, but it doesn't fully solve the problem, because I can't properly log connection *acquisition*.

[2022-07-13 04:18] meepown opened #1362 "Add ReactiveActionQueue.clear to ReactiveSessionImpl"
SessionImpl.clear() can clear activeQueue but ReactiveSessionImpl can't clear its ReactiveActionQueue. So once update/add event occurs error, the ReactiveActionQueue always keep these event. Whould ReactiveSessionImpl  override clear() method and clear its ReactiveActionQueue?

[2022-07-13 13:21] DavideD commented on #1362
Merged, thanks!

I've remove some extra spaces and added the issue number to the commit.

Out of curiosity, how did you find this? Was there a use case where it was causing issues?

[2022-07-13 13:26] DavideD opened #1365 "Add test case for ReactiveSession#clear"
See #1362

Not critical, but at the moment we don't have an easy way to access the implementation and it makes writing unit tests for this class (and ReactiveActionQueue) hard.

[2022-07-13 13:26] DavideD commented on #1362
I'm asking because [it would be nice to have a test](https://github.com/hibernate/hibernate-reactive/issues/1365) for this

[2022-07-13 15:32] gavinking commented on #1362
@DavideD I guess you could reproduce the issue using:

[code]

[2022-07-13 16:00] DavideD commented on #1362
I will try

[2022-07-13 20:31] DavideD commented on #1362
I've tried but it works even without the fix. I think there is a check somewhere related to the original session that makes everything works even if we don't  clear the reactive queue.

[2022-07-13 20:46] gavinking commented on #1362
Wait, my code was wrong. You would need to add an explicit `flush()` in there!

[2022-07-13 20:56] DavideD commented on #1362
Note that I've reverted the fix on that branch because I want to see the test fail

[2022-07-14 01:36] meepown commented on #1365
We found this bug because we also use the **graphql lib**. But it seems not work on the CDI scope, it's Singleton.  See [smallrye-graphql#1295](https://github.com/smallrye/smallrye-graphql/issues/1295).  So we have to add session.clear() when one request end and the bug found

[2022-07-14 01:43] meepown commented on #1365
I can provide our useage.   we just add an interceptor, like:
[code]

[2022-07-14 03:09] meepown commented on #1365
the graphql endpoint just like:

[code]

[2022-07-14 12:12] meepown commented on #1365
I notice that when  duplicate key error occurs with update acation.   here is the case:
Pig.java:
[code]

TestGraphql.java:
[code]

and this is the console output:
error occurs 1:org.hibernate.HibernateException: io.vertx.mysqlclient.MySQLException: Duplicate entry 'pig2' for key 'pig.UK43jawbss34cvqvk54g136pgmi'
recover
error occurs 2:org.hibernate.HibernateException: io.vertx.mysqlclient.MySQLEx

[2022-07-20 12:27] blafond commented on #1365
I'll work on it this morning

[2022-07-20 14:59] DavideD commented on #1365
Thanks, let me know if you need some clarifications

[2022-07-21 15:05] blafond commented on #1362
@DavideD Running your test above and I'm not seeing an error

[2022-07-21 15:10] DavideD commented on #1362
That particular test working. That's why I've asked for example from OP.

[2022-07-21 15:12] DavideD commented on #1362
Not necessarly, it's possible that in that particular case everything still works for some reason.

[2022-07-21 15:17] DavideD commented on #1362
We could add the test in the code base anyway (I don't think we have one  like this already).

[2022-07-21 15:52] DavideD commented on #1362
This is the error I see when I add the test without the fix: https://github.com/hibernate/hibernate-reactive/runs/7453020650?check_suite_focus=true#step:6:1829

Note that only MutintySessionTest has failed.

[2022-07-21 20:34] DavideD commented on #1365
Done, thanks

[2022-07-21 20:34] #1365 closed

[2022-07-25 15:59] blafond commented on #1287
@DavideD I pushed a draft test to my repo. I don't think it's set up correctly yet so I have some questions

[2022-07-26 13:26] blafond commented on #1287
@DavideD @Sanne this issue was logged stating the config property `hibernate.order_updates` was not effective.  I'm having trouble defining an applicable test.

Is there an example somewhere you recommend that would create the persist/update scenario that would trigger that property?

[2022-07-26 13:28] DavideD commented on #1287
The one we discussed yesterday doesn't work?

[2022-07-26 13:37] blafond commented on #1287
The test passes, but I can't reproduce any scenario where removing the 1 line fix creates an error of some sort.

[2022-07-27 06:19] Sanne commented on #1287
It's indeed tricky to catch a failure; the reason I noticed that it wasn't doing the right thing is that when having multiple parallel requests, under load, is that occasionally there would be spikes in latency because of contention on the data in the database.
In extreme cases (but still quite likely under load) a deadlock would manifest.

These deadlocks would happen because we're locking N rows

[2022-08-02 16:52] blafond commented on #1287
@DavideD I pushed a couple of new commits and rewrote the test.  Wasn't a simple change to capture logged queries with actual parameter values. I had to tweak SqlClientConnection to trigger the process of generating additional SQL statements for the tracker to serve up to the tests.

I couldn't find a way around not moving `SqlStatementTracker` into `pool/impl` package though.  Wasn't my first cho

[2022-08-03 04:54] semistone opened #1368 "NamedQuery doesn't work"
**Version**: tag 1.1.7
**Reproduce Step**

org.hibernate.reactive.example.session.Book

`@NamedQuery(name = "findByAuthor", query = "FROM Book B WHERE author.id = :authorId")`
`class Book {
...
`

org.hibernate.reactive.example.session.Main
add test

[code]

**Error**

Caused by: org.hibernate.QueryException: Named parameter not bound : authorId

Database: MySQL

and it worked in 1.0.0.CR6

[2022-08-03 06:15] gavinking commented on #1368
But ... in that code snippet you don't seem to bind a value to the named parameter ... so the error message looks correct!

[2022-08-03 09:18] semistone commented on #1368
sorry ,
test by wrong code.

[2022-08-03 09:18] #1368 closed

[2022-08-03 12:36] DavideD commented on #1287
I've created a draft for a test case here: https://github.com/DavideD/hibernate-reactive/commit/ebb7475ff4150854efddb4a6c7317f715a7f207a?diff=unified

You can see in the log that when the `hibernate.order_updates` property is false the SQL queries logged are:
[code]

when set to true:
[code]

Can you refactor it to a proper test case, please?

* Remove the ORM part (it was only for checking the di

[2022-08-03 14:21] borellda opened #1369 "No access to ConstraintViolationException.constraintName"
Hello Hibernate team,

I'm migrating an existing app to Quarkus and I want also to use Hibernate reactive.
Quarkus platform version is: 2.11.1.Final
In the current dependency pulled in: org.hibernate.reactive:hibernate-reactive-core:1.1.7.Final, it seems there is no access to the "constraintName" property of ConstraintViolationException class.
Is this on purpose, then how can I check the reason of

[2022-08-03 15:19] DavideD commented on #1369
You are right, we don't extract the code from the error message.
Right now you need to parse the error message if you want to extract the constraint name.

For future reference, at the moment the error message for Postgres is:
[code]

On top of this, we don't seem to throw the right exception when there is a constraint violation.
We should throw a [ConstraintViolationException](https://github.com/

[2022-08-04 06:00] borellda commented on #1369
Thank you @DavideD for the very quick reply.
Didn't mention we are using Oracle, but I guess the message will be similar and I can deal with it.

Maybe worth to open another issue to track the Exception type issue, this seems to be more serious?

Best regards.

[2022-08-04 12:11] gavinking commented on #1369
This was something I discusses with @tsegismont on the train one day recently.

Basically, the whole exception mapping stuff in Hibernate (IIRC) is currently unimplementable in HR because the SQL client doesn't expose the error codes we would need to implement that.

So this is actually bigger problem (really a missing feature).

I believe there is now issue open against the Vert.x client.

[2022-08-05 09:32] DavideD opened #1373 "Upgrade to Mutinty 1.7.0"

[2022-08-05 09:33] #1373 closed

[2022-08-05 09:37] #600 closed

[2022-08-05 13:02] #1287 closed

[2022-08-09 20:39] noobgramming opened #1376 "Expose check for Hibernate Session already in progress or otherwise prevent implicit Session creation?"
Hello again! We've been using Hibernate Reactive in prod for a while and there's a common mistake I would like to prevent when using Reactive DAO's.

We're writing DAO's much like you would in blocking code, here is an example DAO method:
[code]

A very common problem with this pattern is accidentally creating another Session because you have multiple reactive streams. And related, accidentally cr

[2022-08-09 21:22] DavideD commented on #1376
I need to think about it, but you can get the context via the [Implementor](https://github.com/hibernate/hibernate-reactive/blob/main/hibernate-reactive-core/src/main/java/org/hibernate/reactive/common/spi/Implementor.java) interface:
[code]

[2022-08-11 20:40] noobgramming commented on #1376
Hello David, I've been fiddling with this on my end. The ability to get current session remains useful, but I'm starting to doubt my other suggestions.

I found a more effective way to fix `IllegalStateException: HR000069: Detected use of the reactive Session from a different Thread` although I'm unsure if it can be done in a general way without causing unacceptable performance impact (I put our i

[2022-08-12 06:35] DavideD commented on #1376
Ah, we didn't notice that.

When using the Mutiny API, we create a Uni that will eventually be executed at subscription and so, in case of error, it doesn't contain the caller of session that causes the error..

For reference, this is the stacktrace when running [InternalStateAssertionsTest#testFindWithStage](https://github.com/hibernate/hibernate-reactive/blob/main/hibernate-reactive-core/src/tes

[2022-08-13 13:36] DavideD commented on #1376
I don't think I would keep a map around to fix this issue.
You can create a class that wrap the session and every time you call one of the method in it, keep track of possible errors.

You can see an example - it might become a future fix - here: https://github.com/DavideD/hibernate-reactive/blob/stacktrace/hibernate-reactive-core/src/main/java/org/hibernate/reactive/mutiny/impl/MutinySessionImpl.

[2022-08-17 15:58] DavideD opened #1378 "Upgrade Vert.x to 4.3.3"

[2022-08-17 16:48] #1378 closed

[2022-08-19 13:14] maresja1 opened #1379 "Non-reactive forceFlush in AbstractReactiveSaveEventListener.java:172"
[There](https://github.com/hibernate/hibernate-reactive/blob/main/hibernate-reactive-core/src/main/java/org/hibernate/reactive/event/impl/AbstractReactiveSaveEventListener.java#L172) is a call to non-reactive forceFlush of `SessionImpl` that leads to UnsupportedOperationException from DefaultReactiveFlushEventListener:

[code]

[2022-08-19 13:55] blafond commented on #1379
[maresja1](https://github.com/maresja1) can you add a reproducer and/or test scenario with entities?

[2022-08-20 15:53] maresja1 commented on #1379
@blafond I understand the request, but in my situation that would be pretty difficult. I thought that the call to `forceFlush` on `SessionImpl` is plainly wrong, as it results in `UnsupportedOperationException` from `DefaultReactiveFlushEventListener`.

In other words code from `AbstractReactiveSaveEventListener` ends up calling non-reactive flush, that ends up with expected exception from `Defaul

[2022-08-30 12:13] DavideD commented on #1379
Yes, this is a bug.
It shouldn't be possible to reach that code.

[2022-08-30 16:09] Sanne opened #1380 "Upgrade to Hibernate ORM 5.6.11.Final"

[2022-08-31 09:21] #1380 closed

[2022-08-31 09:21] DavideD commented on #1380
Fixed

[2022-08-31 15:23] blafond opened #1383 "Investigate switching to Oracle DB container image: 21-slim-faststart flavour"
Quarkus has made the switch to improve bootstrapping.  See this [PR](https://github.com/quarkusio/quarkus/pull/27588) for details

<oracle.image>docker.io/gvenzl/oracle-xe:21-slim</oracle.image>

[2022-08-31 18:41] blafond commented on #1383
@DavideD  Ran `clean build` locally multiple times with both oracle versions I get basically the same results for either one.   ~2 minutes.

Are there more specific metrics or ways could track?

[2022-09-01 08:05] DavideD commented on #1273
The project that only uses ORM seems to work as expected now (with ORM 5.6.11.Final).
I think it's just something wrong with dependencies we use for the examples.

I will double check them later.

[2022-09-01 08:45] DavideD commented on #1383
That's fine, I was expecting something similar because we only start the server once.

I've tried it on my machine:
[code]

The build was slightly faster when the image is available but downloading the new image was quite slow.
Not that this is a rigorous indication but I think we can continue to use the slim version for now.

Maybe there's a difference when running it on slower machines. We can r

[2022-09-01 08:45] #1383 closed

[2022-09-06 13:48] markusdlugi opened #1384 "UnexpectedAccessToTheDatabase when querying entity with IdClass with association"
When you have an entity with a composite identifier that has an association to another entity (e.g., like in `Example 134. IdClass with @ManyToOne` in the [Hibernate User Guide](https://docs.jboss.org/hibernate/orm/5.4/userguide/html_single/Hibernate_User_Guide.html#identifiers-composite-nonaggregated)) then any attempt to query such entities will result in an exception.

So given for example the

[2022-09-06 14:13] noobgramming commented on #1376
@gavinking I know, but it hasn't stopped people from doing it :(

[2022-09-06 14:13] gavinking commented on #1384
I've reproduced this in our test suite.

[2022-09-06 14:34] gavinking commented on #1384
Oh gawd, what a pain, this one can only be fixed by messing about in in hibernate-core.

[2022-09-06 14:56] gavinking commented on #1384
mmmm, this looks really hard, and I think it's not worth fixing for now.

[2022-09-06 21:30] blafond commented on #1379
Been digging around to try and find a proper test case or scenario.

The error is being thrown via the reactive [AbstractReactiveSaveEventListener.reactivePerformSave() ](https://github.com/hibernate/hibernate-reactive/blob/8debb26be219c80c04e1b849c807d1d7eb87a7da/hibernate-reactive-core/src/main/java/org/hibernate/reactive/event/impl/AbstractReactiveSaveEventListener.java#L172)which basically con

[2022-09-07 08:27] DavideD commented on #1379
Sounds good, can't you adapt the same test for Hibernate Reactive?

[2022-09-07 08:32] DavideD commented on #1379
At this point it doesn't really matter the exact use case. The call to the non reactive method is wrong anyway. So it's fine to adapt the test from ORM.

[2022-09-07 11:14] gavinking commented on #1384
So this code works, as a workaround:

[code]

[2022-09-07 11:47] markusdlugi commented on #1384
Cool, thanks for the workaround 👍

[2022-09-15 16:34] DavideD opened #1386 "ClassCastException when more than one field is lazy and bytecode enhancement is enabled"
If we add a new field to [Book](https://github.com/hibernate/hibernate-reactive/blob/main/examples/session-example/src/main/java/org/hibernate/reactive/example/session/Book.java):
[code]

Hibernate Reactive throws `ClassCastException` because of a bug in the [loop](https://github.com/hibernate/hibernate-reactive/blob/42e0b2d949377e8d92ef3941cb6926a581dd5743/hibernate-reactive-core/src/main/java/or

[2022-09-15 17:51] #1386 closed

[2022-09-16 08:49] DavideD commented on #447
A list of issues that require this feature for testing (at the moment we are testing using the examples):
* https://github.com/hibernate/hibernate-reactive/issues/1386

I will try to keep this up to date

[2022-09-21 17:14] blafond commented on #1379
After further testing in ORM, there are a number of tests that create a DELETED entity status where the entity is "old", however, I can't find a test/scenario where the "old" entity's status is DELETED (see:  [ AbstractSaveEventListener.performSave()](https://github.com/hibernate/hibernate-orm/blob/d4b2af992a01b2db093a6307efebc9368d2982f4/hibernate-core/src/main/java/org/hibernate/event/internal/A

[2022-09-21 22:20] DavideD commented on #1379
@blafond, this should show the exception:
[code]
I've used the entity in [ORMReactivePersistenceTest](https://github.com/hibernate/hibernate-reactive/blob/main/hibernate-reactive-core/src/test/java/org/hibernate/reactive/ORMReactivePersistenceTest.java), but please, find a better place for it (maybe you can adapt it for MutinySessionTest).

[2022-09-22 15:59] blafond commented on #1379
I ran your in test with an ORM test in hibernate-core

[code]

Your test ends up with something similar...

[code]
The user's exception is thrown from Reactive is thrown from the same ORM class: `EventListenerGroupImpl.fireEventOnEachListener()' but triggered via `doFlush()`

[2022-09-22 16:39] DavideD commented on #1379
If you don't show me how you have adapted the test, I cannot help you

[2022-09-23 15:13] blafond commented on #1379
@DavideD The commits above fixes the issue.  I still need to refactor the `reactivePerformSave()` to simplify it.

[2022-09-27 16:48] DavideD opened #1389 "Upgrade to Hibernate ORM 5.6.12.Final"

[2022-09-27 17:03] #1389 closed

[2022-09-27 17:26] #1379 closed

[2022-09-28 07:43] DavideD opened #1392 "Error during release when publishing the docs"

[2022-09-28 08:06] #1392 closed

[2022-09-29 12:31] DavideD commented on #1273
@blafond Do you have time to look into this? It's about reverting [this commit](https://github.com/hibernate/hibernate-reactive/commit/a9027ad22e0af642a05ace4912421d151ee713fd) and double checking the dependencies on the `jakarta/main` branch.

[2022-09-29 12:57] blafond commented on #1273
sure.

I'll pull the branch and start on it.

I have to leave for a couple hours in a bit to take my wife to a Dr.
appmnt but will continue when I get back

On Thu, Sep 29, 2022 at 7:31 AM DavideD ***@***.***> wrote:

[2022-09-29 12:58] DavideD commented on #1273
Sure

[2022-09-29 13:13] blafond commented on #1273
I gotta leave...

Pulled the branch, added back in the session-example and the build
succeeded.

On Thu, Sep 29, 2022 at 7:58 AM DavideD ***@***.***> wrote:

[2022-09-29 13:34] DavideD commented on #1273
The build doesn't run the examples and doesn't start the db (maybe it should do both).

You need to start the database manually and then use the following command:
[code]

Anyway, there's no hurry. You can check when you have time and let me know.

[2022-09-29 17:45] blafond commented on #1273
I ran main (succeeded)
jakarta/main with session-example enabled I get:
[code]

[2022-10-04 17:34] siddjain commented on #875
is this still an issue? Given:

[code]

How do I set the transaction isolation level in `{...}`?

[2022-10-05 14:33] DavideD commented on #1052
I've pushed upstream the current state of the integration with ORM 6: https://github.com/hibernate/hibernate-reactive/tree/wip/ORM-6

Note that it requires some changes in ORM to work: https://github.com/hibernate/hibernate-orm/pull/5380

It's still a work in progress and most of the tests are failing - queries won't work - but it's possible to run the build and import the project in the Intellij,

[2022-10-05 14:39] gavinking commented on #1052
Awesome 👏 looking forward to checking it out!

[2022-10-05 15:05] DavideD opened #1396 "Upgrade testcontainers to 1.17.5"

[2022-10-05 15:07] DavideD opened #1397 "Upgrade Vert.x to 4.3.4"

[2022-10-06 16:28] blafond commented on #1397
I did full build/test against the DB's and there's an exception with MSSqlServer and `OrderQueriesTestBase` tests. Getting this error for all 5 tests.
[code]
Note that it fails when I revert to vertx 4.3.3 and 4.3.2 so I may have some java/config issue?

[2022-10-06 16:47] DavideD commented on #1397
It worrks fine for me and on CI. Have you tried  to restart the db?

[2022-10-06 16:51] DavideD commented on #1397
But I see the error if I do the upgrade

[2022-10-06 16:53] DavideD commented on #1397
Can you check if `price` is  a special keyword in SqlServer?

[2022-10-06 16:57] blafond commented on #1397
sure

[2022-10-06 16:57] DavideD commented on #1397
I've already did a quick test and I don't think that's the issue.
Can you check which query is failing?

[2022-10-06 17:37] DavideD commented on #1397
It seems I have the same error on the main branch

[2022-10-07 10:21] DavideD commented on #1397
The problem is that two different tests use the same table and interfer with each other. I'm working on it.

[2022-10-10 15:06] #1397 closed

[2022-10-11 09:06] tsegismont commented on #1309
I can take a look but not before next Monday.

[2022-10-12 16:15] DavideD commented on #1309
@tsegismont Sounds good. I will check that the branch still  works, I haven't touched it in a while

[2022-10-12 16:24] tsegismont commented on #1309
This comment comes from another issue, and I had sent it weeks ago... :sweat_smile:

It looks like a GH infra incident. I had the same problem on a Quarkus issue with a user comment.

[2022-10-13 18:11] LajosPolya commented on #1384
Why were the classes made `static` in the workaround?

[2022-10-14 10:21] DavideD commented on #1384
We tend to keep the model for a unit test in the same file containing the tests. This means that the classes are inner classes and must be `static` for Hibernate to work. Gavin probably copied and pasted the classes that he's used to verify that the workaround works. It's not part of the workaround.

[2022-10-17 11:55] Sanne opened #1399 "Avoid type cache pollution on checks for type ReactiveConnectionSupplier"
This is a strong performance enhancement.

Using [@franz1981's new agent ](https://github.com/franz1981/type-pollution-agent) we can now identify suboptimal code in our libraries when doing `instanceof` (or comparable, such as casts) operations which trigger [JDK-8180450](https://bugs.openjdk.org/browse/JDK-8180450).

It would seem we have one of such cases triggered by the couple of interfaces `o

[2022-10-17 13:35] #1399 closed

[2022-10-17 14:59] DavideD opened #1402 "Fix dependencies in the JBang scripts"
Dependencies are not up to date

[2022-10-18 08:20] DavideD opened #1404 "Print the Hibernate Reactive version used as start-up"
I need to have a better look at this but it seems that when we start an application we see something like this in the logs:
[code]

Hibernate ORM and Hibernate Commons Annotations print the version, Hibernate Reactive doesn't.
It seems like an important piece of information to have in the log

[2022-10-18 09:08] #1402 closed

[2022-10-18 09:54] DavideD opened #1406 "Updgrade db versions"

[2022-10-18 10:37] DavideD opened #1407 "Build fails with CockroachDB 22.1.9"
Here's an extract of [one of the stacktraces](https://github.com/hibernate/hibernate-reactive/actions/runs/3272511593/jobs/5383609666#step:6:2716):
[code]

A branch with Cockroach already updated is here: https://github.com/DavideD/hibernate-reactive/tree/update-cockroach

[2022-10-18 15:41] #1396 closed

[2022-10-18 16:14] blafond opened #1409 "Add jbang template instructions to README.md"
Document available DB-specific jbang templates and how to use them.

[2022-10-18 17:00] #1409 closed

[2022-10-18 19:23] blafond commented on #1407
There are 3 failing assertion checks.

From what I can tell, we're sending an index definition SQL to ORM's `NativeQueryImpl` and it's returning a complete native query that's executed.  The returned queries that are failing were expecting a placeholder/id of `"primary"` and that has now changed and is different for the 3 failing checks.

Changing the expected query strings in the test should be a

[2022-10-20 08:12] #1407 closed

[2022-10-25 08:39] DavideD commented on #696
I think we can close this issue, the problem has been solved.

[2022-10-25 08:39] #696 closed

[2022-10-31 18:25] gavinking opened #1413 "reactive lifecycle callback"
it looks like would be relatively straightforward to add support for having the `@PrePersist` callback and friends return a `Uni`. To be clear, we would not be able to reuse the code from core, but there's anyway not much of it. We would just implement something from scratch.

The basic idea is to let you write:

[code]

on your entity class.

[2022-11-01 13:49] ingmarfjolla opened #1414 "support for Dynamic mapping models"
hello, I was wondering if this was something possible to implement in reactive. Currently, the reactive session does not support the `.save` method for being able to work with a map as seen in the regular hibernate documentation here: https://docs.jboss.org/hibernate/orm/6.1/userguide/html_single/Hibernate_User_Guide.html#mapping-model-dynamic . When I look at the reactive documentation here: http

[2022-11-01 13:52] DavideD commented on #1414
That's Hibernate ORM 6. Hibernate Reactive is using ORM 5 at the moment

[2022-11-01 13:57] ingmarfjolla commented on #1414
https://docs.jboss.org/hibernate/orm/5.0/userguide/html_single/Hibernate_User_Guide.html#dynamic-model it looks like it was supported here as well under `2.10. Dynamic Model`. Maybe i'm missing something

[2022-11-01 14:14] DavideD commented on #1414
Sorry, my bad.
I was just confused for a moment because I'm not familiar with this feature.

You are right, we haven't implemented this.

[2022-11-01 22:25] gavinking commented on #1414
I've pushed this test here: https://github.com/hibernate/hibernate-reactive/commit/78dab9a83794b8037f0735e9e4de39f6b9b31256.

[2022-11-01 22:38] gavinking commented on #1414
So, I guess I'm struggling to know what to do here. I've never been clear on whether we needed to add overloads of all the `Session` methods that accept string entity names instead of classes.

On the one hand:

- `Session` looks a lot cleaner without them.
- With the exception of `find()`, you can do most of the work of these extra methods using an `EntityNameResolver`.
- You don't strictly-speak

[2022-11-01 22:45] gavinking commented on #1414
Sorry, I just realized my previous post is confusing, since I'm free-associating between JPA method naming and legacy Hibernate naming. To be clear, I'm talking about the `Session` method with this signature in H5:

    Object get(String entityName, Serializable id);

But if we added this one, we should probably add all the others like:

    void persist(String entityName, Object object);
    Obje

[2022-11-02 07:10] tapasbose opened #1416 "Best practice for fetching child associations during iterating parent entities"
Hello, consider the following sample. I have two entities: `Author` and `Book`. Their signatures are:
[code]
and
[code]
I want to query `Author` and produce `List<AuthorResponse>`. The `AuthorResponse` contains attributes similar to the `Author` and `Set<BookResponse>`, whereas the `BookResponse` has attributes identical to the `Book`. Hence I have written the following code:
[code]
The code `auth

[2022-11-02 07:55] DavideD commented on #1416
I think in this case, fetching the result using an eager join or an `EntityGraph` is a better approach, because you will load the association with a query and you know already that you always want the association.

But you can still use `Mutiny.fetch` without blocking.
I would convert the `Uni<List<Author>>` into a `Multi<Author>`:
[code]

[2022-11-02 07:58] DavideD commented on #1416
I'm closing this issue, but feel free to comment further if you have any other question

[2022-11-02 07:58] #1416 closed

[2022-11-02 08:24] DavideD commented on #1416
I should probably add that example in the documentation

[2022-11-02 08:38] DavideD commented on #1416
FYI: [Same question on SO](https://stackoverflow.com/questions/74285523/hibernate-reactive-best-practice-for-fetching-child-associations-during-iterat/74286324#74286324)

[2022-11-02 09:42] gavinking commented on #1416
@DavideD I think it's very clever what you did right there but with respect to adding it to the docs ... that is an N+1 selects performance bug, right there. It's exactly what we tell everyone not to do.

So, if you want it in the docs, it's a gotcha, not a hint :-)

[2022-11-02 09:47] DavideD commented on #1416
You are right :)

With a simple fetch like this it doesn't make much sense.
I was thinking about showing the API with Mutiny in case somebody has some more complex use cases where it might make more sense.

[2022-11-02 09:49] gavinking commented on #1416
Yes, I understand, and I agree it is a nice way to show how `Multi` can be used. All I'm saying is it needs to come with a massive WARNING: don't do this.

[2022-11-02 11:44] DavideD opened #1417 "Lazy one-to-one with Bytecode enhancement enabled doesn't work"
See https://github.com/quarkusio/quarkus/issues/28975

Example:

[code]

Test for MutinyMain in examples:
[code]
Error:
[code]

We should also move these tests in the module `integration-tests`.

[2022-11-02 16:15] gavinking commented on #1414
Well the code you showed me should be really straightforward to make work in reactive.

FTR I did not have to try very hard to get my test working, 10 mins or something, max, and most of that was just figuring out where I had to put the XML file, since we never tested XML mapping in HR before.

[2022-11-03 18:05] DavideD commented on #1417
I've started to have a look at this issue, but something is still not working.
During the delete there is an unexpected CompletionStage.

I will have to get back to it later.
This is the progress so far if somebody wants to have a look: https://github.com/DavideD/hibernate-reactive/pull/new/1417-lazy-one-to-one

But I don't know if it works as definitive fix.

I've created a new module so that I c

[2022-11-03 18:20] ingmarfjolla commented on #1414
i'm definitely doing something wrong, but I'm not sure what exactly. for some reason when i get to my persist method here

[code]

the persist doesn't seem to get triggered. In my tests i'm succesffuly able to create a query with no issue. perhaps the way i'm creating a session is incorrect?

[2022-11-03 18:42] gavinking commented on #1414
I mean, are you sure your stream is actually getting better executed? Have you put a break point in the callback?

[2022-11-03 18:44] gavinking commented on #1414
I mean, try persisting a regular entity that way. From your description, it doesn't sound like the problem is anything to do with the dynamic entity.

[2022-11-04 13:56] DavideD commented on #1417
I think I have a fix.  I will send a PR in a bit

[2022-11-05 08:57] #1417 closed

[2022-11-05 21:42] ingmarfjolla commented on #1414
so following your example here: https://github.com/hibernate/hibernate-reactive/blob/main/examples/native-sql-example/src/main/java/org/hibernate/reactive/example/nativesql/MutinyMain.java

i got to here: https://github.com/ingmarfjolla/debeziumreactive/blob/quarkus-outbox-reactive-refactor/debezium-quarkus-outbox-reactive/runtime/src/main/java/io/debezium/outbox/quarkus/internal/AbstractEventDisp

[2022-11-08 08:37] DavideD opened #1421 "Upgrade to Hibernate ORM 5.6.14.Final"

[2022-11-08 08:38] #1421 closed

[2022-11-08 08:39] DavideD opened #1422 "Mitigate performance impact of entity enhancement on Klass's _secondary_super_cache"
See also https://hibernate.atlassian.net/browse/HHH-15616

[2022-11-08 08:41] #1422 closed

[2022-11-08 08:43] DavideD opened #1423 "Additional changes to avoid type cache pollution"

[2022-11-09 14:39] Sanne commented on #1404
FYI in Quarkus we have to filter out such things as we stive to have "clean logs" on boot: versions are reported in a different way.

So not sure if this is worth it.

[2022-11-09 14:50] gavinking commented on #1404
I think I agree. It's always a total pain in the ass to make sure that this info stays up to date.

[2022-11-09 15:33] ingmarfjolla commented on #1414
If you didn't I think just having the `DynamicMapInstantiator.KEY` somewhere would help, since I hadn't been able to find it otherwise. Did you see any issues with the way I wrote my method? I don't think i'm doing reactive right..

[2022-11-09 19:35] #1404 closed

[2022-11-17 06:40] paomian commented on #1376
I do't want to share `Session`
In my situation. I will send email to an address which query from db. Unfortunately event loop of query email is different with send email.

consider code

[code]
`@ReactiveTransactional` will check event loop which used by method `gagaga` but `sendInviteEmail` is wrapped  aws ses service. aws ses service use this own event loop. aws ses return a CompletableFuture. I

[2022-11-17 08:20] DavideD commented on #1376
I'm not sure I understand what's going on, but can't you delay the creation of the session? it doesn't seem like you are using it in `gagaga` and I don't know what's happening in `sendInviteEmail`.

`@ReactiveTransactional` just wraps the method call using `Panache.withTransaction`. So you could try removing the annotation and use `Panache.withTransaction` when you actually need it.

It would help

[2022-11-17 08:23] paomian commented on #1376
thanks for reply.
I saw this issue https://github.com/hibernate/hibernate-reactive/issues/1194.It is a same issue.
[code]
it's work. but  will it be incorrect?

this is code about `sendMail`

[code]

[2022-11-17 08:55] DavideD commented on #1376
[code]
Yes, I think it's the correct solution (I've zero experience with the S3 API, though).

You can see from the error message that the session has been used outside of the Vert.x even loop thread and this shouldn't happen. It because the S3AsyncClient uses a default thread executor instead of the Vert.x one.

But the code that you've showed us, doesn't seem to use the session anywhere, make su

[2022-11-17 10:38] paomian commented on #1376
It's just minimum reproduce code. I will query email address before send email and then save log to db.

[2022-11-17 11:04] DavideD commented on #1376
No problem. You should actually thank @tiagomistral :)

[2022-11-17 20:36] blafond commented on #911
No movement on DB2 vertx client, so tests still failing.

[2022-11-21 12:47] florent-lb opened #1425 "Wrong support for URI"
Hi Hibernate !

I worked with Hibernate Reactive to introduce it in my client's spring boot environment. But the OPS team in my client use an api to generate URL DB. Theses url contains _  (underscore). Using _ will never be a problem with "standard" hibernate, I use these url today without any issue but you choose to use URI instead of URL and URI doesn't support underscore.

The problem is  [her

[2022-11-21 13:17] DavideD commented on #1425
Thanks, it seems like a bug and we will have to revisit that method.

As a workaround, you can register your own `SqlClientPoolConfiguration` implementation and return a valid `SqlConnectOptions`. Basically, you have to override `DefaultSqlClientPoolConfiguration#connectOptions(URI uri)`.

We describe how to do it for the `VertxInstace` in this part of the documentation, but the process is the sam

[2022-11-21 13:18] DavideD commented on #1425
@blafond, would you have time to look into this?e

[2022-11-21 13:24] florent-lb commented on #1425
Thank for the link sharing I look that asap.

[2022-11-22 12:36] BalusC opened #1426 "java.lang.ClassCastException: class java.lang.Long cannot be cast to class org.hibernate.action.internal.DelayedPostInsertIdentifier"
Given the following minimal models in Hibernate Reactive version associated with Quarkus platform version 2.13.3.Final:
[code]
[code]
And already having a `Person` with `id=1` in database associated with `Organization` with `id=1`.

And having the following minimal "create organization" action:

[code]
Then following excepiton will be thrown:
[code]
The exception goes away when:

1. EITHER `member

[2022-11-22 16:44] LazaroR94 opened #1427 "Hibernate Reactive not an insert/update/delete query"
Hello all! I've recently migrated over to Kotlin coroutines and opted to use `Mutiny.SessionFactory` as my database operations layer but I seem to be having an issue when creating query using that framework. I have an UPDATE query set up to perform an update operation on a specific entity on the database but it keeps failing with error: **not an insert/update/delete query**.

This is what I have s

[2022-11-22 18:01] DavideD commented on #1427
Hello,
the query looks fine, how did you map the entity?
Can you create a small test case?

[2022-11-22 18:05] LazaroR94 commented on #1427
Hello Davide, I unfortunately cannot share much more as this is enterprise code but I will share how my entity looks like:
[code]

[2022-11-22 18:22] DavideD commented on #1427
We need to parse the query before running it, it's possible that something goes wrong when we replace the parameters.
Are you using Quarkus?

[2022-11-22 18:33] LazaroR94 commented on #1427
Yes I am using Quarkus. I am specifically using `Mutiny.SessionFactory` with this extension function to interact with the database:
[code]

[2022-11-22 19:20] LazaroR94 commented on #1427
The insert seems to be the only thing working for me, any other update/query gives me that error. I'm using Quarkus **2.14.x** and I have worked on another service before on Quarkus **2.9.x** and there was never an issue with updates.

[2022-11-22 22:37] DavideD commented on #1427
I've create a test project based on the info you gave me: https://github.com/DavideD/quarkus-issues/tree/main/quarkus-1427

If you can let me know what I need to do to see the error, I might be able to help you.
Currently, it seems to work fine.

[2022-11-23 09:10] DavideD opened #1428 "Explain how one can override the connection options in the docs"
Sometime Hibernate Reactive is not able to parse the URL for the connection and sometimes people need advance configuration for the Vert.x SQL client.

We should add an example to the documentation about overriding the `DefaultSqlClientPool`, similar to what we explain for `VertxInstance` (probably we should mention that it's possible to override services).

[See this answer on StackOverflow for r

[2022-11-23 12:54] LazaroR94 commented on #1427
I apologize Davide, I was able to find my fault. After further debugging I found out the issue lied with another entity class and me accidentally applying the `executeUpdate()` function on a SELECT query. After removing that everything is now working just fine.

[2022-11-23 12:54] #1427 closed

[2022-11-23 13:26] DavideD commented on #1427
No problem

[2022-11-28 15:18] blafond commented on #1425
Looking at it

[2022-11-28 15:43] DavideD commented on #1425
Thanks

[2022-11-28 21:14] blafond commented on #1425
I've written a simple test that calls `new DefaultSqlClientPoolConfiguration().connectOptions( "jdbc:postgresql://my_db:5432.com/my_schema" );` and I get the same error and removing the `jdbc:` segment the test works.

In all of our current tests that require a connection a `DefaultSqlCientPool` is used to convert a URL into a URI via the static [parse( String url)](https://github.com/hibernate/hi

[2022-11-29 09:00] DavideD commented on #1425
We've decided some time ago to accept JDBC as configuration even if underneath we are not using JDBC so that people could use the same URL they would use for ORM. Also, I think we expected the Vert.x SQL client to reuse the same syntax (this is not actually the case). We in the decided to make the jdbc part optional considering that jdbc is not actually used (it would be nice in the future to allo

[2022-11-29 09:15] gavinking commented on #1425
I still think this is a good idea. Hibernate users already know this syntax, and it lets them easily copy/paste config between the two things.

[2022-11-29 09:19] DavideD commented on #1425
It seems to work fine and I'm not against it.
But I would like to also support the vert.x syntax using the `vertx:` prefix.

It would be less work for use and It would also be a nice fallback for cases like this.

[2022-11-29 09:51] DavideD commented on #1425
One thing that we are doing right now is trying to parse any possible jdbc url, it would probably be easier to identify the dialect first and then parse the url accordingly.

[2022-11-29 12:23] DavideD opened #1429 "Replace LGTM with GitHub code scanning"
[LGTM is shutting down ](https://github.blog/2022-08-15-the-next-step-for-lgtm-com-github-code-scanning/)

It doesn't seem like there is much work to do to replace it, but I haven't look at the docs yet.

[2022-11-29 12:24] DavideD commented on #1429
@blafond would you like to have a look at this when you have time?

[2022-11-30 17:28] dmytro-kostiushko opened #1431 "Connection is never released after multiple messages from vertx-blocked-thread-catcher"
Describe the bug
We have had a bug with our system that led to thousands of elements saved in the mongodb document, which in turn made any fetch request overflow the allowed time of execution that is expected by vertx-blocked-thread-catcher, but the issue is that after a hundred or so of messages like this our system shuts down entirely even the most basic functions in the app like find by id no l

[2022-11-30 17:30] DavideD commented on #1431
Is this the right issue tracker? MongoDB is not among the supported databases

[2022-11-30 20:36] dmytro-kostiushko commented on #1431
The issue is not with the mongodb, it is just my understanding that because server is so hevly loaded by fetching a big  record from the mongodb,  vertx-blocked-thread-catcher is precieving this as a blocked thread, but the issue is not with this, but rather with the fact that after the query fails because of the timeout, it looks like hibernate does not release the connection back into the pool.